/* reset */
/* main variables */
body {
    margin: 0px;
    padding: 0px;
    font-family: Rubik, arial, sans-serif;
    background-color: #FFF;
    height: 100%;
    line-height: 1.25;
    font-size: 14px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-size: 16px;
    min-height: 670px;
    min-width: 320px;
}

.overfl-hidden {
    overflow-y: hidden!important;
}

/* Start additional styles */



.logo a{
    display: inline-block;
}

.click_video{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display: none;
}

.click_video br{
    display: none;
}

.filters__item .filters__radio_regular{
    font-weight: 400;
}

.order{
    z-index: 100!important;
    background-color: #F90!important;
}

.form__pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 575px;
    background-color: #FF9900;
    z-index: 10;
    padding: 55px 50px 130px;
}

.form__pop-up .pop-up__img{
    position: absolute;
    z-index: -1;
}

.form__pop-up .pop-up__img1{
    left: 50px;
    top: 100px;
}

.form__pop-up .pop-up__img2{
    right: 15px;
    bottom: 160px;
    width: 55px;
}

.form__pop-up .pop-up__img3{
    top: 115px;
    right: 85px;
    width: 25px;
}

.form__pop-up .pop-up__img4{
    bottom: 150px;
    left: 48%;
    width: 40px;
}

.form__pop-up .pop-up__img5{
    right: 15px;
    bottom: 0;
}

.form__pop-up .mfp-close, .video_popup .mfp-close{
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
}

.form__pop-up .mfp-close .close-icon, .video_popup .mfp-close .close-icon{
    z-index: -1;
}

.form__pop-up .form__title{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.form__pop-up input{
    border: none;
    border-bottom: 2px solid #000000;
    background: transparent;
    color: #000;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 30px;
}

.form__pop-up input::placeholder{
    color: #000;
    font-size: 18px;
}

.form__pop-up .button{
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 12px 30px;
}

.fullpage__soc_fixed{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    z-index: 3;
}

.fullpage__soc_fixed a{
    display: inline-block;
    width: 61px;
    height: 60px;
    text-align: center;
    position: relative;
    background-color: #F90;
    transition: all .3s ease-in;
}

.fullpage__soc_fixed a:first-child{
    border-right: 2px solid #fff;
}

.fullpage__soc_fixed a:hover{
    background-color: #e68a00;
}

.fullpage__soc_fixed a img{
    position: relative;
    top: 18px;
    width: 35px;
}

.fullpage__soc_fixed a:first-child img{
    position: relative;
    top: 20px;
}

.block-form{
    width: 200px;
    height: 50px;
    background-color: #F90;
    position: absolute;
    bottom: 0;
    left: 123px;
}

.how-work-section .wrapper{
    height: 100vh;
    position: relative;
}

.box-gifs{
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 87%;
}

.box-gifs .h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.gifs {
    z-index: 3;
    position: relative;
}

.gifs .gif__item video{
    display: inline-block;
    position: relative;
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    object-fit: contain;
}

.gifs .slick-arrow{
    bottom: -60px;
    position: absolute;
}

.gifs .slick-prev{
    right: 7.5%;
}

.gifs .slick-next{
    right: 3.5%;
}

.buttons_under-slider{
    position: absolute;
    bottom: -70px;
    width: 100%;
    z-index: 2;
}

.buttons_under-slider div{
    width: 33.3%;
    display: inline-block;
    text-align: center;
}

.buttons_under-slider .button{
    border: 1px solid #FF9900;
    color: #f90;
    padding: 20px 8%;
    display: inline-block;
    position: relative;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}

.buttons_under-slider .button:hover{
    background-color: #f90;
    color: #fff;
}

.partnership-section .wrapper{
    height: 100vh;
}

.partnership-section .partnership-wrap, .partnership-section .waw-wrap{
    padding-top: 0;
    position: absolute;
    top: 50%;
    padding-right: 122px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.partnership-section .text{
    width: 45%;
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 40px;
}

.partnership-section .contacts_waw{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    padding-left: 150px;
}

.partnership-section .contacts_waw span{
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.partnership-section .contacts_waw2 span{
    font-size: 18px;
    margin-right: 35px;
}

.partnership-section .contacts_waw1 span::before{
    content: url('../img/icons/f90_phone.png');
    margin-right: 11px;
    position: relative;
    top: 2px;
}

.partnership-section .contacts_waw2 span::before{
    content: url('../img/icons/f90_mail.png');
    margin-right: 12px;
}

.partnership-section .contacts_waw3 span::before{
    content: url('../img/icons/f90_facebook.png');
    margin-right: 16px;
    margin-left: 3px;
    position: relative;
    top: 2px;
}

.partnership-section .video_waw{
    position: absolute;
    width: 550px;
    height: 330px;
    right: 10%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    max-height: 420px;
    margin-right: 50px;
}

.partnership-section .video_waw video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guide-section .h2{
    position: relative;
    bottom: 60px;
}

.guide-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    -ms-align-items: center;
    align-items: start;
    height: 450px;
}

.box-guide{
    position: relative;
    padding-left: 90px;
    margin-top: 60px;
}

.box-guide:nth-child(1){
    margin-top: 0;
}

.box-guide:nth-child(4), .box-guide:nth-child(5){
    margin-left: 25%;
}

.box-guide:nth-child(4){
    margin-top: 45px;
}

.box-guide:nth-child(5){
    margin-top: 120px;
}

.box-guide img{
    position: absolute;
    left: 0;
}

.box-guide:nth-child(1) img{
    -webkit-transform: translate(0, -15%);
    -ms-transform: translate(0, -15%);
    -o-transform: translate(0, -15%);
    transform: translate(0, -15%);
}

.box-guide:nth-child(2) img{
    -webkit-transform: translate(34%, 0%);
    -ms-transform: translate(34%, 0%);
    -o-transform: translate(34%, 0%);
    transform: translate(34%, 0%);
}

.box-guide:nth-child(3) img{
    -webkit-transform: translate(40%, 0%);
    -ms-transform: translate(40%, 0%);
    -o-transform: translate(40%, 0%);
    transform: translate(40%, 0%);
}

.box-guide:nth-child(4) img{
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.box-guide:nth-child(5) img{
    -webkit-transform: translate(30%, -30%);
    -ms-transform: translate(30%, -30%);
    -o-transform: translate(30%, -30%);
    transform: translate(30%, -30%);
}

.box-guide p{
    font-size: 18px;
    line-height: 1.3;
    padding: 0;
    text-transform: uppercase;
}

.box-guide p span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;

}

.box-guide p span a:hover, .box-guide p:hover {
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
    color: #f90;
}

.wrapper-map .subtitle{
    font-size: 1.8vw
}

.close-country{
    position: absolute;
    top: 0;
    right: 0;
}

.fade-animation{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
}

.map_popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100000;
}

.map_popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f90;
    text-align: center;
    color: #fff;
    opacity: 1;
}   

.modal-box .block__left1_usa.text-scroll{
    max-height: 135px;
}

.blog__articles{
    display: inline-block;
}

.blog__articles li{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
}

.blog__articles li::before{
    content: "\2022";
    color: #f90;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 3px;
}

.blog__articles li a{
    color: #000;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.blog__articles li a:hover{
    color: #f90;
}

.article_main{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.article_top{
    position: relative;
}

.article_top .breadCrumbs{
    list-style-type: none;
    margin-top: 40px;
    
}

.article_top .breadCrumbs li{
    display: inline-block;
    margin-left: 12px;
}

.article_top .breadCrumbs li a{
    color: #000;
    font-size: 16px;
}

.article_top .breadCrumbs li::before{
    content: url('../img/square.jpg');
    margin-right: 12px;
    position: relative;
    bottom: 2px;
}

.article_top .breadCrumbs li:first-child{
    margin-left: 0;
}

.article_top .breadCrumbs li:first-child::before{
    display: none;
}

.article_content{
    margin-top: 90px;
}

.article_content h1{
    font-size: 39px;
    color: #f90;
    font-weight: bold;
}

.article_content h2{
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0;
}

.article_content h3{
    font-size: 20px;
    font-weight: medium;
    margin: 30px 0 15px 0;
}

.article_content p{
    line-height: 19px;
    font-size: 18px;
    padding: 0;
}

.content_wrapper{
    margin-top: 30px;
}

.content_wrapper ul{
    list-style-type: none;
}

.content_wrapper ul li{
    font-size: 18px;
    line-height: 19px;
}

.content_wrapper ul li ul li{
    margin-left: 30px;
}

.content_wrapper ul li::before{
    content: "\2022";
    color: #f90;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 3px;
}

.accent, .accent a{
    color: #f90;
}

.bold_text{
    font-weight: bold;
    margin-top: 20px;
}

.article_nav{
    margin-top: 30px;
    margin-bottom: 130px;
    position: relative;
    min-height: 45px;
}

.prev_article{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.next_article{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.prev_article p{
    padding-left: 70px;
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
}

.next_article p.one_string, .prev_article p.one_string{
    padding-top: 20px;
}

.next_article p{
    padding-right: 70px;
    padding-top: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.prev_article_arrow{
    height: 54px;
    width: 54px;
    background-color: #f90;
    color: #fff;
    position: absolute;
    left: 0;
}

.next_article_arrow{
    height: 54px;
    width: 54px;
    background-color: #f90;
    color: #fff;
    position: absolute;
    right: 0;
}

.prev_article_arrow .fas, .next_article_arrow .fas{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content_wrapper table tr td{
    padding: 10px 40px;
    border: 1px solid #f90;
    text-align: center;
}

.form_content{
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.form_content h1{
    font-size: 45px;
    color: #f90;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 60px;
}

.form_content .input-box{
    text-align: left;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.form_content .input-box p{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 0;
}

.form_content .input-box input{
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    outline: none;
    border-bottom: 2px solid #f90;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form_content p{
    text-align: left;
}

.form_content_bottom{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 50px;
}

.form_content .btn{
    font-size: 24px;
    font-weight: bold;
    padding: 12px 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.form_content .btn:hover{
    color: #f90;
}


.contacts_countries{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.contact-box{
    width: 50%;
    display: inline-block;
}

.contact-box:nth-child(3), .contact-box:nth-child(4){
    margin-top: 20px;
}

.contact-box p.contact_title{
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contact-box p.contact_title::before{
    content: url('../img/loacation.png');
    position: relative;
    top: 10px;
    margin-right: 15px;
}

.contact-box p{
    padding: 0;
}

.contact-box address{
    font-style: normal;
    text-transform: uppercase;
}

.contact-box address span{
    display: block;
    margin-top: 10px;
}

.container_form{
    width: 100%;
    margin: 0 auto;
}

.container_form .form_content{
    width: 100%;
    max-width: 100%;
}

.container_form .article_main{
    padding: 0;
}

.container_form .form_content h1{
    background-color: #C4C4C4;
    color: #fff;
    padding: 30px 0;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container_form .form_content h2{
    background-color: #D9E1F3;
    color: #000;
    padding: 40px 0;
    font-size: 36px;
    margin-top: 100px;
}

.container_form .form_content h3{
    font-size: 30px;
    padding: 30px 0;
}

.container_form .form_content h4{
    font-size: 24px;
    padding: 30px 0;
    background-color: #C4C4C4;
    margin-top: 40px;
    color: #fff;
}

.container_form .input-wrapper{
    position: relative;
    text-align: left;
    margin-top: 30px;
}

.container_form .input-wrapper p{
    display: inline-block;
    padding: 0;
    font-size: 18px;
}

.container_form .input-wrapper input{
    display: inline-block;
    width: 100%;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #D9E1F3;
    padding: 10px;
    font-size: 18px;
}

.container_form .text{
    padding: 0;
    font-size: 18px;
}

.input_checkbox{
    border: 1px solid #000;
    width: 16px;
    height: 16px;
}

.part2_radio-text{
    display: inline-block;
    font-size: 22px;
}

.radio-text{
    display: inline-block;
    font-size: 18px;
}

.box{
    text-align: left;
}

.mt{
    margin-top: 30px;
}

.input_checkbox{
    margin-left: 40px;
}

.input_checkbox1::after{
    content: 'Yes';
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.input_checkbox2::after{
    content: 'No';
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.container_form table{
    text-align: left;
    margin-top: 60px;
    width: 100%;
}

.container_form table.table-list tr td{
    border: 2px solid #D9E1F3;
}

.container_form table tr td{
    width: 50%;
    padding: 20px;
}

.container_form ul{
    list-style-type: none;
}

.container_form ul li{
    font-size: 18px;
    line-height: 19px;
    line-height: 1.5;
    position: relative;
    padding-left: 20px;
}

/* .container_form ul li ul li{
    margin-left: 30px;
} */

.container_form ul li::before{
    content: "\2022";
    color: #f90;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 3px;
    position: absolute;
    left: 0;
}

table.table-list-cols tr td{
    width: auto;
    text-align: center;
    padding: 50px 10px;
}

.container_form .btn{
    position: relative;
    margin: 0 auto;
    padding: 20px 100px;
}

.box_top{
    font-size: 36px;
    position: absolute;
    right: 0;
    top: 20px;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
}

.box.mt .input_checkbox1{
    margin-left: 40px;
}

.box.mt .input_checkbox1::after{
    content: 'Simplifies';
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box.mt .input_checkbox2{
    margin-left: 100px;
}

.box.mt .input_checkbox2::after{
    content: 'Specific';
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.red_text{
    color: #EA5143;
    font-size: 24px;
    margin-top: 10px;
}

.box2.mt .input_checkbox1::after{
    content: 'Bank transfer';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box2.mt .input_checkbox2{
    margin-left: 140px;
}

.box2.mt .input_checkbox2::after{
    content: 'In cash to the Director';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box3.mt .input_checkbox1::after{
    content: 'Contractual relationship';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box3.mt .input_checkbox2{
    margin-left: 220px;
}

.box3.mt .input_checkbox2::after{
    content: 'As an employee';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box4.mt .input_checkbox1::after{
    content: 'Individual';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box4.mt .input_checkbox2::after{
    content: 'Joint';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box5.mt .input_checkbox1::after{
    content: 'Indeterminate';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box5.mt .input_checkbox2{
    margin-left: 140px;
}

.box5.mt .input_checkbox2::after{
    content: 'Determinate';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box6.mt .input_checkbox1::after{
    content: 'szamlazz.hu';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.box6.mt .input_checkbox2{
    margin-left: 120px;
}

.box6.mt .input_checkbox2::after{
    content: 'kulcs-soft.hu';
    white-space: nowrap;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1;
}

.input-box h2{
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

.bold_text.pb, .pb{
    padding-bottom: 40px;
}

/*----------Плавное появление magnific popup------------*/
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*-------------end-----------------------*/

.box-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-left: 50px;
}

.video_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video_popup video{
    width: 100%;
    height: 100%;
}

.video_waw a{
    display: inline-block;
}

#video_pause{
    right: 0;
    top: 0;
    z-index: 100;
    position: absolute;
}

.heading-mobile{
    display: none;
}

.filters__radio br{
    display: none;
}

.blog__articles li .presentation {
    margin-left: 20px;
    display: inline-block;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.blog__articles li .presentation:hover {
    color: #f90;
}

.box-gifs .gifs-mobile{
    display: none;
}

.final-form{
    margin-top: 10px;
}

.final-form .form-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.final-form .form-subtitle{
    color: #000;
    font-size: 16px;
    display: block;
}

.final-form input{
    display: block;
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 15px 20px; 
}

.final-form label{
    position: relative;
    margin-top: 20px;
    display: inline-block;
}

.final-form label .checkbox_input{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}

.final-form label p{
    padding-left: 30px;
}

.final-form .button{
    width: 100%;
    text-align: center;
    background-color: #404040;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    margin-top: 15px;
}

.button_under_slider-mob{
    display: none;
}



