@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PlayfairDisplaySC-Regular.ttf');
}

h1, p{
	margin: 0;
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: Montserrat, sans-serif;
	overflow-x: hidden;
	color: #000;
	background-color: #fff;
	margin: 0;
}

.site-container{
	margin: auto;
	max-width: 1100px;
}

.top-side{
	background-image: url('../img/top-bg.png');
	height: 950px;
	padding: 0 65px;
	color: #fff;
	background-repeat: no-repeat;
}

h1{
	font-family: PlayfairDisplay;
	font-weight: 400;
	font-size: 48px;
	padding-top: 180px;
}

.top-side .title{
	margin-top: 150px;
	font-weight: 700;
	font-size: 24px;
}

.top-side .subtitle{
	margin-top: 25px;
	font-weight: 600;
	font-size: 24px;
}

.bottom-site .tabs{
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #4B4B4B;
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom: 70px;
}

.tab1, .tab2, .tab3{
	font-size: 36px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}

.tab1.active, .tab2.active,.tab3.active{
	color: #fff;
}

.tab-content{
	display: none;
	position: relative;
}

.tab-content.active{
	display: block;
}
.tab-conntent{
	height: 806px;
}

.tab-content2{
	height: 806px;
	position: relative;
	bottom: 59px;
}

.tab-content2 img{
	position: absolute;
	top: -88px;
	z-index: -1;
}

.tab-content3{
	height: 806px;
	position: relative;
	bottom: 59px;
	background: linear-gradient(180deg, #C5C5C5 -10.92%, rgba(197, 197, 197, 0.95) 20.1%, rgba(197, 197, 197, 0.75) 47.39%, rgba(197, 197, 197, 0.55) 74.44%, rgba(197, 197, 197, 0.45) 100%)
}

.tab-content .title{
	padding-top: 80px;
	padding-left: 65px;
	font-size: 36px;
	font-weight: bold;
	color: #4B4B4B;
}

.tab-content .content{
	padding-top: 90px;
	padding-left: 65px;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
	color: #464646;
}