body {
    margin: 0px;
    padding: 0px;
    font-family: Rubik, arial, sans-serif;
    background-color: #FFF;
    height: 100%;
    line-height: 1.25;
    font-size: 14px !important;
    color: #000;
    font-size: 16px;
    min-height: 670px;
    min-width: 320px;
}

/* Start additional styles */

.fullpage__soc_fixed{
	position: fixed;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	z-index: 3;
}

.fullpage__soc_fixed a{
	display: inline-block;
	width: 61px;
	height: 60px;
	text-align: center;
	position: relative;
	background-color: #F90;
	transition: all .3s ease-in;
}

.fullpage__soc_fixed a:first-child{
	border-right: 2px solid #fff;
}

.fullpage__soc_fixed a:hover{
	background-color: #e68a00;
}

.fullpage__soc_fixed a img{
	position: relative;
	top: 18px;
	width: 35px;
}

.fullpage__soc_fixed a:first-child img{
	position: relative;
	top: 20px;
}

.fade-animation{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
}

.article_main{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.article_top{
    position: relative;
}

.article_top .breadCrumbs{
    list-style-type: none;
    margin-top: 40px;
    
}

.article_top .breadCrumbs li{
    display: inline-block;
    margin-left: 12px;
}

.article_top .breadCrumbs li a{
    color: #000;
    font-size: 16px;
}

.article_top .breadCrumbs li::before{
    content: url('../img/square.jpg');
    margin-right: 12px;
    position: relative;
    bottom: 2px;
}

.article_top .breadCrumbs li:first-child{
    margin-left: 0;
}

.article_top .breadCrumbs li:first-child::before{
    display: none;
}

.article_content{
    margin-top: 90px;
}

.article_content h1{
    font-size: 39px;
    color: #f90;
    font-weight: bold;
}

.article_content h2{
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0;
}

.article_content h3{
    font-size: 20px;
    font-weight: medium;
    margin: 30px 0 15px 0;
}

.article_content p{
    line-height: 19px;
    font-size: 18px;
    padding: 0;
}

.content_wrapper{
    margin-top: 30px;
}

.content_wrapper ul{
    list-style-type: none;
}

.content_wrapper ul li{
    font-size: 18px;
    line-height: 19px;
}

.content_wrapper ul li::before{
    content: "\2022";
    color: #f90;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 3px;
}

.accent, .accent a{
    color: #f90;
}

.bold_text{
    font-weight: bold;
    margin-top: 20px;
}

.article_nav{
    margin-top: 30px;
    margin-bottom: 130px;
    position: relative;
    min-height: 45px;
}

.next_article{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.next_article p{
    padding-right: 70px;
    padding-top: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.next_article_arrow{
    height: 54px;
    width: 54px;
    background-color: #f90;
    color: #fff;
    position: absolute;
    right: 0;
}

.next_article_arrow .fas{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*MAIN*/
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
i,
ul,
li,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
nav {
    display: block;
}

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a,
span,
div {
    outline: none !important;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/rubik/Rubik.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/Rubik.woff") format("woff"), url("../fonts/rubik/Rubik.woff2") format("woff2"), url("../fonts/rubik/Rubik.ttf") format("truetype"), url("../fonts/rubik/Rubik.svg#Rubik-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url("../rubik/rubik/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/Rubik-Bold.woff") format("woff"), url("../fonts/rubik/Rubik-Bold.woff2") format("woff2"), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype"), url("../fonts/rubik/Rubik-Bold.svg#Rubik-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'icomoon';
    font-display: block;
    src: url("../fonts/icomoon/icomoon.eot?ihyadm");
    src: url("../fonts/icomoon/icomoon.eot?ihyadm#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?ihyadm") format("truetype"), url("../fonts/icomoon/icomoon.woff?ihyadm") format("woff"), url("../fonts/icomoon/icomoon.svg?ihyadm#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

p {
    padding: 8px 0;
    font-weight: 400;
}

h1 {
    color: #040404;
    font-weight: bold;
    font-size: 4.44vw;
    line-height: 1.2;
    text-transform: uppercase;
    text-indent: -0.05em;
}

/* text position */

/* loader */
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

@media screen and (max-width: 767px) {

    h1 {
        font-size: 27px;
    }

}

@media screen and (min-width: 1440px) {

    h1 {
        font-size: 64px;
    }
}

.logo {
    margin: 43px 0 0;
    display: inline-block;
    height: 43px;
    width: 245px;
}

@media screen and (max-width: 1366px),(max-height: 768px) {

    .logo {
        margin-top: 22px;
    }

    .fullpage__soc_fixed a{
        width: 40px;
        height: 40px;
    }

    .fullpage__soc_fixed a img{
        width: 25px;
        
    }

    .fullpage__soc_fixed a:first-child img{
        top: 13px;
    }

    .fullpage__soc_fixed a:nth-child(2) img{
        top: 11px;
    }
}

@media screen and (max-width: 991px) {

    .logo {
        margin-top: 13px;
    }
}

@media screen and (max-width: 767px) {

    .logo {
        max-width: -webkit-calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
}

@media screen and (max-width: 375px) {
    .logo {
        max-width: 210px;
        margin-top: 16px;
    }
}

.form-btn {
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.close-icon {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
}

.close-icon:before,
.close-icon:after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
}

.close-icon:before {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 100%;
    width: 3px;
}

.close-icon:after {
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 3px;
    width: 100%;
}

@media screen and (max-width: 1065px),
(max-height: 778px) {

    .close-icon {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 480px) {

    .close-icon {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-height: 800px) {
    
    .logo{
        margin-top: 10px;
    }

}

.close-modal {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 999999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.close-modal:hover {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.close-modal:hover .close-icon:before,
.close-modal:hover .close-icon:after {
    background: #F90;
}

.close-modal .close-icon:before,
.close-modal .close-icon:after {
    background: #1e1e1e;
}

@media screen and (max-width: 767px) {

    .close-modal {
        right: 20px;
        top: 20px;
    }
}

@media screen and (min-width: 767px) and (min-height: 670px) {

    .close-modal {
        right: 10px;
        top: 10px;
    }
}
















@media screen and (max-width: 1400px) {

    .article_main{
        max-width: 1200px;
    }

}

@media screen and (max-width: 1300px) {

    .article_main{
        max-width: 1100px;
    }

    .article_content p{
        font-size: 15px;
    }



}

@media screen and (max-width: 1200px) {

    .article_main{
        max-width: 1000px;
    }

    .article_top .breadCrumbs li{
        font-size: 11px;
    }

    .article_content{
        margin-top: 50px;
    }

    .article_content h1{
        font-size: 32px;
    }

    .article_content h2{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .article_content h3{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .article_content p{
        font-size: 16px;
    }

    .content_wrapper ul li{
        font-size: 16px;
    }

    .article_content p{
        font-size: 14px;
    }

}

@media screen and (max-width: 1100px){

    .article_main{
        width: 900px;
    }
}

@media screen and (max-width: 1000px){

    .logo{
        margin-top: 5px;
    }
    
    .article_content h1{
        font-size: 26px;
    }

    .article_top .breadCrumbs{
        display: none;
    }


    .article_content{
        margin-top: 30px;
    }

    .article_content h2{
        font-size: 18px;
    }

    .article_content h3{
        font-size: 15px;
    }

    .article_content p, .content_wrapper ul li{
        font-size: 12px;
    }

    .article_main{
        width: 600px;
    }

    .article_nav{
        margin-bottom: 60px;
    }

    .next_article{
        position: static;
        display: inline-block;
        padding-top: 10px;
    }

    .next_article p{
        padding-left: 70px;
        padding-right: 0;
    }

    .next_article_arrow{
        left: 0;
    }

}

@media screen and (max-width: 700px){

    .article_main{
        width: 100%;
        padding: 0 15px;
    }

}

@media screen and (max-width: 600px){

    .logo{
        width: 200px;
        height: auto;
    }

    .article_content h1{
        font-size: 20px;
    }

    .article_main .logo{
        margin-top: 20px;
    }

}

@media screen and (max-width: 500px){

    .logo{
        width: 180px;
    }


}
@media screen and (max-width: 450px){ 

    .next_article p{
        font-size: 9px;
    }

}

@media screen and (max-width: 380px){

    .next_article p{
        font-size: 8px;
    }
}
