body {
    margin: 0px;
    padding: 0px;
    font-family: Rubik, arial, sans-serif;
    background-color: #FFF;
    height: 100%;
    line-height: 1.25;
    font-size: 14px !important;
    color: #000;
    font-size: 16px;
    min-height: 670px;
    min-width: 320px;
}

.form__pop-up input::placeholder{
    color: #000;
    font-size: 18px;
}

/* Start additional styles */

.form__pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 575px;
    background-color: #FF9900;
    z-index: 10;
    padding: 55px 50px 130px;
}

.form__pop-up .pop-up__img{
    position: absolute;
    z-index: -1;
}

.form__pop-up .pop-up__img1{
    left: 50px;
    top: 100px;
}

.form__pop-up .pop-up__img2{
    right: 15px;
    bottom: 160px;
    width: 55px;
}

.form__pop-up .pop-up__img3{
    top: 115px;
    right: 85px;
    width: 25px;
}

.form__pop-up .pop-up__img4{
    bottom: 150px;
    left: 48%;
    width: 40px;
}

.form__pop-up .pop-up__img5{
    right: 15px;
    bottom: 0;
}

.form__pop-up .mfp-close{
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
}

.form__pop-up .mfp-close .close-icon{
    z-index: -1;
}

.form__pop-up .form__title{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.form__pop-up input{
    border: none;
    border-bottom: 2px solid #000000;
    background: transparent;
    color: #000;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 30px;
}

.form__pop-up .button{
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 12px 30px;
}

.fade-animation{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 50;
}


.box-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-left: 50px;
}



/* End additional styles */

/*MAIN*/
html,
body,
div,
span,
h2,
p,
a,
img,
strong,
i,
form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

input,
button {
    font-family: Rubik, arial, sans-serif;
}

input {
    color: #333;
    font-family: Rubik, arial, sans-serif;
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

button {
    cursor: pointer;
}

form {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a,
span,
div,
button {
    outline: none !important;
}

button {
    -webkit-appearance: none;
    outline: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/rubik/Rubik.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/Rubik.woff") format("woff"), url("../fonts/rubik/Rubik.woff2") format("woff2"), url("../fonts/rubik/Rubik.ttf") format("truetype"), url("../fonts/rubik/Rubik.svg#Rubik-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url("../rubik/rubik/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik/Rubik-Bold.woff") format("woff"), url("../fonts/rubik/Rubik-Bold.woff2") format("woff2"), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype"), url("../fonts/rubik/Rubik-Bold.svg#Rubik-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'icomoon';
    font-display: block;
    src: url("../fonts/icomoon/icomoon.eot?ihyadm");
    src: url("../fonts/icomoon/icomoon.eot?ihyadm#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?ihyadm") format("truetype"), url("../fonts/icomoon/icomoon.woff?ihyadm") format("woff"), url("../fonts/icomoon/icomoon.svg?ihyadm#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* titles */
p {
    padding: 8px 0;
    font-weight: 400;
}

.h2 {
    color: #040404;
    font-weight: 700;
    font-size: 3.33vw;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    text-indent: -0.04em;
    letter-spacing: -0.02em;
}


.heading-left {
    text-align: left;
    margin-left: -0.02em;
}

@media screen and (max-width: 767px) {

    .h2 {
        font-size: 25px;
        text-align: center;
    }

}

@media screen and (min-width: 1440px) {

    .h2 {
        font-size: 49px;
    }
}

.form-btn {
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.close-icon {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
}

.close-icon:before,
.close-icon:after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
}

.close-icon:before {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 100%;
    width: 3px;
}

.close-icon:after {
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 3px;
    width: 100%;
}

@media screen and (max-width: 1065px),
(max-height: 778px) {

    .close-icon {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 480px) {

    .close-icon {
        height: 30px;
        width: 30px;
    }
}

.close-modal {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 999999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.close-modal:hover {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.close-modal:hover .close-icon:before,
.close-modal:hover .close-icon:after {
    background: #F90;
}

.close-modal .close-icon:before,
.close-modal .close-icon:after {
    background: #1e1e1e;
}

.modal-box {
    padding-top: 20px;
}

.modal-box__text {
    max-width: 800px;
}

.text-scroll .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #f90;
}

.modal-box .text-scroll {
    max-height: 180px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.modal-box .text-scroll p span{
    color: #F90;
}

.modal-box .text-scroll p:nth-child(1){
    font-weight: bold;
    color: #F90;
}

.modal-box .text-scroll p:nth-child(2){
    font-weight: 600;
    color: #000;
}

.modal-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.modal-wrapper{
    max-width: 100%;
    padding: 0 100px 30px;
}

.modal-box__text{
    font-size: 16px;
    line-height: 21px;
}

.modal-box .heading-left{
    margin-bottom: 30px;
}

.box-left{
    width: 50%;
    display: inline-block;
}

.block__left2 .title{
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.block__left2 p{
    position: relative;
    font-size: 17px;
    padding-top: 0;
}

.block__left2 p span{
    position: absolute;
    right: 0;
    color: #FF9900;
    font-weight: bold;
}

.block__left3{
    margin-top: 20px;
}

.block__left3 > p{
    position: relative;
    height: 45px;
    margin-top: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
}

.block__left3 p span{
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: #FF9900;
    color: #fff;
}

.block__right1{
    padding-top: 88px;
}

.block__right1 .title, .block__right2 .title{
    font-weight: bold;
    font-size: 32px;
    color: #F90;
    padding: 0;
}

.block__right1 a, .block__right2 a{
    color: #000;
    font-size: 20px;
}

.block__right2{
    margin-top: 40px;
}

.block__right2 a{
    margin-top: 6px;
    display: inline-block;
}

.block__right1 a:hover, .block__right2 a:hover{
    color: #f90;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.block__right3{
    margin-top: 20px;
}

.block__right3 a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 22px;
    line-height: 1.1;
}

.block__right3 .btn{
    color: #fff;
    margin-top: 15px;
}

.block__right3 a:hover{
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    color: #F90;
}

.btn{
    background-color: #F90;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 12px 30px;
    text-decoration: none;
    border: 1px solid #F90;
}

.btn:hover{
    background-color: #fff;
    color: #f90;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.block__left3 .panel {
    margin-top: 5px;
}

.block__left3 .panel .panel-heading{
    height: 45px;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
}

.block__left3 .panel .panel-heading a{
    display: inline-block;
    color: #000;
}


.block__left3 .panel .panel-heading span{
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #F90;
    height: 100%;
    display: inline-block;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.block__left3 .panel .panel-heading span::after{
    content: '\f107';
    font-family: fontawesome;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    font-size: 18px;
    color: #fff;
    transition: 0.2s;
}

.block__left3 .panel .panel-collapse{
    display: none;
    padding: 25px 20px;
    background-color: #F90;
    color: #000;
    line-height: 1.4;
    font-size: 15px;
}

.block__left3 .panel .panel-collapse, .block__left3 .panel .panel-collapse{
    padding: 20px 10px;
}

.block__left3 .panel .panel-collapse p, .block__left3 .panel .panel-collapse p{
    padding: 0;
    margin: 0;
    height: auto;
}

@media screen and (max-width: 1200px) {

    .modal-box .text-scroll {
        font-size: 14px;
        line-height: 20px;
    }

    .modal-wrapper {
        padding: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .modal-box__text {
        width: 100%;
    }

    .modal-wrapper {
        padding: 0 20px 50px;
    }

    .close-modal {
        right: 20px;
        top: 20px;
    }
}

@media screen and (min-width: 767px) and (min-height: 670px) {

    .close-modal {
        right: 10px;
        top: 10px;
    }
}




@media screen and (max-width: 1880px) {
    .block__left2 p{
        font-size: 16px;
    }

    /* .section.active .anim-decor{
        margin-bottom: 15px;
    }
 */

}

@media screen and (max-width: 1700px) {
    .modal-wrapper{
         padding: 0 50px 20px;
    }

    .block__left2 p{
        font-size: 15px;
        padding-right: 80px;
    }

    .block__left2 .title{
        padding-right: 0;
    }
}

@media screen and (max-width: 1550px) {

    .block__left3 .panel .panel-heading a, .block__left3 > p{
        font-size: 15px;
    }

    .block__right1 .title, .block__right2 .title{
        font-size: 28px;
    }

    .block__right2{
        margin-top: 60px;
    }

    .block__right3{
        margin-top: 60px;
    }

    .block__right3 a{
        font-size: 20px;
    }

}

@media screen and (max-width: 1400px) {

/*     .box-gifs .h2{
        font-size: 40px;
    } */

    .block__left3 .panel .panel-heading a, .block__left3 > p{
        font-size: 13px;
    }

    .block__left2 p{
        font-size: 13px;
    }

    .block__left3 .panel .panel-collapse p, .block__left3 .panel .panel-collapse p{
        font-size: 13px;
    }

    .block__left1 p{
        font-size: 13px;
        padding: 2px 0;
    }

    .block__right1 a, .block__right2 a{
        font-size: 16px;
        margin-top: 5px;
        display: inline-block;
    }

}

@media screen and (max-width: 1300px) {
    .block__left3 .panel .panel-heading span, .block__left3 p span{
        width: 160px;
    }

    .block__left2 .title{
        font-size: 22px;
    }

    .block__right3 a{
        font-size: 16px;
    }

    .block__right1{
        padding-top: 80px;
    }

    .modal-box .text-scroll{
        max-height: 120px;
    }



}

@media screen and (max-width: 1200px) {

    .block__left3 .panel .panel-heading a, .block__left3 > p{
        padding-right: 180px;
    }

    .block__left2 .title{
        font-size: 20px;
    }
    
    .block__right1{
        padding-top: 70px;
    }

}

@media screen and (max-width: 1100px){
    .block__right3 a{
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px){

    .modal-box{
        display: block;
    }

    .box-left, .box-right{
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .modal-box__text{
        max-width: 100%;
    }

    .block__right1{
        padding-top: 0;
    }

    .block__right1, .block__right2, .block__right3{
        margin-top: 30px;
    }

}

@media screen and (max-width: 700px){

    .form__pop-up{
        width: 400px;
        padding: 30px 30px 80px;
    }

    .form__pop-up .form__title{
        font-size: 25px;
    }

    .form__pop-up .mfp-close{
        right: 0;
        top: 5px;
        text-align: center;
    }

    .form__pop-up input{
        font-size: 14px;
    }

    .form__pop-up .pop-up__img1, .form__pop-up .pop-up__img4{
        display: none;
    }

    .form__pop-up .pop-up__img2{
        bottom: 100px;
    }

    .form__pop-up .pop-up__img3{
        top: 90px;
    }

    .form__pop-up .pop-up__img5{
        width: 200px;
    }

}

@media screen and (max-width: 500px){

    .modal-wrapper{
        padding: 0 15px 20px;
    }

    .block__left2 .title{
        font-size: 16px;
        line-height: 21px;
    }

    .block__left2 p{
        font-size: 11px;
    }
    .block__left3 .panel .panel-heading a, .block__left3 > p{
        font-size: 10px;
        padding-right: 145px;
    }

    .block__left3 .panel .panel-heading span, .block__left3 p span{
        width: 140px;
    }

    .block__left3 .panel .panel-collapse p, .block__left3 .panel .panel-collapse p{
        font-size: 11px;
    }

    .block__right1 .title, .block__right2 .title{
        font-size: 20px;
    }

    .block__right1 a, .block__right2 a{
        font-size: 14px;
    }

    .block__right3 a{
        font-size: 10px;
    }

}
@media screen and (max-width: 450px){

    .form__pop-up{
        width: 300px;
        padding: 30px 30px 80px;
    }

    .form__pop-up .mfp-close{
        right: -5px;
        top: 5px;
        text-align: center;
    }

    .form__pop-up .form__title{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .form__pop-up input{
        font-size: 12px;
    }

    .form__pop-up .pop-up__img1, .form__pop-up .pop-up__img4{
        display: none;
    }

    .form__pop-up .pop-up__img3{
        top: 110px;
        right: 60px;
    }

    .form__pop-up .pop-up__img5{
        width: 150px;
    }

}
