// Fonts
$default-font: 'TTHoves', sans-serif

// Colors
$accent: #4CA970
$black: #1A1D22
$gray: #BCC6C0
$light: #F4F7F5


















// 1920
// width: calc(100vw - 1720px - ((100vw - 1720px)/2))


// 1720
// width: calc(100vw - 1360px - ((100vw - 1360px)/2))


// 1400
// width: 20px

