@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1740px)

	// Общие стили для сайта
	.container
		max-width: 1320px
	// eof


	// Header
	.header
		&__logo
			width: 110px
	// eof

	// Footer
	.footer
		&__image
			left: 50px
	// eof


	// Отзывы
	.reviews
		padding-top: 150px
		&__slider
			max-width: 900px
			.slick
				&-prev
					margin-right: 20px
				&-next 
					margin-left: 20px
		&__slide
			margin: 0 20px
			&-photo
				width: 160px
				height: 160px
			&-text 
				padding: 15px
				font-size: 20px
				margin: 
					left: 80px
					top: 100px
	// eof

	
	// Главная страница
	.ishome

		.header
			margin-bottom: 30px

		.flex-container
			padding: 0

		// Главный экран
		.main
			.section__container
				padding-bottom: 90px
			&__image
				width: 450px
		// eof

		// О курсах
		.about
			&__image
				width: 580px
		// eof

	// eof



	// Каталог
	.catalog
		&__container-inner
		.course
			&__about
				width: 380px
				&-icon
					width: 30px
					height: 30px
					margin-right: 10px
			&__learn
				width: 360px
	// eof


	// Страница курса
	.p-course

		.container
			max-width: 1320px

		// О курсе
		.about
			&__title
				margin-left: 30px
			&__container
				padding: 30px
			&__data
				&-heading
					font-size: 20px
					margin-bottom: 10px
				&-text 
					font-size: 16px
			.schedule
				&__item
					max-width: calc(33% - 15px)
		// eof

		// Попап
		.details
			&__container
				padding: 30px
			&__image
				width: 500px
				height: 450px
			&__info
				padding-left: 30px
			&__heading
				margin-bottom: 15px
			&__text
				font-size: 20px
			&__data
				font-size: 20px
		// eof

	// eof


	// Наша команда
	.team
		&__item
			width: calc(33% - 50px)
			&-image
				height: 320px
	// eof


	// Контакты
	.contacts
		.container
			max-width: 1300px
		&__container
			padding: 30px
	// eof


		
	// Корзина
	.cart
		.container
			max-width: 1300px
		&__container
			padding: 40px
	// eof


@media only screen and (max-width : 1500px)


	// Каталог
	.catalog
		&__container-inner
			padding: 60px 60px 0
		.course
			&__about
				margin-bottom: 60px
				max-width: 340px
	// eof



@media only screen and (max-width : 1340px)

	// Общие стили для сайта
	body
		font-size: 16px

	.container
		max-width: 900px
	
	.title
		font-size: 30px

	.button
		font-size: 20px
	// eof


	// Header
	.header
		&__logo
			width: 80px
		&__menu-item
			font-size: 22px
			margin-right: 25px
	// eof

	// Footer
	.footer
		&__image
			left: -40px
	// eof



	// Отзывы
	.reviews
		&__title
			margin:
				left: 30px
				bottom: 60px
	// eof

	
	// Главная страница
	.ishome

		// Header
		.header
			padding: 0
		// eof

		// Общие стили для секции
		.section
			padding: 60px 0
			&__container
				padding: 30px
				p
					margin-bottom: 15px

		.button
			width: 350px
			height: 60px
			margin-top: 30px
		
		.flex-container__content
			max-width: 400px
		// eof


		// Главный экран
		.main
			.section__container
				padding-bottom: 30px
			&__image
				width: 400px
			&__tags
				right: 30px
				margin-bottom: 15px
				&-item
					font-size: 20px
		// eof

		// Курсы
		.courses
			.section__container
				padding: 30px
			.sky
				width: 700px
				transform: translate(0, -120px)
		// eof

		// О курсах
		.about
			.sky
				width: 700px
				transform: translate(0, -120px)
			.section__container
				padding: 30px
			&__image
				width: 400px
			.flex-container__content
				max-width: 350px
		// eof

	// eof



	// Каталог
	.catalog
		&__container
			padding: 20px
		.course
			&__about
				width: 270px
				&-image
					height: 200px
				&-icon
					width: 20px
					height: 20px
				&-title
					font-size: 20px
			&__skills
				&-item
					max-width: 240px
					font-size: 15px
					margin-bottom: 20px
				&-heading 
					font-size: 18px
					img
						max-width: 20px
						max-height: 20px
			&__learn
				width: 270px
				&-inner
					padding: 20px
				&-image
					height: 200px
				&-text 
					margin-bottom: 20px
	// eof



	// Страница курса
	.p-course

		.container
			max-width: 900px

		// О курсе
		.about
			&__title
				margin-bottom: 15px
			&__heading
				font-size: 20px
				margin-bottom: 10px
			&__text
				font-size: 16px
			&__data
				flex-wrap: wrap
				padding: 10px
				&-item
					width: 33%
					margin: 20px 0
			.schedule
				&__heading
					font-size: 20px
				&__box
					padding: 30px 20px
			.skills
				&__item
					font-size: 20px
		// eof

		// Попап
		.details
			&__image
				width: 400px
				height: 350px
			&__heading
				font-size: 20px
				margin-bottom: 15px
			&__text
				font-size: 16px
				margin-bottom: 15px
			&__data
				font-size: 16px
			&__price
				font-size: 25px
				margin-bottom: 15px
			&__button
				height: 60px
		// eof

		// Дополнение
		.addition
			&__dropdown
				width: 100%
		// eof

	// eof



	// Речь о компании
	.speach
		&__container
			align-items: center
			flex-direction: column
		&__text-container
			transform: none
			margin-top: 50px
	// eof


	// Наша команда
	.team
		&__item
			width: calc(33% - 20px)
			&-text
				font-size: 18px
	// eof


	// Партнеры
	.partners
		&__slider
			padding: 60px 40px
		&__slide
			margin: 0 20px
	// eof


	// Галерея
	.gallery
		padding: 70px 0
		&__container
			max-width: 740px
		&__item
			margin:
				bottom: 60px
				right: auto
			&:nth-child(3n)
				margin-right: auto
			&:nth-child(2n)
				margin-right: 0
	// eof


	// Контакты
	.contacts
		&__bg
			display: none
		.container
			max-width: 900px
		&__container
			padding: 30px
	// eof


	// Корзина
	.cart
		.container
			max-width: 900px
		&__container
			padding: 20px
		&__subtitle
			font-size: 20px
		&__items-headings
			& > *
				font-size: 20px
		&__item
			&-image
				width: 60px
				height: 60px
			&-counter
				&-input
					height: 60px
				&-add
					top: 0
				&-remove
					bottom: 0
	// eof


	// Оформление заказа
	.checkout
		&__item
			width: calc(50% - 20px)
		&__heading
			font-size: 20px
		&__card
			margin-top: 20px
			width: calc(50% - 10px)
			&-wrapper
				.checkout__item
					width: calc(50% - 10px)
	// eof







/*  Small Devices, Tablets */
@media only screen and (max-width : 992px)


	// Общие стили для сайта
	body
		font-size: 25px

	.container
		max-width: 740px

	.title
		font-size: 40px

	.button
		font-size: 25px
	// eof


	// Стилизация полей формы
	textarea
		height: 150px
	// eof


	// Footer
	.footer
		&__image
			display: none
		&__copyrights
			font-size: 18px
	// eof



	// Отзывы
	.reviews
		padding: 70px 0
		&__slider
			max-width: calc(100% - 160px)
			.slick-dots
				margin-top: 35px
	// eof


	
	// Главная страница
	.ishome
		// Солнце в углу страницы
		.sun
			width: 300px
			height: 300px
			top: -100px
			left: -100px
		// eof

		.button
			margin-top: 40px
			width: 100%
			height: 75px

		// Общие стили для секции
		.flex-container
			text-align: center
			flex-direction: column
			padding: 0 60px 90px
			&__content
				max-width: 100%
			&__image
				order: -1
				margin-bottom: 50px
		// eof

		// Курсы
		.courses
			.sky
				display: none
			.section__container
				padding: 60px 90px
			&__container
				flex-direction: column
				padding: 0 30px
			&__box
				max-width: 100%
				margin-bottom: 40px
				&:last-child
					margin-bottom: 0
		// eof

		// О курсах
		.about
			.sky
				display: none
			&__image
				width: 100%
			.flex-container
				padding: 60px 90px
				&__content
					max-width: 100%
					&._text-right
						text-align: center
		// eof

	// eof



	// Каталог
	.catalog
		&__container
			padding: 20px
			border-radius: 25px
			&-inner
				padding: 0
				border: none
		&__filter
			margin: 15px 0 30px
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			&-dropdown
				width: 320px
				max-width: 100%
			&-flex 
				padding: 15px 20px
				flex-direction: column
				width: 100%
			&-box
				margin:
					right: 0
					bottom: 20px
			&-inner
				width: 100%
				min-height: auto
			&-caption
				font-size: 20px
				justify-content: flex-start
		.course
			flex-direction: column
			align-items: center
			&__col
				margin-bottom: 30px
				width: 320px
				max-width: 100%
				&-heading
					font-size: 20px
					margin-bottom: 15px
			&__about
				max-width: 100%
				width: 100%
			&__skills
				&-item
					max-width: 100%
					width: 100%
					font-size: 16px
					margin-bottom: 10px
			&__learn
				max-width: 100%
				width: 100%
				&-inner
					padding: 20px
				&-image
					height: 200px
				&-text 
					font-size: 16px
	// eof


	// Страница курса
	.p-course

		.container
			max-width: 740px

		// Верхняя часть страницы
		.course-top
			&__preview
				height: 250px
			&__title
				font-size: 50px
		// eof

		// О курсе
		.about
			&__title
				margin:
					bottom: 15px
					left: 0
				text-align: center
			&__heading
				font-size: 25px
				margin-bottom: 20px
				text-align: center
			&__text
				font-size: 16px
				text-align: center
			&__data
				max-width: 320px
				width: 100%
				padding: 30px 15px
				margin: 0 auto
				&-item
					width: 100%
					margin: 0 0 30px
					&:last-child
						margin-bottom: 0
				&-heading
					font-size: 20px
					margin-bottom: 5px
				&-info
					font-size: 18px
			.schedule
				flex-direction: column
				align-items: center
				&__item
					max-width: 320px
					width: 100%
					margin-bottom: 40px
					font-size: 16px
				&__heading
					font-size: 18px
				&__box
					padding: 20px
			.skills
				display: flex
				flex-direction: column
				align-items: center
				&__item
					max-width: 320px
					width: 100%
					flex-direction: column
					align-items: center
					font-size: 16px
					text-align: center
					&-image
						width: 100%
						min-height: auto
						height: 220px
						border-radius: 40px 40px 0 0
					&-heading
						margin-bottom: 15px
		// eof

		// Попап
		.details
			&__container-flex
				flex-direction: column
			&__info
				padding:
					left: 0
					top: 30px
			&__image
				width: 100%
				height: 400px
		// eof

	// eof


	// Наша команда
	.team
		&__title
			margin-bottom: 50px
		&__container
			flex-direction: column
			align-items: center
			max-width: calc(100% - 40px)
			margin: 0 auto
			width: 340px
		&__item
			width: 100%
			margin-bottom: 50px
			&:last-child
				margin-bottom: 0
			&-image
				margin-bottom: 10px
			&-text
				font-size: 20px
	// eof


	// Контакты
	.contacts
		padding: 70px 0
		.container
			max-width: 740px
		&__container
			padding: 20px
			flex-direction: column
		&__form
			width: 100%
			margin-bottom: 40px
		&__map
			min-height: 400px
	// eof


	// Корзина
	.cart
		.container
			max-width: 740px
		&__container
			padding: 15px
		&__subtitle
			font-size: 16px
		&__items
			margin: 30px 0 60px
			&-headings
				display: none
		&__item
			flex-direction: column
			text-align: center
			width: 100%
			max-width: 340px
			margin: 0 auto 40px
			border-radius: 15px
			& > *
				width: 100%
				margin-top: 20px
				&:first-child
					width: 100%
					margin-top: 0
			&-info
				flex-direction: column
				padding-right: 0
			&-image
				width: 100%
				height: 180px
				margin:
					right: 0
					bottom: 15px
			&-counter
				&-input
					height: 60px
				&-add
					top: 2px
				&-remove
					bottom: 2px
			&-delete
				top: -15px
				right: 5px
				width: auto
		&__bottom
			max-width: calc(100% - 40px)
			width: 340px
			flex-direction: column
			align-items: flex-start
			margin: 0 auto
		&__code
			width: 100%
			margin-bottom: 30px
			&-input
				padding-right: 35px
			&-button 
				width: 100%
				height: 60px
				position: static
				margin-top: 15px
		&__total
			font-size: 30px
			span
				margin-left: 10px
	// eof


	// Оформление заказа
	.checkout
		&__container
			margin-top: 20px
		&__item
			width: 100%
			margin-bottom: 20px
		&__heading
			font-size: 20px
		&__card
			margin-top: 20px
			width: 100%
			&-wrapper
				.checkout__item
					width: calc(50% - 15px)
		&__checkbox
			font-size: 16px
	// eof


	// 404
	.not-found
		padding: 70px 0
		&__container
			padding: 30px
		&__title
			font-size: 200px
			line-height: 1.2
		&__subtitle
			font-size: 30px
		&__button
			margin-top: 30px
	// eof



/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px)

	
	// Общие стили для сайта
	body
		font-size: 16px

	.container
		max-width: calc(100% - 40px)
		width: 340px

	.title
		margin-bottom: 10px
		font-size: 36px
	// eof

	// Стилизация полей формы
	input, textarea
		font-size: 20px
	
	::placeholder
		font-size: 20px
	// eof


	// Header
	.header
		padding: 15px 0
		&__container
			display: none
			position: absolute
			right: -15px
			top: 0
			width: calc(100% + 30px)
			border-radius: 20px
			backdrop-filter: blur(10px)
			background-color: rgba(247, 247, 247, .8)
			padding: 20px 15px 30px
			z-index: 7
		&__logo
			width: 120px
			margin: 0 auto 30px
		&__menu
			display: flex
			flex-direction: column
			align-items: center
			&-item
				font-size: 25px
				margin:
					right: 0
					bottom: 20px
		&__hamburger
			margin-left: auto
			display: flex
			z-index: 8
			position: relative
	// eof


	// Отзывы
	.reviews
		padding: 70px 0
		&__title
			text-align: center
			margin: 0 0 30px
		&__slider
			max-width: calc(100% - 90px)
			margin-bottom: 60px
			.slick
				&-arrow
					width: 30px
				&-prev
					margin-right: 15px
				&-next 
					margin-left: 15px
		&__slide
			margin: 0
			&-inner
				flex-direction: column
				align-items: center
			&-photo
				width: 180px
				height: 180px
				position: relative
			&-text 
				padding: 15px
				font-size: 20px
				text-align: center
				margin: 
					left: 0
					top: 20px
	// eof



	// Главная страница
	.ishome

		// Header
		.header
			padding: 15px 0
			margin-bottom: 0
		// eof

		// Общие стили для секции
		.section
			padding: 70px 0
			&__container
				padding: 0 15px 15px
				border-radius: 20px
				p
					margin-bottom: 10px

		.flex-container
			padding: 0
			&__image
				margin-bottom: 30px
		
		.button
			margin-top: 30px
		// eof

		// Главный экран
		.main
			&__tags
				right: 15px
				margin-bottom: 10px
				&-item
					font-size: 20px
			&__image
				width: 100%
		// eof

		// Курсы
		.courses
			.section__container
				padding: 15px
			&__container
				padding: 0
				margin-top: 25px
			&__button
				margin-top: 30px
		// eof

		// О курсах
		.about
			.section__container
				padding: 15px
			.flex-container
				padding: 0
				&._col
					.about__button
						font-size: 20px
					.flex-container__content
						margin-bottom: 0
		// eof

	// eof



	// Каталог
	.catalog
		.container
			max-width: 100%
		&__heading
			font-size: 30px
		.header__menu-item
			color: #000
	// eof


	// Верхняя часть страницы
	.top
		&__preview
			min-height: 150px
			border-radius: 0 50px 0 50px
			&-video
				border-radius: 0 50px 0 50px
		&__title
			font-size: 40px
	// eof


	// Страница курса
	.p-course

		.container
			max-width: calc(100% - 40px)
			width: 340px

		// О курсе
		.about
			background: none
			&__container
				padding: 15px
			.skills__item-inner
				padding: 20px
		// eof
		// Дополнение
		.addition
			&__container
				padding: 15px
			&__dropdown
				margin-bottom: 20px
				&-heading
					font-size: 20px
					padding: 20px 30px
					&::after
						right: 20px
						width: 15px
						height: 15px
				&-body
					padding: 0 30px 20px
		// eof

		// Попап
		.details
			background-size: cover
			min-width: 320px
			&__container
				padding: 15px
				margin: 50px 0
			&__image
				height: 200px
			&__heading
				margin-bottom: 10px
			&__data
				font-size: 16px
				width: 100%
				margin-bottom: 15px
			&__price
				font-size: 25px
				margin-bottom: 15px
			&__button
				width: 100%
		// eof

	// eof


	// Речь о компании
	.speach
		padding: 0 0 40px
		&__container
			align-items: center
			flex-direction: column
		&__box
			width: 100%
		&__image
			height: 500px
		&__text
			font-size: 20px
			margin-bottom: 20px
			img
				transform: none
				margin: 20px 0
			&-container
				transform: none
				margin-top: 50px
				padding: 15px
			&._flex
				flex-direction: column

	// eof


	// Наша команда
	.team
		padding: 40px 0
		&__title
			margin-bottom: 50px
	// eof


	// Партнеры
	.partners
		padding: 40px 0
		&__title
			margin-bottom: 20px
	// eof


	// Галерея
	.gallery
		padding: 50px 0
		&__title
			margin-bottom: 50px
		&__heading
			margin-bottom: 10px
		&__container
			max-width: 740px
			margin-bottom: 40px
		&__item
			margin:
				bottom: 40px
				right: 0
			&:nth-child(3n), &:nth-child(2n)
				margin-right: 0
			&:last-child
				margin-bottom: 0
			&-image
				height: 240px
	// eof


	// Корзина
	.cart
		padding: 0 0 70px
		background-image: none
		.container
			max-width: calc(100% - 40px)
			width: 340px
	// eof


	// Оформление заказа
	.checkout
		&__card
			&-wrapper
				flex-wrap: wrap
				.checkout__item
					width: 100%
		&__submit
			margin-top: 20px
	// eof


	// 404
	.not-found
		padding: 30px 0 70px
		&__container
			padding: 15px
		&__title
			font-size: 150px
	// eof


	
	// Подписка на новости
	.subscribe
		padding: 40px 20px
		&__title
			margin-bottom: 20px
	// eof