.fancybox__content > .f-button.is-close-btn
	right: 0
	top: 0
	@include adaptive('width', 40, 20, 'desktop')
	@include adaptive('height', 40, 20, 'desktop')
	background-color: $accent
	display: flex
	align-items: center
	justify-content: center
	border-radius: 0
	svg
		@include adaptive('width', 18, 9, 'desktop')
		@include adaptive('height', 18, 9, 'desktop')
		path
			stroke: $black
