@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)

	.fp-tableCell
		justify-content: flex-start
	
	
	.sidebar
		height: calc(100vh - 60px)
		padding: 30px
		.menu
			&__item
				font-size: 26px
				margin-bottom: 20px
			&__products
				li
					margin-bottom: 10px
					a
						font-size: 16px



	.production
		.item
			height: 250px
			margin-bottom: 30px
			&::before, &::after
				background-size: contain
			&__img
				width: 180px
				height: auto


	
	.news
		&__container
			grid-auto-rows: minmax(160px, auto)



	.footer
		&__contacts
			margin-right: 120px
		&__menu
			margin-right: 60px






@media only screen and (max-width : 1200px)

	.container
		max-width: 700px


	.top-line._full
		.title
			margin-left: calc(100vw - 700px - ((100vw - 700px)/2))
		.pattern
			&::before
				width: calc(100vw - 730px - ((100vw - 730px)/2))


	.sidebar
		width: 280px
		height: calc(100vh - 40px)
		padding: 20px


	.about__content
		max-width: 700px


	.production
		.item
			width: calc(25% - 10px)
			margin-bottom: 20px

	

	.news
		&__container
			grid-gap: 10px
			grid-auto-rows: minmax(130px, auto)
		.item
			padding: 10px
			&__date
				margin-bottom: 8px
				font-size: 10px
			&__heading
				font-size: 12px
		&__bottom-line
			margin-top: 20px


	
	.footer
		&__contacts
			margin-right: 60px
			width: 280px
		&__menu, &__production .heading
			font-size: 20px
		&__production 
			ul li a
				font-size: 16px


	.p-about
		.capabilities
			&__container
				flex-direction: column
				align-items: center
			&__title
				margin-bottom: 30px
				img
					display: none
				.h2
					margin-top: 0
			&__text
				text-align: center
		.license
			&__top-line
				img
					width: 60px
			&__flex-box
				display: flex
				flex-flow: row wrap
				justify-content: space-between
			&__box
				width: 100%
				margin-top: 30px
				img
					margin-right: 20px
		.statistics
			&__container, &__row
				justify-content: space-between


	.p-contacts
		.contacts-info
			&__container
				justify-content: space-between
			&__col
				margin-right: 0


	.p-catalog
		.catalog
			.item
				width: calc(50% - 30px)
				&__image
					height: 200px


	.p-product
		.slider
			&__main
				.image
					height: 300px
		.statistics
			&__container
				justify-content: space-between
			&__box
				width: calc(50% - 20px)
		.others
			&__box
				width: 220px


	.p-furniture
		.product
			&__heading
				font-size: 20px
			&__icon
				width: auto
				margin-right: 20px
			&__text
				margin-top: 30px
				font-size: 16px
		.product-about
			&__container
				flex-direction: column
			&__image
				width: 100%
				min-height: 0
				height: 400px
			&__wrapper
				order: -1
				width: calc(100% - 40px)
				padding: 20px


	.p-stitching
		.application
			&__flex-box
				.application
					&__text, &__table
						width: 100%
					&__text
						margin-bottom: 30px


	.p-doors
		.doors
			&__images
				.image
					height: 250px


	.p-composites
		.composites
			&__image
				height: 400px
			&__images .image
				height: 150px
			.flex-box
				flex-direction: column
				&__wrapper
					margin-bottom: 30px
					width: 100%
					&:last-child
						margin-bottom: 0




/*  Small Devices, Tablets */
@media only screen and (max-width : 992px)

	.container
		max-width: 100%

	.top-line._full
		.title
			margin-left: 50px
		.pattern
			&::before
				width: 35px

	.section
		padding: 80px 0
	
	.fullpage-menu
		display: none


	.sidebar
		overflow-y: auto



	.about
		&__content
			&::before, &::after
				display: none
		&__patter_top
			display: none
		&__next-section
			display: none


	
	.news
		&__container
			grid-auto-rows: minmax(210px, auto)
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 20px
		.item
			padding: 20px
			&._1
				grid-column: 1
				grid-row: 1/4
			&._2
				grid-column: 2
				grid-row: 1/2
			&._3
				grid-column: 2
				grid-row: 2/4
			&._4, &._5
				display: none
			&__date
				font-size: 12px
				margin-bottom: 10px
			&__heading
				font-size: 16px


	
	.footer
		padding: 0
		&__logo
			width: 220px
			margin-right: 50px
		&__container
			flex-direction: column
		&__contacts
			display: flex
			flex-flow: row nowrap
			width: 100%
			margin-bottom: 50px
		&__wrap
			width: 300px
		&__menu
			min-width: 220px
			margin-right: 50px


	.p-about
		.statistics
			&__container, &__row
				justify-content: space-around
				flex-flow: row wrap


	.p-article
		.article
			padding-bottom: 50px
			&__title
				font-size: 28px
			&__preview
				height: 320px
			&__text
				margin-bottom: 15px
			.pagination
				&__item
					font-size: 16px
					.icon
						margin-left: 10px
				&__prev
					.icon
						margin:
							left: 0
							right: 10px


	.p-product
		.slider
			&__main
				margin-bottom: 25px
		.others
			&__container
				flex-direction: column
				align-items: center
			&__box
				width: 280px
				margin-bottom: 50px


	.p-furniture
		.product
			&__container
				flex-direction: column
				margin: 40px 0
			&__wrapper, &__image
				width: 100%
				max-width: 100%
			&__wrapper
				margin:
					right: 0
					bottom: 50px



@media only screen and (max-width : 768px)

	.top-line
		&._production
			.title
				font-size: 24px
				.icon
					max-width: 80px
					max-height: 60px
					margin-right: 20px
			.pattern
				height: 60px
				margin-left: 15px
				&::before
					height: 60px


	
	.production
		.item
			width: calc(50% - 10px)
			height: 290px
			margin-bottom: 20px
			&::before, &::after
				background-size: cover
			&__img
				width: 200px



	.contacts
		&__logo
			margin-bottom: 50px
			width: 320px
		&__social-links
			flex-direction: column
			max-width: 500px
			width: 100%
			a
				margin:
					right: 0
					bottom: 25px
		&__buttons
			flex-direction: column
			.button
				margin:
					right: 0
					bottom: 25px


	
	.footer
		&__logo
			margin:
				right: 0
				bottom: 50px
		&__contacts
			flex-flow: column nowrap
		&__menu
			margin:
				right: 0
				bottom: 50px
			a
				font-size: 24px
				margin-bottom: 25px
		&__wrapper
			flex-direction: column
		&__copyrights
			._space-between
				flex-direction: column
				align-items: flex-start
			span
				margin-bottom: 10px
				font-size: 14px



	.p-about
		.main
			&__text
				width: auto
		.capabilities
			&__title .h2
				font-size: 26px
				text-align: center
			&__wrapper
				width: auto
			&__box
				width: 100%
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
				p
					margin-top: 10px
		.license
			&__top-line
				img
					display: none
				.pattern
					display: none
			&__title
				flex: auto 0 0
				margin-left: 0
		.statistics
			&__container, &__row
				flex-direction: column
				align-items: center
				padding: 50px 0
				.item
					margin-bottom: 40px
					&:last-child
						margin-bottom: 0
					&__image
						margin-bottom: 5px


	.p-contacts
		.contacts-info
			&__container
				flex-direction: column
				align-items: flex-start
			.contact:last-child
				margin-bottom: 30px


	.p-catalog
		.catalog
			.item
				width: 100%
				text-align: center
				align-items: center
				&__button
					align-self: center


	.p-product
		.top-line._full
			.pattern
				display: none
			.title
				margin-left: 50px
				width: calc(100% - 100px)
		.slider__nav
			.image
				height: 80px
		.statistics__box
			width: 100%
			margin-bottom: 30px
	

	.p-furniture
		.application
			&__text
				font-size: 16px
			&__icon
				margin-right: 15px


	.p-stitching
		.application
			.heading
				font-size: 18px
				&__icon
					width: 60px
			&__text
				font-size: 16px
			&__images
				margin-bottom: 30px
				.image
					height: 100px
					width: calc(50% - 10px)
					margin-bottom: 20px
			&__flex-box
				.application__table
					.table__elem
						font-size: 14px


	.p-doors
		.doors
			.heading
				font-size: 18px
				&__icon
					width: 60px
			&__text
				font-size: 16px
			&__images
				margin-bottom: 30px
				.image
					height: 200px
					width: calc(50% - 10px)
					margin-bottom: 20px
			&__flex-box
				.application__table
					.table__elem
						font-size: 14px


	.p-facades
		.facades
			.heading
				font-size: 18px
				padding: 20px
				&__icon
					width: 60px
			&__text
				font-size: 16px
			&__icon
				margin-right: 15px


	.p-composites
		.composites
			.top-line .title
				font-size: 20px
			.review
				&__image
					width: 100px
					height: 100px
					margin-right: 30px
			&__image
				height: 300px
			&__text
				font-size: 16px


	.table
		&__wrapper-scroll
			min-width: 900px
		&__body
			width: calc(100% - 180px)
		.elem
			font-size: 14px
			&._caption
				width: 180px



@media only screen and (max-width : 576px)

	.isnohome 
		.breadcrumbs 
			a
				padding-right: 10px
				margin-right: 10px
				&::after
					width: 6px
					height: 8px


	.top-line._full
		.title
			margin-left: 15px
			font-size: 18px
			.icon
				max-width: 60px
				max-height: 40px
				margin-right: 15px
		.pattern
			&::before
				width: 5px

	
	.container
		width: calc(100% - 40px)
		padding: 
			right: 20px
			left: 20px


	.header
		padding: 15px 0
		&__logo
			height: 60px
			&::before
				left: -20px
				width: 200px
			img
				width: 140px


	.about
		&__content
			margin-top: 60px
		&__title
			font-size: 30px
			margin-bottom: 15px
		&__subtitle
			font-size: 18px
			margin-bottom: 20px
		&__text
			font-size: 18px
			margin-bottom: 30px


	.news
		&__container
			display: flex
			flex-direction: column
		.item
			height: 250px


	.footer
		&__container
			padding: 40px 20px


	.p-about
		.license
			&__title
				width: calc(100% - 20px)
				text-align: center
				font-size: 24px
			&__box
				align-items: flex-start


	.p-press
		.press
			.article
				&__title
					font-size: 28px
				&__preview
					height: 280px


	.p-product
		.top-line._full
			display: block
			.title
				margin-left: 20px
				width: calc(100% - 40px)
		.slider
			&__main
				padding: 0
				.image
					height: 220px


	.p-composites
		.composites
			.review
				align-items: flex-start
				&__image
					width: 50px
					height: 50px
					margin-right: 15px
				&__text
					font-size: 16px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.section
		padding: 
			top: 40px
			bottom: 40px
	
	.isnohome
		.h1
			padding: 0 15px
		.section
			padding: 40px 0
		.breadcrumbs
			font-size: 10px

	
	.production
		.item
			width: 100%


	.contacts
		&::after
			display: none


	.footer
		padding: 0


	.p-vacancies
		.vacancies
			.dropdown
				&__heading
					font-size: 14px
					span
						margin-left: 0


	.p-press
		.press
			.article
				&__title
					font-size: 18px
				&__preview
					height: 200px


	.p-article
		.article
			&__preview
				height: 200px
			&__title
				font-size: 18px
			&__text
				font-size: 14px

	
	.p-composites
		.composites
			&__images
				flex-direction: column
				.image
					margin-bottom: 10px
					width: 100%
					&:last-child
						margin-bottom: 0
			.clients__slider
				margin-top: 30px




/* Custom adaptation */
@media only screen and (max-height : 600px) and (max-width : 480px)
	/**/

@media only screen and (width : 1366px) and (height : 768px)
	/**/

@media only screen and (width : 1280px) and (height : 800px)
	/**/

@media only screen and (width : 1024px) and (height : 768px)
	/**/

@media only screen and (width : 1024px) and (height : 600px)
	
	.sidebar
		height: calc(100vh - 40px)
		padding: 20px 30px
		&__close
			margin-bottom: 20px
		.menu
			&__item
				font-size: 22px
				margin-bottom: 15px