._c-accent
	color: $accent

._underline-hover
	position: relative
	transition: .3s ease
	&::before
		content: ''
		width: 0
		height: 1px
		background-color: #fff
		position: absolute
		top: 100%
		left: 0
		transition: .3s ease
	&:hover::before
		width: 100%

@media only screen and (max-width : 1024px)
	._underline-hover
		&::before
			display: none
