.preloader
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: $black
	color: $accent
	z-index: 20
	@include adaptive('font-size', 200, 120, 'desktop')
	font-weight: 500
	line-height: 1
	text-align: right
	&__counter
		@include adaptive('right', 200, 120, 'desktop')
		@include adaptive('bottom', 50, 30, 'desktop')
		position: absolute

@media only screen and (max-width : 1024px)
	.preloader
		@include adaptive('font-size', 150, 70, 'mobile')
		&__counter
			@include adaptive('right', 80, 40, 'mobile')
			@include adaptive('bottom',100, 60, 'mobile')
