.preloader
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: $accent
	color: #fff
	z-index: 100
	&__title
		@include adaptive('font-size', 258, 129, 'desktop')
		font-weight: 900
		text-align: center
		line-height: 1
	&__counter
		@include adaptive('font-size', 144, 72, 'desktop')
		@include adaptive('right', 60, 30, 'desktop')
		@include adaptive('bottom', 60, 30, 'desktop')
		position: absolute
		font-weight: 700
		line-height: 1

@media only screen and (max-width : 960px)
	.preloader
