.template
	&__top
		@include adaptive('padding-bottom', 36, 18, 'desktop')
		@include adaptive('margin-bottom', 60, 30, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-end
		border-bottom: 1px solid $line
		&-link
			@include adaptive('width', 200, 100, 'desktop')
			@include adaptive('height', 200, 100, 'desktop')
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background-color: $accent
			&::before
				content: ''
				@include adaptive('width', 66, 33, 'desktop')
				@include adaptive('height', 66, 33, 'desktop')
				background-image: url('/img/icons/arrow-right.svg')
				background-size: contain
				background-repeat: no-repeat
				position: relative
				z-index: 2
				transition: .7s
			&:hover::before
				filter: invert(100%)
	&__title
		@include adaptive('font-size', 160, 80, 'desktop')
		@include adaptive('padding-bottom', 34, 17, 'desktop')
		@include adaptive('top', 34, 17, 'desktop')
		position: relative
		letter-spacing: -0.05em
		line-height: 0.8
	&__container
		width: 100%
		margin-left: auto
		@include adaptive('max-width', 1200, 600, 'desktop')
	&__text
		letter-spacing: -0.02em
		font-weight: 500
		line-height: 1.1
		@include adaptive('font-size', 52, 26, 'desktop')
		&-secondary
			@include adaptive('margin-top', 100, 50, 'desktop')
			@include adaptive('margin-bottom', 100, 50, 'desktop')
			@include adaptive('padding-top', 20, 10, 'desktop')
			@include adaptive('font-size', 28, 14, 'desktop')
			color: $gray
			line-height: 1.1
			border-top: 1px solid $line-3
			&:last-child
				margin-bottom: 0
	&__flexbox
		display: flex
		align-items: flex-start
		@include adaptive('gap', 60, 30, 'desktop')
		@include adaptive('padding-top', 30, 15, 'desktop')
		&-item
			@include adaptive('font-size', 24, 12, 'desktop')
			@include adaptive('width', 545, 270, 'desktop')
			&._small
				@include adaptive('font-size', 18, 9, 'desktop')
				@include adaptive('width', 510, 250, 'desktop')
	&__portfolio
		@include adaptive('margin-bottom', 100, 50, 'desktop')
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-start
		&:last-child
			margin-bottom: 0
		&._margin-bottom
			@include adaptive('margin-bottom', 160, 80, 'desktop')
		&-video
			display: flex
			align-items: center
			justify-content: center
			position: relative
			overflow: hidden
			@include adaptive('margin-bottom', 100, 50, 'desktop')
			&:last-child
				margin-bottom: 0
			&-poster
				width: 100%
				object-fit: cover
				object-position: center
			&-play
				@include adaptive('width', 160, 80, 'desktop')
				@include adaptive('height', 160, 80, 'desktop')
				border-radius: 50%
				background-color: #fff
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				display: flex
				align-items: center
				justify-content: center
				overflow: hidden
				z-index: 2
				&::before
					content: ''
					@include adaptive('width', 44, 22, 'desktop')
					@include adaptive('height', 44, 22, 'desktop')
					background-image: url('/img/icons/play.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					transition: .7s
					z-index: 2
				&::after
					content: ''
					background-color: $black
					position: absolute
					top: 0
					left: 0
					display: block
					width: 100%
					height: 100%
					opacity: 0
					border-radius: 100%
					transform: translate(0, 100%)
					transition: opacity .7s cubic-bezier(0.215, 0.61, 0.355, 1),border-radius 0s .7s,transform 0s .7s
			&:hover
				.template__portfolio-video-play
					&::after
						opacity: 1
						border-radius: 0
						transform: translate(0)
						transition: border-radius .7s cubic-bezier(0.215, 0.61, 0.355, 1),transform .7s cubic-bezier(0.215, 0.61, 0.355, 1)
					&::before
						filter: invert(100%)
		&-item
			display: flex
			flex-direction: column
			&:hover
				.template__portfolio-link
					color: $black
					&::after
						opacity: 0
						transform: translateX(100%)
		&-img
			overflow: hidden
			display: flex
			img
				width: 100%
		&-link
			color: $gray
			@include adaptive('margin-top', 14, 7, 'desktop')
			@include adaptive('padding-top', 10, 5, 'desktop')
			@include adaptive('font-size', 32, 16, 'desktop')
			font-weight: 500
			line-height: 1.1
			display: flex
			align-items: center
			width: 100%
			border-top: 1px solid $line-3
			transition: .3s
			&::after
				content: ''
				@include adaptive('width', 24, 12, 'desktop')
				@include adaptive('height', 24, 12, 'desktop')
				@include adaptive('margin-left', 20, 10, 'desktop')
				background-image: url('/img/icons/arrow-right_gray.svg')
				background-size: contain
				background-repeat: no-repeat
				position: relative
				top: 2px
				flex: 0 0 auto
				opacity: 1
				transition: .2s
		&-title
			@include adaptive('margin-top', 14, 7, 'desktop')
			@include adaptive('padding-top', 14, 7, 'desktop')
			@include adaptive('font-size', 24, 12, 'desktop')
			display: block
			line-height: 1.1
			color: $black
			border-top: 1px solid $line-3
			&:hover
				color: $black

@media only screen and (max-width : 1024px)
	.template
		&__top
			@include adaptive('padding-bottom', 40, 15, 'mobile')
			@include adaptive('margin-bottom', 80, 30, 'mobile')
			&-link
				@include adaptive('width', 200, 76, 'mobile')
				@include adaptive('height', 200, 76, 'mobile')
				padding: 0
				&::before
					@include adaptive('width', 60, 20, 'mobile')
					@include adaptive('height', 60, 20, 'mobile')
				&:hover::before
					filter: none
		&__title
			@include adaptive('font-size', 136, 50, 'mobile')
			@include adaptive('padding-bottom', 40, 15, 'mobile')
			@include adaptive('top', 40, 17, 'mobile')
		&__text
			@include adaptive('font-size', 65, 24, 'mobile')
			&-secondary
				@include adaptive('margin-top', 160, 60, 'mobile')
				@include adaptive('margin-bottom', 160, 60, 'mobile')
				@include adaptive('padding-top', 40, 15, 'mobile')
				@include adaptive('font-size', 43, 16, 'mobile')
		&__flexbox
			@include adaptive('gap', 80, 30, 'mobile')
			@include adaptive('padding-top', 40, 15, 'mobile')
			flex-direction: column
			align-items: stretch
			&-item
				width: 100%
				@include adaptive('font-size', 50, 18, 'mobile')
				letter-spacing: -0.015em
				&._small
					@include adaptive('font-size', 43, 16, 'mobile')
		&__portfolio
			@include adaptive('margin-bottom', 160, 60, 'mobile')
			@include adaptive('gap', 100, 40, 'mobile')
			flex-direction: column
			align-items: stretch
			&._margin-bottom
				@include adaptive('margin-bottom', 190, 70, 'mobile')
			&-video
				@include adaptive('margin-bottom', 160, 60, 'mobile')
				&-play
					@include adaptive('width', 122, 45, 'mobile')
					@include adaptive('height', 122, 45, 'mobile')
					&::before
						@include adaptive('width', 34, 12, 'mobile')
						@include adaptive('height', 34, 12, 'mobile')
					&::after
						display: none
				&:hover
					.template__portfolio-video-play
						&::before
							filter: none

			&-item:hover
				.template__portfolio-link
					color: $gray
					&::after
						opacity: 1
						transform: none
			&-link
				@include adaptive('margin-top', 40, 15, 'mobile')
				@include adaptive('padding-top', 28, 10, 'mobile')
				@include adaptive('font-size', 65, 24, 'mobile')
				&::after
					@include adaptive('width', 48, 18, 'mobile')
					@include adaptive('height', 48, 18, 'mobile')
					@include adaptive('margin-left', 40, 15, 'mobile')
					top: 1px
			&-title
				@include adaptive('margin-top', 40, 15, 'mobile')
				@include adaptive('padding-top', 27, 10, 'mobile')
				@include adaptive('font-size', 43, 16, 'mobile')
