.select
	&__heading
		&.select2-selection--single
			background-color: #fff
			border: 1px solid $gray-5
			border-radius: 5px
			height: auto
			transition: .1s
			&:hover
				border-color: $accent
			&:active
				border-color: $accent
			.select2-selection__placeholder
				color: #000
			.select2-selection__rendered
				color: #000
				padding: 15px 30px
				font-size: 16px
				line-height: 1.5
				font-weight: 500
				span
					display: flex
					align-items: center
					font-weight: 500
					color: $gray-1
					img
						margin-right: 10px
			.select2-selection__arrow
				top: 50%
				right: 15px
				transform: translate(0, -50%)
				b
					font-size: 0
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					transition: .2s ease
					display: block
					width: 20px
					height: 20px
					margin-top: 1px
					background-image: url('../img/icons/chevron-down.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					border: none
		&[aria-expanded="true"]
			.select2-selection__arrow b
				transform: translate(-50%, -50%) rotate(180deg)
	&__dropdown
		box-shadow: none
		border: none
		border-radius: 0 0 5px 5px
		overflow: hidden
		border: 1px solid $gray-5
		border-top: none
		.select2-results
			&__option
				font-size: 16px
				font-weight: 500
				padding: 10px
				span
					display: flex
					align-items: center
					img
						margin-right: 10px
						position: relative
						bottom: 2px
				&--highlighted
					background-color: #F2F2F2
					color: #000
					&.select2-results__option--selectable
						background-color: #F2F2F2
						color: #000
				&--selected
					background-color: $accent !important
					color: #fff !important
					&:hover
						background-color: $accent
						color: #fff

.select2-container--default .select2-results>.select2-results__options
	max-height: 200px
	scrollbar-width: 8px
	scrollbar-color: $accent #fff
	&::-webkit-scrollbar-track
		background: #fff
	&::-webkit-scrollbar-thumb
		background-color: $accent
	&::-webkit-scrollbar
		width: 8px

.select2-search--dropdown
	border-radius: 5px

.select2-container--default .select2-search--dropdown .select2-search__field
	border: 1px solid $gray-5
	padding: 10px
	font-weight: 500
	font-size: 16px
