/* Slider */

.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent

.slick-list
	position: relative
	overflow: hidden
	display: block
	margin: 0
	padding: 0!important

	&:focus
		outline: none

	&.dragging
		cursor: hand

.slick-slider .slick-track,
.slick-slider .slick-list
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)

.slick-track
	position: relative
	left: 0
	top: 0
	display: block
	margin-left: auto
	margin-right: auto

	&:before,
	&:after
		content: ''
		display: table

	&:after
		clear: both

	.slick-loading &
		visibility: hidden

.slick-slide
	float: left
	height: 100%
	min-height: 1px
	&.slick-loading img
		display: none

		display: none

	&.dragging img
		pointer-events: none

	&.slick-center
		transform: scale(1)

	.slick-initialized &
		display: block

	.slick-loading &
		visibility: hidden

	.slick-vertical &
		display: block
		height: auto
		border: 1px solid transparent

.slick-arrow.slick-hidden
	display: none

.slick
	&-arrow
		width: 96px
		height: 96px
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		font-size: 0
		position: absolute
		top: 50%
		transform: translateY(-50%)
		z-index: 2
	&-prev
		background-image: url('../img/icons/slider-prev.svg')
		left: 290px
	&-next
		background-image: url('../img/icons/slider-next.svg')
		right: 290px
	&-dots
		position: absolute
		bottom: 10px
		left: 50%
		transform: translateX(-50%)
		display: flex
		align-items: center
		justify-content: center
		li
			font-size: 0
			width: 8px
			height: 8px
			margin-right: 8px
			border: 2px solid rgba(17, 21, 87, 0.3)
			border-radius: 50%
			transition: .5s
			&:last-child
				margin-right: 0
			&.slick-active
				background-color: $dark
				border-color: $dark

@media only screen and (max-width : 1200px)

	.slick
		&-prev
			left: 0
		&-next
			right: 0

@media only screen and (max-width : 768px)

	.slick
		&-arrow
			width: 40px
			height: 40px
