.section
	@include adaptive('padding-top', 110, 55, 'desktop')
	@include adaptive('padding-bottom', 110, 55, 'desktop')
	&._pt-more
		@include adaptive('padding-top', 220, 110, 'desktop')
	&._pb-more
		@include adaptive('padding-bottom', 220, 110, 'desktop')
	&__title
		@include adaptive('font-size', 182, 91, 'desktop')
		text-transform: uppercase
		letter-spacing: -0.03em
		line-height: 0.8
		font-family: $machina

@media only screen and (max-width : 960px)
	.section
		@include adaptive('padding-top', 107, 43, 'mobile')
		@include adaptive('padding-bottom', 107, 43, 'mobile')
		&._pt-more
			@include adaptive('padding-top', 215, 86, 'mobile')
		&._pb-more
			@include adaptive('padding-bottom', 215, 86, 'mobile')
		&__title
			@include adaptive('font-size', 90, 36, 'mobile')
			line-height: 0.9
