// Fonts
$default-font: 'Sf', sans-serif

// Colors
$black: #050F30
$red: #F10930
$grey: #67718F
$blue: #2B8CFF




// Bootstrap gutter
$grid-gutter-width: 40px
$gutter: $grid-gutter-width


// Bootstrap custom grid 
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1500px)

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1380px)
