// Fonts
$default-font: 'PFCentroSansPro', sans-serif

// Colors
$black: #121214
$accent: #a49f6f
$gold: #cab36e




// Bootstrap gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width


// Bootstrap custom grid 

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1430px)

$container-max-widths: (lg: 960px, xl: 1230px)
