// Fonts
$default-font: 'NotoSans', sans-serif

// Colors
$dark: #1c1636
$accent: #7f02c7





// Bootstrap gutter
$grid-gutter-width: 40px
$gutter: $grid-gutter-width


// Bootstrap custom grid 

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1400px)

$container-max-widths: (sm: 480px, lg: 960px, xl: 1180px)
