@import vars
@import fonts
// @import '../libs/bootstrap-grid/bootstrap-grid'



// default
*
	outline: none!important

::placeholder
	color: #CAC8C8
	font-size: 18px
	line-height: 1
	text-transform: uppercase
	font-family: $default-font
	

input, textarea
	outline: none
	resize: none
	line-height: 1
	color: #fff
	border: 2px solid $accent
	border-radius: 5px
	width: 100%
	padding: 12px 10px
	background-color: #2C2C2C
	font-size: 18px

header, section, footer
	position: relative

img
	max-width: 100%
	max-height: 100%

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	text-decoration: none
	color: inherit
	&:hover, &:focus
		text-decoration: none	

p, address
	margin: 0
	font-style: normal


.container
	width: calc(100% - 100px)
	padding: 0 50px
	min-width: calc(375px - 100px)
	max-width: 1040px
	&._full
		max-width: 100%
//



// titles
h1, h2, h3, h4, h5, h6
	margin: 0

.h1
	font-size: 44px
	text-transform: uppercase

.h2
	font-size: 36px
	text-transform: uppercase

.h3
	font-size: 32px

.h4
	font-size: 26px

.h5
	font-size: 20px

.h6
	font-size: 18px

.corners
	position: relative
	padding: 0 10px
	display: inline-block
	&::before, &::after
		content: ''
		width: 10px
		height: 53px
		background-image: url('../img/icons/corners_black.svg')
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		top: 50%
		transform: translate(0, -50%)
	&::before
		left: 0
	&::after
		right: 0
		transform: scale(-1, 1) translate(0, -50%)

.top-line
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 20px
	position: relative
	.pattern
		background-image: url('../img/pattern_dark.png')
		width: 100%
		height: 60px
		margin-left: 15px
	.title
		flex: auto 0 0
	&._full
		.title
			margin-left: calc(100vw - 1040px - ((100vw - 1040px)/2))
			flex: auto 0 0
		.pattern
			&::before
				content: ''
				background-image: url('../img/pattern_dark.png')
				height: 100%
				position: absolute
			&::before
				width: calc(100vw - 1070px - ((100vw - 1070px)/2))
				left: 0
	&._production
		.title
			color: #fff
			padding: 0
			.icon
				margin-right: 50px
		.pattern
			height: 115px
			background-image: url('../img/pattern.png')
			margin-left: 40px
			&::before
				background-image: url('../img/pattern.png')
				width: calc(100vw - 1070px - ((100vw - 1030px)/2))
				top: 50%
				transform: translate(0, -50%)
//



body
	font-size: 16px
	min-width: 375px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: #000
	background-color: #fff
	margin: 0
	padding: 0



// default button
.button
	display: inline-flex
	justify-content: center
	align-items: center
	text-align: center
	position: relative
	text-decoration: none
	line-height: 1
	outline: none
	overflow: hidden
	cursor: pointer
	padding: 0 15px
	width: auto
	height: 36px
	font-size: 18px
	border: none
	border: 2px solid $accent
	border-radius: 5px
	color: #fff
	transition: .4s ease-in-out
	span
		z-index: 2
	&:focus, &:hover
		text-decoration: none
	&::before
		content: ''
		width: 0
		height: calc(100% - 4px)
		background-color: $accent
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		border-radius: 2px
		transition: .4s ease-in-out
	&:hover
		color: #fff
		&::before
			width: calc(100% - 4px)
//



// preloader
.preloader
	background-color: #fff
	background-image: url('../img/main/preloader.svg')
	background-position: center
	background-size: cover
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: 10
	transition: 1s ease
	&.transparent
		background-color: transparent
	&.zoom-in
		transform: scale(3)
		opacity: 0
//



// fullpage custom
.fp-tableCell
	display: flex
	align-items: center
	justify-content: center
//



// fullpage menu
.fullpage-menu
	position: fixed
	right: 25px
	top: 50%
	transform: translate(0, -50%)
	z-index: 5
	&.dark
		.fullpage-menu
			&__item
				border-top: 1px solid rgba(0, 0, 0, 0.3)
				color: #000
				&::after
					border: 1px solid #000
				&:last-child
					border-bottom: 1px solid rgba(0, 0, 0, 0.3)
				&.active
					&::after
						border: 2px solid $accent
						background-color: #000
	&__item
		display: flex
		align-items: center
		justify-content: flex-end
		color: #fff
		font-weight: 300
		font-size: 18px
		text-align: right
		border-top: 1px solid rgba(255, 255, 255, 0.3)
		transition: .2s ease
		padding: 
			top: 10px
			bottom: 10px
			left: 10px 
		cursor: pointer
		&::after
			content: ''
			display: inline-block
			width: 14px
			height: 7px
			border: 1px solid #fff
			border-radius: 5px
			margin-left: 10px
			transition: .2s ease
		&:last-child
			border-bottom: 1px solid rgba(255, 255, 255, 0.3)
		&.active
			font-weight: 700
			&::after
				border: 2px solid $accent
				background-color: #fff
//



// header
.header
	width: 100%
	padding: 20px 0
	position: absolute
	top: 0
	left: 0
	&__flex-box
		display: flex
		align-items: center
		justify-content: space-between
	&__logo
		position: relative
		display: flex
		align-items: center
		justify-content: flex-start
		height: 90px
		&::before
			content: ''
			position: absolute
			left: -50px
			top: 0
			width: 440px
			height: 100%
			background-size: cover
			background-image: url('../img/main/logo__bg.svg')
			background-position: right top
		img
			z-index: 2
	.hamburger
		width: 45px
		height: 40px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		border: 2px solid $accent
		border-radius: 5px
		cursor: pointer
		&__line
			width: 30px
			height: 6px
			background-color: $accent
			border-radius: 5px
			margin-bottom: 2px
			&:last-child
				margin-bottom: 0
//



// sidebar
.sidebar
	width: calc(450px - 60px)
	height: calc(100vh - 100px)
	position: fixed
	right: -450px
	top: 0
	bottom: 0
	background-color: $accent
	padding: 50px 30px
	z-index: 10
	transition: 1s ease
	&.visible
		right: 0
	&::before, &::after
		content: ''
		width: 100%
		height: 10px
		background-image: url('../img/pattern.png')
		position: absolute
		left: 0
	&::before
		top: 0
	&::after
		bottom: 0
	&__close
		width: 45px
		height: 40px
		background-image: url('../img/icons/sidebar__close.svg')
		background-size: contain
		cursor: pointer
		margin-bottom: 35px
	.menu
		display: flex
		flex-direction: column
		align-items: flex-start
		&__item
			font-size: 32px
			font-weight: 700
			color: #fff
			margin-bottom: 30px
			position: relative
			line-height: 1.2
			&:last-child
				margin-bottom: 0
			&::after
				content: ''
				width: 0
				height: 1px
				background-color: #fff
				position: absolute
				top: 100%
				left: 0
				opacity: 0
				transition: .3s ease
			&:hover::after
				width: 100%
				opacity: 1
		&__products
			margin-top: 20px
			li
				margin-bottom: 15px
				display: flex
				align-items: center
				&::before
					content: ''
					width: 12px
					height: 6px
					border-radius: 5px
					border: 1px solid #fff
					display: inline-block
					margin-right: 10px
				a
					font-weight: 300
					font-size: 20px
					line-height: 1.2
					color: #fff
					position: relative
					display: inline-block
					&::after
						content: ''
						width: 0
						height: 1px
						background-color: #fff
						position: absolute
						top: 100%
						left: 0
						opacity: 0
						transition: .3s ease
					&:hover::after
						width: 100%
						opacity: 1
//


// about section
.about
	color: #fff
	&::before
		content: ''
		background-color: #000
		opacity: 0.65
		width: 100%
		height: 100%
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1
	&__video
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%
		object-fit: cover
		z-index: -2
	&__content
		max-width: 800px
		position: relative
		padding: 20px 0
		margin-top: 100px
		&::before, &::after
			content: ''
			width: 100%
			height: 7px
			position: absolute
			left: 0
			background-image: url('../img/pattern.png')
		&::before
			bottom: 100%
		&::after
			top: 100%
	&__patter_top
		position: absolute
		bottom: 100%
		margin-bottom: 20px
		height: 36px
		width: 100%
		background-image: url('../img/main/about__pattern_top.svg')
		background-position: right top
		background-repeat: no-repeat
		background-size: cover
	&__title
		margin-bottom: 20px
	&__subtitle
		margin-bottom: 40px
		font-weight: 400
		text-transform: uppercase
		span
			font-weight: 700
	&__text
		margin-bottom: 50px
		font-size: 20px
		font-weight: 300
	&__buttons
		display: flex
		.button
			margin-right: 40px
			&:last-child
				margin-top: 0
			img
				margin-right: 12px
	&__next-section
		display: inline-block
		width: 28px
		height: 42px
		background-image: url("../img/icons/scroll-down.svg")
		background-position: center
		background-size: contain
		position: absolute
		left: 50%
		bottom: 20px
		transform: translate(-50%, 0)
//



// production section
.production
	background-image: url('../img/production/production__bg.jpg')
	background-size: cover
	background-position: center
	color: #fff
	&__title
		&::before, &::after
			background-image: url('../img/icons/corners_white.svg')
	.top-line
		margin-bottom: 30px
		.pattern
			background-image: url('../img/pattern.png')
	&__container
		display: flex
		flex-flow: row wrap
		justify-content: space-between
	.item
		width: calc(25% - 40px)
		height: 290px
		text-align: center
		display: flex
		align-items: center
		justify-content: flex-start
		flex-direction: column
		background-color: rgba(19, 29, 48, 0.8)
		position: relative
		margin-bottom: 40px
		transition: .5s ease
		&::before, &::after
			content: ''
			width: 20px
			height: 100%
			background-image: url('../img/production/corners.svg')
			background-size: cover
			background-repeat: no-repeat
			position: absolute
			top: 0
			bottom: 0
			opacity: 0.2
			transition: .5s ease
			z-index: 2
		&::before
			left: 0
		&::after
			right: 0
			transform: scale(-1, 1)
		&:hover
			background-color: $accent
			&::before, &::after
				opacity: 1
			.item
				&__image
					opacity: 0
				&__gif
					opacity: 1
					transition: .5s ease .2s
		&__gif
			position: absolute
			opacity: 0
		&__caption
			font-size: 18px
			font-weight: 300
			text-transform: uppercase
			max-width: 155px
//



// news section
.news
	.item
		background-size: cover
		background-position: center
		color: #fff
		position: relative
		padding: 20px
		display: flex
		flex-direction: column
		align-items: flex-start
		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
		&._1
			grid-column: 1/2
			grid-row: 1/4
		&._2
			grid-column: 2/3
			grid-row: 1/2
		&._3
			grid-column: 2/3
			grid-row: 2/3
		&._4
			grid-column: 3/4
			grid-row: 1/3
		&._5
			grid-column: 2/4
			grid-row: 3/4
		& > *
			z-index: 2
			position: relative
		&__date
			padding: 3px 6px
			font-weight: 300
			font-size: 12px
			border: 1px solid #fff
			border-radius: 5px
			margin-bottom: 15px
			display: inline-block
			text-transform: uppercase
		&__heading
			font-weight: 700
			&:hover
				text-decoration: underline
	&__container
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 20px
		grid-auto-rows: minmax(210px, auto)
	&__button
		color: #000
		flex: auto 0 0
	&__bottom-line
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 30px
		.pattern
			background-image: url('../img/pattern_dark.png')
			width: 100%
			height: 40px
			margin-right: 15px
//



// contacts section
.contacts
	background-image: url('../img/main/contacts__bg.jpg')
	background-size: cover
	background-position: center
	color: #fff
	&::after
		content: ''
		width: 100%
		height: 30px
		position: absolute
		left: 0
		bottom: 0
		background-image: url('../img/pattern.png')
	&__container
		display: flex
		flex-direction: column
		align-items: center
	&__logo
		margin-bottom: 25px
	&__address
		text-align: center
		font-style: normal
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 30px
		max-width: 500px
	&__social-links
		padding: 40px 0
		display: flex
		justify-content: center
		align-items: center
		position: relative
		text-transform: uppercase
		margin-bottom: 50px
		&::before, &::after
			content: ''
			width: 100%
			height: 10px
			position: absolute
			left: 0
			background-image: url('../img/pattern.png')
		&::before
			top: 0
		&::after
			bottom: 0
		a
			display: flex
			align-items: center
			margin-right: 25px
			&:last-child
				margin: 0
			img
				margin-right: 15px
	&__buttons
		display: flex
		.button
			margin-right: 25px
			&:last-child
				margin: 0
//



// footer
.footer
	height: auto !important
	background-color: #242730
	.fp-tableCell
		height: auto !important
		flex-direction: column
	&__container
		padding: 
			top: 50px
			bottom: 50px
		display: flex
	&__contacts
		width: 320px
		display: flex
		flex-direction: column
		margin-right: 300px
	&__logo
		margin-bottom: 25px
	.contacts__item
		display: flex
		align-items: center
		font-size: 15px
		margin-bottom: 20px
		color: rgba(255, 255, 255, 0.5)
		text-transform: uppercase
		img
			opacity: 0.5
			width: 15px
			margin-right: 10px
	.contacts__address
		margin-bottom: 25px
		align-items: flex-start
		text-align: left
	&__wrapper
		display: flex
	&__menu
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		margin-right: 100px
		a
			font-size: 28px
			font-weight: 700
			color: rgba(255, 255, 255, 0.5)
			margin-bottom: 30px
			position: relative
			&:last-child
				margin-bottom: 0
			&::after
				content: ''
				width: 0
				height: 1px
				background-color: rgba(255, 255, 255, 0.5)
				position: absolute
				top: 100%
				left: 0
				opacity: 0
				transition: .3s ease
			&:hover::after
				width: 100%
				opacity: 1
	&__production
		display: flex
		flex-direction: column
		align-items: flex-start
		.heading
			font-size: 28px
			font-weight: 700
			color: rgba(255, 255, 255, 0.5)
			margin-bottom: 25px
		ul li
			margin-bottom: 15px
			display: flex
			align-items: center
			&:last-child
				margin-bottom: 0
			&::before
				content: ''
				width: 12px
				height: 6px
				border-radius: 5px
				border: 1px solid rgba(255, 255, 255, 0.5)
				display: inline-block
				margin-right: 10px
			a
				font-weight: 300
				font-size: 24px
				color: rgba(255, 255, 255, 0.5)
				position: relative
				display: inline-block
				&::after
					content: ''
					width: 0
					height: 1px
					background-color: rgba(255, 255, 255, 0.5)
					position: absolute
					top: 100%
					left: 0
					opacity: 0
					transition: .3s ease
				&:hover::after
					width: 100%
					opacity: 1

	&__copyrights
		background-color: #141516
		padding: 10px 0
		width: 100%
		color: rgba(255, 255, 255, 0.5)
		font-size: 15px
		text-transform: uppercase
		._space-between
			display: flex
			justify-content: space-between
			align-items: center
//





// Inner pages CSS
.isnohome
	.h1
		font-size: 36px
		padding: 0 35px
		display: flex
		align-items: center
		justify-content: center
		img
			margin-right: 20px
	.section
		padding: 70px 0
	.container
		min-height: 0
		margin: 0 auto
	.header
		position: relative
		&._dark
			background-color: #2C2C2C
			margin-bottom: 20px
	.breadcrumbs
		margin-top: 30px
		font-weight: 300
		padding-bottom: 25px
		margin-bottom: 35px
		display: flex
		align-items: center
		position: relative
		text-transform: uppercase
		font-weight: 300
		font-size: 14px
		&::after
			content: ''
			width: 100%
			height: 7px
			position: absolute
			left: 0
			bottom: 0
			background-image: url('../img/pattern_dark.png')
		a
			text-decoration: underline
			margin-right: 17px
			padding-right: 17px
			position: relative
			&::after
				content: ''
				width: 8px
				height: 10px
				background-image: url('../img/icons/play_dark.svg')
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				position: absolute
				right: 0
				top: 50%
				transform: translate(50%, -50%)
			&:hover
				text-decoration: none

// About company page
.p-about
	.main
		height: 100vh
		min-height: 600px
		background-image: url('../img/about/main__bg.jpg')
		background-size: cover
		background-position: center
		display: flex
		flex-direction: column
		justify-content: space-between
		&__text
			color: #fff
			margin-bottom: 150px
			width: 560px
			font-size: 18px
			font-weight: 300
			padding: 20px 0
			position: relative
			&::before, &::after
				content: ''
				width: 100%
				height: 7px
				position: absolute
				left: 0
				background-image: url('../img/pattern.png')
			&::before
				bottom: 100%
			&::after
				top: 100%
		&__next-section
			display: inline-block
			width: 28px
			height: 42px
			background-image: url("../img/icons/scroll-down.svg")
			background-position: center
			background-size: contain
			position: absolute
			left: 50%
			bottom: 20px
			transform: translate(-50%, 0)
	.history
		&__top-line
			margin-bottom: 40px
		&__text
			font-weight: 300
			font-size: 18px
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
	.capabilities
		background-color: #EBEBEB
		padding: 30px 0
		&__container
			display: flex
			justify-content: space-between
		&__title
			display: flex
			flex-direction: column
			align-items: center
			.h2
				margin-top: 30px
				font-size: 30px
		&__text
			font-size: 18px
			font-weight: 300
			margin-bottom: 25px
			width: 100%
		&__wrapper
			display: flex
			flex-flow: row wrap
			justify-content: space-between
			width: 580px
		&__box
			display: flex
			flex-direction: column
			text-align: center
			align-items: center
			justify-content: space-between
			width: 30%
			p
				font-size: 18px
				font-weight: 300
				span
					font-weight: 700
	.license
		&__title
			font-size: 30px
			margin-left: 15px
			flex: auto 0 0
		&__flex-box
			display: flex
			flex-flow: row wrap
			justify-content: space-between
		&__box
			width: calc(50% - 45px)
			display: flex
			align-items: center
			margin-top: 40px
			img
				margin-right: 30px
	.technology
		&__top-line
			margin-bottom: 40px
		&__heading
			margin-bottom: 25px
			font-weight: 500
			margin-bottom: 25px
		.list
			margin-bottom: 40px
			&__item
				display: flex
				align-items: center
				margin-bottom: 15px
				font-weight: 300
				font-size: 18px
				&::before
					content: ''
					width: 12px
					height: 6px
					border-radius: 5px
					border: 1px solid #000
					display: inline-block
					margin-right: 10px
				&:last-child
					margin-bottom: 0
	.statistics
		&__title
			flex: auto 0 0
		&__top-line
			margin-bottom: 30px
		&__container
			display: flex
			align-items: flex-start
			justify-content: space-around
			padding: 20px 0 75px
			.item
				width: 220px
				&__image
					height: 55px
				&__heading
					margin-bottom: 20px
		&__row
			display: flex
			align-items: flex-start
			justify-content: space-around
			flex-flow: row wrap
			padding: 20px 0 75px
			position: relative
			&::after
				content: ''
				width: 100%
				height: 7px
				position: absolute
				left: 0
				top: 0
				background-image: url('../img/pattern_dark.png')
		&__caption
			text-align: center
			width: 100%
			margin: 45px 0 35px
			text-transform: uppercase
			font-weight: 500
		.item
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			width: 330px
			&__image
				margin-bottom: 25px
				display: flex
				align-items: center
				justify-content: center
			&__heading
				font-weight: 300
				text-transform: uppercase
				span
					font-weight: 700
					display: block
			&__number
				font-size: 56px
				font-weight: 700
				margin-bottom: 20px
//



// Vacancies page
.p-vacancies
	.header__logo::before
		display: none
	.vacancies
		padding-bottom: 70px
		.dropdown
			margin-bottom: 20px
			border: 1px solid #D1D2D4
			&:last-child
				margin-bottom: 0
			&__heading
				padding: 15px
				display: flex
				justify-content: space-between
				align-items: center
				background-color: #D1D2D4
				font-weight: 500
				text-transform: uppercase
				transition: .3s ease
				span
					margin: 0 15px
				svg
					transition: .3s ease
					flex: auto 0 0
				&._active
					background-color: $accent
					color: #fff
					svg
						transform: rotate(45deg)
						circle
							stroke: #fff
						rect
							fill: #fff
			&__body
				display: none
				padding: 25px
		.list
			margin-bottom: 25px
			&__heading
				margin-bottom: 15px
				font-weight: 700
		&__button
			color: #000
//


// Press-center page
.p-press
	.header__logo::before
		display: none
	.press
		padding-bottom: 100px
		.article
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-top: 40px
			&::before
				content: ''
				background-image: url('../img/icons/article__corner.svg')
				width: 10px
				height: 10px
				background-position: left top
				background-size: contain
			&__date
				padding: 3px 6px
				font-weight: 300
				font-size: 12px
				border: 1px solid #000
				border-radius: 5px
				margin-bottom: 15px
				display: inline-block
				text-transform: uppercase
				margin-left: 20px
			&__title
				font-weight: 700
				font-size: 32px
				margin-bottom: 15px
				margin-left: 20px
				transition: .3s ease
				&:hover
					color: $accent
			&__preview
				position: relative
				height: 320px
				width: 100%
				background-size: cover
				background-position: center
				&::before
					content: ''
					background-image: url('../img/pattern_dark.png')
					width: 100%
					height: 6px
					position: absolute
					top: 100%
					margin-top: 15px
		.pagination
			display: flex
			align-items: center
			justify-content: center
			margin-top: 50px
			&__item
				width: 44px
				height: 44px
				border: 2px solid #636363
				border-radius: 5px
				transition: .3s ease
				display: flex
				align-items: center
				justify-content: center
				font-size: 24px
				&:hover
					border-color: $accent
			&__numbers
				display: flex
				align-items: center
				justify-content: center
				margin-right: 20px
				.pagination__item
					border-color: #D3D3D3
					margin-right: 10px
					&:hover
						border-color: $accent
					&:last-child
						margin-right: 0
			&__prev, &__next
				&::before
					content: ''
					width: 12px
					height: 12px
					background-image: url('../img/icons/play_dark.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
			&__prev
				margin-right: 20px
				&::before
					transform: scale(-1, 1)
//


// Article page
.p-article
	.header__logo::before
		display: none
	.article
		padding-bottom: 100px
		&__content
			display: flex
			flex-direction: column
			align-items: flex-start
			position: relative
			&::before
				content: ''
				background-image: url('../img/pattern_dark.png')
				width: 100%
				height: 6px
				position: absolute
				top: 100%
				margin-top: 15px
		&__date
			padding: 3px 6px
			font-weight: 300
			font-size: 12px
			border: 1px solid #000
			border-radius: 5px
			margin-bottom: 30px
			display: inline-block
			text-transform: uppercase
		&__title
			font-weight: 700
			font-size: 36px
			margin-bottom: 15px
			transition: .3s ease
			&:hover
				color: $accent
		&__preview
			height: 620px
			width: 100%
			background-size: cover
			background-position: center
			margin-bottom: 40px
		&__text
			margin-bottom: 20px
		.pagination
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 50px
			&__item
				display: flex
				font-size: 18px
				align-items: center
				.icon
					width: 44px
					height: 44px
					border: 2px solid #636363
					border-radius: 5px
					transition: .3s ease
					display: flex
					align-items: center
					justify-content: center
					font-size: 24px
					margin-left: 20px
					&:hover
						border-color: $accent
					&::before
						content: ''
						width: 12px
						height: 12px
						background-image: url('../img/icons/play_dark.svg')
						background-size: contain
						background-repeat: no-repeat
						background-position: center
			&__prev
				.icon
					margin: 
						left: 0
						right: 20px
					&::before
						transform: scale(-1, 1)
//


// Contacts page
.p-contacts
	.header__logo::before
		display: none
	.contacts-info
		padding-bottom: 50px
		&__container
			display: flex
			position: relative
			padding-bottom: 60px
			&::before
				content: ''
				background-image: url('../img/pattern_dark.png')
				width: 100%
				height: 6px
				position: absolute
				bottom: 0
		&__col
			width: 320px
			margin-right: 200px
			&:last-child
				margin-right: 0
		.contact
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
			&__heading
				margin-bottom: 15px
				display: flex
				align-items: center
				font-size: 18px
				font-weight: 700
				img
					margin-right: 10px
			&__caption
				display: flex
				align-items: center
				text-transform: uppercase
				img
					margin-right: 10px
			&__text span
				font-weight: 700
		&__button
			color: #000
			&:hover
				color: #fff
		&__map
			width: 100%
			height: 400px
			margin-top: 50px

.feedback
	background-color: #2C2C2C
	color: #fff
	width: 100%
	max-width: 410px
	position: fixed
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	border-radius: 15px
	&__wrapper
		padding: 30px
		display: flex
		flex-direction: column
	&__title
		text-transform: uppercase
		font-weight: 700
		font-size: 36px
		margin-bottom: 20px
	&__item
		margin-bottom: 12px
		width: auto
	textarea
		height: 120px
	&__button
		background-color: transparent
		width: 150px
		height: 45px
	.mfp-close
		font-size: 44px
		color: #fff
		opacity: 1
//


// Catalog page
.p-catalog
	.main
		height: 100vh
		min-height: 600px
		background-image: url('../img/catalog/main__bg.jpg')
		background-size: cover
		background-position: center
		display: flex
		flex-direction: column
		justify-content: space-between
	.breadcrumbs
		margin-top: 60px
	.catalog
		padding-bottom: 100px
		&__container
			display: flex
			justify-content: space-between
			align-items: flex-start
			flex-flow: row wrap
		.item
			width: calc(50% - 60px)
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-bottom: 60px
			&__image
				width: 100%
				height: 300px
				margin-bottom: 15px
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				margin-bottom: 15px
			&__title
				font-size: 20px
				font-weight: 700
				text-transform: uppercase
				margin-bottom: 5px
			&__subtitle
				font-weight: 400
				text-transform: uppercase
				font-size: 16px
				margin-bottom: 10px
			&__button
				color: #000
				align-self: flex-end
				&:hover
					color: #fff
//


// Product page
.p-product
	.top-line._full
		.title
			font-size: 16px
			padding: 0
	.slider
		&__main
			margin-bottom: 50px	
			padding: 0 60px
			.image
				height: 600px
				background-size: contain
				background-repeat: no-repeat
				background-position: center
		&__nav
			padding: 0 60px
			margin-bottom: 50px
			.image
				height: 150px
				background-size: contain
				background-repeat: no-repeat
				background-position: center
			.slick
				&-slide
					margin: 0 10px
				&-arrow
					display: flex
					align-items: center
					justify-content: center
					border: 2px solid $accent
					border-radius: 5px
					width: 44px
					height: 44px
					&::before
						content: ''
						width: 12px
						height: 12px
						background-image: url('../img/icons/play_dark.svg')
						background-size: contain
						background-repeat: no-repeat
						background-position: center
				&-prev
					left: 0
					&::before
						transform: scale(-1, 1)
				&-next
					right: 0
	.appointment
		padding-bottom: 50px
		margin-bottom: 50px
		.top-line
			margin-bottom: 35px
		.product-list
			margin-bottom: 40px
		&__material
			display: flex
			align-items: center
			text-transform: uppercase
			img
				flex: auto 0 0
				margin-right: 10px
		&__buttons
			display: flex
			margin-top: 40px
			position: relative
			&::after
				content: ''
				width: 100%
				height: 10px
				position: absolute
				left: 0
				top: 100%
				margin-top: 40px
				background-image: url('../img/pattern_dark.png')
			.button
				margin-right: 20px
				color: #000
				&:hover
					color: #fff
				&:last-child
					margin-right: 0
	.statistics
		padding-bottom: 20px
		&__container
			display: flex
			flex-flow: row wrap
			justify-content: space-around
		&__box
			width: 30%
			display: flex
			align-items: center
			flex-direction: column
			margin-bottom: 50px
			text-align: center
		&__heading
			border: 1px solid #000000
			padding: 3px 15px
			border-radius: 15px
			margin-bottom: 10px
		&__number
			font-size: 56px
			font-weight: 700
		&__info
			padding: 25px 0
			position: relative
			display: flex
			align-items: center
			justify-content: center
			text-transform: uppercase
			&::after, &::before
				content: ''
				width: 100%
				height: 10px
				position: absolute
				left: 0
				background-image: url('../img/pattern_dark.png')
			&::before
				top: 0
			&::after
				bottom: 0
			img	
				margin-right: 20px
	.others
		&__container
			display: flex
			justify-content: space-between
			align-items: flex-start
			flex-flow: row wrap
		&__box
			width: 280px
		&__image
			width: 100%
		&__title
			font-size: 20px
			font-weight: 700
			margin-bottom: 5px
		&__subtitle
			font-size: 12px
	.nav
		padding: 60px 0
		&__container
			display: flex
			align-items: center
			justify-content: space-between
		&__back
			display: flex
			align-items: center
			text-transform: uppercase
			max-width: calc(100% - 50px)
			.icon
				width: 44px
				height: 44px
				border: 2px solid $accent
				border-radius: 5px
				display: flex
				align-items: center
				justify-content: center
				margin-right: 15px
				&::before
					content: ''
					width: 12px
					height: 12px
					background-image: url('../img/icons/play_dark.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					transform: rotate(180deg)
			.text
				&__top
					font-size: 12px
					margin-bottom: 3px
				&__bottom
					font-size: 14px
					font-weight: 700
					text-decoration: underline
		&__top
			width: 44px
			height: 44px
			display: flex
			align-items: center
			justify-content: center
			border: 2px solid $accent
			border-radius: 100%
			&::before
				content: ''
				width: 12px
				height: 9px
				background-image: url('../img/icons/play_dark.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				transform: rotate(-90deg)
//


// Furniture page
.p-furniture
	.description
		&__text
			margin-bottom: 20px
			font-size: 18px
			font-weight: 300
	.application
		margin-bottom: 40px
		&__box
			display: flex
			align-items: center
			margin-bottom: 20px
		&__icon
			margin-right: 30px
			flex: auto 0 0
			width: 60px
			display: flex
			align-items: center
			justify-content: center
		&__text
			font-size: 20px
			&._bold
				font-weight: 700
				font-size: 18px
		&__wrapper
			margin-bottom: 25px
			padding-bottom: 25px
			position: relative
			&::after, &::before
				content: ''
				width: 100%
				height: 6px
				position: absolute
				left: 0
				bottom: 0
				background-image: url('../img/pattern_dark.png')
		.product-list
			margin-top: 25px
	.product
		margin-bottom: 100px
		&__container
			display: flex
			justify-content: space-between
			align-items: center
			margin: 80px 0
		&__heading
			display: flex
			align-items: center
			font-size: 26px
			font-weight: 700
			text-transform: uppercase
		&__icon
			width: 120px
			display: flex
			justify-content: center
			flex: auto 0 0
		&__wrapper
			width: 460px
			max-width: 50%
			margin-right: 30px
		&__text
			margin-top: 40px
			font-size: 300px
			font-size: 18px
		&__image
			max-width: 50%
	.product-about
		&__container
			display: flex
			justify-content: flex-start
			margin-bottom: 40px
			position: relative
			&:last-child
				margin-bottom: 0
			&::before
				content: ''
				width: 100%
				height: 20px
				position: absolute
				left: 0
				top: 100%
				background-image: url('../img/pattern_dark.png')
				margin-top: 10px
			&._white-text
				color: #fff
				.product-about__wrapper
					background-color: #242730
		&__wrapper
			font-weight: 300
			width: calc(50% - 60px)
			padding: 30px
		&__image
			width: 50%
			background-size: cover
			background-position: center
			min-height: 550px
		.product-list
			li::before
				border-color: #fff
		.product
			&__heading
				margin-bottom: 30px
			&__icon
				width: 80px
				margin-right: 15px
			&__caption
				font-weight: 700
				margin-bottom: 15px
				font-size: 18px
			&__text
				margin:
					top: 0
					bottom: 20px
	.nav
		&__container
			display: flex
			justify-content: flex-end
			margin-bottom: 45px
		&__top
			width: 44px
			height: 44px
			display: flex
			align-items: center
			justify-content: center
			border: 2px solid $accent
			border-radius: 100%
			&::before
				content: ''
				width: 12px
				height: 9px
				background-image: url('../img/icons/play_dark.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				transform: rotate(-90deg)
//

// Stitching page
.p-stitching
	.description
		margin-bottom: 60px
		&__text
			margin-bottom: 20px
			font-size: 18px
		&__caption
			font-weight: 700
			font-size: 18px
			margin:
				top: 60px
				bottom: 20px
	.application
		&__container
			margin-top: 50px
			&:last-child
				margin-bottom: 100px
		.heading
			display: flex
			align-items: center
			position: relative
			text-transform: uppercase
			font-size: 26px
			font-weight: 700
			padding: 10px 0
			margin-bottom: 30px
			&::after, &::before
				content: ''
				width: 100%
				height: 10px
				position: absolute
				left: 0
				background-image: url('../img/pattern_dark.png')
			&::before
				top: 0
			&::after
				bottom: 0
			&__icon
				margin-right: 10px
				flex: auto 0 0
		&__text
			margin-bottom: 30px
			font-size: 18px
		&__flex-box
			display: flex
			justify-content: space-between
			align-items: center
			flex-flow: row wrap
			margin-bottom: 30px
			.application
				&__text
					width: 50%
					margin-bottom: 0
				&__table
					width: 40%
					.table
						&__row
							border-bottom: 1px solid #B9B9B9
							display: flex
							&:first-child
								border-top: 1px solid #B9B9B9
						&__elem
							width: 50%
							text-align: center
							display: flex
							align-items: center
							justify-content: center
							font-size: 18px
							border-right: 1px solid #B9B9B9
							padding: 5px
							&:last-child
								border-right: none
							&._caption
								text-align: left
								justify-content: flex-start
								font-weight: 700
		&__images
			display: flex
			justify-content: space-between
			flex-flow: row wrap
			.image
				background-size: cover
				background-position: center
				height: 180px
				width: calc(25% - 15px)
				margin-bottom: 30px
//


// Doors page
.p-doors
	.doors
		&__container
			margin-top: 50px
			&:last-child
				margin-bottom: 100px
		.heading
			display: flex
			align-items: center
			position: relative
			text-transform: uppercase
			font-size: 26px
			font-weight: 700
			padding: 10px 0
			margin-bottom: 30px
			&::after, &::before
				content: ''
				width: 100%
				height: 10px
				position: absolute
				left: 0
				background-image: url('../img/pattern_dark.png')
			&::before
				top: 0
			&::after
				bottom: 0
			&__icon
				margin-right: 10px
				flex: auto 0 0
		&__text
			margin-bottom: 30px
			font-size: 18px
		&__images
			display: flex
			justify-content: space-between
			flex-flow: row wrap
			position: relative
			margin-top: 90px
			&::before
				content: ''
				width: 100%
				height: 40px
				position: absolute
				left: 0
				bottom: 100%
				margin-bottom: 30px
				background-image: url('../img/pattern_dark.png')
			.image
				background-size: cover
				background-position: center
				height: 370px
				width: calc(25% - 15px)
				margin-bottom: 30px
//


// Facades page
.p-facades
	.facades
		&__container
			margin-top: 50px
			&:last-child
				margin-bottom: 100px
		.heading
			display: flex
			align-items: center
			position: relative
			text-transform: uppercase
			font-size: 26px
			font-weight: 700
			padding: 10px 0
			margin-bottom: 30px
			&::after, &::before
				content: ''
				width: 100%
				height: 10px
				position: absolute
				left: 0
				background-image: url('../img/pattern_dark.png')
			&::before
				top: 0
			&::after
				bottom: 0
			&__icon
				margin-right: 10px
				flex: auto 0 0
		&__box
			display: flex
			align-items: center
			margin-bottom: 20px
			.facades__text
				margin: 0
		&__icon
			margin-right: 30px
			flex: auto 0 0
			width: 60px
			display: flex
			align-items: center
			justify-content: center
		.product-list
			margin-bottom: 40px
		&__text
			margin-bottom: 30px
			font-size: 18px
			&._bold
				font-weight: 500
//


// Composites page
.p-composites
	.composites
		padding-bottom: 120px
		.review
			display: flex
			align-items: center
			margin: 40px 0
			&__image
				width: 185px
				height: 185px
				background-size: cover
				background-position: center
				border-radius: 100%
				margin-right: 50px
				flex: auto 0 0
			&__text
				margin: 0
				font-style: italic
				font-size: 18px
				span
					display: block
					font-weight: 700
					font-style: normal
					margin-top: 5px
		&__image
			height: 600px
			background-size: cover
			background-position: center
			margin-bottom: 30px
		&__text
			margin-bottom: 30px
			font-size: 18px
		&__images
			display: flex
			justify-content: space-between
			flex-flow: row wrap
			position: relative
			padding: 20px 0
			margin-bottom: 35px
			&::before, &::after
				content: ''
				width: 100%
				height: 6px
				position: absolute
				left: 0
				
				background-image: url('../img/pattern_dark.png')
			&::before
				top: 0
			&::after
				bottom: 0
			.image
				background-size: cover
				background-position: center
				height: 230px
				width: calc(33.33% - 10px)
		.flex-box
			display: flex
			justify-content: space-between
			align-items: flex-start
			margin-bottom: 50px
			&__wrapper
				width: calc(50% - 20px)
			.top-line
				margin-bottom: 35px
		.clients__slider
			padding: 0 50px
			margin-top: 60px
			.slide
				display: flex!important
				align-items: center
				justify-content: center
				height: 128px
			.slick
				&-arrow
					display: flex
					align-items: center
					justify-content: center
					border: 2px solid $accent
					border-radius: 5px
					width: 44px
					height: 44px
					&::before
						content: ''
						width: 12px
						height: 12px
						background-image: url('../img/icons/play_dark.svg')
						background-size: contain
						background-repeat: no-repeat
						background-position: center
				&-prev
					left: 0
					&::before
						transform: scale(-1, 1)
				&-next
					right: 0

//






.table
	padding-bottom: 10px
	margin-bottom: 20px
	overflow-x: auto
	&__wrapper-scroll
		min-width: 1040px
	&__row
		border-bottom: 1px solid #B9B9B9
		display: flex
		&:first-child
			border-top: 1px solid #B9B9B9
		&._heading
			font-weight: 700
	&__body
		display: flex
		width: calc(100% - 270px)
		&._col-1
			.elem
				width: 100%
		&._col-2
			.elem
				width: 50%
		&._col-3
			.elem
				width: 33.33%
		&._col-4
			.elem
				width: 25%
	.elem
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		font-size: 16px
		border-right: 1px solid #B9B9B9
		padding: 5px
		&:last-child
			border-right: none
		&._caption
			text-align: left
			justify-content: flex-start
			font-weight: 700
			width: 270px
			border-right: 1px solid #B9B9B9




.product-list
	li
		display: flex
		align-items: flex-start
		margin-bottom: 15px
		&::before
			content: ''
			width: 12px
			height: 6px
			border-radius: 5px
			border: 1px solid #000
			display: inline-block
			margin-right: 10px
			flex: auto 0 0
			position: relative
			top: 5px
	&__heading
		margin-bottom: 25px
		font-weight: 500


.product-main
	height: 100vh
	min-height: 600px
	background-image: url('../img/catalog/main__bg.jpg')
	background-size: cover
	background-position: center
	display: flex
	flex-direction: column
	justify-content: space-between


// End Inner pages CSS

























@import media