@import vars
@import fonts
@import '../libs/bootstrap-grid/bootstrap-grid'
@import select

*
	outline: none!important
	box-sizing: border-box

::placeholder
	color: $grey_dark
	font-weight: 400
	font-size: 14px
	font-family: $default-font

input, textarea
	outline: none
	resize: none
	padding: 20px 25px
	font-size: 14px
	line-height: 1.5
	color: $black
	border-radius: 16px
	font-weight: 400
	border: 2px solid $grey_light
	width: auto
	&[type="radio"], &[type="checkbox"], &.js-range-slider
		padding: 0
		border: none
	&:focus
		border-color: $grey



textarea
	height: 80px

section, footer
	position: relative

section
	padding: 90px 0
	&.custom-padding
		&_top
			padding-top: 40px
		&_bottom
			padding-bottom: 200px

img
	max-width: 100%
	max-height: 100%

ul
	margin: 0
	padding: 0
	list-style-type: none

button
	border: none
	background-color: transparent
	padding: 0

a
	text-decoration: none
	color: inherit
	&:hover, &:focus
		text-decoration: none	

p, address
	margin: 0
	font-style: normal

h1, h2, h3, h4, h5, h6
	margin: 0
	font-size: inherit
	font-family: $second-font
	font-weight: 800

.ishome h1
	font-size: 96px




body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	font-weight: 700
	overflow-x: hidden
	color: $black
	background-color: #fff
	margin: 0
	padding: 0
	&.scroll_disable
		overflow-y: hidden


// Slick
.slick
	&-dots li
		width: 18px
		height: 18px
		border: 6px solid $blue_dark
		transition: .5s ease
		border-radius: 100%
		transform: scale(0.6)
		&.slick-active
			border-color: $accent
			transform: scale(1)
	&-arrow
		width: 60px
		height: 60px
		border: 2px solid $grey_light
		border-radius: 100%
		display: flex
		align-items: center
		justify-content: center
		transition: .2s 
		&::before
			font-family: fontawesome
			color: $grey
			font-size: 15px
			transition: .2s
		&:hover
			border-color: $accent
			&::before
				color: $blue_dark
	&-prev
		left: auto
		right: 100%
		margin-right: 40px
		&::before
			content: '\f060'
	&-next
		right: auto
		left: 100%
		margin-left: 40px
		&::before
			content: '\f061'



// Кнопки
.button
	display: inline-block
	text-align: center
	position: relative
	text-decoration: none
	outline: none
	overflow: hidden
	cursor: pointer
	padding: 18px 25px
	font-size: 14px
	font-weight: 700
	border-radius: 16px
	border: none
	background-color: $accent
	color: #fff
	transition: .2s ease-in-out
	overflow: hidden
	&:focus, &:hover
		text-decoration: none
	&::before
		content: ''
		position: absolute
		z-index: 1
		border-radius: 100%
		width: 0
		height: 0
		bottom: 0
		left: 50%
		transform: translate(-50%, 50%)
		transition: .3s
		background-color: $blue_dark
	span
		position: relative
		z-index: 2
	&:hover::before
		width: 125%
		height: 200px
	&:active::before
		background-color: lighten($blue_dark, 10%)
		transition: none


.show-more
	color: $blue_dark
	width: 240px
	height: 65px
	border: 2px solid #DEDEDE
	background-color: transparent
	display: flex
	align-items: center
	justify-content: center
	margin: 0 auto
	&._full-width
		width: 100%
	&::before
		display: none
	span
		display: flex
		align-items: center
		&::before
			content: '\f067'
			font-family: fontawesome
			font-size: 10px
			color: $blue_dark
			margin-right: 12px
	&:hover
		border-color: $accent


// Попапы
.popup
	max-width: 100%
	padding: 50px
	text-align: center
	background-color: #fff
	&__title
		font-family: $second-font
		font-weight: 800
		font-size: 24px
		margin-bottom: 15px
		line-height: 1.2
	&__text
		font-size: 14px
		margin-bottom: 40px
		font-weight: 400
	&__input
		width: 100%
		margin-bottom: 15px
	&__textarea
		width: 100%
	&__checkbox
		font-weight: 400
		width: 100%
		padding-left: 40px
		position: relative
		display: flex
		text-align: left
		margin-bottom: 10px
		font-size: 12px
		cursor: pointer
		p
			color: $grey_dark
			span
				color: $blue_dark
				text-decoration: underline
		input
			position: absolute
			left: 0
			top: 0
			visibility: hidden
			width: 24px
			height: 24px
			margin: 0
			cursor: pointer
			&::before, &::after
				visibility: visible
			&::before
				content: ''
				border: 2px solid #EEEEEE
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0
				border-radius: 6px
				transition: .2s ease
			&::after
				content: '\f00c'
				font-family: fontawesome
				font-size: 12px
				color: #fff
				opacity: 0
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				transition: .2s ease
			&:checked
				background-color: $accent
				border-color: $accent
				&::after
					opacity: 1
	&__button
		width: 100%
		height: 55px
		margin-top: 25px
		font-size: 14px
	&__password
		width: 100%
		position: relative
		margin-bottom: 20px
		&-input
			width: 100%
		.toggle-password
			position: absolute
			right: 20px
			top: 50%
			transform: translate(0, -50%)
			font-family: "Font Awesome 5 Free"
			font-weight: 100
			transition: .2s
			color: $grey
			z-index: 2
			display: flex
			align-items: center
			justify-content: center
			&::before
				content: '\f06e'
			&._show::before
				content: '\f070'


.popup
	width: 450px
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	.mfp-close
		color: #fff
		transform: translate(100%, -100%)
		width: 24px
		height: 24px
		line-height: 1
		display: flex
		align-items: center
		justify-content: center
		opacity: 1
		transition: .2s 
		&:hover
			color: $accent
		&:active
			transition: none




// Хлебные крошки
.breadcrumbs
	padding: 20px 0
	&__container
		display: flex
		align-items: center
	&__item
		display: flex
		align-items: center
		font-size: 12px
		font-weight: 400
		margin-right: 15px
		&::before
			content: ''
			width: 14px
			height: 14px
			display: flex
			align-items: center
			justify-content: center
			font-family: fontawesome
			margin-right: 5px
			font-size: 8px
		&:last-child
			margin-right: 0
	&__back
		color: $blue_dark
		&::before
			content: '\f053'
			color: $blue_dark
	&__main
		color: $grey
		&::before
			background-image: url('../img/icons/home.svg')
			background-size: contain
			background-repeat: no-repeat
			background-position: center
	&__current
		color: $accent
		cursor: default
		&::before
			content: '\f054'
			color: $accent


// Шапка
.header
	z-index: 10
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		max-width: 1820px
		position: relative
	&__ticker
		color: #fff
		background-color: #1E1258
		font-size: 12px
		height: 32px
		display: flex
		align-items: center
		span
			margin-right: 40px
	&__wrapper
		&_top
			background-color: $blue_dark
			color: #fff
			padding: 35px 0
		&_bottom
			padding: 25px 0
			background-color: #fff
	&__inner
		display: flex
		align-items: center
	&__logo
		margin-right: 70px
	.lang
		position: relative
		display: none
		&__heading
			color: #fff
			text-transform: uppercase
			display: flex
			align-items: center
			cursor: pointer
			&::after
				content: '\f078'
				font-family: "Font Awesome 5 Free"
				font-size: 10px
				margin-left: 8px
				transition: .3s ease
			&.active::after
				transform: rotate(180deg)
		&__dropdown
			display: none
			position: absolute
			left: 0
			top: calc(100% + 47px)
			background-color: #fff
			color: $black
			box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.12)
			padding: 50px 
			width: 400px
			z-index: 3
		&__wrapper
			margin-bottom: 30px
			display: flex
			flex-direction: column
			&:last-child
				margin-bottom: 0
		&__title
			font-family: $default-font
			font-weight: 400
			color: $grey_dark
			font-size: 12px
			margin-bottom: 10px
		&__item
			margin-bottom: 7px
			display: flex
			align-items: center
			font-weight: 400
			font-size: 14px
			cursor: pointer
		&__radio
			margin:
				right: 8px
				bottom: 0
				top: 0
				left: 0
			appearance: none
			width: 24px
			height: 24px
			position: relative
			cursor: pointer
			&::before, &::after
				content: ''
				border-radius: 100%
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				display: block
				transition: .2s 
			&::before
				width: 100%
				height: 100%
				border: 2px solid $grey_light
			&::after
				width: 12px
				height: 12px
				background-color: $accent
				opacity: 0
			&:hover::before
				border-color: $grey
			&:checked
				&::before
					border-color: $accent
				&::after
					opacity: 1
		&__button
			font-size: 14px
	&__menu
		display: flex
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		a
			margin-right: 30px
			white-space: nowrap
			&:last-child
				margin: 0
	&__button
		margin-right: 30px
		cursor: pointer
		display: flex
	&__cart
		position: relative
		span
			display: flex
			align-items: center
			justify-content: center
			width: 20px
			height: 20px
			font-size: 11px
			color: #fff
			background-color: $accent
			position: absolute
			right: 0
			top: 0
			transform: translate(100%, -100%)
			border-radius: 100%
	.social-links__item
		margin-right: 30px
		&:last-child
			margin-right: 0
	&__popup-buttons
		margin-right: 40px
		a
			font-size: 14px
			font-weight: 400
			margin-right: 20px
			display: inline-block
			border-bottom: 1px solid $accent
			color: $accent
			line-height: 1.2
			transition: .2s
			&:hover
				color: $blue_dark
				border-color: $blue_dark
	.tel
		position: relative
		a
			transition: .2s
			&:hover
				color: $accent
		.dropdown
			&__heading
				display: flex
				align-items: center
				cursor: pointer
				a
					margin: 0 10px
				i
					font-size: 12px
					transition: .3s ease
				&.active 
					i
						transform: rotate(180deg)
			&__body
				display: none
				position: absolute
				top: 100%
				left: 0
				z-index: 3
				margin-top: 20px
				width: auto
				white-space: nowrap
				padding: 25px
				background-color: #fff
				box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.12)
				a
					display: block
					margin-bottom: 10px
					&:last-child
						margin-bottom: 0
	// Шапка моб версия
	&._mobile
		display: none
		background-color: $blue_dark
		padding: 20px 0
		position: relative
		.dropdown
			display: none
			position: absolute
			top: 100%
			left: 0
			width: 100%
			background-color: #fff
			box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.12)
			overflow-y: auto
			max-height: calc(100vh - 60px)
			&__wrapper
				padding: 25px 15px
				&._bd
					border-top: 1px solid $grey_light
			&__menu
				margin-bottom: 25px
				display: flex
				flex-direction: column
				align-items: flex-start
				&:last-child
					margin-bottom: 0
				a
					font-size: 20px
					color: $black
					margin-bottom: 12px
					&:last-child
						margin-bottom: 0
				&._small a
					margin-bottom: 8px
					font-size: 12px
					&:last-child
						margin-bottom: 0
			&__flex-box
				display: flex
				margin-bottom: 20px
				position: relative
			.tel 
				margin-right: 45px
				.dropdown
					&__heading a
						margin-left: 0
					&__body
						bottom: 100%
						top: auto
						padding: 15px
						margin: 0 0 10px
			.lang
				position: static
				&__heading
					color: $black
				&__dropdown
					top: auto
					left: -15px
					bottom: 100%
					margin-bottom: 10px
					max-width: calc(100% + 30px)
					padding: 20px 15px
	&__hamburger
		width: 22px
		height: 14px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		.line
			background-color: #fff
			border-radius: 20px
			width: 100%
			height: 2px
			&._short
				width: 15px




// Главный экран
.main
	background-color: #EEEEF0
	background-image: url('../img/main/main-screen__bg.png')
	background-repeat: no-repeat
	background-position: right center
	height: 600px
	display: flex
	align-items: center
	padding: 0
	&__container
		height: 100%
	&__title
		margin-bottom: 20px
		line-height: 1.1
	&__subtitle
		max-width: 460px
		font-size: 24px
		font-weight: 700
		margin-bottom: 70px
		span
			color: $accent
	&__button
		padding: 20px 30px
		font-size: 16px
	&__slider
		height: 100%
		display: flex
		align-items: center
	.slick
		&-dotted.slick-slider
			margin-bottom: 0
		&-dots
			display: flex
			align-items: center
			justify-content: flex-start 
			bottom: 50px



// Одежда для детей
.clothes-for
	padding-top: 180px
	&__box
		background-color: $blue_dark
		color: #fff
		padding: 80px 65px 100px
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		&::before
			content: ''
			width: 100%
			height: 40%
			position: absolute
			top: 0
			left: 0
			z-index: 1
			transition: .3s
			background-color: $accent
		&._offset
			bottom: 80px
		&:hover 
			.clothes-for__arrow::before
				width: 0
				height: 0
		& > *
			position: relative
			z-index: 2
	&__title
		font-size: 40px
		line-height: 1.2
	&__image
		margin-bottom: 40px
		width: 80%
	&__flex-box
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
	&__pattern
		background-image: url('../img/main/pattern.svg')
		background-size: cover
		background-position: left top
		height: 80px
		width: 100%
		position: absolute
		bottom: 0
		left: 0
	&__arrow
		background-color: $accent
		width: 85px
		height: 85px
		border-radius: 100%
		display: flex
		align-items: center
		justify-content: center
		position: relative
		flex: 0 0 auto
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-color: $blue_dark
			width: calc(100% - 6px)
			height: calc(100% - 6px)
			border-radius: 100%
			transition: .3s
		&::after
			content: '\f062'
			font-family: fontawesome
			font-size: 16px
			color: #fff
			transform: rotate(45deg)
	

// Слайдер продукции
.product
	&__slide, &__box
		height: 620px
	&__wrapper
		font-size: 40px
		font-weight: 800
		font-family: $second-font
		color: #fff
		background-color: $blue_dark
		padding: 60px 60px 30px
		position: relative
	&__years
		position: absolute
		left: 0
		top: 0
		transform: translate(0, -50%)
		padding: 15px 60px
		background-color: $accent
		line-height: 1.2
	&__image
		width: 100%
		height: 100%
		display: flex
		align-items: flex-end
		justify-content: flex-start
		background-size: cover
		background-position: center



// Галерея
.gallery
	&__title
		font-family: $second-font
		font-weight: 800
		font-size: 64px
		margin: 45px 0 20px
	&__subtitle
		font-size: 20px
		margin-bottom: 35px
		max-width: 475px
		span
			color: $accent
	&__images
		margin-top: 130px
		display: flex
		justify-content: space-between
		height: 415px
	&__image
		background-size: cover
		background-position: center
		height: 100%
		&._small
			width: calc(50% - 10px)
		&._large
			height: 760px


// Категории
.categories
	.slick
		&-slide	
			margin: 15px
		&-dotted.slick-slider
			margin-bottom: 70px
		&-dots
			bottom: -70px
	&__title
		text-align: center
		font-size: 64px
		font-family: $second-font
		font-weight: 800
		line-height: 1.2
		margin-bottom: 50px
	&__age
		display: flex
		margin-bottom: 100px
		li
			margin-right: 60px
			font-size: 14px
			font-family: $second-font
			font-weight: 800
			color: $grey_dark
			transition: .3s ease
			position: relative
			cursor: pointer
			padding-bottom: 5px
			&::before
				content: ''
				display: block
				width: 0
				height: 3px
				background-color: $accent
				position: absolute
				top: 100%
				opacity: 0
				transition: .3s ease
			&:last-child
				margin-right: 0
			&.active
				color: $black
				&::before
					width: 100%
					opacity: 1
	.tabs
		&__flex-center
			display: flex
			justify-content: center
		&__caption
			margin-bottom: 35px
			background-color: #F0F0F0
			border-radius: 32px
			display: flex
			padding: 7px 10px
			li
				background-color: transparent
				border-radius: 24px
				padding: 20px 30px
				margin-right: 10px
				display: flex
				align-items: center
				font-family: $second-font
				font-weight: 800
				font-size: 20px
				transition: .2s ease
				cursor: pointer
				img
					margin-right: 15px
				&:last-child
					margin-right: 0
				&._blue
					color: #00A6B6
				&._red
					color: #F64056
				&.active
					background-color: #fff
		&__content
			display: none
			&.active
				display: block
	&__box
		background-color: $black
		color: #fff
		transition: .2s ease
		position: relative
		&:hover
			transform: translate(0, -15px)
	&__image
		height: 320px
		width: 100%
		background-size: cover
		background-position: center
	&__wrapper
		display: flex
		align-items: flex-end
		justify-content: flex-start
		padding: 25px
		height: 100px
		position: relative
	&__name
		background-color: $accent
		font-size: 24px
		font-family: $second-font
		font-weight: 800
		position: absolute
		left: 0
		top: 0
		transform: translate(0, -50%)
		padding: 15px 25px
		width: calc(100% - 25px)
	&__amount
		font-size: 14px


// Подвал
.footer
	background-color: $blue_dark
	color: #fff
	padding: 160px 0 260px
	position: relative
	&::before
		content: ''
		height: 150px
		width: 100%
		position: absolute
		bottom: 0
		left: 0
		background-image: url('../img/main/pattern.svg')
		background-position: center top
		background-size: cover
	&__flex-box
		display: flex
		justify-content: space-between
		align-items: flex-start
		& > *
			flex: 0 0 auto
	&__logo
		margin-bottom: 45px
		display: flex
	&__data
		font-weight: 400
		font-size: 12px
		line-height: 1.2
	&__menu
		display: flex
		flex-direction: column
		a
			margin-bottom: 30px
			font-size: 32px
			font-family: $second-font
			font-weight: 800
			line-height: 1.2
			&:last-child
				margin-bottom: 0
		&._small a
			font-size: 14px
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
	&__tel
		font-family: $second-font
		font-weight: 800
		font-size: 24px
		display: flex
		align-items: center
		margin-bottom: 25px
		padding-bottom: 25px
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 0
			width: 100%
			height: 1px	
			background-color: #fff
			opacity: 0.1
			display: block
		img
			width: 55px
			height: auto
			margin-right: 12px
	&__address, &__working-hours
		font-size: 14px	
		line-height: 1.2
	&__address 
		margin-bottom: 15px
	&__working-hours
		margin-bottom: 30px
	&__social-links
		display: flex
		a
			display: flex
			align-items: center
			justify-content: center
			width: 55px
			height: 55px
			border-radius: 100%
			margin-right: 15px
			background-color: #fff
			&:last-child
				margin-right: 0
	&__bottom-line
		margin-top: 100px
		padding-top: 60px
		border-top: 1px solid rgba(255, 255, 255, 0.1)
		color: rgba(255, 255, 255, 0.5)
		font-size: 12px
		font-weight: 400
		display: flex
		align-items: center
		justify-content: space-between
	.web-dev
		display: flex
		align-items: center
		transition: .2s ease
		svg 
			margin-left: 10px
			opacity: 0.5
			transition: .2s ease
		&:hover
			color: #fff
			svg
				opacity: 1


// Оджеда
.clothes
	&__container
		display: flex
		flex-flow: row wrap
	&__item
		padding: 30px
		background-color: #fff
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		transition: .2s ease
		position: relative
		&.not-available
			.clothes
				&__heading
					color: $grey
					margin-bottom: 35px
				&__price .current
					color: $grey
				&__bag
					display: none
			&:hover
				.clothes
					&__colors, &__favorites
						display: none
		&:hover
			box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06)
			.clothes
				&__bag
					background-color: $accent
					svg path 
						fill: #fff
				&__click
					margin-top: 40px
					height: auto
					opacity: 1
				&__favorites
					display: block
				&__colors
					display: block
	&__image
		margin-bottom: 40px
		max-width: 100%
		width: 240px
		height: 240px
		background-repeat: no-repeat
		background-size: contain
		display: inline-block
	&__heading
		font-size: 14px
		margin-bottom: 15px
		line-height: 1.2
	&__flex-box
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
	&__price
		text-align: left
		line-height: 1.3
		.current
			font-size: 20px
			font-family: $second-font
			font-weight: 800
			color: $accent
		.old
			color: #b0b0b0
			font-size: 12px
			margin-top: 5px
			font-weight: 400
			text-decoration: line-through
			display: none
	&__bag
		width: 65px
		height: 65px
		background-color: #FFF1ED
		border-radius: 100%
		display: flex
		align-items: center
		justify-content: center
		transition: .2s ease
		cursor: pointer
		svg path
			transition: .2s ease
	&__click
		text-align: center
		color: $grey_dark
		overflow: hidden
		font-size: 12px
		font-weight: 400
		cursor: pointer
		height: 0
		position: relative
		transition: .2s ease
		padding-bottom: 1px
		opacity: 0
		&::before
			content: ''
			width: 100%
			height: 1px
			background-color: $grey_dark	
			position: absolute
			top: calc(100% - 1px)
			left: 50%
			transform: translate(-50%, 0)
			transition: .2s ease
		&:hover::before
			width: 0
	&__favorites
		position: absolute
		top: 30px
		right: 30px
		cursor: pointer
		display: none
		transition: .2s ease
	&__colors
		position: absolute
		left: 30px
		top: 30px
		display: none
		transition: .2s ease
		.color
			margin-bottom: 12px
			border-radius: 100%
			width: 20px
			height: 20px
			cursor: pointer
			&:last-child
				margin-bottom: 0
	&__plate
		position: absolute
		left: 20px
		left: 20px
		padding: 4px 8px
		border-radius: 7px
		color: #fff
		font-family: $second-font
		font-weight: 800
		font-size: 10px
		text-transform: uppercase
		cursor: default
		&.new
			background-color: #00A6B6
		&.hit
			background-color: #FFC300
		&.sale
			background-color: #F64056
	&__not-available
		font-size: 12px
		color: $grey
		font-weight: 400
		position: absolute
		top: 20px
		left: 20px


// Внутренние страницы
.isnohome
	h1
		font-weight: 800
		line-height: 1.2
		font-size: 40px
		&._large
			font-size: 64px
		&._huge
			font-size: 96px
	h2
		font-size: 40px
		line-height: 1.2
		&._large
			font-size: 64px
	h3
		font-size: 24px
		margin-bottom: 35px
	.header
		box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.06)


// Страница одежда для мальчиков/девочек
.p-clothes	
	.heading
		padding: 60px 0
		&__title
			margin-bottom: 40px
			text-align: center
		&__caption 
			display: flex
			justify-content: center
			li
				margin-right: 12px
				padding: 20px 30px
				background-color: rgba(255, 70, 30, 0.08)
				border-radius: 16px
				font-size: 14px
				color: $accent
				&:last-child
					margin-right: 0
	.categories
		padding: 60px 0
		&__title
			text-align: center
			margin-bottom: 50px
		&__container
			display: flex
			flex-flow: row wrap
			position: relative
			left: -15px
			width: calc(100% + 30px)
			margin-bottom: 30px
		&__box
			width: calc(25% - 30px)
			margin: 0 15px 30px
			&:nth-child(4n)
				margin-right: 0
	.clothes
		padding: 120px 0
		background-color: $bg
		&__title
			text-align: center
			margin-bottom: 80px
		&__container
			position: relative
			left: -15px
			width: calc(100% + 30px)
			align-items: flex-start
		&__item
			width: calc(25% - 30px)
			margin: 0 15px 30px
		.show-more
			margin-top: 60px



// Страница вопрос-ответ
.p-faq
	background-color: $bg
	.faq
		&__title
			margin-bottom: 50px
		&__text
			margin-bottom: 20px
			font-weight: 400
			&._bold
				font-weight: 700
		&__form
			padding: 40px 50px 60px
			text-align: center


// Форма обратной связи
.form
	width: 100%
	background-color: #fff
	&__title
		font-family: $second-font
		font-weight: 800
		font-size: 24px
		margin-bottom: 35px
		line-height: 1.2
	&__text
		font-size: 14px
		margin-bottom: 40px
		font-weight: 400
	&__input
		width: 100%
		margin-bottom: 15px
	&__textarea
		width: 100%
		height: 120px
	&__input, &__textarea
		margin-bottom: 25px
	&__checkbox
		font-weight: 400
		width: 100%
		padding-left: 40px
		position: relative
		display: flex
		text-align: left
		font-size: 12px
		cursor: pointer
		p
			color: $grey_dark
			span
				color: $blue_dark
				text-decoration: underline
		input
			position: absolute
			left: 0
			top: 0
			visibility: hidden
			width: 24px
			height: 24px
			margin: 0
			cursor: pointer
			&::before, &::after
				visibility: visible
			&::before
				content: ''
				border: 2px solid #EEEEEE
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0
				border-radius: 6px
				transition: .2s ease
			&::after
				content: '\f00c'
				font-family: fontawesome
				font-size: 12px
				color: #fff
				opacity: 0
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				transition: .2s ease
			&:checked
				&::before
					background-color: $accent
					border-color: $accent
				&::after
					opacity: 1
	&__button
		width: auto
		margin: 0 auto 
		margin-top: 30px
		font-size: 14px
	&__password
		width: 100%
		position: relative
		.toggle-password
			position: absolute
			right: 20px
			top: 50%
			transform: translate(0, -50%)
			font-family: "Font Awesome 5 Free"
			font-weight: 100
			transition: .2s
			color: $grey
			z-index: 2
			display: flex
			align-items: center
			justify-content: center
			&::before
				content: '\f06e'
			&._show::before
				content: '\f070'
	&__note
		font-size: 14px
		color: $grey
		font-weight: 400
		margin-top: 5px
		text-align: left
	&__reset
		margin: 20px auto 0
		font-size: 14px
		color: $black
		border-bottom: 1px solid $black
		transition: .2s
		display: flex
		&:hover
			color: $accent
			border-color: $accent
		&._text-left
			margin-left: 0

// Страница контакты
.p-contacts
	.contacts
		&__container_bottom
			margin-top: 120px
		&__title
			margin-bottom: 60px
		.data
			display: flex
			align-items: flex-start
			margin-bottom: 60px
			&__box
				display: flex
				align-items: center
				margin-right: 60px
				&:last-child
					margin: 0
			&__icon
				flex: 0 0 auto
			&__inner
				margin-left: 20px
				line-height: 1.2
			&__caption
				font-family: $default-font
				font-size: 14px
				font-weight: 400
				color: $grey
				margin-bottom: 5px
			&__text
				color: $blue_dark
				font-size: 20px
				font-weight: 800
				font-family: $second-font
				white-space: normal
		&__map
			width: 100%
			height: 530px
		.table
			&__row
				display: flex
				align-items: center
				padding: 15px 30px
				font-weight: 400
				font-size: 14px
				color: $blue_dark
				border-radius: 16px
				&._bg
					background-color: $bg
			&__elem._heading
				margin-right: 25px
				min-width: 250px



// Блог
.blog
	&__title
		text-align: center
		margin-bottom: 60px
	.article
		background-color: #F2F4F7
		margin-bottom: 20px
		&__preview
			height: 280px
			width: 100%
			background-size: cover
			background-position: center
		&__inner
			padding: 40px 30px
			position: relative
		&__date
			padding: 10px 30px
			position: absolute
			left: 0
			top: 0
			transform: translate(0, -50%)
			color: #fff
			font-family: $second-font
			background-color: $accent
		&__title
			margin-bottom: 10px
		&__text
			color: $grey_dark
			margin-bottom: 30px
			font-size: 14px
			font-weight: 400
		&__link
			font-size: 14px
			border-bottom: 1px solid $accent
			padding-bottom: 5px



// Пагинация
.pagination
	display: flex
	align-items: center
	justify-content: center
	margin-top: 60px
	&__back, &__next, &__link
		display: flex
		align-items: center
		justify-content: center
		width: 45px
		height: 45px
		border-radius: 100%
		border: 2px solid $grey_light
		font-size: 15px
		font-family: $second-font
		font-weight: 800
		flex: 0 0 auto
	&__back, &__next
		color: $grey
		font-size: 12px
		&:hover
			color: $black
	&__links
		display: flex
		align-items: center
		justify-content: center
		margin: 0 30px
	&__link
		margin-right: 10px
		&.current
			border-color: $accent


// Статья блога
.p-article
	.content
		&__title
			max-width: 950px
			text-align: center
			margin: 0 auto 30px
		&__date
			text-align: center
			color: $accent
			font-family: $second-font
			font-weight: 800
			margin-bottom: 30px
		&__image
			height: 600px
			width: 100%
			background-size: cover
			background-position: center
			margin-bottom: 80px
		&__wrapper
			margin-bottom: 50px
			font-weight: 400
			color: $blue_dark
			&:last-child
				margin-bottom: 0
		&__heading
			font-size: 20px
			font-weight: 700
			font-family: $second-font
			margin-bottom: 15px
		&__text
			font-size: 20px
			margin-bottom: 10px
		&__list
			margin-top: 30px
			padding-left: 30px
			&-item
				font-size: 16px
				margin-bottom: 15px
				&::before
					content: '\f111'
					font-family: 'Font Awesome 5 Free'
					font-size: 8px
					color: $accent
					font-weight: 900
					margin-right: 10px
					position: relative
					bottom: 2px
				&:last-child
					margin-bottom: 0
		&__caption
			margin-bottom: 15px
		.social-links
			display: flex
			align-items: center
			&__item
				width: 65px
				height: 65px
				border-radius: 100%
				margin-right: 15px
				border: 2px solid $grey_light
				display: flex
				align-items: center
				justify-content: center
				transition: .3s
				&:last-child
					margin-right: 0
				&:hover
					background-color: $grey_light
	.blog
		&__title
			margin-bottom: 40px
			text-align: left



// О компании
.p-about
	.about
		&-main
			padding: 240px 0 140px
			background-image: url('../img/about/main__bg.jpg')
			background-size: cover
			background-position: center
			&__logo
				margin-bottom: 60px
				width: 420px
			&__title
				color: #fff
		&-description
			padding: 200px 0
			&__container
				max-width: 900px
				margin: 0 auto
				text-align: center
			&__title
				margin-bottom: 30px
			&__text
				font-size: 24px
			&__video
				width: 100%
				height: 550px
				margin-top: 50px
				border-radius: 20px
		&-insta
			&__title
				margin-bottom: 25px
				span
					text-transform: uppercase
					color: $accent
			&__text
				font-weight: 400
				margin-bottom: 30px
			&__images
				display: flex
				flex-flow: row wrap
				justify-content: space-between
				&-item
					width: calc(33.3% - 10px)
					height: 230px
					margin-bottom: 20px
					background-size: cover
					background-position: center
		&-advantages
			&__title
				text-align: center
				margin-bottom: 90px
			&__box
				display: flex
				flex-direction: column
				align-items: center
				text-align: center
				max-width: 350px
				margin: 0 auto
			&__icon
				width: 80px
				height: auto
				margin-bottom: 35px
			&__heading
				margin-bottom: 15px
				line-height: 1.2
			&__text
				font-weight: 400
				color: $grey_dark


// Колекции
.p-collection
	.collection__container
		margin-bottom: 60px



// Скидки
.p-discount
	background-color: $bg
	.discount
		&__title
			margin-bottom: 25px
		&__text
			max-width: 705px
			font-weight: 400
			color: $blue_dark
		&__container
			margin-top: 100px
		&__box
			background-color: #fff
			border-radius: 12px
			padding: 40px 30px
			margin-bottom: 20px
		&__number
			margin-bottom: 40px



// Личный кабинет
.p-cabinet
	background-color: $bg
	.cabinet
		padding: 80px 0 120px
		.tabs
			&__caption
				margin-bottom: 25px
				&-item
					padding: 18px 25px
					font-weight: 400
					display: flex
					align-items: center
					margin-bottom: 10px
					border-radius: 16px
					&:last-child
						margin-bottom: 0
					&.active
						font-weight: 700
						background-color: #fff
				&-icon
					margin-right: 15px
					flex: 0 0 auto
			&__content
				display: none
				padding: 50px
				background-color: #fff
				&.active
					display: block
			&__title
				margin-bottom: 50px
				display: flex
				align-items: center
				img
					margin-left: 15px
		&__exit
			margin-left: 25px
		.form
			&__container
				display: flex
				flex-flow: row wrap
				justify-content: space-between
			&__col
				width: calc(50% - 40px)
				margin-bottom: 50px
			&__heading
				font-size: 14px
				margin-bottom: 30px
			&__item
				margin-bottom: 25px
				&:last-child
					margin-bottom: 0
				&-caption
					font-size: 12px
					color: $grey_dark
					margin-bottom: 5px
					font-weight: 400
					font-family: $default-font
				&-wrapper
					display: flex
					align-items: center
				&-icon
					margin-left: 15px
					flex: 0 0 auto
				&-input
					width: 100%
			&__password
				width: 100%
				position: relative
				.toggle-password
					position: absolute
					right: 20px
					top: 50%
					transform: translate(0, -50%)
					font-family: "Font Awesome 5 Free"
					font-weight: 100
					transition: .2s
					color: $grey
					z-index: 2
					display: flex
					align-items: center
					justify-content: center
					&::before
						content: '\f06e'
					&._show::before
						content: '\f070'
			&__button
				&-success
					margin-right: 40px
				&-secondary
					color: $black
					font-size: 14px
					border-bottom: 1px solid $black
		.favorites
			&__top-line
				display: flex
				align-items: center
				justify-content: space-between
				padding-bottom: 45px
			&__amount
				display: flex
				align-items: center
				&-number
					margin-right: 12px
					display: flex
					align-items: center
					justify-content: center
					border-radius: 50%
					background-color: $accent
					width: 24px
					height: 24px
					color: #fff
					font-size: 14px
			&__delete
				display: flex
				align-items: center
				color: $grey
				font-size: 14px
				cursor: pointer
				&-icon
					margin-left: 10px
			&__container
				display: flex
				flex-flow: row wrap
				justify-content: space-between
			&__item
				padding: 30px 0
				border: 
					top: 1px solid $grey_light
					bottom: 1px solid $grey_light
				width: calc(50% - 35px)
				display: flex
				align-items: flex-start
				justify-content: space-between
				&-box
					&_left
						display: flex
						align-items: flex-start
						width: 45%
					&_right
						width: 55%
				&-delete
					margin-right: 7px
					cursor: pointer
				&-preview
					width: 140px
					height: 140px
					background-size: contain
					background-repeat: no-repeat
					background-position: center
				&-title
					font-size: 14px
					margin-bottom: 15px
				&-price
					font-family: $second-font
					color: $accent
					font-weight: 800
					margin-bottom: 20px
				&-wrapper
					display: flex
					align-items: center
					justify-content: space-between
				&-selects
					display: flex
					align-items: flex-start
				&-select
					margin-right: 25px
					&:last-child
						margin-right: 0




// Вход
.sign-in
	background-color: $bg
	padding: 80px 0 160px
	&__container
		display: flex
		background-color: #fff
		height: 580px
		& > *
			width: 50%
	&__wrapper
		padding: 50px 80px
	.form
		max-width: 340px
		&__title
			margin-bottom: 45px
		&__item
			margin-bottom: 25px
			&-caption
				font-size: 12px
				color: $grey_dark
				margin-bottom: 5px
				font-weight: 400
				font-family: $default-font
			&-input
				width: 100%
		&__forgot
			font-weight: 400
			font-size: 12px
			margin-top: 10px
			border-bottom: 1px solid $black
			&-wrapper
				text-align: right
		&__button
			margin-top: 0
	.sign-up
		background-color: $blue_dark
		color: #fff
		text-align: center
		padding: 130px 50px
		position: relative
		&::before
			content: ''
			width: 100%
			height: 150px
			background-image: url('../img/main/pattern.svg')
			background-size: cover
			background-position: center top
			position: absolute
			bottom: 0
			left: 0
		&__title
			margin-bottom: 20px
		&__text
			font-weight: 400
			margin-bottom: 35px
		&__button
			background-color: $blue_dark
			border: 1px solid $accent
			&::before
				background-color: $accent



// Оформить заказ
.p-checkout
	background-color: $bg

.checkout
	padding: 90px 0 250px
	&__container
		padding: 50px
		background-color: #fff
	&__wrapper._indent
		margin-bottom: 75px
	&__title
		margin-bottom: 40px
		font-size: 24px
		font-family: $second-font
	&__heading
		font-size: 16px
		margin-bottom: 25px
	&__address
		font-size: 14px
		display: flex
		&::before
			content: ''
			width: 18px
			height: 18px
			background-image: url('../img/icons/location.svg')
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			margin-right: 12px
			flex: 0 0 auto
	&__input-address
		width: 100%
	&__pay
		margin-bottom: 50px
		padding-top: 30px
		border-top: 1px solid $grey_light
		&-row
			margin-bottom: 12px
			display: flex
			align-items: center
			justify-content: space-between
			font-size: 12px
			font-weight: 400
			& > *
				flex: 0 0 auto
			&.total
				.checkout__pay
					&-caption
						font-weight: 700
						font-size: 16px
					&-number
						font-size: 20px
						font-family: $second-font
						font-weight: 800
						color: $accent
		&-caption
	&__button
		width: 100%
		font-size: 16px
	.select2-container
		margin-bottom: 15px
	.tabs
		&__caption
			margin-bottom: 30px
			display: flex
			flex-flow: row wrap
			align-items: center
			li
				display: flex
				align-items: center
				font-size: 14px
				font-weight: 400
				margin-right: 30px
				cursor: pointer
				margin-bottom: 10px
				&:last-child
					margin-right: 0
				input
					appearance: none
					width: 24px
					height: 24px
					position: relative
					cursor: pointer
					margin: 0 12px 0 0
					&::before, &::after
						content: ''
						border-radius: 100%
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%, -50%)
						display: block
						transition: .2s 
					&::before
						width: 100%
						height: 100%
						border: 2px solid $grey_light
					&::after
						width: 12px
						height: 12px
						background-color: $accent
						opacity: 0
				&.active
					input
						&::before
							border-color: $accent
						&::after
							opacity: 1
		&__content
			display: none
			&.active
				display: block
	&__checkbox
		margin-bottom: 30px
		input
			top: 50%
			transform: translate(0, -50%)
		p
			color: $black
			font-size: 14px
			lh1.tabs


// Корзина
.basket
	&__title
		font-size: 16px
		margin-bottom: 30px
	&__data
		display: flex
		align-items: center
		justify-content: space-between
		border-bottom: 1px solid $grey_light
		padding-bottom: $grey_light
		padding-bottom: 20px
		margin-bottom: 35px
		font-weight: 400
		&-amount
			display: flex
			align-items: center
			span
				width: 20px
				height: 20px
				flex: 0 0 auto
				display: flex
				align-items: center
				justify-content: center
				text-align: center
				border-radius: 50%
				background-color: $accent
				font-size: 12px
				margin-right: 5px
				font-family: $second-font
				font-weight: 800
				color: #fff
		&-price
			color: $grey
			span
				font-family: $second-font
				font-weight: 800
				color: $accent
	&__delete-all
		display: flex
		align-items: center
		font-size: 12px
		color: $grey
		cursor: pointer
		img
			flex: 0 0 auto
			margin-right: 10px
	&__container
		margin-top: 40px
	&__item
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 30px 0
		border-bottom: 1px solid $grey_light
		&-wrapper
			display: flex
			align-items: flex-start
			font-size: 12px
			padding-right: 20px
		&-delete
			margin-right: 20px
			cursor: pointer
		&-preview
			width: 100px
			height: 100px
			background-size: cover
			background-position: center
			margin-right: 30px
		&-title
			font-size: 14px
			line-height: 1.3
			margin-bottom: 10px
			max-width: 180px
		&-color, &-size
			color: $grey
			font-weight: 400
			span
				color: $grey_dark
		&-price
			color: $accent
			font-family: $second-font
			font-size: 14px
			font-weight: 800
			margin-top: 20px
		&-amount
			border: 2px solid $grey_light
			border-radius: 16px
			width: 45px
			display: flex
			flex-direction: column
			align-items: center
		&-number
			padding: 7px 0
			border-radius: 0
			width: 100%
			text-align: center
			cursor: default
			font-weight: 700
			background-color: transparent
			border: 
				top: 2px solid $grey_light
				bottom: 2px solid $grey_light
				right: none
				left: none
			&:hover
				cursor: default
			&:focus
				border-color: $grey_light
		&-add, &-remove
			height: 30px
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			transition: .2s
		&-remove._disable
			opacity: 0.3


// Каталог
.p-catalog
	background-color: $bg
	.catalog
		&__top-line
			display: flex
			align-items: flex-start
			justify-content: space-between
			margin-bottom: 40px
		&__container
			display: flex
			flex-flow: row wrap
			position: relative
			left: -10px
			width: calc(100% + 20px)
		&__item
			width: calc(33.3% - 20px)
			padding: 25px
			margin: 0 10px 20px
		&__sort
			display: flex
			align-items: center
			&-text
				flex: 0 0 auto
				margin-right: 20px
				font-size: 14px
				color: $grey
				font-weight: 400
			&_mobile
				display: none
				margin-bottom: 10px
			&-heading
				display: flex
				align-items: center
				justify-content: space-between
				width: 100%
				padding: 15px 20px
				background-color: #fff
				font-size: 14px
				transition: .3s
				&::after
					content: '\f078'
					font-family: fontawesome
					font-size: 12px
					transition: .3s
				&.active
					color: $accent
					&::after
						transform: rotate(180deg)
			&-dropdown
				display: none
				background-color: #fff
				border-top: 1px solid $grey_light
				padding: 25px 20px
			&-checkbox
				display: flex
				align-items: center
				font-size: 14px
				padding-left: 0
				margin-bottom: 15px
				font-family: $second-font
				&:last-child
					margin-bottom: 0
				input
					position: relative
					margin-right: 15px
		.show-more
			width: 100%
			margin-top: 50px
	.clothes
		&__colors
			top: 50%
			transform: translate(0, -50%)
	.filter
		&__item
			background-color: #fff
			border-radius: 16px
			overflow: hidden
			margin-bottom: 10px
			.available-amount
				margin-left: 15px
				font-weight: 400
				font-family: $default-font
				color: $grey
			&.not-dropdown
				padding: 30px
				font-size: 14px
			&-heading
				padding: 20px 30px
				display: flex
				align-items: center
				justify-content: space-between
				font-family: $second-font
				cursor: pointer
				&::after
					content: '\f078'
					font-family: fontawesome
					font-size: 12px
					transition: .3s
				&.active::after
					transform: rotate(180deg)
			&-dropdown
				display: none
				padding: 35px 25px
				border-top: 1px solid $grey_light
				&.active
					display: block
			&-checkbox
				display: flex
				align-items: center
				font-size: 14px
				padding-left: 0
				margin-bottom: 20px
				font-family: $second-font
				&:last-child
					margin-bottom: 0
				input
					position: relative
					margin-right: 15px
			.range
				.irs
					&-single, &-from, &-to, &-max, &-min
						display: none
						visibility: hidden
					&-line
						height: 6px
						border-radius: 25px
						background-color: $grey_light
						cursor: pointer
					&-bar
						height: 6px
						background-color: $accent
						cursor: pointer
					&-handle
						border-color: #fff
						background-color: $accent
						width: 16px
						height: 24px
						box-shadow: none
						border-radius: 10px
						cursor: pointer
				&__values
					display: flex
					justify-content: space-between
				&__value
					width: calc(50% - 5px)
					padding: 15px 20px
					font-size: 14px
					font-weight: 700
					line-height: 1.2
					border-radius: 12px
				&__button
					margin-top: 40px
			&-colors
				display: flex
				flex-flow: row wrap
				width: calc(100% + 24px)
				position: relative
				left: -12px
			&-color
				cursor: pointer
				width: 24px
				height: 24px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				margin: 0 12px 24px
				input
					visibility: hidden
					position: relative
					cursor: pointer
					&::after
						content: '\f00c'
						font-family: fontawesome
						font-size: 10px
						color: #fff
						opacity: 0
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-50%, -50%)
						transition: .2s ease
						visibility: visible
					&:checked::after
						opacity: 1
			&-button
				margin-top: 15px
		&__list
			&-li
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
			&-item
				display: flex
				align-items: center
				font-size: 14px
				transition: .2s
				&::before
					content: '\f054'
					font-family: fontawesome
					margin-right: 15px
					transition: .2s
				&:hover
					color: $accent
					&::before
						color: $accent
		&__clear
			width: 100%
			height: 65px
			display: flex
			align-items: center
			justify-content: center
			background-color: #FFF1ED
			border-radius: 16px
			color: $accent
			font-size: 14px
			font-weight: 700
			&::before
				background-color: #fff
			span
				display: flex
				align-items: center
				&::after
					content: ''
					margin-left: 5px
					width: 16px
					height: 16px
					background-image: url('../img/icons/x_orange.svg')
					background-repeat: no-repeat
					background-size: contain
					background-position: center
		&__heading_mobile
			display: none
			align-items: center
			justify-content: space-between
			width: 100%
			padding: 15px 20px
			background-color: #fff
			transition: .3s
			&::after
				content: '\f078'
				font-family: fontawesome
				font-size: 12px
				transition: .3s
			&.active
				color: $accent
				&::after
					transform: rotate(180deg)
	.recently-viewed
		padding: 0 0 120px
		.slick-slide
			max-width: 340px
			margin: 0 15px
		.slick-track
			margin-left: 0
		&__slider
			width: 100%
			margin-top: 50px
			width: calc(100% + 30px)
			position: relative
			left: -15px
		&__item
			display: flex
			align-items: center
			padding: 10px 30px
			background-color: #fff
			& > *
				flex: 0 0 auto
			&-preview
				width: 120px
				height: 120px
				background-size: cover
				background-position: center
				margin-right: 30px
			&-data
				max-width: 120px
			&-title
				margin-bottom: 20px
				font-size: 14px
				line-height: 1.2
			&-price
				.current
					color: $accent
					font-size: 16px
					font-family: $second-font
					font-weight: 800
					margin-bottom: 5px
				.old
					color: $grey
					text-decoration: line-through
					font-weight: 400
					font-size: 12px



// Рейтинг продукта
.product__stars .star
	font-size: 15px
	display: inline-block
	position: relative
	line-height: 1
	margin-right: 3px
	color: $grey_light
	&:last-child
		margin-right: 0
	&:before, &:after
		font-family: 'Font Awesome 5 Free'
		font-weight: 100
	&:before
		content: '\f005'
	&.on
		color: $accent
	// &.half:after
	// 	content: '\f005'
	// 	position: absolute
	// 	left: 0
	// 	top: 0
	// 	color: $accent
	// 	width: 50%
	// 	overflow: hidden


// Страница товара
.p-product
	.product
		&__title, &__code, &__stars
			&._mobile
				display: none
		&__title
			margin-bottom: 5px
		&__code
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			color: $grey
			margin-bottom: 10px
		&__stars
			margin-bottom: 30px
		&__size
			display: flex
			align-items: center
			margin-bottom: 30px
			border: 
				top: 1px solid $grey_light
				bottom: 1px solid $grey_light
			&-table
				display: flex
				align-items: center
				position: relative
				font-size: 14px
				padding: 20px 20px 20px 0
				&::after
					content: ''
					height: 20px
					width: 1px
					background-color: $grey_light
					position: absolute
					right: 0
					top: 50%
					transform: translate(0, -50%)
				img
					margin-right: 12px
		&__amount-price
			display: flex
			align-items: center
			margin-bottom: 40px
		&__amount
			position: relative
			width: 115px
			height: 64px
			position: relative
			border: 2px solid $grey_light
			border-radius: 16px
			overflow: hidden
			margin-right: 40px
			&-number
				border: none
				height: 100%
				width: calc(100% - 40px)
			&-buttons
				position: absolute
				right: 0
				top: 0
				height: 100%
				display: flex
				flex-direction: column
				border-left: 2px solid $grey_light
			&-button
				height: calc(50% - 1px)
				width: 40px
				display: flex
				align-items: center
				justify-content: center
				cursor: pointer
				svg
					transition: .2s
				&._disable
					svg
						opacity: 0.3
			&-number
				font-family: $second-font
				font-weight: 800
				font-size: 16px
			&-remove
				border-bottom: 1px solid $grey_light
			&-add
				border-top: 1px solid $grey_light
		&__price
			&-main
				font-size: 14px
				margin-bottom: 5px
				span
					color: $accent
					font-size: 24px
					font-family: $second-font
					font-weight: 800
					margin-right: 15px
					display: inline-block
			&-secondary
				color: $grey
				font-size: 12px
				font-weight: 400
		&__to-basket
			margin-bottom: 50px
			display: flex
			align-items: center
		&__to-favorites
			margin-left: 50px
			cursor: pointer
		&__button
			span
				display: flex
				align-items: center
				&::before
					content: ''
					margin-right: 15px
					display: inline-block
					width: 22px
					height: 22px
					background-image: url('../img/icons/shopping-bag.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
		&__advantages
			margin-bottom: 50px
			display: flex
			&-box
				width: calc(33% - 10px)
				display: flex
				align-items: center
				& > *
					flex: 0 0 auto
			&-text
				max-width: 100px
				margin-left: 10px
				font-size: 12px
				color: $grey
				line-height: 1.2
		&__details-discount
			border-bottom: 1px solid $grey_light
		&__dropdown
			&-heading
				display: flex
				align-items: center
				justify-content: space-between
				padding: 20px 0
				border-top: 1px solid $grey_light
				cursor: pointer
				&::after
					content: '\f067'
					font-family: fontawesome
					font-size: 16px
				&.active::after
					content: '\f068'
			&-body
				display: none
		&__detail
			&-dropdown
				padding-bottom: 20px
			&-row
				display: flex
				font-weight: 400
				font-size: 14px
				lh1.product
				margin-bottom: 10px
			&-caption
				color: $grey_dark
				width: 240px
		&__discount
			&-container
				display: flex
				justify-content: space-between
				align-items: center
				padding: 10px 0 20px
			&-box
				width: calc(33.3% - 9px)
				text-align: center
				display: flex
				align-items: center
				flex-direction: column
				padding: 15px
				border: 2px dashed $grey_light
				border-radius: 0 28px 28px 28px
			&-number
				font-size: 30px
				line-height: 1.2
				font-family: $second-font
				margin-bottom: 3px
				&._blue
					color: #00A6B6
				&._red
					color: #F64056
				&._orange
					color: $accent
			&-text
				font-size: 14px
				font-weight: 400
		&__images
			.color
				margin-top: 30px
				width: calc(100% - 120px)
				margin-left: auto
				&__title
					font-size: 14px
					margin-bottom: 10px
					color: $grey_dark
					font-weight: 400
					font-family: $default-font
				&__list
					display: flex
					justify-content: space-between
					align-items: center
					&-item
						width: calc(20% - 10px)
						background-size: cover
						background-position: center
						height: 100px
						border: 2px solid transparent
						transition: .2s
						cursor: pointer
						&.active
							border-color: $accent
		.tabs__content
			display: none
			align-items: flex-start
			justify-content: space-between
			&.active
				display: flex
		&__slider
			&-nav
				width: 100px
				.slide
					height: 100px
					cursor: pointer
					&__image
						height: 100%
						width: 100%
						background-size: cover
						background-position: center
			&-main
				width: calc(100% - 120px)
				.slide
					height: 670px
					&__image
						height: 100%
						width: 100%
						background-size: cover
						background-position: center


// Таблица размеров
.table-size
	text-align: left
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	background-color: #fff
	padding: 50px
	z-index: 10
	width: 1000px
	max-width: calc(100% - 40px)
	max-height: calc(100% - 40px)
	display: flex
	justify-content: space-between
	overflow-y: auto
	overflow-x: hidden
	&__wrapper
		max-width: calc(50% - 25px)
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
	&__text
		font-size: 12px
		font-weight: 400
		margin-top: 50px
		span
			font-weight: 700
	.table
		border: 1px solid $grey_light
		&__row
			display: flex
			align-items: center
			padding: 10px 30px
			&:nth-child(2n)
				background-color: $bg
			&.heading
				font-weight: 400
				color: $grey
		&__elem
			width: 33.3%
			font-size: 12px





@import media
