/* PRELOADER */
.preloader
	width: 100%
	height: 100%
	display: flex
	flex-wrap: wrap
	flex-direction: column
	justify-content: center
	position: fixed
	left: 0
	top: 0
	-webkit-transition: all 0.3s ease
	-moz-transition: all 0.3s ease
	transition: all 0.3s ease
	transition-duration: 500ms
	-webkit-transition-duration: 500ms
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
	transition-delay: 1.5s
	z-index: 101
	& *
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		transition: all 0.3s ease
		transition-duration: 500ms
		-webkit-transition-duration: 500ms
		transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
		-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)

	.layers
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		background: none
		transition-delay: 1.5s

	.layers span
		width: 100%
		height: 33.4%
		position: absolute
		left: 0
		background: #855cfe

	.layers span:nth-child(1)
		top: 0
		transition-delay: 1s

	.layers span:nth-child(2)
		top: 33.33333%
		transition-delay: 1.25s

	.layers span:nth-child(3)
		top: 66.66666%
		transition-delay: 1.5s

/* PAGE LOADED */
.page-loaded
	.preloader
		left: -100%
	.preloader .layers span
		left: -100%

.percentage
	display: flex
	position: absolute
	right: 10%
	bottom: 2%
	color: #fff
	font-size: 300px
	line-height: 1.2
	font-weight: 700
	font-family: 'Inter'
	letter-spacing: -0.06em
	transition: 0.5s ease 1s
	opacity: 1

	.page-loaded &
		opacity: 0

/* PAGE TRANSITION */
.page-transition
	width: 100%
	height: 100%
	position: fixed
	left: -100%
	top: 0
	z-index: 100
	& *
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		transition: all 0.3s ease
		transition-duration: 500ms
		-webkit-transition-duration: 500ms
		transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
		-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
	.layers
		width: 100%
		height: 100%
		position: absolute
		left: -100%
		top: 0
		background: none

	.layers span
		width: 100%
		left: -100%
		background: #855cfe

	.layers span:nth-child(1)
		height: 33.3333%
		position: absolute
		top: 0
		transition-delay: 0.25s

	.layers span:nth-child(2)
		height: 33.3333%
		position: absolute
		top: 33.33333%
		transition-delay: 0.5s

	.layers span:nth-child(3)
		height: 33.3333%
		position: absolute
		top: 66.66666%
		transition-delay: 0.75s

	&.active
		left: 0

	&.active .layers
		left: 0

	&.active .layers span
		left: 0

@media only screen and (max-width: 1440px)
	.percentage
		font-size: 200px

@media only screen and (max-width: 992px)
	.percentage
		font-size: 150px

@media only screen and (max-width: 520px)
	.percentage
		font-size: 80px
		bottom: 10%
