@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1760px)

	body
		font-size: 16px


	// Заголовки
	h2
		font-size: 80px
	// eof



	// Стандартный контейнер
	.container
		max-width: 1400px
	// eof

	
	// Шапка
	.header
		&__logo
			margin-right: 160px
		&__tel
			margin-right: 60px
	// eof

	// Подвал
	.footer
		font-size: 14px
		&__container
			&-inner:first-child
				margin-right: 60px
			&-bottom
				font-size: 13px
		&__logo
			height: 50px
			width: 50px
		&__contacts
			&-item
				margin-right: 30px
			&-icon
				margin-right: 10px
		&__social
			&-item
				width: 50px
				height: 50px
				margin-right: 20px
		&__copyrights-year
			margin-right: 160px
	// eof


	// Главный экран
	.main
		&__title
			font-size: 100px
			&-mobile
				margin-left: 25px
		&__text
			margin-right: calc(60px + 86px)
	// eof


	// Про компанию на главной страние
	.about
		&__container-inner
			left: 140px
		&__title
			width: 557px
			margin-right: 95px
		&__text
			margin-right: 165px
		&__wrapper
			width: 400px
			height: 400px
		&__number
			font-size: 250px
		&__button
			right: 205px
	// eof


	// Страхование на главной странице
	.insurance
		&__title
			margin-right: 105px
			&-middle
				margin-left: 220px
			&-right
				margin-right: 50px
	// eof


	// Преимущества на главной странице
	.advantages
		&__text
			margin-bottom: 20px
			margin-right: 340px
		&__title
			&-right
				margin-left: 160px
			&-middle
				margin-left: 60px
		&__items
			margin-left: 60px
		&__about
			width: 650px
			height: 650px
	// eof


	// Сервесы на главной сранице
	.services
		&__title-wrapper
			margin-left: 220px
		.tabs
			&__caption
				margin-left: 270px
	// eof


	// Лицензии на главной странице
	.license
		&__title
			margin-left: 320px
			&-top
				margin-left: 385px
			&-bottom
				margin-left: 545px
		&__subtitle
			margin-right: 85px
		&__text
			margin-right: 240px
		&__button
			right: 275px
	// eof


	// Цель на главной странице
	.target
		width: 1000px
		height: 1000px
		padding-right: 150px
		&__title
			margin-bottom: 40px
		&__overtitle
			margin-bottom: 100px
			&-wrapper
				margin-bottom: 60px
	// eof


	// Стратегия развития на главной странице
	.strategy
		&__title
			&-middle
				margin-left: 280px
			&-right
				margin-right: 110px
		&__text
			margin-right: 195px
		&__button
			right: 190px
	// eof




@media only screen and (max-width : 1400px)

	// Заголовки
	h2
		font-size: 60px
	// eof


	// Кнопка
	.button
		padding: 35px 60px
	// eof


	// Стандартный контейнер
	.container
		max-width: 960px
	// eof


	// Шапка
	.header
		&__logo
			margin-right: 60px
		&__about
			font-size: 14px
		&__tel
			margin-right: 20px
			width: 220px
		&__hamburger
			width: 60px
			height: 60px
			&-line
				width: 20px
	// eof


	// Подвал
	.footer
		&__container
			&-top
				padding-left: 80px
			&-bottom
				font-size: 14px
		&__logo
			height: 44px
		&__contacts
			&-item
				margin-right: 20px
				font-size: 13px
			&-icon
				width: 18px
				height: auto
				margin-right: 5px
		&__social
			&-item
				width: 30px
				height: 30px
				margin-right: 10px
				svg
					max-width: 40%
					max-height: 40%
		&__copyrights-year
			margin-right: 0
	// eof


	// Главный экран
	.main
		&__title
			font-size: 70px
			&-mobile
				margin-left: 18px
		&__text
			margin-right: calc(20px + 60px)
			width: 220px
	// eof

	
	// Про компанию на главной страние
	.about
		&__container
			padding: 200px 20px
			&-inner
				left: 70px
		&__text-around
			width: 70px
		&__title
			width: 417px
			margin-right: 20px
		&__text
			margin-right: 0
		&__wrapper
			width: 340px
			height: 340px
		&__number
			font-size: 180px
		&__button
			right: 90px
	// eof


	// Страхование на главной странице
	.insurance
		&__title
			margin-right: 130px
			font-size: 50px
			&-middle
				margin-left: 80px
			&-right
				margin-right: 30px
		&__wrapper
			width: 235px
	// eof


	// Преимущества на главной странице
	.advantages
		&__text
			margin-right: 165px
		&__items
			margin-left: 60px
		&__about
			width: 400px
			height: 400px
			&-number
				font-size: 120px
			&-text
				span
					font-size: 26px
	// eof


	// Сервесы на главной сранице
	.services
		&__title-wrapper
			margin-left: 130px
		.tabs
			&__caption
				margin:
					left: 180px
					bottom: 35px
				&-item
					&::before
						bottom: -30px
	// eof


	// Лицензии на главной странице
	.license
		&__title
			margin-left: 185px
			&-top
				margin-left: 288px
			&-bottom
				margin-left: 410px
		&__subtitle
			margin-right: 20px
		&__text
			margin-right: 90px
			max-width: 230px
		&__button
			right: 155px
	// eof


	// Цель на главной странице
	.target
		width: 900px
		height: 900px
		&__title
			left: -5px
			&-wrapper
				margin-left: 200px
		&__overtitle
			margin-left: 200px
	// eof


	// Стратегия развития на главной странице
	.strategy
		&__title
			&-middle
				margin-left: 220px
			&-right
				margin-right: 30px
		&__text
			margin-right: 20px
		&__button
			right: 70px
	// eof


	// Блог на главной странице
	.blog
		&__title
			margin-bottom: 80px
		.article
			width: 960px
			&__preview
				height: 480px
	// eof


	



/*  Small Devices, Tablets */
@media only screen and (max-width : 992px)

	// Заголовки
	h2
		font-size: 50px
	// eof


	// Кнопка
	.button
		padding: 40px 70px
	// eof

	
	// Стандартный контейнер
	.container
		max-width: 480px
	// eof


	// Шапка
	.header
		padding: 20px 0
		&__logo
			margin-right: 0
			width: 56px
		&__about
			display: none
		&__tel
			margin-right: 20px
			width: auto
			&-icon
				width: 60px
				height: 60px
				background-color: #fff
				border-radius: 50%
				display: flex
				align-items: center
				justify-content: center
				margin-right: 0
				svg path 
					fill: $black
			&-text
				display: none
	// eof


	// Подвал
	.footer
		font-size: 16px
		.container
			position: relative
		&__container
			flex-direction: column
			align-items: flex-start
			margin-bottom: 0
			&-top
				padding:
					left: 0
					bottom: 20px
				position: static
			&-bottom
				font-size: 16px
				padding: 80px 0 240px
				display: block
			&-inner
				display: block
				&:first-child
					margin-right: 0
					max-width: none
		&__logo
			width: 55px
			height: auto
			position: static
			margin-bottom: 30px
		&__about.footer__container-inner
			max-width: 245px
			margin-bottom: 50px
		&__contacts
			justify-content: space-between
			margin-bottom: 80px
			&-item
				margin-right: 20px
				font-size: 16px
				flex-direction: column
				align-items: flex-start
			&-icon
				width: 25px
				height: auto
				margin:
					right: 0
					bottom: 12px
				position: relative
				left: -3px
		&__social
			position: absolute
			bottom: 100px
			left: 20px
			&-item
				width: 55px
				height: 55px
				margin-right: 20px
				svg
					max-width: auto
					max-height: auto
					width: 15px
					height: 15px
		&__menu
			margin-bottom: 60px
			&-title
				margin-bottom: 30px
			&-heading
				margin-top: 10px
			&-item
		&__copyrights
			margin-bottom: 35px
		&__text
			text-align: left
			max-width: 265px
	// eof


	// Главный экран
	.main
		height: 860px
		max-height: none
		min-height: auto
		&__container
			padding-bottom: 0
			height: calc(100% - 100px)
			justify-content: center
		&__title
			font-size: 50px
			order: -1
			margin-bottom: 30px
			&-mobile
				display: block
				margin-left: auto
			&-wrapper
				margin-left: 0
			._accent
				display: block
		&__text
			width: 260px
			margin:
				right: 0
				bottom: 30px
		&__scroll-down
			width: 260px
			margin-left: auto
		&__ellipse
			width: 600px
			top: 120px
	// eof


	// Про компанию на главной страние
	.about
		&__container
			padding: 130px 20px 380px
			&-inner
				left: 50%	
				transform: translate(-50%, 50%)
		&__text-around
			width: 100px
			display: none
		&__title
			width: 100%
			margin-right: 0
		&__text
			margin: 0 auto 40px
			width: 160px
		&__wrapper
			width: 500px
			height: 500px
			&-text
				width: 185px
		&__number
			font-size: 230px
			top: 60px
			left: auto
			right: -13px
		&__button
			position: static
			margin: 0 auto
			transform: none
	// eof


	// Страхование на главной странице
	.insurance
		padding: 350px 0 150px
		&__container
			flex-direction: column
		&__title
			margin:
				right: 0
				bottom: 75px
			&-middle
				margin-left: 80px
			&-right
				margin-right: 24px
		&__wrapper
			&-heading
				margin-bottom: 50px
			&-text
				margin:
					left: 80px
					bottom: 30px
	// eof


	// Преимущества на главной странице
	.advantages
		&__container
			padding: 130px 20px 460px
		&__title
			order: -1
			margin-bottom: 25px
			font-size: 46px
			&-middle
				margin-left: 0
			&-right
				margin-left: 60px
		&__text
			align-self: flex-start
			margin:
				right: 0
				left: 60px
				bottom: 80px
		&__items
			margin: 0
			flex-direction: column
		&__item
			margin:
				left: 0
				bottom: 40px
			&-number
				width: 19px
				display: flex
				margin-right: 40px
		&__about
			width: 530px
			height: 530px
			bottom: -200px
			right: 50%
			transform: translate(50%, 0)
			&-number
				font-size: 120px
			&-text
				span
					font-size: 18px
	// eof


	// Сервесы на главной сранице
	.services
		&::before
			height: 900px
			background-position: 10% bottom
		&__container
			flex-direction: column
			align-items: flex-start
			margin-bottom: 90px
		&__title
			margin-bottom: 65px
			&-wrapper
				margin-left: 60px
		&__slider
			.swiper-pagination-progressbar
				bottom: -70px
		&__slide
			padding: 30px 35px
			width: 300px
			min-height: 230px
			&-heading
				font-size: 22px
			&-text
				max-width: 150px
				font-size: 14px
			&-button
				right: 40px
				width: 70px
				svg
					height: auto
		.tabs
			&__caption
				margin:
					left: 0
					bottom: 40px
				&-item
					&::before
						bottom: -40px
	// eof


	// Лицензии на главной странице
	.license
		&__container
			padding: 100px 20px 650px
		&__title
			margin-left: 0
			&-top
				margin-left: 30px
			&-bottom
				margin-left: 65px
		&__subtitle
			align-self: flex-start
			margin:
				right: 0
				left: 65px
				bottom: 45px
		&__text
			align-self: flex-start
			margin:
				left: 65px
				bottom: 80px
		&__button
			position: relative
			right: auto
			left: 50%
			transform: translate(-50%, 0)
			width: 270px
	// eof


	// Цель на главной странице
	.target
		width: 1000px
		height: 1000px
		padding: 0
		left: 50%
		transform: translate(-50%, -50%)
		&__container
			width: 100vw
			max-width: 480px
			min-width: 375px
			padding: 0 20px
			margin: 0 auto
		&__title
			margin-bottom: 45px
			left: 0
			&-wrapper
				margin-left: 80px
		&__overtitle
			margin:
				bottom: 100px
				left: 80px
			&-wrapper
				margin-bottom: 50px
		&__text
			margin-left: 80px
	// eof


	// Стратегия развития на главной странице
	.strategy
		&__container
			padding: 650px 20px 155px
		&__title
			order: -1
			margin-bottom: 40px
			br
				display: none
			&-middle
				margin-left:	80px
			&-right
				margin-right: 0
				align-self: flex-start
		&__text
			align-self: flex-start
			margin:
				right: 0
				bottom: 0
				left: 80px
			max-width: 260px
			&-around
				left: 0
				bottom: 100px
				transform: translate(-50%, 0)
		&__button
			right: auto
			left: 50%
			transform: translate(-50%, -50px)
			white-space: nowrap
	// eof


	// Блог на главной странице
	.blog
		padding: 150px 0
		&__title
			margin-bottom: 80px
		&__slider
			.swiper-pagination-progressbar
				bottom: -30px
		.article
			width: 960px
			&__preview
				height: 175px
			&__button
				right: 40px
				width: 70px
				height: 70px
				svg
					width: 55px
					height: auto
			&__wrapper
				padding: 20px 0
				flex-direction: column
				align-items: flex-start
			&__date
				font-size: 60px
				margin-bottom: 15px
				span
					margin-left: 15px
					font-size: 12px
					top: 10px
			&__text
				max-width: 100%
	// eof




















