@import vars
@import fonts



::placeholder
	color: #CAC8C8
	font-size: 16px
	font-family: $default-font


input
	color: #fff
	font-size: 16px




body
	font-size: 18px
	min-width: 375px
	position: relative
	line-height: 1.6
	font-family: $default-font
	color: $black
	background-color: #F4F6F5
	&.scroll_disabled
		overflow-y: hidden

.body-overflow-hidden
	overflow: hidden






// Заголовки
h2
	font-size: 99px
	font-weight: 300
	text-transform: uppercase
	letter-spacing: -0.033em
	line-height: 1.1
// eof


// Кнопка
.button
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	position: relative
	text-decoration: none
	line-height: 1
	outline: none
	overflow: hidden
	cursor: pointer
	border-radius: 230px
	border: none
	background-color: #fff
	color: $accent
	padding: 50px 85px
	transition: .2s ease-in-out
	&:focus, &:hover
		text-decoration: none
	&:hover
		background-color: $accent
		color: #fff
// eof


// Стандартный контейнер
.container
	width: 100%
	max-width: 1760px
	padding: 0 20px
	margin: 0 auto
// eof


// Гамбургер меню
.hamburger-menu
	display: none
	min-width: 375px
	position: fixed
	top: 0
	left: 0
	background-color: $black
	background-image: url('../img/main/hamburge-menu__bg.jpg')
	background-size: cover
	background-position: right top
	height: 100%
	width: 100%
	z-index: 10
	&__close
		position: absolute
		top: 390px
		right: 300px
		background-color: #fff
		border-radius: 50%
		width: 230px
		height: 230px
		display: flex
		align-items: center
		justify-content: center
		transition: .3s
		&-icon > *
			transition: .3s
		&:hover
			background-color: $accent
			path
				fill: #fff
	&__top-line
		display: flex
		justify-content: space-between
		padding-top: 40px
		&-wrapper
			display: flex
			align-items: center
	&__about
		color: #fff
		margin-left: 150px
	&__links
		margin-right: 100px
		display: flex
		align-items: center
		&-item
			color: $accent
			display: flex
			align-items: center
			margin-right: 80px
			transition: .3s
			&:last-child
				margin-right: 0
			&:hover
				color: #fff
				.hamburger-menu__links-item-icon
					path
						fill: #fff
			&-icon
				margin-right: 15px
				path
					transition: .3s
	&__container
		display: flex
		align-items: flex-start
		flex-direction: column
		padding:
			top: 5vh
			left: 216px
	&__caption
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-bottom: 40px
		&-item
			font-size: 55px
			font-weight: 300
			line-height: 1.1
			position: relative
			cursor: pointer
			transition: .3s
			margin-bottom: 20px
			letter-spacing: -0.033em
			text-transform: uppercase
			color: rgba(255, 255, 255, 0.33)
			&:last-child
				margin-bottom: 0
			&:hover
				color: $accent
			&.active
				color: #fff
				&:hover
					color: #fff
	&__content
		display: none
		&-inner
			display: flex
			flex-direction: column
			align-items: flex-start
		&-item
			font-size: 18px
			transition: .3s
			margin-bottom: 20px
			line-height: 1.1
			color: #fff
			&:hover
				color: $accent
			&:last-child
				margin-bottom: 0
// eof


// Попап обратной связи
.mfp-fade
  &.mfp-bg
    opacity: 0
    -webkit-transition: all 0.35s ease-out
    -moz-transition: all 0.35s ease-out
    transition: all 0.35s ease-out

    &.mfp-ready
      opacity: 0.8

    &.mfp-removing
      opacity: 0

  &.mfp-wrap
    .mfp-content
      opacity: 0
      -webkit-transition: all 0.35s ease-out
      -moz-transition: all 0.35s ease-out
      transition: all 0.35s ease-out

    &.mfp-ready .mfp-content
      opacity: 1

    &.mfp-removing .mfp-content
      opacity: 0


.popup
	min-width: 375px
	position: fixed
	top: 0
	left: 0
	background-color: $black
	background-image: url('../img/main/popup__bg.jpg')
	background-size: cover
	background-position: right top
	height: 100%
	width: 100%
	z-index: 10
	&__close
		width: 215px
		height: 215px
		background-color: transparent
		border-radius: 50%
		transition: .3s
		position: absolute
		right: 200px
		top: 250px
		border: 1px solid rgba(255, 255, 255, 0.2)!important
		z-index: 9!important
		opacity: 1
		&::before
			content: ''
			width: 33px
			height: 33px
			background-image: url('../img/icons/close.svg')
			background-size: contain
			background-position: center
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&:active
			top: 250px
		&:hover
			background-color: $accent
			border-color: $accent
	&__container
		height: calc(100vh - 88px)
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		margin-left: 216px
		position: relative
		.form-success
			display: none
			background-image: url('../img/main/popup__bg.jpg')
			background-size: cover
			background-position: right top
			position: fixed
			left: 0
			top: 0
			width: 100vw
			height: 100vh
			z-index: 10
	&__title
		font-size: 100px
		color: #fff
	&__subtitle
		margin-top: 40px
		color: $accent
	&__inputs
		display: flex
		gap: 100px
		margin-top: 80px
	&__input
		padding: 25px 0
		background: none
		border-bottom: 1px solid rgba(255, 255, 255, 0.3)
		width: 430px
		margin-bottom: 50px
		transition: .3s
		&:focus
			border-color: rgba(255, 255, 255, 1)
	&__button
		width: 300px
		margin-top: 80px
// eof


// Шапка
.header
	padding: 40px 0
	&__container
		display: flex
		align-items: center
		justify-content: space-between
		&-inner
			display: flex
			align-items: center
	&__logo
		margin-right: 180px
	&__tel
		display: flex
		align-items: center
		margin-right: 190px
		width: 320px
		&-icon
			margin-right: 15px
			display: flex
	&__hamburger
		width: 86px
		height: 86px
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		background-color: $accent
		border-radius: 50%
		transition: .3s
		&-line
			width: 25px
			height: 2px
			background-color: #fff
			margin-bottom: 7px
			transition: .3s
			&:last-child
				margin-bottom: 0
		&:hover
			background-color: #fff
			.header__hamburger-line
				background-color: $accent
// eof


// Подвал
.footer
	background-color: #fff
	padding-top: 125px
	&__container
		margin-bottom: 125px
		display: flex
		justify-content: space-between
		&:last-child
			margin-bottom: 0
		&-top
			padding:
				bottom: 140px
				left: 210px
			display: flex
			flex-direction: column
			position: relative
		&-bottom
			padding: 140px 0
			border-top: 1px solid rgba(188, 198, 192, 0.65)
			display: flex
			justify-content: space-between
			align-items: center
			color: $light
		&-inner
			display: flex
			justify-content: space-between
			width: 100%
			&:first-child
				max-width: 600px
				width: 100%
				margin-right: 150px
			&._vetical-center
				align-items: center
	&__logo
		position: absolute
		top: 0
		left: 0
		display: flex
		align-items: center
		height: 66px
	&__contacts
		display: flex
		align-items: center
		&-item
			margin-right: 60px
			display: flex
			align-items: center
			color: $accent
			white-space: nowrap
			&:last-child
				margin-right: 0
			&:hover
				color: $accent
		&-icon
			margin-right: 15px
	&__social
		display: flex
		align-items: center
		&-item
			width: 66px
			height: 66px
			border-radius: 50%
			border: 1px solid $accent
			display: flex
			align-items: center
			justify-content: center
			margin-right: 30px
			transition: .3s 
			svg path
				transition: .3s 
			&:last-child
				margin-right: 0
			&:hover
				background-color: $accent
				svg path 
					fill: #fff
	&__menu
		display: flex
		flex-direction: column
		align-items: flex-start
		&-title
			color: $accent
			margin-bottom: 40px
		&-item
			margin-bottom: 10px
			display: block
			transition: .2s
			&._light
				color: #AAB5AE
			&:hover
				color: $accent
		&-heading
			margin-top: 25px
			&:hover
				color: $black
	&__copyrights
		&-year
			margin-right: 150px
	&__text
		text-align: right
// eof


// Хлебные крошки
.breadcrumbs
	display: flex
	align-items: center
	&__item
		margin-right: 20px
		padding-right: 20px
		color: $accent
		line-height: 1.9
		position: relative
		display: flex
		transition: .3s
		&::after
			content: '/'
			color: rgba(255, 255, 255, 0.22)
			font-size: 18px
			position: absolute
			right: 0
			top: 50%
			transform: translate(50%, -50%)
		&::before
			content: ''
			width: calc(100% - 20px)
			height: 1px
			display: block
			background-color: $accent
			position: absolute
			bottom: 0
			left: 0
			transition: .3s
		&:hover
			&::before
				width: 0
				background-color: #fff
		&:last-child
			color: #fff
			&::after, &::before
				display: none
				display: none
			&:hover
				color: #fff
// eof


// Главный экран
.main
	height: 100vh
	max-height: 1030px
	min-height: 600px
	background-image: url('../img/main/main__bg.jpg')
	background-size: cover
	background-position: center
	background-color: $black
	color: #fff
	&__container
		height: calc(100% - 166px)
		min-height: 450px
		display: flex
		flex-direction: column
		justify-content: flex-end
		padding-bottom: 10vh
	&__text
		width: 320px
		margin-bottom: 45px
		margin:
			right: calc(190px + 86px)
			left: auto
	&__title
		font-size: 130px
		font-weight: 300
		letter-spacing: -0.033em
		text-transform: uppercase
		line-height: 1.1
		display: flex
		flex-wrap: wrap
		position: relative
		z-index: 2
		&-wrapper
			margin-left: auto
		._accent
			color: $accent
		&-mobile
			margin-left: 40px
	&__scroll-down
		display: flex
		width: 38px
		height: 38px
		transform: translate(-50%, 0)
		margin-top: 15px
	&__ellipse
		position: absolute
		left: 0
		top: 35vh
// eof


// Про компанию на главной страние
.ishome .about
	padding: 0
	z-index: 2
	&__container
		padding: 280px 20px
		display: flex
		flex-direction: column
		align-items: flex-end
		position: relative
		&-inner
			position: absolute
			bottom: 0
			left: 110px
			transform: translate(0, 50%)
	&__title
		position: relative
		width: 690px
		display: flex
		flex-direction: column
		margin:
			bottom: 60px
			right: 140px
		&-wrapper
			align-self: flex-end
	&__text-around
		width: 100px
		position: absolute
		right: 100%
		transform: translate(-40px, -50%)
	&__text
		width: 300px
		margin-right: 295px
	&__wrapper
		width: 490px
		height: 490px
		border-radius: 50%
		background-color: $accent
		display: flex
		align-items: center
		justify-content: center
		position: relative
		z-index: 2
		&-text
			width: 185px
			color: #fff
	&__number
		font-size: 330px
		position: absolute
		left: 100%
		top: 50%
		transform: translate(-25%, -60%)
		font-weight: 300
		color: #050708
	&__button
		position: absolute
		bottom: 0
		transform: translate(0, 50%)
		right: 320px
// eof


// Страхование на главной странице
.insurance
	padding: 440px 0 200px
	background-image: url('../img/main/insurance__bg.jpg')
	background-color: $black
	background-size: cover
	background-position: center
	color: #fff
	&__container
		display: flex
		align-items: flex-start
	&__title
		display: flex
		flex-direction: column
		margin-right: 135px
		&-middle
			margin-left: 245px
		&-right
			align-self: flex-end
			margin-right: 65px
	&__wrapper
		&-heading
			color: $accent
			margin-bottom: 80px
		&-text
			width: 235px
			margin-bottom: 50px
			&:last-child
				margin-bottom: 0
// eof


// Преимущества на главной странице
.advantages
	z-index: 2
	&__container
		padding: 200px 20px 330px
		display: flex
		flex-direction: column
		position: relative
	&__text
		font-weight: 600
		width: 150px
		align-self: flex-end
		margin-right: 460px
	&__title
		display: flex
		flex-direction: column
		margin-bottom: 100px
		position: relative
		z-index: 2
		&-right
			margin-left: 260px
		&-middle
			margin-left: 140px
	&__items
		margin-left: 140px
		display: flex
	&__item
		margin-right: 100px
		display: flex
		&:last-child
			margin: 0
		&-number
			margin-right: 60px
			font-weight: 400
			color: $light
		&-text
			width: 195px
	&__about
		width: 900px
		height: 900px
		background-color: #fff
		border-radius: 50% 
		position: absolute
		right: 0
		bottom: -40px
		display: flex
		align-items: center
		justify-content: center
		&-number
			font-size: 200px
			font-weight: 300
			color: $accent
			margin-right: 10px
		&-text
			width: 150px
			span
				display: block
				color: $accent
				text-transform: uppercase
				font-size: 33px
				font-weight: 700
				margin-bottom: 10px
// eof


// Сервесы на главной сранице
.ishome .services
	padding: 300px 0
	color: #fff
	&::before
		content: ''
		display: inline-block
		height: 975px
		width: 100%
		background-image: url('../img/main/services__bg.png')
		background-size: cover
		background-position: center bottom
		position: absolute
		top: 0
		left: 0
	&__container
		position: relative
		z-index: 2
		display: flex
		align-items: flex-end
		margin-bottom: 175px
		&-slider
			position: relative
	&__title
		&-wrapper
			display: block
			margin-left: 210px
	&__slider
		cursor: grab
		&:active
			cursor: grabbing
		.swiper-pagination-progressbar
			width: calc(100% - 40px)
			left: 20px
			top: auto
			bottom: -130px
			height: 2px
			background-color: $light
			cursor: default
			&-fill
				background-color: $black
	&__slide
		width: 540px
		min-height: 320px
		background-color: #fff
		padding: 40px 50px
		position: relative
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		&-heading
			font-size: 30px
			line-height: 1.2
			font-weight: 400
			color: $accent
			text-transform: uppercase
			max-width: 360px
		&-text
			max-width: 200px
			color: $black
		&-button
			position: absolute
			bottom: 0
			right: 100px
			transform: translate(0, 50%)
			display: flex
			svg 
				path, circle
					transition: .4s ease
			&:hover
				svg 
					path 
						fill: $accent
					circle
						stroke: $accent
	.tabs
		&__caption
			display: flex
			margin-bottom: 65px
			margin-left: 420px
			&-item
				margin-right: 30px
				font-weight: 600
				font-size: 18px
				position: relative
				cursor: pointer
				transition: .3s
				&:last-child
					margin-right: 0
				&::before
					content: ''
					position: absolute
					bottom: -50px
					left: 0
					display: inline-block
					width: 0
					height: 3px
					background-color: $accent
					transition: .3s
				&.active
					color: $accent
					&::before
						width: 16px
		&__content
			display: none
			&.active
				display: block
// eof


// Лицензии на главной странице
.license
	z-index: 2
	&__container
		padding: 170px 20px
		display: flex
		flex-direction: column
		position: relative
	&__title
		margin-left: 430px
		display: flex
		flex-direction: column
		&-top
			margin-left: 475px
		&-bottom
			margin-left: 675px
	&__subtitle
		margin:
			top: 40px
			bottom: 100px
			right: 110px
		align-self: flex-end
		color: $light
	&__text
		max-width: 250px
		align-self: flex-end
		margin-right: 360px
	&__button
		position: absolute
		right: 385px
		top: 100%
		transform: translate(0, -50%)
// eof


// Цель на главной странице
.target
	width: 1300px
	height: 1300px
	border-radius: 50%
	position: absolute
	left: -240px
	top: 100%
	transform: translate(0, -50%)
	background-color: #fff
	padding:
		left: 240px
		right: 210px
	display: flex
	justify-content: center
	flex-direction: column
	&__title
		display: flex
		flex-direction: column
		position: relative
		left: -10px
		&-wrapper
			margin-left: 290px
	&__overtitle
		display: flex
		flex-direction: column
		margin:
			bottom: 170px
			left: 290px
		&-wrapper
			margin-bottom: 100px
			text-transform: uppercase
			color: $light
	&__text
		font-weight: 600
		color: $accent
		max-width: 245px
		margin-left: auto
// eof


// Стратегия развития на главной странице
.strategy
	background-image: url('../img/main/strategy__bg.jpg')
	background-size: cover
	background-position: center
	color: #fff
	&__container
		padding: 550px 20px 220px
		display: flex
		flex-direction: column
		position: relative
	&__title
		display: flex
		flex-direction: column
		&-accent
			color: $accent
		&-middle
			margin-left: 520px
		&-right
			align-self: flex-end
			margin-right: 135px
	&__text
		align-self: flex-end
		max-width: 295px
		margin-right: 310px
		margin-bottom: 30px
		&-item
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
		&-around
			width: 100px
			position: absolute
			right: 50%
			bottom: 220px
	&__button
		position: absolute
		right: 285px
		top: 100%
		transform: translate(0, -50%)
// eof


// Блог на главной странице
.blog
	padding: 250px 0 350px
	&__title
		margin-bottom: 115px
	&__slider
		cursor: grab
		position: relative
		&:active
			cursor: grabbing
		.swiper-pagination-progressbar
			width: 100%
			top: auto
			bottom: -50px
			height: 2px
			background-color: $light
			cursor: default
			&-fill
				background-color: $black
	.article
		width: 1000px
		&__preview
			background-size: cover
			background-position: center
			height: 530px
			position: relative
		&__button
			position: absolute
			right: 80px
			top: 100%
			transform: translate(0, -50%)
			width: 200px
			height: 200px
			border-radius: 50%
			background-color: #fff
			display: flex
			align-items: center
			justify-content: center
			transition: .4s
			svg path
				transition: .4s
			&:hover
				background-color: $accent
				svg path
					fill: #fff
		&__wrapper
			padding: 60px 0
			display: flex
			align-items: center
		&__date
			font-weight: 300
			font-size: 100px
			display: flex
			align-items: flex-start
			line-height: 1
			margin-right: 60px
			span
				margin-left: 25px
				font-weight: 600
				font-size: 18px
				position: relative
				top: 12px
		&__text
			max-width: 335px
// eof



// Общие стили внутренних страниц
.isnohome
	background-color: $black
	color: #fff
	.footer
		background-color: $black
		color: #fff
		&._dark-green
			background-color: #162122
			.footer
				&__social-item
					&:hover
						svg path
							fill: #162122
		&__social-item
			&:hover
				svg path
					fill: $black
		&__menu
			&-heading
				&:hover
					color: #fff
			&-item._light
				color: rgba(255, 255, 255, 0.33)
				&:hover
					color: $accent
		&__container-bottom
			border-top: 1px solid rgba(255, 255, 255, 0.1)
			color: rgba(255, 255, 255, 0.33)
	.main
		background-image: none
		&__title
			text-transform: uppercase
			font-size: 230px
			letter-spacing: -0.066em
			font-weight: 300
			line-height: 0.9
		&__overtitle
			margin-bottom: 40px
// eof



// Реквизиты
.p-requisites
	.main
		&__overtitle
			margin-left: 695px
			br
				display: none
	.requisites
		padding: 80px 0 380px
		&._custom
			.requisites__container
				margin-left: 216px
				&-item
					&:first-child
						width: 250px
						margin-right: 170px
		&__container
			margin-bottom: 100px
			display: flex
			align-items: flex-start
			&:last-child
				margin-bottom: 0
			&-item
				line-height: 1.3
				&:first-child
					width: 565px
					margin-right: 130px
		&__heading
			font-weight: 600
			color: $accent
			margin-bottom: 20px
		&__text
			font-size: 33px
			text-transform: uppercase
// eof


// Финансовый отчет
.p-report
	.main
		&__overtitle
			text-transform: uppercase
			margin:
				bottom: 40px
				left: 246px
			font-weight: 700
			line-height: 1.3
		&__undertitle
			margin:
				top: 60px
				left: 715px
			max-width: 755px
	.report
		&__container
			padding: 200px 0
			&:nth-child(2n)
				background-color: #162122
			&-inner
				display: flex
				align-items: flex-start
				padding-left: 246px
			&-wrapper
				width: 100%
		&__title
			padding-right: 400px
			flex: 0 0 auto
			color: $accent
			font-weight: 600
			margin-top: 100px
			position: relative
			font-size: 18px
			&-icon
				position: absolute
				left: 0
				top: 100%
				margin-top: 130px
				max-width: none
				max-height: none
		&__year
			line-height: 0.8
			font-size: 160px
			font-weight: 300
			display: flex
			align-items: flex-start
			color: $accent
			margin-bottom: 130px
			span
				font-weight: 700
				font-size: 30px
				margin-left: 15px
				text-transform: uppercase
				line-height: 1.2
		&__list
			display: flex
			flex-direction: column
			border-top: 1px solid #fff
			&-item
				display: block
				margin-top: 60px
				width: 100%
				border-bottom: 1px solid #fff
				font-size: 26px
				line-height: 1.2
				padding:
					bottom: 20px
					right: 210px
				transition: .3s
				&:hover
					color: $accent
					border-color: $accent
			&._short
				border: none
				.report__list-item
					font-size: 18px
					text-decoration: underline
					text-underline-position: under
					border: none
					max-width: 530px
					padding: 0
					line-height: 1.65
					margin:
						top: 0
						bottom: 50px
					&:last-child
						margin-bottom: 0
// eof


// Лицензии
.p-licenses
	background-image: url('../img/inner-pages/licenses__bg.png')
	background-size: cover
	background-repeat: no-repeat
	.main
		background: none
		height: auto
		min-height: auto
		&__container
			height: auto
			min-height: auto
			padding: 70px 20px 30px
		&__title
			margin-bottom: 0
	.licenses
		padding: 50px 0 250px
		&__table
			font-size: 20px
			&-row
				border-bottom: 1px solid #fff
				padding:
					right: 80px
					top: 40px
					bottom: 40px
				display: flex
				align-items: center
				justify-content: space-between
				&:first-child
					border-top: 1px solid #fff
			&-title
				font-weight: 700
			&-heading
				width: calc(100% - 650px)
			&-date
				width: 235px
	.licenses-docs
		padding: 230px 0 280px
		position: relative
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 630px
			background-color: $accent
		&__title
			margin-bottom: 100px
			position: relative
			z-index: 2
		&__slider
			cursor: grab
			position: relative
			z-index: 2
			&:active
				cursor: grabbing
			.swiper-pagination-progressbar
				width: 100%
				top: auto
				bottom: -100px
				height: 2px
				background-color: rgba(255, 255, 255, 0.2)
				cursor: default
				&-fill
					background-color: #fff
		&__item
			width: 490px
			&-link
				display: block
				filter: grayscale(100%)
				transition: .5s
				&:hover
					filter: none
			&-image
				width: 490px
// eof


// Правила
.p-rules
	background-image: url('../img/inner-pages/rules__bg.png')
	background-size: cover
	background-repeat: no-repeat
	.main
		background: none
		height: auto
		min-height: auto
		&__container
			padding: 140px 20px 170px
		&__overtitle
			text-transform: uppercase
			margin:
				bottom: 40px
				left: 246px
			font-weight: 700
			line-height: 1.3
	.rules
		padding: 30px 0 175px
		&__container
			display: flex
			flex-direction: column
			padding-left: 246px
		&__item
			padding: 80px 90px 25px 0
			font-size: 26px
			border-bottom: 1px solid #fff
			transition: .3s
			&:first-child
				border-top: 1px solid #fff
			&:hover
				color: $accent
				border-bottom: 1px solid $accent
// eof


// Контакты
.p-contacts
	background-image: url('../img/inner-pages/contacts__bg.png')
	background-size: cover
	background-repeat: no-repeat
	.main
		background: none
		height: auto
		min-height: auto
		&__container
			padding: 200px 20px 140px
		&__overtitle
			margin:
				left: 610px
				bottom: 60px
		&__arrow-down
	.contacts
		padding-top: 70px
		&__map
			width: 100%
			height: 830px
		&__container
			padding-left: 610px
			margin-bottom: 160px
		&__heading
			margin-bottom: 15px
			font-weight: 600
			font-size: 18px
		&__text
			margin-bottom: 80px
			font-size: 40px
			font-weight: 400
			color: $accent
			text-transform: uppercase
			line-height: 1.2
			&:last-child
				margin-bottom: 0
// eof



// Карьера
.p-career
	._left-offset
		margin-left: 215px
	.main
		height: auto
		max-height: none
		&__container
			height: auto
			padding: 250px 20px
		&__overtitle
			font-weight: 700
			margin-bottom: 60px
		&__large-text
			max-width: 575px
			margin: 100px 0 50px
			text-transform: uppercase
			font-size: 33px
			font-weight: 400
			line-height: 1.3
		&__text
			max-width: none
			width: auto
			margin: 0
		._left-margin
			margin-left: 690px
	.career-about
		position: relative
		padding: 100px 0 500px
		&._vertical-padding
			padding: 250px 0 200px
		&__ellipse
			position: absolute
			right: 0
			top: -300px
		&__title
			margin-bottom: 20px
			display: flex
			flex-direction: column
			&-middle
				margin-left: 400px
			&-bottom
				margin-left: 215px
		&__subtitle
			margin-bottom: 150px
			text-transform: uppercase
			font-size: 30px
			color: $accent
		&__subtitle, &__text_under
			margin-left: 700px
		&__text
			font-weight: 300
			font-size: 56px
			line-height: 1.3
			position: relative
			z-index: 2
			span
				display: inline-block
				font-size: 18px
				font-weight: 600
				margin-right: 320px
				color: $accent
			&_under
				margin-top: 90px
	.career-list
		padding: 100px 0 300px
		&._vertical-padding
			padding: 200px 0 250px
		&__container
			display: flex
			align-items: flex-start
		&__heading
			margin-right: 265px
			flex: 0 0 auto
			font-size: 18px
			font-weight: 600
			color: $accent
		&__item
			line-height: 1.1
			margin-bottom: 60px
			font-size: 52px
			font-weight: 300
			&:last-child
				margin-bottom: 0
	.form-section
		padding: 330px 0
		background-image: url('../img/inner-pages/form__bg.png')
		background-size: auto 100%
		background-position: right bottom
		background-repeat: no-repeat
		.form-success
			background-image: url('../img/main/popup__bg.jpg')
			background-size: cover
			background-position: right top
			position: fixed
			left: 0
			top: 0
			right: 0
			bottom: 0
			width: 100vw
			height: 100vh
			z-index: 10
			display: none
		&__title
			margin-bottom: 90px
			&-wrapper
				margin-left: 215px
		&__subtitle
			font-size: 30px
			text-transform: uppercase
			line-height: 1.2
			margin-bottom: 140px
		&__subtitle, &__form
			margin-left: 610px
		&__form
			display: flex
			flex-wrap: wrap
			align-items: center
			gap: 90px
			&-input
				padding: 25px 0
				background: none
				border-bottom: 1px solid rgba(255, 255, 255, 0.3)
				width: 430px
				margin-bottom: 50px
				transition: .3s
				&:focus
					border-color: rgba(255, 255, 255, 1)
			&-wrapper
				width: 430px
				display: flex
				align-items: center
				justify-content: center
			&-button
				width: 260px
				height: 260px
				svg
					width: 100%
					height: 100%
					circle, path
						transition: .3s
				&:hover
					svg
						circle
							fill: $accent
						path
							fill: #fff
// eof



// Страница со списком услуг
.p-services
	background-image: url('../img/inner-pages/services__bg.png')
	background-size: 100% 120%
	background-repeat: no-repeat
	.main
		background: none
		&__overtitle
			margin-left: 700px
			font-size: 18px
			font-weight: 700
		&__title
			&._custom-width
				width: calc(100% - 240px)
	.services
		padding-bottom: 180px
		&__container
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			gap: 80px
		&__box
			padding: 60px
			width: calc(50% - 40px)
			min-height: 430px
			display: flex
			flex-direction: column
			justify-content: space-between
			background-color: #162122
			position: relative
			&-title
				text-transform: uppercase
				font-weight: 400
				font-size: 40px
				line-height: 1.2
			&-list
				display: flex
				flex-direction: column
				align-items: flex-start
				&-item
					transition: .3s
					margin-bottom: 10px
					&:last-child
						margin-bottom: 0
					&:hover
						color: $accent
			&-link
				position: absolute
				right: 60px
				bottom: 0
				transform: translate(0, 50%)
				width: 100px
				height: 100px
				svg 
					width: 100%
					height: 100%
					path, circle
						transition: .3s
				&:hover
					svg 
						path
							fill: $accent
						circle
							stroke: $accent
// eof


// Страница услуги
.p-service
	.service
		padding: 80px 0 180px
		&__container
			padding-left: 215px
			&-inner
				padding: 140px 0 220px
				border-bottom: 1px solid rgba(255, 255, 255, 0.4)
				&:first-child
					padding-top: 0
				&:nth-last-child(2)
					border: none
		&__title
			margin-bottom: 100px
			font-size: 100px
			font-weight: 300
			letter-spacing: -0.05em
			line-height: 1.1
			text-transform: none
			&._uppercase
				text-transform: uppercase
		&__overtitle
			text-transform: uppercase
			color: #F4F7F5
			opacity: 0.2
			font-weight: 600
			margin-bottom: 10px
		&__text
			max-width: 1000px
			margin-bottom: 60px
			span
				color: $accent
			&:last-child
				margin-bottom: 0
			&._accent
				color: $accent
		&__wrapper
			display: flex
			align-items: flex-start
			margin-bottom: 100px
			&:last-child
				margin-bottom: 0
			&-heading
				width: 250px
				flex: 0 0 auto
				margin-right: 80px
				font-weight: 600
				color: $accent
			&-list
				&-item
					display: flex
					align-items: flex-start
					margin-bottom: 65px
					&:last-child
						margin-bottom: 0
				&-number
					width: 20px
					font-weight: 400
					font-size: 18px
					color: #fff
					opacity: 0.12
					margin-right: 30px
					flex: 0 0 auto
				&-text
					font-weight: 300
					font-size: 50px
					line-height: 1.1
					&._medium
						font-size: 30px
						max-width: 1000px
						padding-left: 50px
					&._padding-left-none
						padding-left: 0
					&_under
						margin-top: 20px
						display: block
						font-size: 18px
						font-weight: 400
						line-height: 1.4
						max-width: 900px
				&-list
					display: block
					width: 100%
					margin-top: 40px
					padding-left: 20px
					&-item
						font-size: 18px
						margin-bottom: 10px
						list-style-type: disc
						line-height: 1.3
		&__buttons
			display: flex
			align-items: center
		&__button
			margin-right: 60px
			&:last-child
				margin: 0
			&._accent
				background-color: $accent
				color: #fff
				&:hover
					color: $accent
					background-color: #fff
// eof


// О компании
.p-about
	background-image: url('../img/inner-pages/about__top-bg.png')
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	.main
		height: auto
		max-height: none
		background: none
		&__container
			height: auto
			padding: 230px 20px 300px
		&__overtitle
			font-weight: 700
			margin-bottom: 70px
		&__title
			&-bottom
				margin-left: 150px
		&__large-text
			margin-top: 100px
			text-transform: uppercase
			font-size: 33px
			font-weight: 400
			line-height: 1.3
		._left-margin
			margin-left: 630px
	.about
		&__sections
			margin-top: 400px
			background-image: url('../img/inner-pages/about__bottom-bg.png')
			background-size: auto 100%
			background-position: center
			padding: 520px 0 600px
			position: relative
			._bottom-margin
				margin-bottom: 300px
		&__container
			display: flex
			align-items: flex-start
			padding-left: 216px
		&__heading
			width: 250px
			flex: 0 0 auto
			margin-right: 160px
			color: $accent
			font-weight: 600
			&._white
				color: #fff
		&__text
			margin-bottom: 70px
			max-width: 600px
			width: 100%
			&._large
				font-weight: 300
				font-size: 50px
				line-height: 1.1
			&:last-child
				margin-bottom: 0
		&__list
			&-item
				display: flex
				align-items: flex-start
				font-weight: 300
				font-size: 50px
				margin-bottom: 65px
				line-height: 1.1
				&:last-child
					margin-bottom: 0
			&-number
				width: 20px
				margin-right: 30px
				font-size: 18px
				font-weight: 400
				color: #fff
				opacity: 0.12
	.base
		padding-bottom: 170px
		background-image: url('../img/inner-pages/about__middle-bg.png')
		background-position: right top
		background-repeat: no-repeat
		&__year
			display: flex
			align-items: flex-start
			font-weight: 300
			font-size: 185px
			line-height: 0.85
			color: $accent
			margin-bottom: 170px
			&-text
				margin-left: 30px
				font-size: 30px
				text-transform: uppercase
				font-weight: 400
				line-height: 1.5
		&__text
			max-width: 510px
			margin-bottom: 40px
			font-weight: 400
			&:last-child
				margin-bottom: 0
			&._bold
				font-weight: 600
	.about
		padding: 200px 0 20px
		&__title
			margin-bottom: 200px
			display: flex
			flex-direction: column
			&-top
				margin-left: 210px
			&-middle
				margin-left: 285px
		&__boxs
			display: flex
			max-width: 660px
			width: 100%
			justify-content: space-between
			flex-wrap: wrap
		&__box
			width: calc(50% - 30px)
			margin-bottom: 130px
			color: $accent
			font-weight: 600
			line-height: 1.65
	.circle
		&__about
			width: 830px
			height: 830px
			background-color: #fff
			border-radius: 50% 
			position: absolute
			left: 100px
			top: 0
			transform: translate(0, -50%)
			display: flex
			align-items: center
			justify-content: center
			&-number
				font-size: 200px
				font-weight: 300
				color: $accent
				margin-right: 10px
			&-text
				width: 150px
				color: $black
				span
					display: block
					color: $accent
					text-transform: uppercase
					font-size: 33px
					font-weight: 700
					margin-bottom: 10px
	.services
		padding-left: 216px
		._left-margin
			margin-left: 410px
		&__overtitle
			margin-bottom: 60px
			color: $accent
			font-weight: 600
		&__title
			display: flex
			flex-direction: column
			line-height: 1.1
			margin-bottom: 150px
			font-weight: 300
			font-size: 50px
		&__list
			border-top: 1px solid #fff
			display: flex
			flex-direction: column
			&-item
				padding: 60px 0 20px
				border-bottom: 1px solid #fff
				font-size: 26px
				transition: .3s
				&:hover
					color: $accent
					border-color: $accent
	.care
		padding: 280px 0
		._left-margin
			margin-left: 400px
		&__container
			padding-left: 216px
		&__title
			margin-bottom: 80px
		&__subtitle
			margin-bottom: 40px
			color: $accent
			font-weight: 600
		&__text
			max-width: 440px
// eof



// Стратегия
.p-strategy
	.main
		height: auto
		max-height: none
		background-image: url('../img/inner-pages/strategy__top-bg.png')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		&__container
			height: auto
			padding: 100px 20px 200px
			&-inner
				margin-left: 635px
		&__title
			margin-bottom: 80px
		&__large-text
			margin-bottom: 50px
			text-transform: uppercase
			font-size: 22px
		&__text
			max-width: 610px
			margin-left: 0
		&__subtitle
			margin: 180px 0 100px
			font-weight: 600
			font-size: 26px
			max-width: 440px
			line-height: 1.1
			color: $accent
		&__text
			width: auto
		&__docs
			border-top: 1px solid #fff
			display: flex
			flex-direction: column
			&-item
				padding: 60px 0 20px
				border-bottom: 1px solid #fff
				font-size: 26px
				transition: .3s
				&:hover
					color: $accent
					border-color: $accent
	.services
		padding: 190px 0
		background-image: url('../img/inner-pages/strategy__middle-bg.png')
		background-position: center
		background-size: cover
		&__container
			padding-left: 215px
		._left-margin
			margin-left: 410px
		&__overtitle
			margin-bottom: 60px
			color: $accent
			font-weight: 600
		&__title
			display: flex
			flex-direction: column
			line-height: 1.1
			margin-bottom: 150px
			font-weight: 300
			font-size: 50px
		&__list
			border-top: 1px solid #fff
			display: flex
			flex-direction: column
			&-item
				padding: 60px 0 20px
				border-bottom: 1px solid #fff
				font-size: 26px
				transition: .3s
				&:hover
					color: $accent
					border-color: $accent
		&__text
			font-weight: 600
			max-width: 530px
			line-height: 1.65
			margin-top: 100px
	.table
		padding: 250px 0
		&__container
			padding-left: 215px
		._left-margin
			margin-left: 410px
		&__title
			display: flex
			flex-direction: column
			line-height: 1.1
			margin-bottom: 150px
			font-weight: 300
			font-size: 50px
		&__body
			border-top: 1px solid #fff
			display: flex
			flex-direction: column
		&__row
			padding: 60px 0 20px
			border-bottom: 1px solid #fff
			font-size: 26px
			display: flex
			justify-content: space-between
			align-items: center
		&__elem._accent
			color: $accent
	.perspective
		padding: 100px 0 250px
		&__title
			margin-bottom: 30px
			display: flex
			flex-direction: column
			&-middle
				margin-left: 450px
			&-bottom
				margin-left: 200px
		&__subtitle
			text-transform: uppercase
			color: $accent
			font-size: 30px
			margin-left: 625px
// eof



// Страница инфо
.p-info
	.main
		height: auto
		max-height: none
		background-image: url('../img/inner-pages/info__bg.png')
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		&__container
			height: auto
			min-height: auto
			padding: 80px 20px 150px
		&__title
			font-size: 100px
			margin-bottom: 120px
			line-height: 1.1
		&__list
			border-top: 1px solid #fff
			display: flex
			flex-direction: column
			margin-left: 250px
			&-item
				padding: 60px 0 20px
				border-bottom: 1px solid #fff
				font-size: 26px
				transition: .3s
				&:hover
					color: $accent
					border-color: $accent
// eof




























// Скрытые блоки
._desktop-hidden
	display: none
// eof



@import media