@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTHoves-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/TTHoves-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/TTHoves-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TTHoves-Bold.woff") format("woff");
}

::-webkit-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "TTHoves", sans-serif;
}

:-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "TTHoves", sans-serif;
}

::-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "TTHoves", sans-serif;
}

::placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "TTHoves", sans-serif;
}

::-moz-selection {
  background: #4CA970;
}

::selection {
  background: #4CA970;
}

body {
  font-size: 20px;
  min-width: 375px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "TTHoves", sans-serif;
  color: #1A1D22;
  position: relative;
  background-color: #F4F6F5;
}

section {
  padding: 100px 0;
}

h2 {
  font-weight: 700;
  font-size: 33px;
  color: #1A1D22;
  line-height: 1.1;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #BCC6C0;
  margin-bottom: 20px;
}

.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  line-height: 1;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border: none;
  color: #1A1D22;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button svg {
  margin-left: 20px;
  width: 205px;
  height: 144px;
}

.button svg._hidden {
  display: none;
}

.button:focus, .button:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper._left {
  width: 400px;
  padding-right: 90px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__wrapper._right {
  width: 100%;
  padding-left: 140px;
  color: #fff;
}

.header__wrapper-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  color: #4CA970;
}

.header__tel {
  font-weight: 700;
  margin-right: 160px;
}

.header__hamburger {
  width: 56px;
  height: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hamburger-line {
  background-color: #fff;
  width: 100%;
  height: 3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__hamburger-line._short {
  width: 60%;
}

.header__hamburger:hover > * {
  background-color: #4CA970;
}

.main {
  height: 100vh;
  max-height: 1000px;
  min-height: 660px;
  background-image: url("../img/main/main__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.main::before {
  content: '';
  width: 26vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F4F6F5;
}

.main__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.main__container-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__container-inner._left {
  width: 400px;
  padding-right: 90px;
  padding-bottom: 154px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.main__container-inner._left::before {
  content: '';
  width: 130px;
  height: 1px;
  background-color: #4CA970;
  position: absolute;
  left: 0;
  bottom: 72px;
}

.main__container-inner._right {
  width: 100%;
  padding-left: 140px;
  color: #fff;
}

.main__title {
  font-size: 66px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
  position: relative;
}

.main__subtitle {
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 40px;
  color: #4CA970;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  white-space: nowrap;
}

.main__button {
  color: #fff;
}

.main__company-name {
  margin-bottom: 20px;
}

.main__slider::before {
  content: '';
  width: 26vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.main__slider::after {
  content: '';
  width: 35px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4CA970;
}

.main__slider-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 85%;
  background-color: #F4F6F5;
}

.main__slider-arrows {
  position: absolute;
  top: 50%;
  left: -webkit-calc(100vw - 1720px - ((100vw - 1720px)/2));
  left: calc(100vw - 1720px - ((100vw - 1720px)/2));
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
}

.main__slider-arrow {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: relative;
}

.main__slider-arrow svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main__slider-arrow:hover svg path {
  fill: #4CA970;
}

.main__slider-prev {
  margin-right: 60px;
}

.main__slider-prev:active {
  -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
}

.main__slider-next:active {
  -webkit-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

.main__slide {
  padding-left: 26vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
  position: relative;
}

.main__slide.slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__slide-icon {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 26vw;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #F4F6F5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.main__slide-content {
  max-width: 660px;
  padding-left: 137px;
}

.main__slide-content::before {
  content: '';
  width: 130px;
  height: 1px;
  background-color: #BCC6C0;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.main__slide-heading {
  margin-bottom: 15px;
  color: #4CA970;
}

.main__slide-text {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
}

.main__slide-number {
  position: absolute;
  right: 95px;
  bottom: 0;
  -webkit-transform: translate(0, 45%);
      -ms-transform: translate(0, 45%);
          transform: translate(0, 45%);
  font-size: 130px;
  line-height: 0.8;
  font-weight: 600;
  color: #4CA970;
}

.main__slide-number::before {
  content: '';
  height: 100%;
  width: 46px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F4F6F5;
}

.main__scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  height: 220px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.services {
  padding-top: 240px;
}

.services .tabs__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services .tabs__caption-item {
  margin-right: 115px;
  font-size: 66px;
  font-weight: 400;
  color: #BCC6C0;
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  line-height: 1.7;
}

.services .tabs__caption-item::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #BCC6C0;
  opacity: 0;
}

.services .tabs__caption-item:last-child {
  margin-right: 0;
}

.services .tabs__caption-item:hover::before {
  opacity: 1;
}

.services .tabs__caption-item.active {
  color: #4CA970;
}

.services .tabs__caption-item.active::before {
  background-color: #4CA970;
  opacity: 1;
}

.services .tabs__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  position: relative;
  padding: 100px;
}

.services .tabs__content::before {
  content: '';
  display: block;
  background-color: #fff;
  width: -webkit-calc(100vw - 1720px - ((100vw - 1720px)/2));
  width: calc(100vw - 1720px - ((100vw - 1720px)/2));
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}

.services .tabs__content.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services__top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.services__title-box {
  width: 100%;
  max-width: 330px;
  margin-right: 50px;
}

.services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.services__wrapper:last-child {
  margin-bottom: 0;
}

.services__heading {
  width: 100%;
  max-width: 290px;
  color: #4CA970;
  margin-right: 140px;
  line-height: 1.3;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  top: 5px;
}

.services__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__list-item {
  font-size: 33px;
  margin-bottom: 30px;
  line-height: 1.3;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.services__list-item:last-child {
  margin-bottom: 0;
}

.services__list-item:hover {
  color: #4CA970;
}

.alliance {
  padding-bottom: 200px;
}

.alliance__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.alliance__title-box {
  max-width: 400px;
  width: 100%;
  margin-right: 140px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.alliance__title-box::before {
  content: '';
  position: absolute;
  bottom: 72px;
  left: 0;
  display: block;
  background-color: #4CA970;
  width: 130px;
  height: 1px;
}

.alliance__text {
  font-size: 66px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 40px;
}

.advantages {
  padding: 120px 0;
  background-color: #1A1D22;
}

.advantages::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: -webkit-calc(100vw - 1720px - ((100vw - 1720px)/2));
  width: calc(100vw - 1720px - ((100vw - 1720px)/2));
  height: 100%;
  background-color: #F4F6F5;
}

.advantages__container {
  padding-left: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  max-width: 360px;
  color: #fff;
}

.advantages__item-number {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  color: #4CA970;
  line-height: 1;
  margin-bottom: 70px;
}

.advantages__item-heading {
  font-size: 33px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.advantages__item-subheading {
  color: #fff;
  opacity: 0.35;
}

.target {
  padding: 150px 0;
}

.target__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.target__title-box {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
}

.target__title-box h3 {
  color: #4CA970;
  margin-bottom: 0;
  margin-left: 40px;
}

.target__heading {
  color: #4CA970;
  margin-bottom: 35px;
}

.target__heading-box {
  position: relative;
  left: 95px;
}

.target__subheading {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 400;
}

.target__text {
  max-width: 260px;
  margin-bottom: 20px;
}

.target__text span {
  color: #4CA970;
}

.target__button {
  margin-top: 10px;
}

.target__button svg {
  width: 150px;
}

.blog__top-line {
  margin-bottom: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__title {
  font-size: 66px;
  margin-right: 80px;
  font-weight: 400;
}

.blog__title-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__subtitle {
  font-weight: 700;
  color: #4CA970;
}

.blog__counter {
  position: relative;
  width: 90px;
  height: 60px;
}

.blog__counter-separator {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog__counter-current {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.blog__counter-all {
  color: #BCC6C0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog__slider .slick-list {
  padding-left: -webkit-calc(100vw - 1720px - ((100vw - 1720px)/2));
  padding-left: calc(100vw - 1720px - ((100vw - 1720px)/2));
}

.blog__slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__slider-arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-right: 125px;
  margin-left: 150px;
}

.blog__slider-arrow {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: relative;
}

.blog__slider-arrow svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.blog__slider-arrow:hover svg path {
  fill: #4CA970;
}

.blog__slider-arrow.slick-disabled:hover svg path {
  fill: #BCC6C0;
}

.blog__slider-arrow.slick-disabled:active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.blog__slider-prev {
  margin-right: 60px;
}

.blog__slider-prev:active {
  -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
}

.blog__slider-next:active {
  -webkit-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

.blog .article {
  width: 485px;
  margin-right: 60px;
  cursor: pointer;
}

.blog .article:hover .article__button {
  opacity: 1;
}

.blog .article:last-child {
  margin-right: 0;
}

.blog .article__image {
  height: 460px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 40px 30px;
  margin-bottom: 35px;
}

.blog .article__image-wrapper {
  overflow: hidden;
}

.blog .article__date {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  color: #4CA970;
}

.blog .article__title {
  font-size: 30px;
  max-width: 85%;
  line-height: 1.3;
  margin-bottom: 30px;
  display: block;
}

.blog .article__button {
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.blog .article__button svg {
  width: 150px;
}

.about {
  padding-bottom: 150px;
}

.about__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__heading {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  font-size: 66px;
  line-height: 1.2;
  color: #BCC6C0;
  font-weight: 400;
}

.about__title {
  font-size: 66px;
  line-height: 1.3;
  margin-bottom: 45px;
}

.about__title-box {
  position: relative;
  left: 25px;
}

.about__subtitle {
  font-weight: 700;
  color: #4CA970;
}

.about__text {
  max-width: 280px;
  margin-bottom: 10px;
}

.about__button svg {
  width: 200px;
}

.footer {
  padding: 150px 0;
  background-color: #1A1D22;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__wrapper {
  max-width: 400px;
  width: 100%;
  margin-right: 150px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.footer__logo {
  position: relative;
  padding-left: 150px;
  margin-bottom: 225px;
}

.footer__logo::before {
  content: '';
  width: 30px;
  height: 1px;
  position: absolute;
  bottom: -112px;
  background-color: #fff;
  opacity: 0.2;
}

.footer__logo-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer__logo-icon img {
  width: 100%;
}

.footer__logo-title {
  margin-bottom: 15px;
  opacity: 0.35;
  font-weight: 400;
}

.footer__logo-text {
  line-height: 1.3;
}

.footer__contacts {
  padding-left: 150px;
  margin-bottom: 225px;
  position: relative;
}

.footer__contacts::before {
  content: '';
  width: 30px;
  height: 1px;
  position: absolute;
  bottom: -100px;
  background-color: #fff;
  opacity: 0.2;
}

.footer__contacts > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts-tel {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 25px;
  color: #4CA970;
  position: relative;
}

.footer__contacts-tel::before {
  content: '';
  width: 110px;
  height: 3px;
  background-color: #4CA970;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-right: 40px;
}

.footer__contacts-email {
  margin-bottom: 25px;
  font-weight: 400;
}

.footer__contacts-address {
  font-weight: 400;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-col {
  margin-right: 115px;
  max-width: 50%;
}

.footer__menu-col._max-width {
  max-width: 460px;
}

.footer__menu-col:last-child {
  margin: 0;
}

.footer__menu-wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__menu-wrapper:last-child {
  margin-bottom: 0;
}

.footer__menu-title {
  color: #4CA970;
  margin-bottom: 30px;
}

.footer__menu-heading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__menu-item {
  opacity: 0.35;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__menu-item:hover {
  opacity: 1;
}

.footer__copyrights {
  position: absolute;
  left: 150px;
  bottom: 0;
  color: #fff;
  opacity: 0.35;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.footer__copyrights span {
  margin-right: 40px;
  white-space: nowrap;
}

.footer__copyrights span:last-child {
  margin: 0;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1760px) {
  .container {
    max-width: 1400px;
  }
  .header__wrapper._left {
    width: 300px;
    padding-right: 0;
    margin-right: 50px;
  }
  .header__wrapper._right {
    padding-left: 80px;
  }
  .header__tel {
    margin-right: 100px;
  }
  .main {
    background-position: 15% center;
  }
  .main::before {
    width: 28vw;
  }
  .main__container-inner._left {
    width: 300px;
    padding-right: 0;
    margin-right: 50px;
  }
  .main__container-inner._right {
    padding-left: 80px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__subtitle {
    margin-left: 30px;
  }
  .main__slider::before {
    width: 28vw;
  }
  .main__slider-arrows {
    left: -webkit-calc(100vw - 1375px - ((100vw - 1375px)/2));
    left: calc(100vw - 1375px - ((100vw - 1375px)/2));
  }
  .main__slide {
    padding-left: 28vw;
    height: 180px;
  }
  .main__slide-icon {
    left: 28vw;
    width: 100px;
    height: 100px;
  }
  .main__slide-content {
    margin-right: 60px;
    padding-left: 80px;
  }
  .main__slide-text {
    font-size: 28px;
  }
  .main__slide-number {
    right: 80px;
  }
  .main__scroll-down {
    height: 180px;
  }
  .services .tabs__caption-item {
    font-size: 50px;
    margin-right: 115px;
  }
  .services .tabs__content {
    padding: 70px;
  }
  .services .tabs__content::before {
    width: -webkit-calc(100vw - 1360px - ((100vw - 1360px)/2));
    width: calc(100vw - 1360px - ((100vw - 1360px)/2));
  }
  .services__title-box {
    margin-right: 0;
    max-width: 320px;
  }
  .services__heading {
    max-width: 270px;
    margin-right: 100px;
  }
  .services__list-item {
    font-size: 30px;
  }
  .alliance__title-box {
    max-width: 320px;
    margin-right: 120px;
  }
  .alliance__text {
    font-size: 60px;
  }
  .advantages {
    padding: 90px 0;
  }
  .advantages::before {
    width: -webkit-calc(100vw - 1360px - ((100vw - 1360px)/2));
    width: calc(100vw - 1360px - ((100vw - 1360px)/2));
  }
  .advantages__item-heading {
    font-size: 28px;
  }
  .advantages__container {
    padding-left: 65px;
  }
  .target__subheading {
    font-size: 46px;
  }
  .target__text-box {
    max-width: 300px;
  }
  .target__button svg {
    width: 100px;
    height: auto;
  }
  .blog__title {
    font-size: 51px;
  }
  .blog__slider .slick-list {
    padding-left: -webkit-calc(100vw - 1360px - ((100vw - 1360px)/2));
    padding-left: calc(100vw - 1360px - ((100vw - 1360px)/2));
  }
  .blog__slider-arrows {
    margin-right: 30px;
  }
  .blog .article {
    width: 450px;
  }
  .about__title {
    font-size: 50px;
  }
  .footer__wrapper {
    margin-right: 100px;
  }
  .footer__menu-col {
    margin-right: 70px;
  }
  .footer__menu-heading {
    font-size: 22px;
  }
  .footer__menu-item {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1500px) {
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .button svg {
    height: 121px;
    width: auto;
  }
  .header {
    padding: 20px 0;
  }
  .header__tel {
    margin-right: 150px;
  }
  .main {
    background-position: 15% center;
    max-height: 800px;
  }
  .main::before {
    width: 26.5vw;
  }
  .main__container-inner {
    margin-top: 30px;
  }
  .main__title {
    font-size: 44px;
  }
  .main__subtitle {
    font-size: 18px;
    margin-left: 65px;
  }
  .main__slider::before {
    width: 26.5vw;
  }
  .main__slider::after {
    width: 20px;
  }
  .main__slider-arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main__slider-arrow {
    width: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__slider-arrow svg {
    width: 100%;
    height: auto;
  }
  .main__slider-prev {
    margin-right: 40px;
  }
  .main__slide {
    left: 26.5vw;
  }
  .main__slide-icon {
    left: 26.5vw;
  }
  .main__slide-icon img {
    width: 26px;
  }
  .main__slide-content {
    max-width: 500px;
    margin-right: 70px;
    padding-left: 60px;
  }
  .main__slide-text {
    font-size: 24px;
  }
  .services__title-box {
    max-width: 250px;
    margin-right: 110px;
  }
  .services__list-item {
    font-size: 26px;
  }
  .alliance__text {
    font-size: 40px;
  }
  .alliance__title-box::before {
    bottom: 60px;
  }
  .advantages__container {
    padding-left: 50px;
  }
  .advantages__item-heading {
    font-size: 22px;
  }
  .advantages__item-subheading {
    font-size: 16px;
  }
  .target__heading-box {
    left: 45px;
  }
  .target__subheading {
    font-size: 40px;
  }
  .target__text {
    max-width: 235px;
    font-size: 16px;
  }
  .target__button {
    font-size: 15px;
  }
  .target__button svg {
    width: 80px;
    height: auto;
  }
  .blog__title {
    font-size: 50px;
    margin-right: 90px;
  }
  .blog__slider-arrow {
    width: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog .article {
    width: 400px;
    margin-right: 40px;
  }
  .blog .article__image {
    height: 380px;
    margin-bottom: 25px;
  }
  .blog .article__title {
    font-size: 24px;
  }
  .about__title-box {
    position: relative;
    left: 10px;
  }
  .about__heading, .about__title {
    font-size: 50px;
  }
  .about__text {
    max-width: 235px;
    font-size: 16px;
  }
  .about__button {
    font-size: 15px;
  }
  .about__button svg {
    width: 100px;
    height: auto;
  }
  .footer__wrapper {
    max-width: 260px;
    margin-right: 195px;
  }
  .footer__logo {
    padding-left: 90px;
    margin-bottom: 250px;
    font-size: 14px;
  }
  .footer__logo::before {
    bottom: -125px;
  }
  .footer__logo-icon {
    width: 60px;
  }
  .footer__menu-col {
    margin-right: 40px;
  }
  .footer__menu-col._max-width {
    max-width: 400px;
  }
  .footer__menu-title {
    font-size: 14px;
  }
  .footer__menu-heading {
    font-size: 20px;
  }
  .footer__menu-item {
    font-size: 15px;
  }
  .footer__contacts {
    padding-left: 90px;
  }
  .footer__contacts-tel {
    font-size: 20px;
  }
  .footer__contacts-tel::before {
    width: 60px;
    margin-right: 30px;
  }
  .footer__contacts-email {
    font-size: 14px;
  }
  .footer__contacts-address {
    font-size: 14px;
  }
  .footer__copyrights {
    left: 90px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: -webkit-calc(100vw - 60px);
    max-width: calc(100vw - 60px);
  }
  .button svg {
    height: 101px;
    width: auto;
  }
  .header__logo {
    width: 70px;
    height: auto;
  }
  .header__wrapper._left {
    width: 360px;
  }
  .header__wrapper._right {
    padding-left: 80px;
  }
  .main::before {
    width: 31vw;
  }
  .main__container-inner._left {
    width: 360px;
    padding-bottom: 115px;
  }
  .main__container-inner._left::before {
    bottom: 50px;
  }
  .main__container-inner._right {
    padding-left: 80px;
  }
  .main__slider::before {
    width: 31vw;
  }
  .main__slide {
    padding-left: 31vw;
  }
  .main__slide-icon {
    left: 31vw;
    width: 90px;
    height: 90px;
  }
  .main__slide-icon img {
    width: 24px;
  }
  .main__slide-content {
    max-width: 380px;
  }
  .main__slide-text {
    font-size: 22px;
  }
  .main__slide-number {
    font-size: 100px;
    right: 40px;
  }
  .main__slide-number::before {
    width: 36px;
  }
  .services .tabs__caption-item {
    font-size: 44px;
    margin-right: 80px;
  }
  .services .tabs__content {
    padding: 70px;
  }
  .services .tabs__content::before {
    width: -webkit-calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
    width: calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
  }
  .services__wrapper {
    margin-bottom: 50px;
  }
  .services__heading {
    max-width: 250px;
    margin-right: 100px;
    top: auto;
  }
  .services__list-item {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .advantages {
    padding: 100px 0;
  }
  .advantages::before {
    width: -webkit-calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
    width: calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
  }
  .advantages__container {
    padding-left: 50px;
  }
  .advantages__item-heading {
    font-size: 24px;
  }
  .target__title-box h3 {
    margin-left: 20px;
  }
  .target__subheading {
    font-size: 32px;
  }
  .blog__title {
    font-size: 44px;
  }
  .blog__slider .slick-list {
    padding-left: -webkit-calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
    padding-left: calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
  }
  .blog__slider-arrows {
    margin-left: 60px;
  }
  .about__heading, .about__title {
    font-size: 38px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .footer__wrapper {
    margin-right: 100px;
    max-width: 200px;
  }
  .footer__logo {
    padding-left: 60px;
    margin-bottom: 245px;
    font-size: 10px;
  }
  .footer__logo::before {
    bottom: -120px;
  }
  .footer__logo-icon {
    width: 40px;
  }
  .footer__logo-title {
    margin-bottom: 5px;
  }
  .footer__menu-col {
    margin-right: 30px;
  }
  .footer__menu-heading {
    font-size: 16px;
  }
  .footer__menu-item {
    font-size: 14px;
  }
  .footer__contacts {
    padding-left: 60px;
  }
  .footer__contacts-tel {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .footer__contacts-tel::before {
    width: 40px;
    margin-right: 20px;
    height: 1px;
  }
  .footer__contacts-email {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .footer__contacts-address {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1100px) {
  section {
    padding: 60px 0;
  }
  .header__logo {
    width: 50px;
  }
  .header__wrapper._left {
    width: 275px;
    padding-right: 40px;
  }
  .header__wrapper._right {
    padding-left: 70px;
  }
  .header__tel {
    margin-right: 60px;
  }
  .main {
    background-position: 20% center;
    max-height: 600px;
  }
  .main__container-inner._left {
    width: 275px;
    padding-right: 40px;
  }
  .main__container-inner._right {
    padding-left: 70px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__subtitle {
    font-size: 14px;
    margin-left: 20px;
  }
  .main__slider-arrow {
    width: 60px;
  }
  .main__slider-prev {
    margin-right: 30px;
  }
  .services {
    padding-top: 120px;
  }
  .services .tabs__caption-item {
    font-size: 38px;
    margin-right: 60px;
  }
  .alliance {
    padding-bottom: 120px;
  }
  .alliance__title-box {
    margin-right: 50px;
    max-width: 350px;
  }
  .alliance__text {
    font-size: 36px;
  }
  .advantages__container {
    padding-left: 50px;
  }
  .advantages__item-number {
    margin-bottom: 50px;
  }
  .advantages__item-heading {
    font-size: 20px;
  }
  .advantages__item-subheading {
    font-size: 14px;
  }
  .blog__title {
    font-size: 40px;
    margin-right: 30px;
  }
  .blog__subtitle {
    font-size: 14px;
  }
  .blog__slider .slick-list {
    padding-left: -webkit-calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
    padding-left: calc(100vw - (100vw - 100px) - ((100vw - (100vw - 100px))/2));
  }
  .footer {
    padding: 90px 0;
  }
  .footer__wrapper {
    margin-right: 70px;
  }
  .footer__logo {
    margin-bottom: 240px;
  }
  .footer__menu-title {
    font-size: 12px;
  }
  .footer__menu-heading {
    font-size: 14px;
  }
  .footer__menu-item {
    font-size: 12px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 480px;
  }
  .button {
    font-size: 15px;
  }
  .button svg {
    display: none;
    width: 130px;
    height: 66px;
    margin-left: 15px;
  }
  .button svg._hidden {
    display: block;
  }
  .header__link, .header__address {
    display: none;
  }
  .header__wrapper._left, .header__wrapper._right {
    padding: 0;
    width: auto;
  }
  .header__logo {
    width: 66px;
  }
  .header__hamburger {
    width: 44px;
  }
  .main {
    background-position: center top;
    background-image: url("../img/main/main__bg-mobile.jpg");
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
    min-height: auto;
    max-height: none;
  }
  .main::before {
    display: none;
  }
  .main__container {
    padding: 70px 0 90px;
    margin-top: 0;
  }
  .main__container-inner._left {
    display: none;
  }
  .main__container-inner._right {
    padding-left: 0;
  }
  .main__title {
    font-size: 42px;
    margin-bottom: 35px;
  }
  .main__title br {
    display: none;
  }
  .main__subtitle {
    position: static;
    margin-left: 0;
    margin-top: 30px;
    font-size: 16px;
    white-space: normal;
  }
  .main__slider {
    width: 100%;
  }
  .main__slider::before {
    display: none;
  }
  .main__slider-container {
    position: static;
    width: 100%;
  }
  .main__slider-arrows {
    display: none;
  }
  .main__slider::after {
    width: 100%;
    height: 6px;
  }
  .main__slide {
    padding-left: 0;
    height: auto;
  }
  .main__slide-icon {
    display: none;
  }
  .main__slide-content {
    max-width: 480px;
    padding: 50px 20px 100px;
    margin-right: 0;
  }
  .main__slide-content::before {
    width: 60px;
  }
  .main__slide-number {
    right: -webkit-calc(100vw - 440px - ((100vw - 440px)/2));
    right: calc(100vw - 440px - ((100vw - 440px)/2));
  }
  .main__slide-number::before {
    width: 35px;
  }
  .main__scroll-down {
    display: none;
  }
  .services {
    padding-top: 120px;
  }
  .services .tabs__caption {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: -webkit-calc(100% + 20px);
    max-width: calc(100% + 20px);
    padding-bottom: 20px;
  }
  .services .tabs__caption-item {
    min-width: 240px;
    line-height: 1.1;
    font-size: 50px;
    margin-right: 25px;
  }
  .services .tabs__caption-item::before {
    display: none;
  }
  .services .tabs__content {
    padding: 40px 20px;
  }
  .services .tabs__content::before {
    width: 20px;
  }
  .services__top-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
  .services__title-box {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 60px;
  }
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .services__heading {
    margin-bottom: 24px;
    margin-bottom: 20px;
  }
  .services__list-item {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .alliance__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alliance__title-box {
    margin-right: 0;
    margin-bottom: 60px;
    max-width: 100%;
  }
  .alliance__title-box::before {
    display: none;
  }
  .alliance__text br {
    display: none;
  }
  .advantages::before {
    width: 20px;
  }
  .advantages__container {
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    margin-bottom: 40px;
    max-width: 100%;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__item-number {
    margin-bottom: 30px;
  }
  .advantages__item-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .advantages__item-heading br {
    display: none;
  }
  .advantages__item-subheading {
    font-size: 16px;
  }
  .target {
    padding: 100px 0;
  }
  .target__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .target__title-box {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding-bottom: 75px;
    margin-bottom: 75px;
    position: relative;
  }
  .target__title-box::before {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    background-color: #BCC6C0;
  }
  .target__title-box h3 {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .target__heading {
    margin-bottom: 15px;
  }
  .target__subheading {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .target__subheading br {
    display: none;
  }
  .target__text {
    max-width: 240px;
  }
  .blog {
    padding: 100px 0;
    background-color: #fff;
  }
  .blog__top-line {
    margin-bottom: 70px;
  }
  .blog__title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .blog__title-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog__slider {
    margin: 0 auto;
  }
  .blog__slider .slick-list {
    padding-left: -webkit-calc(100vw - 440px - ((100vw - 440px)/2));
    padding-left: calc(100vw - 440px - ((100vw - 440px)/2));
  }
  .blog__slider-nav {
    display: none;
  }
  .blog .article {
    width: 320px;
    margin-right: 30px;
  }
  .blog .article__image {
    height: 300px;
    padding: 30px 20px;
  }
  .blog .article__title {
    max-width: 100%;
  }
  .blog .article__button {
    opacity: 1;
  }
  .blog .article__button svg {
    width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .about {
    padding: 100px 0;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__heading {
    display: none;
  }
  .about__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .about__subtitle {
    margin-bottom: 35px;
  }
  .about__text {
    max-width: 230px;
    margin-bottom: 35px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper {
    max-width: 100%;
    margin-right: 0;
  }
  .footer__logo {
    padding-left: 0;
    padding-right: 120px;
    margin-bottom: 100px;
  }
  .footer__logo::before {
    bottom: -50px;
  }
  .footer__logo-icon {
    width: 90px;
    left: auto;
    right: 0;
    top: 50%;
  }
  .footer__logo-title, .footer__logo-text {
    font-size: 16px;
  }
  .footer__contacts {
    padding-left: 150px;
    display: none;
  }
  .footer__contacts-tel {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 25px;
    color: #4CA970;
    position: relative;
  }
  .footer__contacts-tel::before {
    content: '';
    width: 110px;
    height: 3px;
    background-color: #4CA970;
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-right: 40px;
  }
  .footer__contacts-email {
    margin-bottom: 25px;
    font-weight: 400;
  }
  .footer__contacts-address {
    font-weight: 400;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu-col {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .footer__menu-wrapper {
    margin-bottom: 30px;
  }
  .footer__menu-wrapper:last-child {
    margin-bottom: 30px;
  }
  .footer__menu-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .footer__menu-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .footer__menu-item {
    font-size: 16px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main__slide-number {
    right: 20px;
  }
  .blog__slider .slick-list {
    padding-left: 20px;
  }
}
