.preloader
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: $accent
	color: #fff
	z-index: 100
	&__title
		@include adaptive('margin-top', 50, 25, 'desktop')
		@include adaptive('font-size', 258, 129, 'desktop')
		font-family: $preloader-font
		text-transform: uppercase
		font-weight: 900
		text-align: center
		line-height: 1
	&__counter
		@include adaptive('font-size', 144, 72, 'desktop')
		@include adaptive('right', 60, 30, 'desktop')
		@include adaptive('bottom', 60, 30, 'desktop')
		position: absolute
		font-weight: 700
		line-height: 1

.page-transition
	width: 100%
	height: 100%
	position: fixed
	left: 0
	top: -100%
	right: 0
	bottom: 0
	z-index: 100
	background-color: $accent
	transition: .4s
	&.active
		top: 0

.page-loaded
	.preloader
		top: -100%

@media only screen and (max-width : 960px)
	.preloader
		&__title
			@include adaptive('margin-top', 40, 15, 'mobile')
			@include adaptive('font-size', 128, 50, 'mobile')
		&__counter
			@include adaptive('font-size', 128, 50, 'mobile')
			@include adaptive('right', 52, 20, 'mobile')
			@include adaptive('bottom', 40, 15, 'mobile')
