@import reset
@import fonts
@import vars

// General
body
	font-size: 26px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	color: #000

.container
	width: 100%
	max-width: 1750px
	margin-right: auto
	margin-left: auto
	padding-left: 15px
	padding-right: 15px

.title
	text-transform: uppercase
	font-size: 48px
	font-weight: 600
	text-align: center
	margin-bottom: 80px
//

// Form elements
input, textarea
	background: none
	border: none
	color: inherit
	font-size: 18px
	color: #fff
	border-radius: 0

::placeholder
	color: rgba(255, 255, 255, 0.6)
	font-size: 18px
	font-family: $default-font
//

.header
	background-color: #fff
	z-index: 2
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		padding-top: 10px
		padding-bottom: 10px
		min-height: 60px
	&__hamburger
		display: none
		align-items: center
		justify-content: center
	&__logo
		display: flex
	&__menu
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		display: flex
		align-items: center
		justify-content: center
		gap: 50px
		&-item
			text-transform: uppercase
			font-size: 18px
			letter-spacing: -0.01em
			position: relative
			&::before
				content: ''
				display: block
				width: 0
				height: 2px
				background-color: #000
				transition: .3s
				position: absolute
				bottom: 0
				left: 0
			&:hover::before
				width: 100%
		&-close
			display: none
	&__lang
		position: relative
		&-heading
			font-size: 18px
			line-height: 1.5
			text-transform: uppercase
			display: flex
			align-items: center
			cursor: pointer
			&::before
				content: ''
				margin-right: 4px
				width: 8px
				height: 8px
				background-image: url('../img/lang-arrow.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				transition: .3s
				position: absolute
				right: 100%
			&.active::before
				transform: rotate(180deg)
		&-dropdown
			display: none
			position: absolute
			top: calc(100% + 15px)
			left: 50%
			transform: translateX(-50%)
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
			border-radius: 0px 0px 6px 6px
			padding: 20px
			background-color: #fff
			z-index: 2
		&-item
			margin-bottom: 20px
			font-size: 18px
			text-transform: uppercase
			position: relative
			display: block
			&:last-child
				margin-bottom: 0
			&.active::before
				content: ''
				display: block
				width: 100%
				height: 2px
				background-color: #000
				transition: .2s
				position: absolute
				bottom: 0
				left: 0

.main
	height: calc(100vh - 60px)
	min-height: 500px
	background-color: #000
	color: #fff
	display: flex
	flex-direction: column
	justify-content: flex-end
	padding-bottom: 50px
	&__video
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		height: 100%
		width: 100%
		background-size: cover
		background-position: center
		z-index: 1
	&__container
		display: flex
		flex-direction: column
		align-items: flex-end
		justify-content: center
		position: relative
		z-index: 2
	&__blockquote
		font-size: 26px
		line-height: 1.2
		font-weight: 500
		font-style: italic
		max-width: 930px
		width: 100%
		text-align: right
		margin-bottom: 200px
		&-author
			margin-top: 20px
			display: block
			font-weight: 500
			font-style: italic

.section
	padding: 100px 0
	border-bottom: 1px solid #222222
	&__text
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&__list
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		justify-content: space-between
		gap: 40px
		&-item
			display: flex
			align-items: flex-start
			width: calc(50% - 25px)
			&::before
				content: ''
				width: 40px
				height: 40px
				background-image: url('../img/done.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				margin-right: 20px
				flex: 0 0 auto

.partners
	display: flex
	align-items: center
	gap: 50px
	justify-content: space-between
	&__item
		display: flex
		align-items: center
		justify-content: center

.footer
	color: #fff
	background-color: #222222
	padding-top: 80px
	&__container
		padding-bottom: 140px
		display: flex
		align-items: flex-start
		justify-content: space-between
		&-inner
			width: 100%
			max-width: 50%
			display: flex
			justify-content: center
	&__contacts
		display: flex
		flex-direction: column
		align-items: flex-start
		max-width: 50%
		&-item
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
	&__form
		width: 100%
		max-width: 540px
		&-title
			font-size: 24px
			font-weight: 500
			margin-bottom: 40px
			text-align: center
		&-inputs
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			gap: 20px
		&-input
			width: calc(50% - 10px)
			padding: 10px 0
			border-bottom: 1px solid #fff
			&._full-width
				width: 100%
		&-submit
			font-size: 18px
			font-weight: 500
			text-transform: uppercase
			color: #fff
			border: 1px solid #fff
			width: 100%
			padding: 12px
			margin-top: 30px
			transition: .2s
			&:hover
				background-color: #fff
				color: #000
	&__copyrights
		padding: 20px 15px
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		font-size: 18px
		text-transform: uppercase
		border-top: 1px solid #fff

// Video js
.video-js
	.vjs-tech
		object-fit: cover
	.vjs-poster
		background-size: cover
	.vjs-control-bar
		display: none
	.vjs-big-play-button
		display: none
		.vjs-icon-placeholder
			display: none
//

@import media
