.feedback
	&__title
		margin-bottom: 50px
	&__text
		width: 100%
		max-width: 380px
	&__phone
		margin-top: 25px
		display: flex
		align-items: center
		font-weight: 500
		&-icon
			flex: 0 0 auto
			margin-right: 15px
		&-inner
			display: flex
			flex-direction: column
			align-items: flex-start
		&-caption
			font-size: 12px
		&-number
			font-size: 32px
	&-form
		&__heading
			margin-bottom: 25px
			width: 100%
			max-width: 380px
		&__item
			margin-bottom: 25px
			display: block
			&-caption
				margin-bottom: 10px
				font-size: 12px
				margin-left: 24px
			&-input, &-textarea
				padding: 16px 24px
				background-color: #fff
				border-radius: 12px
				width: 100%
			&-textarea
				resize: none
				height: 160px
		&__submit
			width: 100%
			justify-content: space-between

@media only screen and (max-width : 1300px)
	.feedback
		&__title
			margin-bottom: 30px
		&__text
			display: none
		&__phone
			margin-top: 30px
		&-form
			&__heading
				margin-bottom: 25px
				width: 100%
				max-width: 380px
			&__item
				margin-bottom: 15px
				display: block
				&-caption
					font-size: 14px
					margin-left: 0
				&-input, &-textarea
					font-size: 14px
					&::placeholder
						font-size: 14px
				&-textarea
					height: 110px
			&__submit
				width: 100%
				justify-content: space-between
