.footer
	max-width: 100%
	width: 1500px
	margin: 0 auto 20px
	border-radius: 12px
	background-color: #fff
	&__container
		padding-top: 20px
		padding-bottom: 20px
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		display: flex
		align-items: center
		&-text
			margin-left: 30px
			font-weight: 700
			line-height: 1
	&__btn
		padding: 14px 28px
	&__social
		display: flex
		align-items: center
		&-caption
			margin-right: 30px
			font-family: $second-font
			font-size: 14px
			font-weight: 700
		&-flexbox
			display: flex
			align-items: center
			gap: 10px
		&-item
			width: 32px
			display: flex
	&__copyrights
		color: $gray
		font-size: 14px

@media only screen and (max-width : 1300px)
	.footer
		border-radius: 12px 12px 0 0
		margin-bottom: 0
		&__container
			padding-top: 30px
			padding-bottom: 30px
			align-items: stretch
			flex-direction: column
		&__logo
			margin-bottom: 30px
		&__btn
			margin-bottom: 40px
		&__social
			margin-bottom: 20px
