.header
	max-width: 100%
	width: 1500px
	margin: 20px auto 0
	border-radius: 12px
	background-color: #fff
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 8
	&__container
		padding-top: 15px
		padding-bottom: 15px
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		z-index: 10
		&-inner
			display: flex
			align-items: center
			justify-content: space-between
	&__logo
		display: flex
		align-items: center
		&-text
			margin-left: 30px
			font-weight: 700
			line-height: 1
	&__btn
		padding: 14px 28px
		font-size: 14px
		margin-right: 30px
	&__menu
		display: flex
		align-items: center
		gap: 20px
		&-item
			display: flex
			align-items: center
			font-size: 14px
			letter-spacing: -0.02em
			position: relative
			&::before
				content: ''
				width: 0
				height: 1px
				position: absolute
				top: 100%
				left: 0
				background-color: $black
				transition: .3s
			&:hover::before
				width: 100%
		&-icon
			margin-right: 5px
			flex: 0 0 auto
	&__lang
		display: flex
		align-items: center
		gap: 12px
		position: relative
		margin-left: 30px
		&::before
			content: ''
			display: inline-block
			width: 2px
			position: absolute
			top: 0
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			background-color: #D7D7D7
		&-item
			color: #6E6E6E
			font-weight: 400
			text-transform: uppercase
			transition: .3s
			&:hover
				color: $black
			&.active
				font-weight: 500
				color: $black
	&-hamburger
		&__btn
			display: none
			border: 1px solid #DBD2E1
			background-color: #F8F2FB
			padding: 8px 14px
			font-size: 12px
			width: auto
			&:hover
				background-color: #F8F2FB
		&__menu
			display: none
			position: absolute
			right: 0
			left: 0
			top: 100%
			background-color: #fff
			border-top: 1px solid #DBD2E1
			transform: translateY(-100%)
			transition: .5s
			z-index: 9
			&.active
				transform: translateY(0%)
			&-inner
				display: flex
				flex-direction: column
				align-items: flex-start
				padding: 40px 20px

@media only screen and (max-width : 1300px)
	.header
		width: 100%
		border-radius: 0
		margin-top: 0
		&__container
			padding-top: 10px
			padding-bottom: 10px
			background-color: #fff
		&__logo
			width: 100px
			&-text
				display: none
		&__btn
			margin-right: 5px
			padding: 8px 14px
			font-size: 12px
			width: auto
		&__menu
			flex-direction: column
			align-items: flex-start
			gap: 15px
			&-item
				font-size: 16px
				&::before
					display: none
		&__lang
			margin-left: 0
			margin-top: 40px
		&-hamburger
			&__btn
				display: flex
			&__menu
				display: flex
