.main
	position: relative
	padding: 110px 0 80px
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 100px
		margin-bottom: 70px
		position: relative
		&-inner
			max-width: 540px
			width: 100%
	&__overtitle
		color: #1E1E1E
		margin-bottom: 15px
		font-size: 22px
		font-weight: 700
	&__title
		font-family: $second-font
		font-weight: 500
		font-size: 52px
		line-height: 1.08
		letter-spacing: -0.04em
		margin-bottom: 30px
	&__text
		max-width: 470px
		width: 100%
		color: $gray
		line-height: 1.35
	&__img
		max-width: none
		max-height: none
		position: absolute
		top: 0
		right: -100px
		z-index: 3
		&-decor
			position: absolute
			right: 0
			top: 0
			z-index: 1
			max-height: none
			max-width: none
			&-mobile
				display: none
	&-count
		max-width: 100%
		width: 1500px
		margin: 0 auto
		position: relative
		z-index: 2
		&__container
			width: 100%
			background-color: #fff
			padding: 100px 120px
			border-radius: 24px
		&__decor
			position: absolute
			&-1
				top: -75px
				left: -115px
				z-index: -1
			&-2
				right: -60px
				bottom: 40px
		&__flexbox
			display: flex
			justify-content: space-between
			align-items: center
		&__amount
			background-color: $accent
			border-radius: 12px
			padding: 40px 90px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			width: 100%
			max-width: 510px
			line-height: 1
			&-number
				border-bottom: 1px solid rgba(0, 0, 0, 0.10)
				padding-bottom: 13px
				font-family: $second-font
				font-size: 48px
				font-weight: 700
				letter-spacing: -0.04em
			&-caption
				padding-top: 13px
				font-weight: 500
				font-size: 14px
				color: #806700
		&__text
			width: 100%
			max-width: 620px
			&-p
				margin-bottom: 20px

				color: $gray
				&:last-child
					margin-bottom: 0
				&._bold
					color: $black

@media only screen and (max-width : 1300px)
	.main
		padding: 55px 0 35px
		&__container
			flex-direction: column
			align-items: stretch
			padding-top: 60px
			margin-bottom: 0
			margin-top: 0
			&-inner
				margin-bottom: 40px
		&__overtitle
			font-size: 18px
		&__title
			font-size: 32px
			margin-bottom: 20px
		&__img
			max-width: 100%
			position: relative
			top: auto
			right: auto
			&-container
				position: relative
			&-decor
				display: none
				&-mobile
					display: flex
					position: absolute
					left: 50%
					top: 75%
					transform: translate(-50%, -50%)
					z-index: 1
					max-height: none
					max-width: none
		&-count
			&__container
				padding: 45px 0
				border-radius: 12px
			&__decor
				position: absolute
				&-1
					top: 5px
					left: -10px
					z-index: 1
					width: 70px
				&-2
					right: 12px
					bottom: -30px
					width: 50px
			&__flexbox
				flex-direction: column
				align-items: stretch
			&__amount
				padding: 30px
				margin-bottom: 30px
				&-number
					font-size: 36px
			&__text-p
				margin-bottom: 15px
				font-size: 14px
