.team
	&__container
		position: relative
		margin-bottom: 60px
	&__inner
		width: 510px
	&__item
		display: flex
		flex-direction: column
		align-items: center
		&-img
			margin-bottom: 40px
			width: 100%
		&-heading
			margin-bottom: 25px
			font-size: 36px
			font-weight: 500
			line-height: 1
		&-subheading
			color: #949494
			max-width: 350px
			text-align: center
			font-size: 21px
	&-top
		margin-bottom: 70px
		&__heading
			margin-bottom: 20px
			font-family: $second-font
			font-size: 22px
			font-weight: 500
		&__text
			margin-bottom: 20px
			font-size: 18px
			color: $gray
			&:last-child
				margin-bottom: 0
			&._highlighted
				padding-top: 20px
				border-top: 1px solid rgba(0, 0, 0, 0.10)
				color: $black
			&._max-w
				max-width: 555px
	&-center
		max-width: 100%
		width: 1500px
		margin: 0 auto
		position: relative
		background-color: #fff
		padding: 100px 120px
		border-radius: 24px
		margin-bottom: 80px
		z-index: 2
		&__container
			width: 100%
			align-items: center
			padding: 0
		&__heading
			background-color: $accent
			border-radius: 12px
			padding: 45px 55px
			font-size: 22px
			font-weight: 500
			font-family: $second-font
		&__text
			width: 520px
			color: $gray
			font-size: 18px
		&__btn
			margin-top: 25px
			display: inline-flex
	&-bottom
		position: relative
		align-items: center
		&__heading
			padding: 45px 55px
			border: 2px solid rgba(0, 0, 0, 0.07)
			border-radius: 24px
			font-family: $second-font
			font-size: 22px
			font-weight: 500
		&__text
			margin-bottom: 20px
			width: 580px
			color: $gray
			&:last-child
				margin-bottom: 0
			&._medium
				font-size: 18px
				font-family: $second-font
				color: $black
	&__decor
		position: absolute
		&-1
			bottom: -17px
			right: -140px
		&-2
			right: -40px
			bottom: -12px
		&-3
			right: 100%
			top: 0
			margin-right: 54px

@media only screen and (max-width : 1300px)
	.team
		&__container
			margin-bottom: 40px
		&__inner
			width: 100%
		&__item
			margin-bottom: 35px
			&:last-child
				margin-bottom: 0
			&-img
				margin-bottom: 20px
			&-heading
				margin-bottom: 10px
				font-size: 18px
			&-subheading
				max-width: 230px
				font-size: 14px
		&-top
			margin-bottom: 60px
			.team__inner
				margin-bottom: 30px
			&__heading
				font-size: 16px
				br
					display: none
			&__text
				margin-bottom: 15px
				font-size: 14px
				&._highlighted
					padding-top: 15px
				&._max-w
					max-width: 100%
		&-center
			padding: 30px 20px
			border-radius: 12px
			margin-bottom: 60px
			&__heading
				padding: 30px
				font-size: 16px
				margin-bottom: 30px
			&__text
				width: 100%
				font-size: 14px
			&__btn
				margin-top: 20px
				display: flex
		&-bottom
			position: relative
			align-items: center
			&__heading
				padding: 25px
				border-radius: 12px
				font-size: 16px
				margin-bottom: 30px
			&__text
				margin-bottom: 30px
				width: 100%
				font-size: 14px
				&._medium
					font-size: 16px
		&__decor
			&-1
				display: none
			&-2
				width: 50px
				right: 3px
				bottom: -35px
			&-3
				right: 100%
				top: 0
				margin-right: 54px
