// Fonts
$default-font: 'Manrope', sans-serif
$second-font: 'Cannonade'



// Colors
$accent: #593CD8
$accent-light: #BAAAFF

$black: #13111F
$dark: #15121F

$gray: #A2A3B5
$gray-dark: #292B3E
$gray-light: #D0D0D2


$orange: #FF8A48

$grad: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%)