.btn
	display: inline-flex
	justify-content: center
	align-items: center
	text-align: center
	position: relative
	text-decoration: none
	line-height: 1.3
	outline: none
	overflow: hidden
	cursor: pointer
	font-size: 18px
	font-weight: 600
	border-radius: 5px
	padding: 18px 32px
	border: none
	background-color: $accent
	color: #fff
	transition: .3s
	&:focus, &:hover
		text-decoration: none
	&._stroke
		background-color: $bg
		border: 1px solid #fff
	&:hover
		border-color: $acid
		background-color: $acid
		color: $black

@media only screen and (max-width : 1024px)
	.btn
		width: 100%
		padding: 14px 24px
		&:hover
			background-color: $accent
			color: #fff
		&._stroke:hover
			background-color: $bg
			border: 1px solid #fff
