@keyframes blur-move
	0%, 100%
		transform: translateY(0%)
	50%
		transform: translateY(30%)

.title
	font-size: 70px
	line-height: 1.1
	font-weight: 700
	&-main
		font-size: 90px
		line-height: 1.1
		font-weight: 700
		letter-spacing: -0.04em

._c-accent
	color: $accent

.blur
	background: radial-gradient(50% 50% at 50% 50%, #8655FF 0%, rgba(10, 22, 40, 0.00) 96.88%)
	position: absolute
	width: 50vw
	height: 50vw
	z-index: 1
	&._blue
		background: radial-gradient(50% 50% at 50% 50%, #008CFF 41.15%, rgba(10, 22, 40, 0.00) 100%)
	&._acid
		background: radial-gradient(50% 50% at 50% 50%, #CEFF55 0%, rgba(10, 22, 40, 0.00) 100%)

@media only screen and (max-width : 1400px)
	.title
		font-size: 50px
		&-main
			font-size: 70px

@media only screen and (max-width : 1024px)
	.title
		font-size: 32px
		&-main
			font-size: 46px
