.brands
	&__container
		display: flex
		align-items: center
		justify-content: space-between
	&__items
		@include adaptive('gap', 55, 'desktop')
		display: flex
		justify-content: space-between
	&__item
		@include adaptive('border-radius', 30, 'desktop')
		@include adaptive('width', 590, 'desktop')
		@include adaptive('height', 160, 'desktop')
		@include adaptive('padding-right', 70, 'desktop')
		position: relative
		display: flex
		justify-content: flex-end
		align-items: center
		text-transform: uppercase
		color: #fff
		box-shadow: 2.63px 2.63px 5.26px 0px rgba(0, 0, 0, 0.35) inset
		&:hover
			color: #fff
		&._bg
			&-blue
				background: radial-gradient(91.7% 107.54% at 39.61% 56.25%, #55CCED 0%, #003DA5 100%)
			&-orange
				background: radial-gradient(91.7% 107.54% at 39.61% 56.25%, #FFB254 0%, #FF4A00 82.66%)
		&-img
			@include adaptive('left', 40, 'desktop')
			position: absolute
			bottom: 0
			max-height: none
			&-1
				@include adaptive('width', 216, 'desktop')
			&-2
				@include adaptive('width', 298, 'desktop')
		&-inner
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
		&-overtitle
			@include adaptive('font-size', 20, 'desktop')
			font-weight: 600
		&-title
			@include adaptive('font-size', 60, 'desktop')
			font-weight: 700

@media only screen and (max-width : 960px)
	.brands
		&__container
			align-items: stretch
			flex-direction: column
		&__title
			@include adaptive('margin-bottom', 70, 'mobile')
		&__items
			@include adaptive('gap', 25, 'mobile')
			flex-direction: column
			align-items: stretch
		&__item
			@include adaptive('border-radius', 12, 'mobile')
			@include adaptive('height', 105, 'mobile')
			@include adaptive('padding-right', 40, 'mobile')
			&-img
				&-1
					@include adaptive('width', 128, 'mobile')
					@include adaptive('left', 40, 'mobile')
				&-2
					@include adaptive('width', 185, 'mobile')
					@include adaptive('left', 15, 'mobile')
			&-inner
			&-overtitle
				@include adaptive('font-size', 10, 'mobile')
			&-title
				@include adaptive('font-size', 34, 'mobile')
