.gallery
	&__slider-item
		@include adaptive('margin-left', 25, 'desktop')
		@include adaptive('margin-right', 25, 'desktop')
		display: inline-block
		width: auto
	&__image
		@include adaptive('width', 330, 'desktop')
		@include adaptive('border-radius', 12, 'desktop')
		box-shadow: 0px 1.175px 4.702px rgba(0, 0, 0, 0.25)
	&__slider > .swiper-wrapper
		transition-timing-function: linear

@media only screen and (max-width : 960px)
	.gallery
		&__slider-item
			@include adaptive('margin-left', 15, 'mobile')
			@include adaptive('margin-right', 15, 'mobile')
		&__image
			@include adaptive('width', 180, 'mobile')
			@include adaptive('border-radius', 6, 'mobile')
