.header
	@include adaptive('padding-top', 40, 'desktop')
	@include adaptive('padding-bottom', 40, 'desktop')
	z-index: 3
	&__container
		@include adaptive('max-width', 1460, 'desktop')
		margin-right: auto
		margin-left: auto
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		&-inner
			@include adaptive('gap', 30, 'desktop')
			display: flex
			align-items: center
	&__logo
		display: flex
		&-img
			@include adaptive('width', 210, 'desktop')
	&__btn
		@include adaptive('padding-top', 8, 'desktop')
		@include adaptive('padding-bottom', 8, 'desktop')
		@include adaptive('padding-right', 23, 'desktop')
		@include adaptive('padding-left', 23, 'desktop')
		@include adaptive('border-width', 1, 'desktop')
		@include adaptive('font-size', 21, 'desktop')
		font-weight: 700
		background: none
		&:hover
			color: #43ACDF
			box-shadow: 1px 1px 1px 0px #FFF inset, 0px 0px 7.8px 0px rgba(0, 0, 0, 0.26), 0px 1px 2px 0px rgba(0, 0, 0, 0.22)
		&:active
			color: rgba(67, 171, 223, 0.55)
			border-color: rgba(67, 171, 223, 0.55)
			box-shadow: none
	&__lang
		position: relative
		&-heading
			@include adaptive('font-size', 28, 'desktop')
			@include adaptive('padding-right', 5, 'desktop')
			color: $accent
			font-weight: 700
			display: flex
			align-items: center
			text-transform: uppercase
			cursor: pointer
			position: relative
			&.active .header__lang-icon
				transform: rotate(180deg) translateY(50%)
		&-icon
			@include adaptive('width', 16, 'desktop')
			@include adaptive('height', 16, 'desktop')
			flex: 0 0 auto
			position: absolute
			top: 50%
			left: 100%
			transform: translateY(-50%)
			transition: .3s
			display: flex
			align-items: center
			justify-content: center
			img
				width: 100%
		&-dropdown
			@include adaptive('border-radius', 10, 'desktop')
			@include adaptive('padding', 20, 'desktop')
			display: none
			position: absolute
			top: 100%
			left: 50%
			transform: translateX(-50%)
			background-color: #fff
			box-shadow: 0px 6.575px 10.521px 0px rgba(0, 0, 0, 0.10)
		&-item
			@include adaptive('margin-bottom', 10, 'desktop')
			@include adaptive('font-size', 28, 'desktop')
			text-transform: uppercase
			color: $accent
			font-weight: 700
			line-height: 1.1
			&:hover
				color: $accent
			&:last-child
				margin-bottom: 0
	&__hamburger
		display: none
		&-open
			display: none

@media only screen and (max-width : 960px)
	.header
		@include adaptive('padding-top', 15, 'mobile')
		@include adaptive('padding-bottom', 15, 'mobile')
		&__container
			@include adaptive('padding-right', 24, 'mobile')
			@include adaptive('padding-left', 24, 'mobile')
			&-inner
				display: none
		&__logo-img
			@include adaptive('width', 150, 'mobile')
		&__lang
			@include adaptive('margin-top', 25, 'mobile')
			@include adaptive('margin-left', 25, 'mobile')
			@include adaptive('margin-bottom', 75, 'mobile')
			position: relative
			display: inline-flex
			&-heading
				@include adaptive('padding-right', 6, 'mobile')
				@include adaptive('font-size', 26, 'mobile')
				@include adaptive('gap', 5, 'mobile')
				color: #fff
				font-weight: 600
				display: flex
				align-items: center
				text-transform: uppercase
				cursor: pointer
				width: auto
				&.active .header__lang-icon
					transform: rotate(180deg)
			&-icon
				@include adaptive('width', 12, 'mobile')
				@include adaptive('height', 12, 'mobile')
				@include adaptive('bottom', 3, 'mobile')
				flex: 0 0 auto
				transition: .3s
			&-dropdown
				@include adaptive('border-radius', 5, 'mobile')
				@include adaptive('padding', 10, 'mobile')
				@include adaptive('left', 25, 'mobile')
				display: none
				position: absolute
				top: 100%
			&-item
				@include adaptive('margin-bottom', 5, 'mobile')
				@include adaptive('font-size', 20, 'mobile')
				text-transform: uppercase
				color: $accent
				font-weight: 600
				line-height: 1.1
				&:hover
					color: $accent
				&:last-child
					margin-bottom: 0
		&__hamburger
			position: fixed
			right: 0
			left: 0
			bottom: 0
			top: 0
			background: linear-gradient(213deg, #88D2F6 4%, #43ACDF 65.98%)
			color: #fff
			overflow-y: auto
			display: none
			.footer__container
				@include adaptive('gap', 60, 'mobile')
			&-open
				@include adaptive('width', 22, 'mobile')
				display: flex
			&-close
				@include adaptive('right', 25, 'mobile')
				@include adaptive('top', 25, 'mobile')
				position: absolute
				display: flex
				align-items: center
				justify-content: center
				&-icon
					@include adaptive('width', 25, 'mobile')
					@include adaptive('height', 25, 'mobile')
