.main
	&__container
		position: relative
	&__slider
		&-inner
			@include adaptive('height', 750, 'desktop')
			@include adaptive('border-radius', 25, 'desktop')
			background-size: cover
			background-position: center
			display: flex
			align-items: flex-end
		&-btn
			@include adaptive('margin-left', 120, 'desktop')
			@include adaptive('margin-bottom', 190, 'desktop')
			@include adaptive('font-size', 30, 'desktop')
			@include adaptive('padding-top', 25, 'desktop')
			@include adaptive('padding-bottom', 25, 'desktop')
			@include adaptive('padding-left', 60, 'desktop')
			@include adaptive('padding-right', 60, 'desktop')
			display: inline-flex
			border: none
	&__nav
		@include adaptive('bottom', 40, 'desktop')
		@include adaptive('left', 40, 'desktop')
		@include adaptive('gap', 20, 'desktop')
		display: flex
		position: absolute
		&-btn
			@include adaptive('width', 55, 'desktop')
			@include adaptive('height', 55, 'desktop')
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			background: $white-grad
			box-shadow: 1px 1px 1px 0px #FFF inset
			transition: .3s
			&:hover
				filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.22)) drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.26))
			&:active
				box-shadow: 1px 1px 3.6px 0px rgba(0, 0, 0, 0.54) inset
			&.slick-disabled
				@include adaptive('border-width', 2, 'desktop')
				border-color: #fff
				border-style: solid
				background: none
				opacity: 0.2
				box-shadow: none
				.main__nav-icon path
					stroke: #fff
				&:hover
					box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.42)
				&:active
					opacity: 0.5
		&-icon
			@include adaptive('width', 20, 'desktop')
			@include adaptive('height', 16, 'desktop')
			path
				transition: .3s
	&__box
		@include adaptive('height', 850, 'desktop')
		@include adaptive('border-radius', 25, 'desktop')
		@include adaptive('padding', 100, 'desktop')
		background-size: cover
		background-position: top center
		background-color: $accent
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		color: #fff
		&-inner
			@include adaptive('max-width', 715, 'desktop')
	&__overheading
		@include adaptive('font-size', 47, 'desktop')
		text-transform: uppercase
		// &:first-child
		// 	@include adaptive('margin-top', 140, 'desktop')
	&__heading
		@include adaptive('font-size', 110, 'desktop')
		@include adaptive('margin-bottom', 40, 'desktop')
		text-transform: uppercase
		font-weight: 700
		line-height: 1
		// &:first-child
		// 	@include adaptive('margin-top', 190, 'desktop')
	&__text
		@include adaptive('gap', 20, 'desktop')
		@include adaptive('font-size', 21, 'desktop')
		display: flex
		flex-direction: column

@media only screen and (max-width : 960px)
	.main
		@include adaptive('padding-bottom', 40, 'mobile')
		&__slider
			display: none
		&__box
			@include adaptive('height', 190, 'mobile')
			@include adaptive('border-radius', 12, 'mobile')
			@include adaptive('padding', 20, 'mobile')
			@include adaptive('margin-bottom', 40, 'mobile')
		&__overheading
			@include adaptive('font-size', 18, 'mobile')
			font-weight: 300
		&__heading
			@include adaptive('font-size', 38, 'mobile')
		&__text
			@include adaptive('gap', 20, 'mobile')
			@include adaptive('font-size', 16, 'mobile')
			@include adaptive('padding-left', 20, 'mobile')
			@include adaptive('padding-right', 20, 'mobile')
			font-weight: 400
