.not-found
	&__container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
	&__overtitle
		@include adaptive('font-size', 48, 'desktop')
		font-weight: 300
		text-transform: uppercase
		line-height: 1
		color: $accent
	&__title
		@include adaptive('font-size', 350, 'desktop')
		color: $accent
		font-weight: 700
	&__btn
		@include adaptive('padding-left', 60, 'desktop')
		@include adaptive('padding-right', 60, 'desktop')
		@include adaptive('padding-top', 20, 'desktop')
		@include adaptive('padding-bottom', 20, 'desktop')
		@include adaptive('font-size', 28, 'desktop')
		background: linear-gradient(213deg, #88D2F6 4%, #43ACDF 65.98%)
		color: #fff
		border: none
		&:hover
			color: #fff

@media only screen and (max-width : 960px)
	.not-found
		&__overtitle
			@include adaptive('font-size', 20, 'mobile')
		&__title
			@include adaptive('font-size', 100, 'mobile')
			color: $accent
			font-weight: 700
		&__btn
			@include adaptive('padding-left', 20, 'mobile')
			@include adaptive('padding-right', 20, 'mobile')
			@include adaptive('padding-top', 20, 'mobile')
			@include adaptive('padding-bottom', 20, 'mobile')
			@include adaptive('font-size', 18, 'mobile')
