.about
	&__title
		@include adaptiv('margin-bottom', 20, 10, 26, 10)
		letter-spacing: -0.05em
	&__container
		border-top: 1px solid rgba(16, 16, 16, 0.15)
		position: relative
		@include adaptiv('padding-top', 85, 45, 110, 40)
		&-inner
			width: 100%
			@include adaptiv('max-width', 980, 523, 0, 0)
	&__heading
		@include adaptiv('margin-bottom', 55, 30, 50, 20)
		@include adaptiv('font-size', 58, 30, 65, 24)
		letter-spacing: -0.025em
		font-weight: 500
		line-height: 0.95
		text-transform: uppercase
		._offset::before
			content: ''
			display: inline-block
			@include adaptiv('width', 100, 50, 0, 0)
	&__subheading
		@include adaptiv('margin-bottom', 80, 40, 110, 40)
		@include adaptiv('font-size', 36, 20, 54, 20)
		@include adaptiv('max-width', 890, 500, 0, 0)
		line-height: 1.1
		letter-spacing: -0.03em
		text-transform: uppercase
		color: $gray-1
	&__description
		@include adaptiv('margin-top', 100, 55, 110, 40)
		&-heading
			@include adaptiv('max-width', 520, 275, 0, 0)
			@include adaptiv('font-size', 28, 15, 48, 18)
			font-weight: 600
			line-height: 1.1
			letter-spacing: -0.02em
		&-flexbox
			@include adaptiv('margin-top', 35, 20, 80, 30)
			@include adaptiv('padding-top', 55, 28, 40, 15)
			border-top: 1px solid $gray-14
			display: flex
			justify-content: space-between
			@include adaptiv('gap', 105, 55, 50, 20)
		&-text
			line-height: 1.2
			color: $gray-1
			@include adaptiv('font-size', 20, 11, 43, 16)
			width: 50%
	&__decor
		position: relative
		@include adaptiv('right', 60, 30, 0, 0)
		@include adaptiv('width', 1060, 523, 0, 0)
	&__image
		position: absolute
		right: 0
		top: 0
		@include adaptiv('width', 768, 410, 0, 0)
		max-height: none
		transform: translateX(100%)
		&-inner
			width: 100%
	&__mission
		@include adaptiv('padding-top', 260, 150, 190, 70)
		&-title
			@include adaptiv('font-size', 256, 138, 130, 48)
			letter-spacing: -0.06em
			font-weight: 500
			line-height: 1
			text-transform: uppercase
			border-bottom: 1px solid rgba(16, 16, 16, 0.3)
			@include adaptiv('margin-bottom', 50, 25, 110, 40)
			position: relative
		&-btn
			@include adaptiv('width', 208, 110, 440, 160)
			@include adaptiv('height', 208, 110, 440, 160)
			@include adaptiv('font-size', 14, 8, 38, 14)
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			color: #fff
			font-weight: 600
			line-height: 1.1
			letter-spacing: normal
			text-transform: none
			text-align: center
			background-color: $accent
			position: absolute
			top: 50%
			@include adaptiv('left', 228, 125, 0, 0)
			transform: translateY(-50%)
			&:hover
				color: #fff
				&::after
					background-color: $black
		&-subtitle
			letter-spacing: -0.02em
			line-height: 1.1
			text-transform: uppercase
			font-weight: 500
			color: #000
			@include adaptiv('font-size', 47, 25, 53, 18)
			@include adaptiv('margin-bottom', 100, 50, 80, 30)
			._text-right
				display: inline-block
				text-align: right
				width: 100%
		&-container
			display: flex
			justify-content: flex-end
		&-text
			@include adaptiv('padding-left', 50, 25, 68, 25)
			@include adaptiv('font-size', 24, 12, 44, 16)
			@include adaptiv('max-width', 550, 290, 830, 300)
			@include adaptiv('margin-bottom', 0, 0, 570, 210)
			border-left: 4px solid $accent
			color: $gray-1
			letter-spacing: -0.01em
			line-height: 1.1
			font-weight: 500
			._bold
				display: block
				color: $black
				@include adaptiv('margin-top', 24, 12, 44, 16)

@media only screen and (max-width : 1024px)
	.about
		&__container-inner
			max-width: none
		&__heading::before, &__decor
			display: none
		&__subheading
			max-width: none
		&__description
			&-heading
				max-width: 100%
				text-transform: none
			&-flexbox
				flex-direction: column
			&-text
				width: 100%
		&__image
			width: 100%
			position: static
		&__mission
			position: relative
			&-title
				position: static
				line-height: 1.2
			&-subtitle::before
				display: none
			&-container
				justify-content: flex-start
			&-btn
				top: auto
				bottom: 0
				left: 50%
				transform: translateX(-50%)
