.modal
	display: none
	color: $black
	background-color: #fff
	width: 700px
	padding: 60px 40px 40px
	border-radius: 15px
	max-height: 100vh
	scrollbar-width: 5px
	scrollbar-color: $accent #fff
	margin: 20px
	&-thx
		width: 340px
		padding: 75px 20px 50px
		.modal
			&__title
				font-size: 26px
				margin-bottom: 15px
			&__subtitle
				font-size: 14px
				margin-bottom: 0
	&__title
		font-size: 48px
		font-weight: 700
		margin-bottom: 25px
		line-height: 1.1
	&__subtitle
		font-weight: 500
		font-size: 18px
		line-height: 1.2
		margin-bottom: 30px
		color: $gray-1
		max-width: 500px
	.feedback
		&__privacy
			padding-right: 0
		&__input
			margin-bottom: 20px
			&-field
				padding: 15px 0
		&__submit
			font-size: 20px

.fancybox__content>.f-button.is-close-btn
	position: absolute
	right: 20px
	top: 20px
	width: 30px
	height: 30px
	background-color: $black
	border-radius: 4px
	display: flex
	align-items: center
	justify-content: center
	opacity: 1
	&::before
		content: ''
		width: 12px
		height: 12px
		background-image: url('../img/icons/modal-close.svg')
		background-size: contain
		background-repeat: no-repeat
		background-position: center
	svg
		display: none

.fancybox__slide
	&::-webkit-scrollbar-track
		background: #fff
	&::-webkit-scrollbar-thumb
		background-color: $accent
	&::-webkit-scrollbar
		width: 5px

.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn
	padding-top: 0

@media only screen and (max-width : 1024px)
	.modal
		padding: 60px 20px 20px
		margin: 20px 0
		width: 335px
		max-width: calc(100% - 20px)
		&__title
			font-size: 24px
			margin-bottom: 15px
		&__subtitle
			font-size: 14px
		.feedback
			&__input
				margin-bottom: 10px
				&-field
					padding: 10px 0
					font-size: 14px
					&::placeholder
						font-size: 14px
			&__submit
				padding-right: 0
				padding-left: 0
				margin-top: 10px
				font-size: 16px

	.is-compact .fancybox__content>.f-button.is-close-btn
		right: 20px
		top: 20px
