.services
	&__container
		display: flex
		justify-content: space-between
		&-inner
			display: flex
			flex-direction: column
			align-items: flex-start
	&__title
		@include adaptiv('margin-bottom', 180, 90, 140, 50)
	&__btn
		@include adaptiv('width', 260, 140, 0, 0)
		@include adaptiv('height', 260, 140, 0, 0)
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		color: #fff
		font-weight: 600
		text-align: center
		background-color: $accent
	&__item
		display: flex
		align-items: flex-start
		justify-content: space-between
		position: relative
		@include adaptiv('padding-top', 50, 25, 110, 40)
		@include adaptiv('padding-bottom', 50, 25, 55, 20)
		@include adaptiv('padding-left', 110, 60, 0, 0)
		border-bottom: 1px solid $gray-4
		&:first-child
			border-top: 1px solid $gray-4
		&-number
			text-transform: uppercase
			color: $gray-13
			font-weight: 500
			position: absolute
			left: 0
			@include adaptiv('top', 15, 8, 10, 5)
			@include adaptiv('font-size', 18, 10, 38, 14)
		&-heading
			color: #fff
			@include adaptiv('font-size', 22, 12, 50, 18)
			@include adaptiv('margin-bottom', 0, 0, 40, 15)
			font-weight: 700
		&-p
			@include adaptiv('margin-bottom', 14, 7, 28, 10)
			&:last-child
				margin-bottom: 0
		&-text
			@include adaptiv('width', 540, 270, 0, 0)
			@include adaptiv('font-size', 22, 12, 44, 16)
			font-weight: 400
			color: $gray-12

@media only screen and (max-width : 1024px)
	.services
		&__container
			flex-direction: column
		&__btn
			display: none
		&__item
			flex-direction: column
			&-number
				font-weight: 400
			&-heading
				@include adaptiv('margin-bottom', 0, 0, 30, 10)
			&-text
				width: 100%
				br
					display: none
