.footer
	margin-top: 30px
	padding-top: 20px
	background-color: $accent
	color: #fff
	&__container
		display: flex
		align-items: center
		justify-content: space-between
		&-inner
			display: flex
			align-items: center
		&-top
			padding-bottom: 20px
		&-bottom
			padding: 15px 0
			border-top: 1px solid rgba(255, 255, 255, 0.2)
	&__logo
		display: flex
		width: 160px
	&__menu
		display: flex
		align-items: center
		justify-content: center
		gap: 10px
		margin-left: 100px
		&-item
			font-size: 16px
			font-weight: 500
			position: relative
			padding: 5px 10px
			background-color: transparent
			border: 1px solid transparent
			border-radius: 5px
			transition: .3s
			&.active
				color: $accent
				background-color: #fff
			&:hover
				border-color: #fff
	&__btn
		padding: 14px 24px
		font-size: 16px
		&-icon
			flex: 0 0 auto
			margin-right: 12px
			transition: .3s
		&-container
			display: flex
			gap: 20px
	&__copyrights
		font-size: 14px
	&__toTop
		width: 30px
		height: 30px
		background-color: #fff
		border-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		transition: .3s
		&:hover
			transform: translateY(-3px)

@media only screen and (max-width : 1400px)
	.footer
		&__logo
			width: 100px
		&__menu
			margin-left: 60px

@media only screen and (max-width : 1024px)
	.footer
		padding-top: 30px
		&__container
			align-items: stretch
			flex-direction: column
			&-inner
				flex-direction: column
				align-items: stretch
			&-bottom
				padding: 10px 0
				justify-content: space-between
				align-items: center
				flex-direction: row
		&__logo
			width: 160px
		&__menu
			align-items: flex-start
			justify-content: flex-start
			flex-direction: column
			flex-wrap: wrap
			gap: 10px
			margin: 30px 0
			height: 78px
			&-item
				&._desktop-hidden
					display: inline-block
				&:hover::before
					width: 0
		&__btn-container
			flex-direction: column
			gap: 10px
		&__copyrights
			font-size: 12px
