.main
	height: calc(100vh - 100px)
	display: flex
	align-items: center
	min-height: 756px
	padding: 0
	background-color: $accent
	color: #fff
	.blur
		left: -20vw
		top: -20vw
		filter: blur(150px)
		animation: blur-move linear 7s infinite
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		transform: translateY(-10%)
		z-index: 2
	&__title
		margin-bottom: 20px
		position: relative
		&-inner
			position: relative
			display: inline-block
	&__decor
		position: absolute
		max-width: none
		max-height: none
		&-1
			left: 50%
			top: 50%
			transform: translate(-47%, -50%)
		&-2
			top: 100%
			left: 320px
			transform: translateY(-70px)
	&__text
		max-width: 460px
		width: 100%
		margin-bottom: 60px
		font-weight: 500
	&__video
		width: 100%
		&-wrapper
			position: absolute
			right: 0
			top: 50%
			width: 640px
			transform: translate(50px, -50%)
	&__btns
		display: flex
		gap: 20px

@media only screen and (max-width : 1400px)
	.main
		&__title
			margin-bottom: 20px
			position: relative
			&-inner
				position: relative
				display: inline-block
		&__decor
			position: absolute
			max-width: none
			max-height: none
			&-1
				width: 130%
			&-2
				left: 270px
				width: 250px
				transform: translateY(-50px)
		&__text
			max-width: 320px
		&__video-wrapper
			width: 500px
			transform: translate(60px, -50%)

@media only screen and (max-width : 1024px)
	.main
		height: auto
		min-height: auto
		padding-top: 40px
		&__container
			flex-direction: column
			align-items: stretch
			transform: none
		&__title
			margin-bottom: 10px
		&__decor-2
			display: none
		&__text
			max-width: 100%
			width: 345px
			margin-bottom: 40px
		&__btns
			flex-direction: column
			gap: 10px
		&__video-wrapper
			position: relative
			right: 0
			top: 0
			width: 100%
			transform: none
			margin-top: 30px
