.payments
	&__container
		position: relative
		z-index: 2
	&__title
		text-align: center
		margin-bottom: 60px
		color: #fff
	&__slider
		&-wrapper
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
		&._reverse
			transform: rotate(180deg)
			.payments__item
				transform: rotate(180deg)
	&__item
		width: 400px
		height: 150px
		background-color: $bg
		border-radius: 5px
		margin-right: 20px
		&-inner
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%

@media only screen and (max-width : 1400px)
	.payments
		&__item
			width: 250px
			height: 100px
			&-img
				height: 40px

@media only screen and (max-width : 1024px)
	.payments
		&__title
			margin-bottom: 30px
		&__slider-wrapper
			margin-bottom: 10px
		&__item
			margin-right: 10px
			width: 120px
			height: 45px
			border-radius: 2px
			&-img
				height: 20px
