.btn
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	position: relative
	text-decoration: none
	line-height: 1
	outline: none
	overflow: hidden
	cursor: pointer
	font-size: 16px
	font-weight: 700
	border-radius: 60px
	padding: 16px 32px
	border: none
	background-color: $accent
	color: $black
	transition: .2s ease-in-out
	&:focus, &:hover
		text-decoration: none
	&:hover
		background-color: $blue
		color: #fff
		.btn__icon
			filter: invert(100%)
	&__icon
		margin-left: 60px
		flex: 0 0 auto
		transition: .3s
	&._blue
		background-color: $blue
		color: #fff
		&:hover
			background-color: $black
			.btn__icon
				filter: invert(0%)

@media only screen and (max-width : 1300px)
	.btn
		width: 100%
		&:hover
			color: inherit
			background-color: $accent
			.btn__icon
				filter: invert(0%)
		&__icon
			margin-left: auto
