.container
	width: 100%
	max-width: 1300px
	padding-right: 20px
	padding-left: 20px
	margin: 0 auto

.section
	padding: 80px 0
	&__title
		font-size: 72px
		line-height: 1
		font-weight: 700
		letter-spacing: -0.04em
		font-family: $second-font
		margin-bottom: 80px
	&__heading
		font-size: 32px
		font-weight: 500
		font-family: $second-font
		line-height: 1.15
	&__flexbox
		display: flex
		justify-content: space-between
		&-inner
			width: 615px

@media only screen and (max-width : 1300px)
	.container
		max-width: 520px

	.section
		padding: 35px 0
		&__title
			font-size: 44px
			margin-bottom: 40px
		&__heading
			font-size: 24px
		&__flexbox
			flex-direction: column
			&-inner
				width: 100%
