@import ./modules/reset
@import ./modules/fonts
@import ./modules/vars

body
	font-size: 16px
	min-width: 375px
	position: relative
	line-height: 1.25
	font-family: $default-font
	color: $black
	background-color: #F8F2FB
	&.scroll-disabled
		overflow-y: hidden

.overflow-hidden
	overflow: hidden

input, textarea
	background: none
	border: none
	color: inherit
	font-weight: 500

::placeholder
	color: rgba(0, 0, 0, 0.4)
	font-size: 16px
	font-weight: 500
	font-family: $default-font

@import grid
@import mods
@import button

@import ./templates/header
@import ./templates/footer
@import ./templates/main-screen
@import ./templates/help
@import ./templates/team
@import ./templates/partners
@import ./templates/mono
@import ./templates/feedback
@import ./templates/donate
@import ./templates/fees
