@import '_vars.sass';

$maxWidth: 1920;
$maxWidthContainer: 1480;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})
			);
		}
	} @else if $type==2 {
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
			);
		}
	} @else {
		#{$property}: calc(
			#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
		);
	}
}
//@include adaptiv-value("", 0, 0, 1);

/*Адаптив изображений*/
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
/*--------------------*/

//=====================================================
//Постоянно исподьзуемые блоки

.title-h1 {
	font-family: Playfair Display;
	@include adaptiv-value('font-size', 48, 32, 1);
	color: #2b414d;
	font-weight: 400;
	@include adaptiv-value('line-height', 55, 37, 1);
}
.title-h2 {
	font-family: Playfair Display;
	@include adaptiv-value('font-size', 48, 26, 1);
	color: #2b414d;
	font-weight: 400;
	@include adaptiv-value('line-height', 55, 29, 1);
}
.title-h3 {
	font-family: Playfair Display;
	font-size: 32px;
	@include adaptiv-value('font-size', 32, 26, 1);
	font-weight: 400;
	line-height: 37px;
	@include adaptiv-value('line-height', 37, 29, 1);
	color: #2b414d;
}
.title-h3 {
	font-family: Playfair Display;
	font-size: 32px;
	@include adaptiv-value('font-size', 32, 26, 1);
	font-weight: 400;
	line-height: 37px;
	@include adaptiv-value('line-height', 37, 29, 1);
	color: #2b414d;
}
.title-h4 {
	font-family: Ubuntu;
	@include adaptiv-value('font-size', 24, 20, 1);
	font-weight: 400;
	line-height: 36px;
	color: #233944;
}
.sub-title-h3 {
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #233944;
}
.sub-title-h1 {
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #233944;
}
.text {
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	color: #233944;
}
.slaider__text {
	font-family: Ubuntu;
	@include adaptiv-value('font-size', 14, 12, 1);
	font-weight: 400;
	@include adaptiv-value('line-height', 18px, 15, 1);
	color: #2b414d;
}
.slaider__text-b {
	font-family: Ubuntu;
	@include adaptiv-value('font-size', 16, 14, 1);
	font-weight: 700;
	@include adaptiv-value('line-height', 20px, 18, 1);
	color: #2b414d;
}

/*.discount-15 {
	position: relative;
	& span {
		display: inline-block;
		font-family: Ubuntu;
		font-size: 12px;
		font-weight: 400;
		line-height: 0;
		color: #fff;
		height: 20px;
		padding: 0 15px;
		background: #828284;
		z-index: 5;

		position: absolute;
		top: 0;
		left: 0;
	}
}*/
.nev {
	position: relative;
	&:before {
		content: 'Nev';
		display: inline-block;
		font-family: Ubuntu;
		@include adaptiv-value('font-size', 12, 10, 1);
		font-weight: 400;
		@include adaptiv-value('line-height', 20, 15, 1);
		color: #fff;
		@include adaptiv-value('padding-left', 9, 3, 1);
		@include adaptiv-value('padding-right', 9, 3, 1);
		background: #ae9981;
		z-index: 5;

		position: absolute;
		top: 0;
		left: 0;
	}
}
.discount-20 {
	position: relative;
	&:before {
		content: '-20%';
		display: inline-block;
		font-family: Ubuntu;
		@include adaptiv-value('font-size', 12, 10, 1);
		font-weight: 400;
		@include adaptiv-value('line-height', 20, 15, 1);
		color: #fff;
		@include adaptiv-value('padding-left', 9, 3, 1);
		@include adaptiv-value('padding-right', 9, 3, 1);
		background: #ae9981;
		z-index: 5;

		position: absolute;
		top: 0;
		left: 0;
	}
}
.discount-15 {
	position: relative;
	&:before {
		content: '-15%';
		display: inline-block;
		font-family: Ubuntu;
		@include adaptiv-value('font-size', 12, 10, 1);
		font-weight: 400;
		@include adaptiv-value('line-height', 20, 15, 1);
		color: #fff;
		@include adaptiv-value('padding-left', 9, 3, 1);
		@include adaptiv-value('padding-right', 9, 3, 1);
		background: #828284;
		z-index: 5;

		position: absolute;
		top: 0;
		left: 0;
	}
}
.discount-10 {
	position: relative;
	&:before {
		content: '-10%';
		display: inline-block;
		font-family: Ubuntu;
		@include adaptiv-value('font-size', 12, 10, 1);
		font-weight: 400;
		@include adaptiv-value('line-height', 20, 15, 1);
		color: #fff;
		@include adaptiv-value('padding-left', 9, 3, 1);
		@include adaptiv-value('padding-right', 9, 3, 1);
		background: #778988;
		z-index: 5;

		position: absolute;
		top: 0;
		left: 0;
	}
}

//=====================================================
//Ссылки в верху

.top-link {
	@include adaptiv-value('padding-top', 27, 19, 1);
	@include adaptiv-value('padding-bottom', 27, 19, 1);
}
.breadcrumbs {
	font-size: 0;
	display: flex;
	align-items: center;
}

.breadcrumbs__links {
	margin-right: 8px;
	padding-right: 8px;
	position: relative;
}

.breadcrumbs__links:after {
	content: '/';
	font-family: Ubuntu;
	color: #7d95a3;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}
.breadcrumbs__links:last-child {
	padding-right: 0;
	margin-right: 0;
	&:after {
		display: none;
	}
}
.breadcrumbs__links-item {
	font-family: Ubuntu;
	color: #7d95a3;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	transition: color 0.3s ease 0s;
}

//=====================================================
//Блок ("Кухни")

.kitchen-catalog {
}
.container {
}
.kitchen-catalog__body {
}
.kitchen-catalog__body-content__title {
	@include adaptiv-value('padding-bottom', 47, 23, 1);
}
.kitchen-catalog__body-content {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.kitchen-catalog__body-content__img {
	flex: 0 0 32%;
	padding-top: 21%;
	position: relative;
	@include adaptiv-value('margin-bottom', 30, 6, 1);
	transition: box-shadow 0.3s ease 0s;
	@media (max-width: 480px) {
		padding-top: 32%;
		flex: 0 0 49%;
	}
}

.kitchen-catalog__body-content__img a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.kitchen-catalog__body-butons {
	padding-top: 15px;

	@include adaptiv-value('padding-bottom', 160, 40, 1);
}
.kitchen-catalog__body-butons__buton {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-decoration: none;
	line-height: 1;
	cursor: pointer;
	width: 100%;
	background-color: #fff;
	transition: 0.3s;
	span {
		&::before,
		&::after {
			transition: 0.3s;
		}
	}

	@include adaptiv-value('height', 65, 48, 1);
	border: 1px solid #ecf2f5;

	@include adaptiv-value('margin-bottom', 60, 25, 1);

	@include adaptiv-value('font-size', 14, 12, 1);
	font-weight: 700;
	color: #2b414d;
}
.kitchen-catalog__body-butons__buton span {
	display: block;
	width: 12px;
	height: 12px;
	//background: #;
	margin-right: 14px;
	position: relative;
}

.kitchen-catalog__body-butons__buton span:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background: #233944;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.kitchen-catalog__body-butons__buton span:after {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 100%;
	background: #233944;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.kitchen-catalog__body-butons__poginechion {
	font-size: 0;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 385px;
	margin: 0 auto;
	justify-content: space-between;
}
.kitchen-catalog__body-butons__poginechion-link {
	@include adaptiv-value('font-size', 16, 14, 1);
	color: #233944;

	@include adaptiv-value('width', 56, 40, 1);
	@include adaptiv-value('height', 56, 40, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #edf2f5;
	border-radius: 50%;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease 0s;
	&:hover {
		color: #233944;
	}
	& i {
		font-size: 12px;
	}
}
.kitchen-catalog__body-butons__poginechion-link.activ {
	color: #fff;
	background: #bf986d;
	&:hover {
		color: #fff;
	}
}

//=====================================================
//Слайдеры
.other-albums {
	@include adaptiv-value('padding-top', 85, 40, 1);
	@include adaptiv-value('padding-bottom', 100, 25, 1);
}
.container {
}
.other-albums__body {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@include adaptiv-value('margin-bottom', 55, 30, 1);
}
.other-albums__body-left {
	flex: 0 0 60%;
}
.other-albums__body-reght {
	position: relative;
	@include adaptiv-value('width', 120, 79, 1);
	@include adaptiv-value('height', 52, 36, 1);
	margin-left: 3px;
}
.swiper-button-prev {
}
.other-albums__body-reght-buton {
	@include adaptiv-value('width', 52, 36, 1);
	@include adaptiv-value('height', 52, 36, 1);
	background: #fff;
	position: absolute;
	top: 0;
	border-radius: 50%;
	cursor: pointer;

	display: flex !important;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(92, 118, 133, 0.1);
	transition: 0.3s ease 0s;
	span::before {
		transition: 0.3s ease 0s;
		position: relative;
		top: 1px;
	}
}
.other-albums__body-reght-buton span {
	font-size: 12px;
	color: #2b414d;
}
.other-albums__body-reght-buton:first-child {
	left: 0;
}
.other-albums__body-reght-buton:last-child {
	right: 0;
}
.swiper-button-next {
}
.other-albums__slider {
	width: 100%;
	padding: 2px;
	margin: 0 -2px;
	overflow: hidden;
}

.other-albums__slider-clide {
}
.other-albums__slider-clide-body {
	width: 100%;
	display: block;
	@include adaptiv-value('height', 420, 223, 1);
	position: relative;
	transition: all 0.3s ease 0s;
	@media (max-width: 992px) {
		@include adaptiv-value('height', 250, 223, 1);
	}
}
.other-albums__slider-clide__img {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	@media (max-width: 480px) {
		height: 80%;
	}
}

.other-albums__slider-clide__content {
	position: absolute;
	bottom: 0;
	left: 0;
	//width: 312px;
	width: 90%;
	min-height: 85px;
	background: #fff;

	@include adaptiv-value('padding-top', 15, 15, 1);
	@include adaptiv-value('padding-left', 29, 25, 1);
	@include adaptiv-value('padding-right', 29, 25, 1);
	@include adaptiv-value('padding-bottom', 12, 15, 1);
}
.other-albums__slider-clide__content-title {
	display: block;
	font-family: Playfair Display;
	font-weight: 400;
	color: #2b414d;
	line-height: 1;
	margin-bottom: 10px;
	@include adaptiv-value('margin-bottom', 10, 5, 1);
	@include adaptiv-value('font-size', 24, 20, 1);
}
.other-albums__slider-clide__content-text {
	font-weight: 400;
	line-height: 21px;
	color: #7d95a3;
	@include adaptiv-value('font-size', 14, 12, 1);
}

.slaider-2 {
	@include adaptiv-value('padding-top', 77.5, 30, 1);
	@include adaptiv-value('padding-bottom', 77.5, 30, 1);
}
.container {
}
.slaider-body {
}
.other-albums__body {
}
.other-albums__body-left {
}
.title-h2 {
}
.other-albums__body-reght {
}
.other-albums__body-reght-buton {
}
.other-albums__body-reght-buton__next {
}
.icon-Vector-Stroke__left {
}
.fa {
}
.fa-angle-left {
}
.other-albums__body-reght-buton__prev {
}
.icon-Vector-Stroke__reght {
}
.fa-angle-right {
}
.slaider-2__body-slaider {
	overflow: hidden;
	@media (max-width: 480px) {
		//margin: 0 -17px;
		//padding-left: 17px;
		margin-right: -17px;
	}
}
.slaider-3__body-slaider {
	overflow: hidden;
	@media (max-width: 480px) {
		//margin: 0 -17px;
		//padding-left: 17px;
		margin-right: -17px;
	}
}
.slaider-4__body-slaider {
	overflow: hidden;
	@media (max-width: 480px) {
		//margin: 0 -17px;
		//padding-left: 17px;
		margin-right: -17px;
	}
}
.swiper-wrapper {
}
.swiper-slide {
}
.other-albums__slider-clide {
}
.other-albums__slider-clide-body {
}
.other-albums__slider-clide__img {
}
.ibg {
}
.other-albums__slider-clide__content {
}
.other-albums__slider-clide__content-title {
}
.other-albums__slider-clide__content-text {
}

.slaider-2__clide {
}
.slaider-2__clide-body {
}
.slaider-2__clide-body__img {
	padding-top: 106%;
	//padding-top: 50px;
	@media (max-width: 480px) {
		padding: 0;
		height: 215px;
	}
}
.slaider-3__clide-body__img {
	padding-top: 70%;
	//padding-top: 50px;
	@media (max-width: 480px) {
		padding: 0;
		height: 215px;
	}
}
.ibg {
}
.slaider-2__clide-body__content {
	padding: 18px 23px 23px 2px;
	background: #fff;
}
.slaider-2__text {
	@include adaptiv-value('margin-bottom', 6, 10, 1);
}
@media (max-width: 480px) {
	/*.slaider-2__clide.swiper-slide {
		width: 65.6%;
	}
	.slaider-2__clide.swiper-slide:nth-child(2n) {
		width: 49.2%;
	}
	.slaider-2__clide.swiper-slide:nth-child(3n) {
		width: 32.8%;
	}*/
	.slaider-2__clide.swiper-slide.swiper-slide-next {
		width: 220px !important;
	}
	.slaider-2__clide.swiper-slide.swiper-slide-active {
		width: 220px !important;
	}
}
/*.swiper-slide {
	width: 20%;
}
.swiper-slide.swiper-slide-active {
	width: 80%;
}
/*.swiper-slide:nth-child(2n) {
	width: 60%;
}

.swiper-slide:nth-child(3n) {
	width: 40%;
}*/
//=====================================================
//Блок со спойлерами и формой

.frequent-questions {
	@media (min-width: 992px) {
		padding-bottom: 135px;
	}
}
.container {
}
.frequent-questions__title {
	@include adaptiv-value('margin-bottom', 65, 30, 1);
}
.title-h1 {
}
.frequent-questions__body {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@media (max-width: 992px) {
		display: block;
	}
}
.frequent-questions__body-tabs {
	flex: 0 0 56.6%;
	@media (max-width: 1500px) {
		flex: 0 0 50%;
	}
	@media (max-width: 992px) {
		margin-bottom: 50px;
	}
}
.tabs {
}
.tabs-block {
	border-top: 1px solid #ecf2f5;
	&:last-child {
		border-bottom: 1px solid #ecf2f5;
	}
}
.tabs-block__title {
	font-family: Ubuntu;
	@include adaptiv-value('font-size', 20, 16, 1);
	font-weight: 400;
	line-height: 23px;
	color: #2b414d;
	text-align: left;
	width: 100%;
	position: relative;
	padding: 35px 0 30px 0;

	@include adaptiv-value('padding-top', 29, 18, 1);
	@include adaptiv-value('padding-bottom', 29, 18, 1);
	transition: padding-bottom 0.3s ease 0s;
	padding-right: 45px;
	& span {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		transition: all 0.3s ease 0.2s;
	}
	&._active span {
		transform: rotate(-90deg);
		top: 38%;
	}
	&._active {
		@include adaptiv-value('padding-bottom', 22, 18, 1);
	}
}
.tabs-block__text {
	@include adaptiv-value('padding-bottom', 40, 25, 1);
	@include adaptiv-value('padding-top', 0, 15, 1);
}
.frequent-questions__body-form {
	flex: 0 0 32.6%;
	background: #f7f8f8;

	@include adaptiv-value('padding-left', 42, 17, 1);
	@include adaptiv-value('padding-top', 43, 32, 1);
	@include adaptiv-value('padding-right', 42, 17, 1);
	@include adaptiv-value('padding-bottom', 52, 73, 1);

	@media (max-width: 1500px) {
		flex: 0 0 40%;
	}

	@media (max-width: 1200px) {
		flex: 0 0 36%;
	}
	@media (max-width: 480px) {
		margin: 0 -17px;
	}
}
.frequent-questions__body-form__title {
	@include adaptiv-value('margin-bottom', 35, 20, 1);
}

.form__body {
}
.form__body-blok {
	@include adaptiv-value('margin-bottom', 15, 8, 1);
	width: 100%;
	@include adaptiv-value('height', 50, 48, 1);
	display: block;
	& input {
		width: 100%;
		height: 100%;
		padding: 0 17px;
	}
	& input:focus {
		border: 1px solid #bf986d !important;
	}
}

::placeholder {
	font-family: Ubuntu;
	font-size: 14px !important;
	color: #7d95a3 !important;
	font-weight: 400 !important;
	line-height: 18px !important;
}
.form__body-blok-textarea {
	width: 100%;
	height: 130px;
	margin-bottom: 40px;
	@include adaptiv-value('margin-bottom', 39, 12, 1);
	& textarea {
		width: 100% !important;
		height: 100% !important;
		padding: 17px;
		font-family: Ubuntu;
		font-size: 14px !important;
		color: #7d95a3 !important;
		font-weight: 400 !important;
		line-height: 18px !important;
	}
	& textarea:focus {
		border: 1px solid #bf986d;
	}
}
.form__body-blok__checkbox {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #233944;
	//@include adaptiv-value("padding-left", 33, 30, 1);
	padding-left: 30px;
	@include adaptiv-value('margin-bottom', 30, 15, 1);
	position: relative;
}
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom-checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
	@media (max-width: 992px) {
		max-width: 200px;
	}
}
.custom-checkbox + label::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #233944;
	margin-right: 13px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
	position: absolute;
	@include adaptiv-value('top', 0, 3, 1);
	left: 0;
	@media (min-width: 992px) {
		left: 1px;
	}
	//@include adaptiv-value("left", 5, 2, 1);
}
.custom-checkbox:checked + label::before {
	border-color: #bf986d;
	background-color: #bf986d;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form__body-blok__button {
	width: 100%;
	@include adaptiv-value('height', 65, 50, 1);
	& button {
		width: 100%;
		height: 100%;
		background: #bf986d;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-family: Ubuntu;
		@include adaptiv-value('font-size', 16, 14, 1);
		font-weight: 400;
		@include adaptiv-value('line-height', 24, 21, 1);
	}
}

//=====================================================
//Бдлк с картой
.map {
	@include adaptiv-value('padding-bottom', 87.5, 25, 1);
}
.container {
}
.map-title {
	@include adaptiv-value('margin-bottom', 52, 30, 1);
}

.map-body {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 992px) {
		display: block;
	}
}
.map-body__left {
	flex: 1 1 auto;
	@media (max-width: 992px) {
		margin-bottom: 15px;
	}
}
.map-body__left-list {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
}
.map-body__left-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin-right: 9%;
	position: relative;
	//padding-left: 30px;
	color: #233944;
	transition: all 0.3s ease 0s;
	margin-bottom: 5px;
	word-spacing: -1.5px;
	&:before {
		display: inline-block;
		position: relative;
		//left: 3px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		margin-right: 7px;
	}
	span {
		font-family: Ubuntu;
	}
	@media (max-width: 1500px) {
		font-size: 12px;
		margin-right: 5%;
	}
	@media (max-width: 992px) {
		font-size: 14px;
		margin-bottom: 22px;
		display: block;
		width: 100%;
	}
}
.map-body__reght {
	flex: 1 1 auto;
}
.map-body__reght-list {
	font-size: 0;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 992px) {
		justify-content: flex-start;
	}
}
.map-body__reght-link {
	font-size: 0;
	@include adaptiv-value('width', 50, 45, 1);
	@include adaptiv-value('height', 50, 45, 1);
	border: 1px solid rgba(125, 149, 163, 0.1);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-left: 12px;
	&:before {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		color: #233944;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@media (max-width: 992px) {
		margin-left: 0;
		margin-right: 12px;
		&:before {
			font-size: 13px;
		}
	}
}

.map-gugl {
	@include adaptiv-value('margin-top', 45, 15, 1);
	width: 100%;
	padding-top: 40%;
	position: relative;
	@media (max-width: 992px) {
		padding-top: 80%;
	}
	@media (max-width: 480px) {
		margin-left: -17px;
		margin-right: -17px;
		width: 100vw;
	}
}
#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.map-gugl__img {
}

.map-form {
	@include adaptiv-value('padding-top', 87.5, 25, 1);
	@include adaptiv-value('padding-bottom', 95, 30, 1);
}

.map-form__title {
	text-align: center;
	@include adaptiv-value('margin-bottom', 38, 18, 1);
}

.map-form__sub-title {
	text-align: center;
	@include adaptiv-value('margin-bottom', 42, 30, 1);
}

.map-form__wrapper {
}
.map-form__body {
	max-width: 705px;
	margin: 0 auto;

	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& p {
		flex: 0 0 49%;
	}
	@media (max-width: 992px) {
		display: block;
	}
}
.map-form__input {
	border: 1px solid #ecf2f5 !important;
}
.map-form__checkbox {
	max-width: 315px;
	margin: 0 auto;

	margin-top: 20px;
	margin-bottom: 30px;
	@media (max-width: 992px) {
		margin-left: 0;
		margin-right: 0;
	}
}
.map-form__button {
	width: 270px;
	margin: 0 auto;
	@media (max-width: 992px) {
		width: 100%;
	}
}

//=====================================================
//Блок галлереи
.gallery {
	@include adaptiv-value('padding-bottom', 135, 37, 1);
}
.container {
}
.gallery-title {
	@include adaptiv-value('margin-bottom', 70, 30, 1);
}
.title-h1 {
}
.gallery-body {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.gallery-body__blok {
	flex: 0 0 24%;
	@include adaptiv-value('margin-bottom', 40, 20, 1);
	@media (max-width: 992px) {
		flex: 0 0 100%;
	}
}
.gallery-body__blok-b {
	flex: 0 0 48%;
	& a .other-albums__slider-clide__content {
		width: 45%;
	}
	@media (max-width: 992px) {
		flex: 0 0 100%;
		& a .other-albums__slider-clide__content {
			width: 90%;
		}
	}
}
//=====================================================
//Стилизация текста Юридические лица

.legalEntities-text {
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	color: #233944;
	& a {
		color: #bf986d;
	}
	@include adaptiv-value('padding-bottom', 53, 50, 1);
}
.legalEntities-body {
}
.legalEntities-body__title {
	font-family: Ubuntu;
	@include adaptiv-value('font-size', 24, 20, 1);
	font-weight: 400;
	line-height: 36px;
	color: #233944;
	@include adaptiv-value('margin-bottom', 30, 25, 1);
}
.title-h4 {
}
.legalEntities-list {
	@include adaptiv-value('padding-bottom', 42, 17, 1);
}
.legalEntities-link {
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #233944;
	padding-left: 23px;
	position: relative;
	margin-bottom: 13px;
	&:before {
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		background: #bf986d;
		position: absolute;
		top: 8px;
		transform: rotate(-45deg);
		left: 0;
	}
}
.frequent-questions__body-tabs.legalEntities {
	margin-bottom: 0;
}
//=====================================================
//Публичная оферта
.PublicOffer {
	@include adaptiv-value('padding-bottom', 60, 35, 1);
}
.container {
}
.PublicOffer-title {
}
.PublicOffer-sub-title {
	@include adaptiv-value('padding-top', 50, 22, 1);
	@include adaptiv-value('padding-bottom', 60, 16, 1);
	@include adaptiv-value('padding-left', 7, 0, 1);
}
.sub-title-h1 {
}
.PublicOffer-body {
}
.PublicOffer-body__blok {
	@include adaptiv-value('padding-bottom', 65, 25, 1);
}
.PublicOffer-body__blok-title {
	@include adaptiv-value('padding-bottom', 23, 6, 1);
	@include adaptiv-value('font-size', 24, 16, 1);
	line-height: 24px;
}

.PublicOffer-body__blok-text p {
	padding-bottom: 15px;
	@include adaptiv-value('font-size', 14, 12, 1);
	@include adaptiv-value('line-height', 21, 18, 1);

	&:last-child {
		padding-bottom: 0;
	}
}

//=====================================================
//Ховер

@media (min-width: 1023px) {
	.kitchen-catalog__body-butons__poginechion-link {
		&:hover {
			color: #233944;
		}
	}
	.other-albums__body-reght-buton {
		transition: 0.3s;
		i {
			transition: 0.3s;
		}
		&:hover {
			background-color: $accent;
			&:hover span::before {
				color: #fff;
			}
		}
	}
	.kitchen-catalog__body-butons__buton {
		transition: 0.3s;
		i {
			transition: 0.3s;
		}
		&:hover {
			background-color: $accent;
			color: #fff;
			i {
				color: #fff;
			}
			span {
				&::before,
				&::after {
					background: #fff;
				}
			}
		}
	}
	.kitchen-catalog__body-content__img {
		transition: 0.3s;
		i {
			transition: 0.3s;
		}
		&:hover {
			background-color: $accent;
			i {
				color: #fff;
			}
		}
	}
	/*.other-albums__slider-clide-body {
		&:hover {
			box-shadow: 0 0 7px rgba(0,0,0,0.5);
		}
	}*/
	.breadcrumbs__links-item {
		&:hover {
			color: #233944;
		}
	}
	.form__body-blok-textarea textarea {
		transition: border 0.3s ease 0s;
		border: 1px solid #fff;
		&:hover {
			border: 1px solid rgba(191, 152, 109, 1) !important;
		}
	}
	.form__body-blok input {
		transition: border 0.3s ease 0s;
		border: 1px solid #fff;
		&:hover {
			border: 1px solid rgba(191, 152, 109, 1) !important;
		}
	}
	.map-body__reght-link {
		transition: box-shadow 0.3s ease 0s;
		&:hover {
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
		}
	}
}

//=====================================================
