// Fonts
$default-font: 'Ubuntu', sans-serif
$second-font: 'PlayfairDisplay', sans-serif


// Colors
$main-color: #2B424E
$second-color: #7D95A3
$link-color: #233944
$color1: #BFA775
$color2: #fff
$accent: #BF986D
$dark: #2B424E






// Bootstrap gutter
$grid-gutter-width: 40px
$gutter: $grid-gutter-width


// Bootstrap custom grid
$grid-breakpoints: (xs: 0, lg: 992px, xl: 1500px)

$container-max-widths: (sm: 480px, lg: 960px, xl: 1440px)
