// Fonts
$default-font: 'Poppins', sans-serif
$second-font: 'GothamPro'



// Colors
$gray: #ACACAC
$light: #E1E1E1
$dark: #3E4143


$accent: #EC6608
$accent-grad: linear-gradient(0deg, #E63612 0%, #EC6608 99.98%)

$bg: #111417
$block-bg: #171B1F