@import 'reset';
@import 'mixins';
@import 'variables';
@import 'fonts';

html,
body {
	height: 100%;
	min-width: 320px;
	padding: 0;
	margin: 0;
	font-family: 'Roboto-regular';
	background: url(../img/header-bg.png) no-repeat center top;
	background-size: cover;
}

::placeholder {
	color: rgba(255, 255, 255, 0.2);
	font-size: 14px;
	font-family: 'Roboto-Light';
}

iframe {
	width: 100%;
	height: 350px;
}

path:hover,
path:active {
	fill: #2f6896;
	transition: 0.3s;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

// Шапка
header {
	background: url(../img/header-bg-top.png) no-repeat center top;
	background-size: cover;
	height: 260px;
	padding-top: 35px;

	.header__top {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.logo {
			position: absolute;
			top: 0;
			left: 0;
		}

		&-logo {
			display: flex;
			flex-direction: column;
			margin-left: 210px;

			.logo-text {
				font-size: 38px;
				font-weight: normal;
				color: $white;
				text-transform: uppercase;
				display: block;
				font-family: 'Roboto-Medium';
				font-weight: 500;

				span {
					color: #ff9600;
				}
			}

			.logo-subtext {
				display: block;
				font-style: italic;
				font-size: 14px;
				color: $white;
				text-transform: uppercase;
				font-family: 'Roboto-Medium';
			}
		}
	}

	.social {
		display: flex;

		&__item {
			margin: 0 8px;

			a:hover {
				svg path {
					transition: 0.5s;
					fill: #3775a3;
				}
			}
		}
	}

	.message {
		background: url(../img/message-base.png) no-repeat center;
		height: 160px;
		width: 773px;
		margin: 13px auto 0 188px;
		padding: 60px 10px 0 20px;
		font-size: 14px;
		color: $white;
		line-height: 1.4;
		font-family: 'Roboto-Light';
	}
}

// eof

.launches {
	background: url(../img/body-bg.png) repeat-x center top;

	padding-top: 65px;
	padding-bottom: 30px;

	.launches__form {
		background: url(../img/form_bg.png) no-repeat center center;
		height: 116px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;

		.notification {
			display: flex;
			align-items: center;

			span {
				font-size: 14px;
				color: #8d9396;
			}

			img {
				margin-right: 15px;
			}
		}

		.input-mail {
			width: 368px;
			height: 32px;
			border-radius: 3px;
			text-align: center;
			color: $white;
			background: RGBA(38, 43, 45, 0.4);
			outline: none;
			border-top: solid 1px #08090a;
			border-left: solid 1px #08090a;
			border-right: solid 1px #31363a;
			border-bottom: solid 1px #31363a;
		}

		&-button {
			width: 150px;
			border: none;
			cursor: pointer;
			background: url(../img/button_send.png) no-repeat center;
			box-shadow: #08090a 2px 2px 2px;
			border-radius: 5px;
			outline: none;
			font-size: 14px;
			color: $white;
			transition: 0.2s;
			padding: 8px 0;
			font-family: 'Roboto-Regular';

			&:hover {
				box-shadow: none;
			}
		}
	}

	.title {
		font-size: 24px;
		color: $orange;
		text-transform: uppercase;
		text-align: center;
		margin-top: 30px;
		font-weight: bold;
		font-family: 'Roboto-Bold';
	}

	.timer {
		background: url(../img/timer_bg.png) no-repeat center;
		width: 100%;
		height: 210px;
		margin-top: 40px;

		.timer__items {
			display: flex;
			font-size: 72px;
			font-weight: bold;
			color: $white;
			justify-content: space-between;
			padding: 60px 90px;
			font-family: 'Roboto-Bold';

			.timer__item {
				position: relative;
				min-width: 60px;
				margin-left: 10px;
				margin-right: 10px;
				padding-bottom: 15px;
				padding-top: 22px;
				text-align: center;
				background: url(../img/counter_bg.png) no-repeat center center;
				width: 130px;
				height: 118px;

				&::before {
					content: attr(data-title);
					display: block;
					position: absolute;
					left: 50%;
					top: -30px;
					transform: translateX(-50%);
					font-size: 18px;
					font-family: 'Roboto-Regular';
					font-weight: 300;
					color: $gray;
				}
			}

			.timer__days {
				color: $orange;
			}
		}
	}

	.slider {
		height: 375px;
		width: 100%;
		background: url(../img/slider_bg.png) no-repeat center center;
		margin-top: 35px;
		padding: 10px;

		.tab {
			float: right;
			width: 230px;
			height: 300px;

			/* Стиль кнопок, которые используются для открытия содержимого вкладки */
			& a {
				display: flex;
				align-items: center;
				background-color: rgba(11, 14, 15, 0.6);
				color: $gray;
				padding-left: 30px;
				height: 54px;
				width: 100%;
				border-left: 2px solid transparent;
				outline: none;
				text-align: left;
				cursor: pointer;
				transition: 0.3s;
				margin-bottom: 6.4px;
				font-size: 18px;
				font-family: 'Roboto-Light';

				svg {
					margin-right: 20px;
					fill: #2f6896;
				}

				&:hover {
					background-color: rgba(11, 14, 15, 0.2);
					color: $orange;
				}

				/* Стилизация активного таба */
				&.active {
					color: $orange;
					border-left: 2px solid $orange;
					background: inherit;
					background-color: rgba(11, 14, 15, 0.1);

					path {
						fill: #2f6896;
					}
				}
			}
		}

		/* Стиль контента */
		.tabcontent {
			float: right;
			border-left: none;
			width: 700px;
			height: 360px;
			color: #fff;
			margin-right: 10px;
			display: none;
		}
	}

	.contacts-inner {
		width: 100%;
		height: 248px;
		background: url(../img/contacts_bg.png) no-repeat center center;
		margin-top: 40px;
		padding: 28px 20px;

		.contacts-form {
			input {
				height: 32px;
				border-radius: 3px;
				padding-left: 10px;
				color: $white;
				background: RGBA(38, 43, 45, 0.4);
				outline: none;
				border-top: solid 1px #08090a;
				border-left: solid 1px #08090a;
				border-right: solid 1px #31363a;
				border-bottom: solid 1px #31363a;
			}

			.name-input,
			.email-input {
				width: 210px;
			}

			.topic-input {
				width: 100%;
				margin-bottom: 20px;
			}

			.rows-input {
				display: flex;

				.column-input {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-right: 20px;
				}

				textarea {
					outline: none;
					min-height: 85px;
					max-height: 85px;
					max-width: 690px;
					width: 100%;
					border-radius: 3px;
					padding-left: 10px;
					color: $white;
					background: RGBA(38, 43, 45, 0.4);
					border-top: solid 1px #08090a;
					border-left: solid 1px #08090a;
					border-right: solid 1px #31363a;
					border-bottom: solid 1px #31363a;
				}
			}

			.contacts__form-button {
				display: block;
				width: 146px;
				height: 34px;
				border: none;
				cursor: pointer;
				background: url(../img/button_send.png) no-repeat center;
				box-shadow: #08090a 2px 2px 2px;
				border-radius: 5px;
				outline: none;
				font-size: 14px;
				color: $white;
				transition: 0.2s;
				margin: 20px auto;

				text-transform: uppercase;

				&:hover {
					box-shadow: none;
				}
			}
		}
	}
}

footer {
	height: 208px;
	background: url(../img/footer_bg.png) no-repeat center center #0b0e0f;
	padding: 45px 0;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.footer__contacts {
		h4 {
			font-family: 'Roboto-Regular';
			font-weight: normal;
			font-size: 16px;
			color: $gray;
		}

		&-info {
			margin-top: 25px;

			&-item {
				margin-bottom: 10px;

				img {
					margin-right: 20px;
				}

				a {
					font-size: 14px;
					color: $gray;

					&:hover {
						color: #2f6896;
					}
				}
			}
		}
	}

	.footer__logo {
		@include flex-center();
		flex-direction: column;

		.copyright {
			margin-top: 13px;
			color: #404b4e;
			font-family: 'Roboto-Light';
		}
	}

	.footer__social {
		text-align: center;

		h4 {
			font-family: 'Roboto-Regular';
			font-weight: normal;
			font-size: 16px;
			color: $gray;
		}

		.social {
			display: flex;
			margin-top: 30px;
			font-family: 'Roboto-Regular';

			&__item {
				margin: 0 8px;

				a {
					path:hover {
						fill: #3775a3;
					}
				}
			}
		}
	}
}

.swiper {
	.swiper-slide {
		background: url(/img/main-bg.png);
	}

	.swiper-button-next {
		background-image: url('../img/arrow-right.png');
		width: 20px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		right: -1px;
	}

	.swiper-button-next::after {
		display: none;
	}

	.swiper-button-prev {
		background-image: url('../img/arrow-left.png');
		width: 20px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		left: -0.4px;
	}

	.swiper-button-prev::after {
		display: none;
	}
}

@media (max-width: 960px) {
	// Контейнер
	.container {
		max-width: 480px;
		padding: 0 20px;
	}

	header {
		height: 320px;

		.header__top {
			.logo {
				width: 75px;
				height: 75px;
			}

			&-logo {
				display: flex;
				flex-direction: column;
				margin-left: 90px;

				.logo-text {
					font-size: 18px;
					font-weight: normal;
					color: $white;
					text-transform: uppercase;
					display: block;

					span {
						color: #ff9600;
					}
				}

				.logo-subtext {
					display: block;
					font-style: italic;
					font-size: 12px;
					color: $white;
					text-transform: lowercase;
				}
			}
		}

		.social {
			display: flex;

			&__item {
				margin: 0 5px;
			}
		}

		.message {
			background: url(../img/6ed3edbcf0.jpg) center;
			border-bottom: solid 1px #08090a;
			border-right: solid 1px #08090a;
			border-left: solid 1px #31363a;
			border-top: solid 1px #31363a;
			border-radius: 5px;
			min-height: 160px;
			height: auto;
			max-width: 440px;
			width: 100%;
			margin: 45px auto 0;
			padding: 15px;
			font-size: 14px;
			color: $white;
			line-height: 1.4;
		}
	}

	.launches {
		background: url(../img/main-bg.png) center top;
		padding-top: 50px;
		padding-bottom: 30px;
		border-top: 1px solid #16719d;

		.launches__form {
			border-top: solid 1px #31363a;
			border-left: solid 1px #31363a;
			border-right: solid 1px #31363a;
			border-bottom: solid 1px #31363a;
			background: rgba(11, 14, 15, 0.2);
			display: flex;
			border-radius: 5px;
			height: 180px;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			padding: 20px;
		}

		.title {
			font-size: 20px;
			color: $orange;
			text-transform: uppercase;
			text-align: center;
			margin-top: 20px;
			font-weight: bold;
		}

		.timer {
			border-top: solid 1px #31363a;
			border-left: solid 1px #31363a;
			border-right: solid 1px #31363a;
			border-bottom: solid 1px #31363a;
			background: rgba(11, 14, 15, 0.2);
			border-radius: 5px;
			width: 100%;
			height: 210px;
			margin-top: 20px;

			.timer__items {
				display: flex;
				font-size: 72px;
				font-weight: bold;
				color: $white;
				justify-content: space-between;
				padding: 60px 0;
				font-family: 'Roboto-Bold';

				.timer__item {
					position: relative;
					min-width: 60px;
					margin-left: 10px;
					margin-right: 10px;
					padding-bottom: 15px;
					padding-top: 22px;
					text-align: center;
					background: url(../img/counter_bg.png) no-repeat center center;
					width: 130px;
					height: 118px;

					&::before {
						content: attr(data-title);
						display: block;
						position: absolute;
						left: 50%;
						top: -30px;
						transform: translateX(-50%);
						font-size: 18px;
						font-family: 'Roboto-Regular';
						font-weight: 300;
						color: $gray;
					}
				}

				.timer__days {
					color: $orange;
				}
			}
		}

		.slider {
			height: 600px;
			width: 100%;
			background: url(../img/slider_bg.png) no-repeat center center;
			margin-top: 25px;
			padding: 0;

			.tab {
				float: none;
				width: 100%;
				height: 380px;
				text-align: center;

				/* Стиль кнопок, которые используются для открытия содержимого вкладки */
				& a {
					display: flex;
					align-items: center;
					text-align: center;
					background-color: rgba(11, 14, 15, 0.6);
					color: $gray;
					padding-left: 30px;
					border-left: 2px solid transparent;
					height: 54px;
					width: 100%;
					outline: none;
					text-align: left;
					cursor: pointer;
					margin-bottom: 6.4px;
					font-size: 18px;

					svg {
						margin-right: 20px;
						fill: #2f6896;
					}

					&:hover {
						background-color: rgba(11, 14, 15, 0.2);
						color: $orange;
					}

					/* Стилизация активного таба */
					&.active {
						color: $orange;
						border-left: 2px solid $orange;
						background-color: rgba(11, 14, 15, 0.1);

						path {
							fill: #2f6896;
						}
					}
				}
			}

			/* Стиль контента */
			.tabcontent {
				float: right;
				border-left: none;
				width: 100%;
				margin: 0 auto;
				height: 220px;
				color: #fff;
				display: none;
			}
		}

		.contacts-title {
			height: 20px;
		}

		.contacts-inner {
			width: 100%;
			height: auto;
			background: none;
			border-radius: 5px;
			margin-top: 20px;
			padding: 20px;
			border: 1px solid #16719d;

			.contacts-form {
				input {
					height: 32px;
					border-radius: 3px;
					padding-left: 10px;
					color: $white;
					background: RGBA(38, 43, 45, 0.4);
					outline: none;
					border-top: solid 1px #08090a;
					border-left: solid 1px #08090a;
					border-right: solid 1px #31363a;
					border-bottom: solid 1px #31363a;
				}

				.name-input,
				.email-input {
					width: 180px;
				}

				.topic-input {
					width: 100%;
					margin-bottom: 20px;
				}

				.rows-input {
					display: flex;

					.column-input {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						margin-right: 20px;
					}

					textarea {
						outline: none;
						min-height: 85px;
						max-height: 85px;
						max-width: 690px;
						width: 100%;
						border-radius: 3px;
						padding-left: 10px;
						color: $white;
						background: RGBA(38, 43, 45, 0.4);
						border-top: solid 1px #08090a;
						border-left: solid 1px #08090a;
						border-right: solid 1px #31363a;
						border-bottom: solid 1px #31363a;
					}
				}

				.contacts__form-button {
					display: block;
					width: 146px;
					height: 34px;
					border: none;
					cursor: pointer;
					background: url(../img/button_send.png) no-repeat center;
					box-shadow: #08090a 2px 2px 2px;
					border-radius: 5px;
					outline: none;
					font-size: 14px;
					color: $white;
					transition: 0.2s;
					margin: 20px auto 0 auto;

					text-transform: uppercase;

					&:hover {
						box-shadow: none;
					}
				}
			}
		}
	}

	footer {
		height: auto;
		background: #0c0f10;
		border-top: 1px solid #53370f;
		padding: 20px 0;

		h4 {
			text-align: center;
		}

		.container {
			flex-direction: column;

			.footer__contacts,
			.footer__logo,
			.footer__social {
				margin: 10px auto;
			}
		}
	}

	iframe {
		width: 100%;
		height: 220px;
	}

	.story-video-object {
		max-width: 100%;
		height: 220px !important;
		margin: 0 auto;
		display: block;
	}

	// eof
}

@media (max-width: 480px) {
	// Контейнер
	.container {
		max-width: 320px;
		padding: 0 10px;
	}

	header {
		height: 380px;
		padding-top: 10px;

		.header__top {
			display: flex;
			flex-direction: column;
			padding-bottom: 10px;

			.logo {
				width: 50px;
				height: 50px;
				display: block;
				position: relative;
			}

			&-logo {
				display: flex;
				flex-direction: column;
				margin-left: 0;
				text-align: center;

				.logo-text {
					font-size: 14px;
					font-weight: normal;
					color: $white;
					text-transform: uppercase;
					display: block;

					span {
						color: #ff9600;
					}
				}

				.logo-subtext {
					display: block;
					font-style: italic;
					font-size: 12px;
					color: $white;
					text-transform: lowercase;
				}
			}
		}

		.social {
			display: flex;
			justify-content: space-between;
			width: 150px;
			margin: 8px auto 0 auto;

			&__item {
				margin: 0 5px;
			}
		}

		.message {
			background: url(../img/6ed3edbcf0.jpg) center;
			border-bottom: solid 1px #08090a;
			border-right: solid 1px #08090a;
			border-left: solid 1px #31363a;
			border-top: solid 1px #31363a;
			border-radius: 5px;
			min-height: 160px;
			height: auto;
			max-width: 440px;
			width: 100%;
			margin: 62px auto 0;
			padding: 15px;
			font-size: 14px;
			color: $white;
			line-height: 1.4;
		}
	}

	.launches {
		background: url(../img/main-bg.png) center top;
		padding-top: 50px;
		padding-bottom: 30px;
		border-top: 1px solid #16719d;

		.launches__form {
			border-top: solid 1px #31363a;
			border-left: solid 1px #31363a;
			border-right: solid 1px #31363a;
			border-bottom: solid 1px #31363a;
			background: rgba(11, 14, 15, 0.2);
			display: flex;
			border-radius: 5px;
			height: 180px;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			padding: 20px;

			.input-mail {
				width: 280px;
			}
		}

		.title {
			font-size: 16px;
			color: $orange;
			text-transform: uppercase;
			text-align: center;
			margin-top: 20px;
			font-weight: bold;
		}

		.timer {
			border-top: solid 1px #31363a;
			border-left: solid 1px #31363a;
			border-right: solid 1px #31363a;
			border-bottom: solid 1px #31363a;
			background: rgba(11, 14, 15, 0.2);
			border-radius: 5px;
			width: 100%;
			height: 160px;
			margin-top: 20px;

			.timer__items {
				display: flex;
				font-size: 40px;
				font-weight: bold;
				color: $white;
				justify-content: space-between;
				padding: 60px 0;

				.timer__item {
					position: relative;
					min-width: 60px;
					margin: 0;
					padding-bottom: 15px;
					padding-top: 14px;
					text-align: center;
					background: none;
					width: 80px;
					height: 118px;

					&::before {
						content: attr(data-title);
						display: block;
						position: absolute;
						left: 50%;
						top: -10px;
						transform: translateX(-50%);
						font-size: 14px;
						font-family: 'Roboto-Regular';
						font-weight: 300;
						color: $gray;
					}
				}

				.timer__days {
					color: $orange;
				}
			}
		}

		.slider {
			height: 530px;
			width: 100%;
			background: url(../img/slider_bg.png) no-repeat center center;
			margin-top: 25px;
			padding: 0;

			.tab {
				float: none;
				width: 100%;
				height: 380px;
				text-align: center;
			}

			/* Стиль контента */
			.tabcontent {
				float: right;
				border-left: none;
				width: 100%;
				margin: 0 auto;
				height: 150px;
				color: #fff;
				display: none;
			}
		}

		.title {
			margin-top: 20px;
		}

		.contacts-inner {
			width: 100%;
			height: auto;
			background: none;
			border-radius: 5px;
			margin-top: 20px;
			padding: 10px;
			border: 1px solid #16719d;

			.contacts-form {
				input {
					height: 32px;
					border-radius: 3px;
					padding-left: 10px;
					color: $white;
					background: RGBA(38, 43, 45, 0.4);
					outline: none;
					border-top: solid 1px #08090a;
					border-left: solid 1px #08090a;
					border-right: solid 1px #31363a;
					border-bottom: solid 1px #31363a;
				}

				.name-input,
				.email-input {
					width: 100%;
					margin-bottom: 10px;
				}

				.topic-input {
					width: 100%;
					margin-bottom: 10px;
				}

				.rows-input {
					display: flex;
					flex-direction: column;

					.column-input {
						margin-right: 0px;
					}

					textarea {
						padding-top: 10px;
					}
				}

				.contacts__form-button {
					display: block;
					width: 146px;
					height: 34px;
					border: none;
					cursor: pointer;
					background: url(../img/button_send.png) no-repeat center;
					box-shadow: #08090a 2px 2px 2px;
					border-radius: 5px;
					outline: none;
					font-size: 14px;
					color: $white;
					transition: 0.2s;
					margin: 20px auto 0 auto;

					text-transform: uppercase;

					&:hover {
						box-shadow: none;
					}
				}
			}
		}
	}

	iframe {
		width: 100%;
		height: 100%;
		max-height: 150px;
	}

	.story-video-object {
		max-width: 100%;
		height: 150px !important;
		object-fit: cover;
		margin: 0 auto;
		display: block;
	}
}

// .story-row {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// }

// .story-content {
// 	margin-right: 30px;
// 	max-width: 580px;
// }

// .story-btn {
// 	display: flex;
// }

// .story-video {
// 	border-radius: 5px;
// 	overflow: hidden;
// 	max-width: 700px;
// 	position: relative;
// }

// .story-video-btn {
// 	border: none;
// 	background: none;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%);
// 	cursor: pointer;
// }

// .story-video-overlay {
// 	position: absolute;
// 	z-index: 99;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 0, 0.2);
// 	transition: opacity 0.2s ease;
// }

// .story-video-overlay.hidden {
// 	opacity: 0;
// }

// .story-video-object {
// 	min-width: 700px;
// 	height: 350px;
// 	margin: 0 auto;
// 	object-fit: cover;
// 	display: block;
// }
