@mixin adaptive($property, $startSize, $minSize, $device)

	@if $device == "desktop"

		$maxWidth: 1920
		$minWidth: 961
		$maxWidthConainer: 1800

		@media only screen and (min-width : 961px)

			$addSize: $startSize - $minSize

			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}))

	@if $device == "mobile"

		$maxWidth: 960
		$minWidth: 375
		$maxWidthConainer: 915

		@media only screen and (max-width : 960px)

			$addSize: $startSize - $minSize

			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}))
