$default-font: 'Manrope', sans-serif

$accent: #0A1DD0
$black: #00021A
$dark: #232323

$bg: #F4F6F8
$input: #7D7D9C
$bd: #303246

$gray: #696982
$gray-2: #999AA3
$gray-3: #AAAABF
$gray-4: #C5C5D2
$gray-6: #D7D9DD
$gray-7: #DCDCE9
$gray-8: #B2B3BA
$gray-9: #D9D9D9
