$default-font: 'Manrope', sans-serif
$preloader-font: 'MonumentExtended'

$accent: #0A1DD0
$black: #00021A
$dark: #232323
$red: #FA515C

$blue: #3B4AD9
$blue-2: #606CE0
$blue-3: #4755DB

$bg: #F4F6F8

$gray: #696982
$gray-1: #303246
$gray-2: #999AA3
$gray-3: #AAAABF
$gray-4: #C5C5D2
$gray-6: #D7D9DD
$gray-7: #DCDCE9
$gray-8: #B2B3BA
$gray-9: #D9D9D9
$gray-10: #F9FAFC
$gray-11: #7D7D9C
$gray-12: #F2F2F6
$gray-13: #EDEDF4
$gray-14: #F1F1F1
