.contact
	min-height: calc(100vh - 310px)
	.blur
		left: -20vw
		top: -20vw
		filter: blur(150px)
		animation: blur-move linear 7s infinite
		&._blue
			top: 15vw
			left: auto
			right: -20vw
			width: 30vw
			height: 30vw
			transition-duration: 8s
	&__container
		position: relative
		z-index: 2
		background-color: $bg
		border: 1px solid $bd
		padding: 80px 60px 60px
		border-radius: 5px
		width: 100%
		max-width: 700px
		margin: 0 auto
	&__title, &__text
		text-align: center
	&__title
		margin-bottom: 25px
	&__text
		max-width: 375px
		margin: 0 auto 40px

@media only screen and (max-width : 1024px)
	.contact
		.blur
			top: 20vw
			filter: blur(60px)
			width: 90vw
			height: 90vw
			animation: none
			&._blue
				display: none
		&__container
			padding: 40px 20px 20px
