.faq
	.blur
		left: -20vw
		top: -20vw
		filter: blur(150px)
		animation: blur-move linear 7s infinite
		&._blue
			top: 15vw
			left: auto
			right: -20vw
			width: 30vw
			height: 30vw
			filter: blur(150px)
			animation: blur-move linear 8s infinite
	.container
		position: relative
		z-index: 2
	&__title
		text-align: center
		margin-bottom: 60px
	&__captions
		display: flex
		justify-content: center
		align-items: center
		gap: 15px
		margin-bottom: 40px
		&-item
			width: 210px
			height: 56px
			border-radius: 5px
			background-color: $accent
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-weight: 600
			font-size: 18px
			transition: .3s
			cursor: pointer
			&.active
				background-color: $acid
				color: $black
	&__tab
		display: none
		&.active
			display: block
	&__dropdown
		margin-bottom: 20px
		border-radius: 5px
		background-color: $bg
		border: 1px solid $bd
		&:last-child
			margin-bottom: 0
		&-heading
			padding: 30px 45px
			font-size: 24px
			font-weight: 600
			line-height: 1.1
			display: flex
			justify-content: space-between
			align-items: center
			cursor: pointer
			&::after
				content: ''
				width: 24px
				height: 24px
				background-image: url('../img/icons/arrow-up.svg')
				background-size: contain
				background-repeat: no-repeat
				background-position: center
				transform: rotate(180deg)
				flex: 0 0 auto
				margin-left: 30px
				transition: .3s
			&.active::after
				transform: rotate(0deg)
		&-container
			font-size: 16px
			font-weight: 500
			padding: 30px 45px
			border-top: 1px solid $bd
			display: none

@media only screen and (max-width : 1024px)
	.faq
		.blur
			display: none
		&__title
			margin-bottom: 30px
		&__captions
			align-items: stretch
			flex-direction: column
			gap: 10px
			margin-bottom: 30px
			&-item
				width: 100%
				height: 56px
		&__dropdown
			margin-bottom: 10px
			&-heading
				padding: 15px 20px
				font-size: 18px
				line-height: 1.3
			&-container
				font-size: 16px
				padding: 15px 20px
