.manual
	.blur
		right: -20vw
		bottom: -20vw
		width: 40vw
		height: 40vw
		filter: blur(150px)
		animation: blur-move linear 8s infinite
		&._blue
			top: -10vw
			left: -20vw
			right: auto
			filter: blur(250px)
			animation-duration: 7s
	&__title
		text-align: center
		margin-bottom: 90px
	&__container
		position: relative
		z-index: 2
	&__captions
		display: flex
		justify-content: center
		align-items: center
		gap: 15px
		transform: translateY(-50%)
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 3
		&-item
			width: 210px
			height: 56px
			border-radius: 5px
			background-color: $accent
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-weight: 600
			font-size: 18px
			transition: .3s
			cursor: pointer
			&.active
				background-color: $acid
				color: $black
	&__tab
		position: relative
		background-color: $bg
		border: 1px solid $bd
		padding: 120px 80px 80px
		border-radius: 5px
		min-height: 550px
		display: none
		&.active
			display: block
		&-inner
			width: 500px
	&__heading
		margin-bottom: 30px
		font-size: 32px
		font-weight: 700
		line-height: 1.2
	&__text
		margin-bottom: 15px
		font-size: 18px
		&:last-child
			margin-bottom: 0
	&__image
		position: absolute
		right: 0
		bottom: 0
		width: 530px

@media only screen and (max-width : 1400px)
	.manual
		&__captions
			&-item
				width: 170px
				font-size: 16px
		&__tab
			padding: 90px 60px 60px
			min-height: 470px
			&-inner
				width: 450px
		&__heading
			font-size: 26px
		&__text
			font-size: 16px
		&__image
			width: 450px

@media only screen and (max-width : 1024px)
	.manual
		.blur
			display: none
		&__title
			margin-bottom: 30px
		&__captions
			display: none
			&-item
				position: absolute
				top: 0
				left: 50%
				transform: translate(-50%, -50%)
				width: calc(100% - 60px)
				font-size: 18px
				&.active
					background-color: $accent
					color: #fff
		&__tabs
			position: relative
			left: 50%
			transform: translateX(-50%)
			width: 100vw
			.slick-dots
				display: flex
				justify-content: center
				align-items: center
				margin-top: 15px
				gap: 10px
				li
					width: 6px
					height: 6px
					font-size: 0
					border-radius: 50%
					background-color: $accent
					transition: .5s
					&.slick-active
						width: 12px
						height: 12px
		&__tab
			padding: 0
			margin: 28px 15px 0
			min-height: auto
			display: block
			&-inner
				width: 100%
				padding: 60px 30px 40px
		&__heading
			font-size: 24px
		&__text
			font-size: 14px
		&__image
			width: calc(100% - 30px)
			position: relative
			left: 30px
			display: flex
			&._mobile-center
				width: calc(100% - 60px)
