.program
	.blur
		right: -20vw
		top: 0
		width: 30vw
		height: 30vw
		filter: blur(220px)
		animation: blur-move linear 6s infinite
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		z-index: 2
		&-inner
			width: 565px
			flex: 0 0 auto
	&__video
		width: 650px
		transform: translateX(-10%)
	&__title
		margin-bottom: 40px
		&-inner
			position: relative
		&-decor
			position: absolute
			left: 45%
			top: 90%
			width: 105%
			max-width: none
			transform: translateX(-50%)
	&__text
		margin-bottom: 80px
	&__flexbox
		display: inline-flex
		gap: 35px
		position: relative
		&::before
			content: ''
			height: 6px
			width: 90%
			background-color: $acid
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
	&__item
		background-color: $accent
		border-radius: 5px
		width: 130px
		height: 130px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		text-align: center
		line-height: 1
		position: relative
		z-index: 2
		&-heading
			font-size: 46px
			font-weight: 700
			span
				font-size: 34px
		&-separator
			margin-bottom: 10px
			transform: translateX(10%)
		&-caption
			font-size: 18px
			font-weight: 600

@media only screen and (max-width : 1400px)
	.program
		&__container-inner
			width: 460px
		&__video
			width: 600px

@media only screen and (max-width : 1024px)
	.program
		.blur
			display: none
		&__container
			flex-direction: column
			align-items: stretch
			&-inner
				width: 100%
				order: -1
		&__video
			width: 100%
			transform: none
			margin-top: 40px
		&__title
			margin-bottom: 30px
		&__text
			margin-bottom: 30px
		&__flexbox
			justify-content: space-between
			width: 345px
			max-width: 100%
			gap: 0
			left: 50%
			transform: translateX(-50%)
		&__item
			width: 100px
			height: 100px
			&-heading
				font-size: 32px
				span
					font-size: 24px
			&-separator
				margin-bottom: 8px
				transform: translateX(7%)
				width: 68px
			&-caption
				font-size: 14px
