.stats
	&__title
		margin-bottom: 60px
		text-align: center
	&__flexbox
		display: flex
		justify-content: space-between
		gap: 20px
	&__item
		border: 1px solid $bd
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		gap: 5px
		padding: 30px
		width: 25%
		background-color: $bg
		border-radius: 5px
		position: relative
		overflow: hidden
		&-heading, &-decor, &-data
			position: relative
			z-index: 2
		&-heading
			font-size: 20px
			font-weight: 700
		&-data
			font-size: 30px
			line-height: 1.1
			font-weight: 600
		&-blur
			position: absolute
			right: 0
			height: 100%
	&__container
		display: flex
		justify-content: space-between
		margin-top: 60px
	&__col
		width: 600px
	&__heading
		margin-bottom: 40px
		font-size: 36px
		font-weight: 600
		&._text-right
			text-align: right
		&-inner
			position: relative
		&-decor
			position: absolute
			left: -2%
			top: 80%
			width: 107%
			max-width: none
	&__payment
		margin-bottom: 20px
		border: 1px solid $bd
		border-radius: 5px
		background-color: $bg
		overflow: hidden
		padding: 20px 30px
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		line-height: 1
		font-weight: 600
		&:last-child
			margin-bottom: 0
		&:hover
			.stats__payment-blur
				transform: translateX(-50%) scale(2)
		&-blur
			position: absolute
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			max-width: none
			max-height: none
			height: 100%
			transition: .5s
		&-inner, &-center
			text-align: center
			display: flex
			flex-direction: column
			align-items: center
		&-inner
			width: 100px
		&-time
			font-size: 12px
			margin-top: 5px
		&-amount
			color: $accent
			margin-bottom: 10px
			font-size: 32px
		&-name
			font-size: 20px
		&-caption
			text-transform: uppercase
			margin-bottom: 15px
			font-size: 20px
		&-code
			font-size: 20px
			text-transform: uppercase
			color: $acid
		&-separator
			width: 2px
			height: 50px
			background-color: $bd

@media only screen and (max-width : 1400px)
	.stats
		&__col
			width: 500px

@media only screen and (max-width : 1024px)
	.stats
		&__flexbox
			flex-direction: column
			gap: 10px
		&__title
			margin-bottom: 30px
		&__item
			width: 100%
			padding: 15px
			&-heading
				font-size: 18px
			&-data
				font-size: 26px
		&__container
			flex-direction: column
			margin-top: 40px
		&__col
			width: 100%
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
		&__heading
			margin-bottom: 15px
			font-size: 26px
			&._text-right
				text-align: left
		&__payment
			margin-bottom: 10px
			padding: 10px 15px
			&-inner, &-center
				text-align: center
				display: flex
				flex-direction: column
				align-items: center
			&-inner
				width: 60px
			&-crypto
				width: 24px
			&-time
				font-size: 8px
			&-amount
				margin-bottom: 5px
				font-size: 18px
			&-name
				font-size: 12px
			&-caption
				margin-bottom: 8px
				font-size: 12px
			&-code
				font-size: 12px
			&-separator
				width: 1px
				height: 25px
