.btn
	@include adaptive('padding-top', 20, 'desktop')
	@include adaptive('padding-bottom', 20, 'desktop')
	@include adaptive('padding-left', 62, 'desktop')
	@include adaptive('padding-right', 62, 'desktop')
	@include adaptive('border-radius', 65, 'desktop')
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	position: relative
	text-decoration: none
	outline: none
	overflow: hidden
	cursor: pointer
	border: none
	border-style: solid
	text-transform: uppercase
	background: $white-grad
	color: $accent
	line-height: 1
	font-weight: 600
	transition: .3s
	&:focus, &:hover
		text-decoration: none
	&:hover
		box-shadow: 1px 1px 1px 0px #FFF inset, 0px 0px 7.8px 0px rgba(0, 0, 0, 0.26), 0px 1px 2px 0px rgba(0, 0, 0, 0.22)
		color: $accent
	&:active
		color: #0081C0
		box-shadow: 1px 1px 3.6px 0px rgba(0, 0, 0, 0.54) inset
	&__inner
		display: inline-block
		transform: translateY(0.08em)

@media only screen and (max-width : 960px)
	.btn
		@include adaptive('font-size', 24, 'mobile')
		@include adaptive('padding-top', 20, 'mobile')
		@include adaptive('padding-bottom', 20, 'mobile')
		@include adaptive('padding-left', 32, 'mobile')
		@include adaptive('padding-right', 32, 'mobile')
		@include adaptive('border-radius', 100, 'mobile')
		width: 100%
		&:hover
			// color: #fff
			// background-color: $accent
