.fancybox-bg
	background-color: rgba(55, 165, 218, 0.4)

.fancybox-container
	backdrop-filter: blur(30px)

.fancybox-is-open .fancybox-bg
	opacity: 1

.fancybox-button.fancybox-button--close
	@include adaptive('top', 40, 'desktop')
	@include adaptive('right', 50, 'desktop')
	background: none
	opacity: 1
	padding: 0
	visibility: visible
	svg
		@include adaptive('width', 44, 'desktop')
		path
			@include adaptive('stroke-width', 2.63014, 'desktop')
			stroke: #fff

.fancybox-image, .fancybox-spaceball
	@include adaptive('width', 580, 'desktop')
	@include adaptive('width', 230, 'mobile')

	@include adaptive('max-height', 600, 'desktop')
	@include adaptive('max-height', 300, 'mobile')
	object-fit: contain
	object-position: center
	height: auto
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

.fancybox-toolbar
	opacity: 1
	visibility: visible

.fancybox-navigation
	.fancybox-button
		@include adaptive('width', 70, 'desktop')
		@include adaptive('height', 70, 'desktop')
		@include adaptive('border-width', 2, 'desktop')
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		background-color: #fff
		box-shadow: 1.725px 1.725px 1.725px 0px #FFF inset
		border-style: solid
		border-color: transparent
		border-radius: 50%
		padding: 0
		visibility: visible
		opacity: 1
		cursor: pointer
		&[disabled]
			opacity: 0.3
			background-color: transparent
			border-color: #fff
			box-shadow: none
			svg
				path
					stroke: #fff
		svg
			@include adaptive('width', 26, 'desktop')
			path
				@include adaptive('stroke-width', 2.63014, 'desktop')
				stroke: $accent
		div
			height: auto
			padding: 0
	.fancybox-button--arrow_right, .fancybox-button--arrow_left
		padding: 0
	.fancybox-button--arrow_right
		@include adaptive('right', 180, 'desktop')
	.fancybox-button--arrow_left
		@include adaptive('left', 180, 'desktop')

@media only screen and (max-width : 960px)
	.fancybox-button.fancybox-button--close
		@include adaptive('top', 20, 'mobile')
		@include adaptive('right', 20, 'mobile')
		@include adaptive('width', 25, 'mobile')
		@include adaptive('height', 25, 'mobile')
		svg
			@include adaptive('width', 25, 'mobile')
			@include adaptive('height', 25, 'mobile')
			path
				@include adaptive('stroke-width', 1.5, 'mobile')

	.fancybox-navigation
		.fancybox-button
			@include adaptive('width', 40, 'mobile')
			@include adaptive('height', 40, 'mobile')
			@include adaptive('border-width', 1, 'mobile')
			@include adaptive('bottom', 60, 'mobile')
			top: auto
			svg
				@include adaptive('width', 15, 'mobile')
				path
					@include adaptive('stroke-width', 1.5, 'mobile')
		.fancybox-button--arrow_right
			@include adaptive('right', 120, 'mobile')
		.fancybox-button--arrow_left
			@include adaptive('left', 120, 'mobile')
