::placeholder
	@include adaptive('font-size', 21, 'desktop')
	font-weight: 400
	color: #fff
	font-family: $default-font

input, textarea
	@include adaptive('font-size', 21, 'desktop')
	background: none
	color: #fff
	font-weight: 400
