.container
	@include adaptive('max-width', 1640, 'desktop')
	margin-right: auto
	margin-left: auto
	width: 100%

@media only screen and (max-width : 960px)
	.container
		@include adaptive('padding-right', 10, 'mobile')
		@include adaptive('padding-left', 10, 'mobile')
