.modal
	background: linear-gradient(213deg, #88D2F6 4%, #43ACDF 65.98%)
	color: #fff
	overflow-y: auto
	height: 100vh
	width: 100vw
	position: relative
	.mfp-close
		display: none
	&__close
		@include adaptive('right', 40, 'desktop')
		@include adaptive('top', 30, 'desktop')
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		z-index: 3
		&-icon
			@include adaptive('width', 35, 'desktop')
			@include adaptive('height', 35, 'desktop')
	&__container
		@include adaptive('max-width', 1500, 'desktop')
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		height: 100%
		z-index: 2
	&__logo
		@include adaptive('margin-bottom', 60, 'desktop')
		display: flex
		&-img
			@include adaptive('width', 360, 'desktop')
	&__contacts
		@include adaptive('margin-bottom', 60, 'desktop')
		display: flex
		flex-direction: column
		align-items: flex-start
		&-item
			@include adaptive('font-size', 42, 'desktop')
			font-weight: 600
	&__address, &__code
		@include adaptive('font-size', 20, 'desktop')
	&__address
		@include adaptive('margin-bottom', 10, 'desktop')
	&__code
		@include adaptive('gap', 15, 'desktop')
		display: flex
	&__form
		@include adaptive('gap', 55, 'desktop')
		display: flex
		flex-direction: column
		align-items: flex-start
		&-title
			@include adaptive('margin-bottom', 60, 'desktop')
			@include adaptive('font-size', 80, 'desktop')
			text-transform: uppercase
			line-height: 1
			font-weight: 600
			span
				font-weight: 400
		&-row
			@include adaptive('gap', 50, 'desktop')
			display: flex
		&-input
			@include adaptive('font-size', 20, 'desktop')
			@include adaptive('padding-top', 8, 'desktop')
			@include adaptive('padding-bottom', 8, 'desktop')
			@include adaptive('border-bottom-width', 1.5, 'desktop')
			@include adaptive('width', 295, 'desktop')
			border-style: solid
			border-color: #fff
			&._full-w
				width: 100%
		&-submit
			@include adaptive('padding-left', 56, 'desktop')
			@include adaptive('padding-right', 56, 'desktop')

@media only screen and (max-width : 960px)
	.mfp-container
		padding: 0

	.modal
		&__close
			@include adaptive('right', 25, 'mobile')
			@include adaptive('top', 25, 'mobile')
			&-icon
				@include adaptive('width', 25, 'mobile')
				@include adaptive('height', 25, 'mobile')
		&__container
			@include adaptive('margin-bottom', 50, 'mobile')
			@include adaptive('padding-right', 30, 'mobile')
			@include adaptive('padding-left', 30, 'mobile')
			align-items: stretch
			flex-direction: column
			&-inner
				display: none
		&__heading
			@include adaptive('margin-bottom', 30, 'mobile')
			@include adaptive('font-size', 38, 'mobile')
			text-transform: uppercase
			line-height: 1
			font-weight: 600
			span
				font-weight: 400
		&__btn
			@include adaptive('padding-bottom', 10, 'mobile')
			@include adaptive('padding-top', 10, 'mobile')
			@include adaptive('padding-right', 30, 'mobile')
			@include adaptive('padding-left', 30, 'mobile')
			@include adaptive('font-size', 16, 'mobile')
			display: inline-flex
			width: auto
			border: none
		&__logo
			@include adaptive('margin-bottom', 30, 'mobile')
			&-img
				@include adaptive('width', 200, 'mobile')
		&__contacts
			@include adaptive('margin-bottom', 30, 'mobile')
			&-item
				@include adaptive('font-size', 25, 'mobile')
		&__address, &__code
			@include adaptive('font-size', 16, 'mobile')
		&__address
			@include adaptive('margin-bottom', 5, 'mobile')
		&__code
			@include adaptive('gap', 5, 'mobile')
			flex-direction: column
		&__form
			@include adaptive('gap', 20, 'mobile')
			display: flex
			justify-content: center
			align-items: center
			min-height: 100vh
			width: 100%
			&-title
				@include adaptive('margin-bottom', 30, 'mobile')
				@include adaptive('font-size', 38, 'mobile')
			&-row
				@include adaptive('gap', 20, 'mobile')
				flex-direction: column
				width: 100%
			&-input
				@include adaptive('font-size', 14, 'mobile')
				@include adaptive('padding-top', 5, 'mobile')
				@include adaptive('padding-bottom', 5, 'mobile')
				@include adaptive('border-bottom-width', 1, 'mobile')
				width: 100%
			&-submit
				@include adaptive('margin-top', 20, 'mobile')
				@include adaptive('padding-bottom', 10, 'mobile')
				@include adaptive('padding-top', 10, 'mobile')
				@include adaptive('padding-right', 30, 'mobile')
				@include adaptive('padding-left', 30, 'mobile')
				@include adaptive('font-size', 18, 'mobile')
				display: inline-flex
				width: auto
				border: none
