@import ./modules/reset
@import ./modules/fonts
@import ./modules/vars
@import ./modules/mixin

// General
body
	@include adaptive('font-size', 26, 'desktop')
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	color: $black
	background-color: #fff
	scrollbar-width: 5px
	&::-webkit-scrollbar-track
		background: #fff
	&::-webkit-scrollbar-thumb
		background-color: $accent
	&::-webkit-scrollbar
		width: 5px
	&.scroll-disabled
		overflow: hidden

.overflow-hidden
	overflow: hidden

section
	@include adaptive('padding-top', 140, 'desktop')
	@include adaptive('padding-bottom', 140, 'desktop')

.title
	@include adaptive('padding-left', 28, 'desktop')
	@include adaptive('font-size', 64, 'desktop')
	@include adaptive('border-left-width', 3, 'desktop')
	font-weight: 200
	line-height: 1
	border-style: solid
	border-color: #48AFE1
	span
		font-weight: 700

@media only screen and (max-width : 960px)
	body
		@include adaptive('font-size', 16, 'mobile')

	section
		@include adaptive('padding-top', 40, 'mobile')
		@include adaptive('padding-bottom', 40, 'mobile')

	.title
		@include adaptive('padding-left', 12, 'mobile')
		@include adaptive('font-size', 30, 'mobile')
		@include adaptive('border-left-width', 1, 'mobile')
//

// Form elements
::placeholder
	@include adaptive('font-size', 20, 'desktop')
	font-weight: 400
	color: #fff
	font-family: $default-font

input, textarea
	background: none
	color: #fff
	font-weight: 400
//

@import button
@import grid
@import mods
@import modal
@import fancybox

@import ./templates/header
@import ./templates/footer

@import ./templates/main-screen
@import ./templates/categories
@import ./templates/brands
@import ./templates/about
@import ./templates/partners
@import ./templates/gallery

@import ./templates/filter
@import ./templates/catalog

@import ./templates/not-found
