.account
	background-color: $bg
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	&.reset-password
		.account
			&__container
				@include adaptive('width', 700, 350, 'desktop')
				@include adaptive('min-height', 820, 410, 'desktop')
				padding: 0
				width: auto
			&__title
				@include adaptive('margin-bottom', 30, 15, 'desktop')
			&__form
				@include adaptive('padding-top', 80, 40, 'desktop')
				@include adaptive('padding-bottom', 40, 20, 'desktop')
				@include adaptive('padding-left', 60, 30, 'desktop')
				@include adaptive('padding-right', 60, 30, 'desktop')
				width: 100%
	&-header
		width: 100%
		&__btn
			background-color: $dark
			border: 1px solid $dark
			&::after
				background-color: $bg
			&:hover
				color: $dark
			&-secondary
				background-color: transparent
				border: 1px solid $dark
				color: $dark
				&::after
					background-color: $dark
				&:hover
					color: #fff
	&__container
		@include adaptive('border-radius', 15, 8, 'desktop')
		@include adaptive('margin-top', 20, 10, 'desktop')
		@include adaptive('margin-bottom', 20, 10, 'desktop')
		@include adaptive('padding-top', 20, 10, 'desktop')
		@include adaptive('padding-bottom', 20, 10, 'desktop')
		@include adaptive('padding-left', 20, 10, 'desktop')
		@include adaptive('padding-right', 20, 10, 'desktop')
		@include adaptive('width', 1600, 800, 'desktop')
		@include adaptive('min-height', 890, 445, 'desktop')
		background-color: #fff
		box-shadow: 0px 4px 100px 0px rgba(0, 2, 26, 0.12)
		display: flex
		&-inner
			width: 50%
	&__entry
		@include adaptive('border-radius', 15, 8, 'desktop')
		@include adaptive('padding-top', 70, 35, 'desktop')
		@include adaptive('padding-bottom', 70, 35, 'desktop')
		@include adaptive('padding-left', 90, 45, 'desktop')
		@include adaptive('padding-right', 90, 45, 'desktop')
		background-color: $blue
		display: flex
		flex-direction: column
		justify-content: space-between
		&-img
			@include adaptive('width', 120, 60, 'desktop')
			@include adaptive('margin-bottom', 40, 20, 'desktop')
		&-text
			@include adaptive('font-size', 36, 18, 'desktop')
			line-height: 1
			letter-spacing: -0.02em
			color: #fff
	&__logo
		display: flex
		&-img
			@include adaptive('width', 194, 97, 'desktop')
	&__form
		@include adaptive('padding-top', 40, 20, 'desktop')
		@include adaptive('padding-bottom', 40, 20, 'desktop')
		@include adaptive('padding-left', 100, 50, 'desktop')
		@include adaptive('padding-right', 100, 50, 'desktop')
		display: flex
		flex-direction: column
		justify-content: space-between
		&-btn
			@include adaptive('padding-top', 22, 11, 'desktop')
			@include adaptive('padding-bottom', 22, 11, 'desktop')
			background-color: $blue
			width: 100%
			font-weight: 600
			&::after
				background-color: $dark
		&-submit
			@include adaptive('margin-top', 30, 15, 'desktop')
			&:disabled
				background-color: $bg
				color: $gray-2
				&::after
					background-color: $bg
		&-secondary
			@include adaptive('margin-top', 10, 5, 'desktop')
			background-color: #fff
			border: 1px solid $gray-3
			color: $gray
			&::after
				background-color: $dark
	&__title
		@include adaptive('font-size', 56, 28, 'desktop')
		@include adaptive('margin-bottom', 80, 40, 'desktop')
		line-height: 1
		letter-spacing: -0.04em
		font-weight: 300
	&__subtitle
		@include adaptive('width', 360, 180, 'desktop')
		@include adaptive('font-size', 18, 9, 'desktop')
		@include adaptive('margin-bottom', 60, 30, 'desktop')
		font-weight: 300
		line-height: 1
		color: $gray
	&__field
		@include adaptive('margin-top', 20, 10, 'desktop')
		display: block
		&:first-child
			margin-top: 0
		&-caption
			@include adaptive('margin-bottom', 10, 5, 'desktop')
			line-height: 1.35
			font-weight: 500
			letter-spacing: -0.02em
			display: block
		&-inner
			position: relative
		&-input, &-textarea
			@include adaptive('padding-top', 18, 9, 'desktop')
			@include adaptive('padding-bottom', 18, 9, 'desktop')
			@include adaptive('padding-left', 20, 10, 'desktop')
			@include adaptive('padding-right', 20, 10, 'desktop')
			@include adaptive('border-radius', 5, 3, 'desktop')
			display: block
			background-color: $gray-10
			border: 1px solid $gray-12
		&-textarea
			@include adaptive('height', 260, 130, 'desktop')
		&-toggle
			@include adaptive('width', 20, 10, 'desktop')
			@include adaptive('height', 20, 10, 'desktop')
			@include adaptive('right', 20, 10, 'desktop')
			position: absolute
			top: 50%
			transform: translateY(-50%)
			display: flex
			&::before, &::after
				@include adaptive('width', 20, 10, 'desktop')
				@include adaptive('height', 20, 10, 'desktop')
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				background-size: contain
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transition: .3s
			&::before
				background-image: url('/img/icons/password-show.svg')
			&::after
				background-image: url('/img/icons/password-hide.svg')
				opacity: 0
			&.active
				&::before
					opacity: 0
				&::after
					opacity: 1
		&-edit
			@include adaptive('width', 24, 12, 'desktop')
			@include adaptive('height', 24, 12, 'desktop')
			@include adaptive('margin-left', 20, 10, 'desktop')
			background-image: url('/img/icons/edit.svg')
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			position: absolute
			left: 100%
			top: 50%
			transform: translateY(-50%)
			transition: .3s
			&:hover
				transform: translateY(-50%) scale(1.2)
	&__file
		display: flex
		justify-content: space-between
		align-items: center
		cursor: pointer
		position: relative
		&-text
			@include adaptive('font-size', 16, 8, 'desktop')
			@include adaptive('font-size', 40, 16, 'mobile')
			color: $gray-11
			font-weight: 500
		&-icon
			@include adaptive('width', 20, 10, 'desktop')
		&-input
			appearance: none
			opacity: 0
			width: 0
			height: 0
			overflow: hidden
			position: absolute
			top: 0
			left: 0
	&__options
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
	&__option
		@include adaptive('padding', 20, 10, 'desktop')
		background-color: $gray-10
		border: 1px solid $gray-12
		cursor: pointer
		width: 50%
		&-input
			@include adaptive('width', 20, 10, 'desktop')
			@include adaptive('height', 20, 10, 'desktop')
			appearance: none
			border: none
			background: none
			position: relative
			cursor: pointer
			&::before, &::after
				@include adaptive('width', 20, 10, 'desktop')
				@include adaptive('height', 20, 10, 'desktop')
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transition: .3s
			&::before
				background-image: url('/img/icons/checkbox.svg')
			&::after
				background-image: url('/img/icons/checkbox-checked.svg')
				opacity: 0
				z-index: 2
			&:checked
				&::before
					opacity: 0
				&::after
					opacity: 1
		&-caption
			@include adaptive('margin-left', 10, 5, 'desktop')
			font-weight: 500
			letter-spacing: -0.02em
			line-height: 1.3
			color: $gray-1
	&__privacy
		@include adaptive('margin-top', 10, 5, 'desktop')
		@include adaptive('font-size', 14, 7, 'desktop')
		color: $gray-3
		font-weight: 500
		line-height: 1.2
		&-link
			font-weight: 700
			&:hover
				color: $blue
				&::before
					background-color: $blue
	&__flexbox
		@include adaptive('margin-top', 50, 25, 'desktop')
		display: flex
		justify-content: space-between
		align-items: center
		&._center
			justify-content: center
	&__link, &__help
		line-height: 1.1
		display: inline-block
		font-weight: 500
		&::before
			background-color: $blue
		&:hover
			color: $blue
	&__link
		@include adaptive('margin-left', 14, 7, 'desktop')
		font-weight: 700
		color: $blue
	&__passreset
		@include adaptive('margin-top', 10, 5, 'desktop')
		display: flex
		justify-content: flex-end
		&-link
			@include adaptive('font-size', 14, 7, 'desktop')
			font-weight: 500
			color: $gray-11
			&::before
				background-color: $black
			&:hover
				color: $black
	&-main
		@include adaptive('min-height', 870, 435, 'desktop')
		@include adaptive('border-radius', 15, 8, 'desktop')
		@include adaptive('margin-top', 20, 10, 'desktop')
		@include adaptive('margin-bottom', 20, 10, 'desktop')
		background-color: #fff
		box-shadow: 0px 4px 100px 0px rgba(0, 2, 26, 0.12)
		display: flex
		&__container
			@include adaptive('padding-top', 80, 40, 'desktop')
			@include adaptive('padding-bottom', 80, 40, 'desktop')
			@include adaptive('padding-right', 70, 35, 'desktop')
			@include adaptive('padding-left', 70, 35, 'desktop')
			width: 100%
			display: none
			&.active
				display: block
		&__top
			@include adaptive('padding-bottom', 15, 8, 'desktop')
			@include adaptive('margin-bottom', 60, 30, 'desktop')
			display: flex
			justify-content: space-between
			align-items: center
			border-bottom: 1px solid $gray-13
			&-title
				@include adaptive('font-size', 52, 26, 'desktop')
				line-height: 1
				letter-spacing: -0.04em
				font-weight: 300
			&-text
				@include adaptive('width', 290, 145, 'desktop')
				line-height: 1
				letter-spacing: -0.02em
				text-align: right
				flex: 0 0 auto
	&-sidebar
		@include adaptive('border-radius', 15, 8, 'desktop')
		@include adaptive('width', 700, 350, 'desktop')
		background-color: $blue
		color: #fff
		flex: 0 0 auto
		display: flex
		justify-content: space-between
		flex-direction: column
		&__inner
			@include adaptive('padding-top', 70, 35, 'desktop')
			@include adaptive('padding-left', 60, 30, 'desktop')
			@include adaptive('padding-right', 60, 30, 'desktop')
		&__top
			display: flex
			justify-content: space-between
			align-items: flex-end
		&__overtitle
			@include adaptive('margin-bottom', 10, 5, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			line-height: 1
			font-weight: 300
			letter-spacing: -0.04em
		&__title
			@include adaptive('font-size', 40, 20, 'desktop')
			line-height: 1
			font-weight: 300
			letter-spacing: -0.04em
		&__notification
			display: flex
			position: relative
			&-icon
				@include adaptive('width', 45, 23, 'desktop')
			&-amount
				@include adaptive('right', -6, -3, 'desktop')
				@include adaptive('top', -16, -8, 'desktop')
				@include adaptive('width', 20, 10, 'desktop')
				@include adaptive('height', 20, 10, 'desktop')
				@include adaptive('font-size', 12, 6, 'desktop')
				position: absolute
				border-radius: 50%
				background-color: $red
				display: flex
				justify-content: center
				align-items: center
				font-weight: 700
		&__nav
			@include adaptive('margin-top', 100, 50, 'desktop')
			@include adaptive('width', 280, 140, 'desktop')
			&-item
				@include adaptive('margin-bottom', 10, 5, 'desktop')
				background-color: $blue-3
				&:last-child
					margin-bottom: 0
				&::after
					background-color: #fff
				&:hover
					color: $dark
				&.active
					background-color: #fff
					color: $dark
		&__bottom
			@include adaptive('height', 170, 85, 'desktop')
			display: flex
			border-top: 1px solid $blue-2
		&__btn
			width: 50%
			display: flex
			align-items: center
			justify-content: center
			padding: 0
			border-radius: 0
			border-right: 1px solid $blue-2
			&:last-child
				border: none
			&::after
				background-color: $blue-2
			&-icon
				@include adaptive('margin-right', 10, 5, 'desktop')
				flex: 0 0 auto
				path
					transition: .3s
			.btn__inner
				display: flex
				align-items: center
	&-data
		&__captions
			@include adaptive('margin-bottom', 60, 30, 'desktop')
			@include adaptive('gap', 5, 3, 'desktop')
			display: flex
			flex-wrap: wrap
			&-item
				display: inline-flex
				background-color: $gray-10
				color: $gray
				&::after
					background-color: $blue
				&:hover .account-questions__counter
					color: #fff
				&.active
					background-color: $blue
					color: #fff
					.account-questions__counter
						color: #fff
		&__counter
			color: $blue
			font-weight: 700
			transition: .3s
		&__container
			display: none
			&.active
				display: block
		&__item
			@include adaptive('margin-bottom', 60, 30, 'desktop')
			letter-spacing: -0.04em
			line-height: 1
			font-weight: 600
			&:last-child
				margin-bottom: 0
			&-box
				@include adaptive('margin-bottom', 40, 20, 'desktop')
				&:last-child
					margin-bottom: 0
			&-number
				@include adaptive('margin-bottom', 15, 8, 'desktop')
				color: $gray-3
			&-title
				@include adaptive('margin-bottom', 20, 10, 'desktop')
				@include adaptive('font-size', 22, 11, 'desktop')
				font-weight: 600
			&-text
				color: $gray
				line-height: 1.1
				font-weight: 400
			&-subtitle
				@include adaptive('margin-bottom', 15, 8, 'desktop')
			&-date
				@include adaptive('margin-top', 15, 8, 'desktop')
				color: $gray
		&__empty
			@include adaptive('margin-top', 120, 60, 'desktop')
			&-text
				@include adaptive('margin-bottom', 20, 10, 'desktop')
				@include adaptive('font-size', 22, 11, 'desktop')
				font-weight: 500
				line-height: 1
				letter-spacing: -0.04em
			&-btn
				background-color: $blue
		&__wait
			display: flex
			align-items: center
			&-box
				@include adaptive('border-radius', 5, 3, 'desktop')
				@include adaptive('padding-top', 16, 8, 'desktop')
				@include adaptive('padding-bottom', 16, 8, 'desktop')
				@include adaptive('padding-right', 30, 15, 'desktop')
				@include adaptive('padding-left', 30, 15, 'desktop')
				flex: 0 0 auto
				display: flex
				justify-content: center
				align-items: center
				background-color: $bg
				font-weight: 500
				color: $gray
			&-icon
				@include adaptive('margin-left', 10, 5, 'desktop')
				@include adaptive('width', 24, 12, 'desktop')
			&-text
				@include adaptive('margin-left', 54, 27, 'desktop')
				@include adaptive('font-size', 18, 9, 'desktop')
				letter-spacing: -0.04em
				color: $gray
				fw500
		&__notification
			@include adaptive('margin-top', 100, 50, 'desktop')
			&-item
				@include adaptive('padding-top', 10, 5, 'desktop')
				@include adaptive('padding-bottom', 10, 5, 'desktop')
				border-bottom: 1px solid $gray-14
				display: flex
				justify-content: space-between
				align-items: center
				&:first-child
					border-top: 1px solid $gray-14
			&-caption
				font-weight: 500
				color: $black
				letter-spacing: -0.04em
			&-btn
				@include adaptive('border-radius', 5, 3, 'desktop')
				background-color: $black
				&::after
					background-color: $blue
				.btn__inner
					display: flex
					align-items: center
					&::after
						@include adaptive('width', 24, 12, 'desktop')
						@include adaptive('height', 24, 12, 'desktop')
						@include adaptive('margin-left', 10, 5, 'desktop')
						content: ''
						flex: 0 0 auto
						background-image: url('/img/icons/arrow-square.svg')
						background-repeat: no-repeat
						background-size: contain
						background-position: center
		&__settings
			@include adaptive('width', 580, 299, 'desktop')
