.contacts
	padding-bottom: 0
	&__title
		@include adaptive('margin-bottom', 50, 25, 'desktop')
		@include adaptive('font-size', 128, 64, 'desktop')
		text-transform: uppercase
		color: $accent
		letter-spacing: -0.05em
	&__container
		@include adaptive('padding-top', 100, 50, 'desktop')
		@include adaptive('padding-bottom', 150, 75, 'desktop')
		display: flex
		justify-content: space-between
	&__heading
		flex: 0 0 auto
	&__item
		@include adaptive('padding-top', 15, 8, 'desktop')
		@include adaptive('padding-bottom', 15, 8, 'desktop')
		@include adaptive('height', 130, 65, 'desktop')
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		align-items: center
		border-bottom: 1px solid $gray-7
		position: relative
		&:first-child
			border-top: 1px solid $gray-7
		&::after
			@include adaptive('width', 24, 12, 'desktop')
			@include adaptive('height', 24, 12, 'desktop')
			content: ''
			display: inline-block
			background-image: url('/img/icons/contacts-arrow.svg')
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
		&-heading
			@include adaptive('font-size', 18, 9, 'desktop')
			align-self: flex-start
			color: $gray
			letter-spacing: -0.01em
			font-weight: 500
		&-data
			@include adaptive('font-size', 22, 11, 'desktop')
			letter-spacing: -0.02em
			line-height: 1.1
			font-weight: 600
		&-note
			@include adaptive('font-size', 16, 8, 'desktop')
			@include adaptive('margin-left', 15, 8, 'desktop')
			color: $gray-11
			font-weight: 600

@media only screen and (max-width : 960px)
	.contacts
		padding-bottom: 0
		&__title
			@include adaptive('margin-bottom', 100, 40, 'mobile')
			@include adaptive('font-size', 92, 36, 'mobile')
			letter-spacing: -0.04em
		&__container
			@include adaptive('padding-top', 128, 50, 'mobile')
			@include adaptive('padding-bottom', 100, 40, 'mobile')
			flex-direction: column
		&__heading
			@include adaptive('margin-bottom', 100, 40, 'mobile')
		&__item
			@include adaptive('padding-top', 50, 20, 'mobile')
			@include adaptive('padding-bottom', 50, 20, 'mobile')
			flex-direction: column
			align-items: flex-start
			&::after
				@include adaptive('width', 116, 46, 'mobile')
				@include adaptive('height', 116, 46, 'mobile')
				background-image: url('/img/icons/contacts-arrow-mobile.svg')
			&-heading
				@include adaptive('margin-bottom', 25, 10, 'mobile')
				@include adaptive('font-size', 35, 14, 'mobile')
				letter-spacing: normal
			&-data
				@include adaptive('font-size', 40, 16, 'mobile')
				letter-spacing: -0.02em
				line-height: 1.1
				font-weight: 600
			&-note
				@include adaptive('margin-top', 15, 5, 'mobile')
				@include adaptive('font-size', 35, 14, 'mobile')
				display: block
