.footer
	@include adaptive('padding-top', 130, 65, 'desktop')
	background-color: $black
	color: #fff
	&__top
		@include adaptive('padding-bottom', 70, 35, 'desktop')
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
	&__logo
		display: flex
		&-img
			@include adaptive('width', 160, 80, 'desktop')
	&__menu
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		&-col
			display: flex
			flex-direction: column
			align-items: flex-start
		&-item
			@include adaptive('margin-bottom', 4, 2, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			letter-spacing: -0.04em
			&:last-child
				margin-bottom: 0
	&__social
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		justify-content: space-between
		&-item
			@include adaptive('border-radius', 120, 60, 'desktop')
			@include adaptive('height', 94, 47, 'desktop')
			@include adaptive('font-size', 24, 12, 'desktop')
			width: 33%
			border: 1px solid $gray-1
			background-color: transparent
			color: $gray-8
			&::after
				background-color: $accent
			&:hover
				color: #fff
				border-color: $accent
				.footer__social-icon path
					fill: #fff
			.btn__inner
				display: flex
				justify-content: center
				align-items: center
		&-icon
			@include adaptive('margin-right', 15, 7, 'desktop')
			@include adaptive('height', 20, 10, 'desktop')
			flex: 0 0 auto
			width: auto
			path
				transition: .3s
	&__contacts
		@include adaptive('padding-top', 60, 30, 'desktop')
		@include adaptive('padding-bottom', 60, 30, 'desktop')
		display: flex
		justify-content: space-between
		align-items: center
		border-top: 1px solid $gray-1
		&-item
			font-weight: 300
			letter-spacing: -0.02em
			transition: .3s
			&:hover
				color: $accent
		&-tel
			@include adaptive('font-size', 86, 43, 'desktop')
		&-email
			@include adaptive('font-size', 94, 47, 'desktop')
	&__bottom
		@include adaptive('padding-top', 40, 20, 'desktop')
		@include adaptive('padding-bottom', 40, 20, 'desktop')
		display: flex
		justify-content: space-between
		border-top: 1px solid $gray-1
		&-flexbox
			display: flex
			align-items: center
			justify-content: space-between
	&__copyrights
		@include adaptive('font-size', 14, 7, 'desktop')
		color: $gray-2
	&__links
		@include adaptive('gap', 62, 31, 'desktop')
		display: flex
		align-items: center
		&-item
			@include adaptive('font-size', 14, 7, 'desktop')
			color: $gray-2
			font-weight: 300
	&__btn
		@include adaptive('width', 40, 20, 'desktop')
		@include adaptive('height', 40, 20, 'desktop')
		background-color: transparent
		border: 1px solid $gray-2
		padding: 0
		border-radius: 50%
		flex: 0 0 auto
		&::after
			background-color: $accent
		&:hover
			border-color: $accent
			.footer__btn-icon path
				stroke: #fff
		&-icon
			@include adaptive('width', 12, 6, 'mobile')
			@include adaptive('height', 12, 6, 'mobile')
			path
				transition: .65s

@media only screen and (max-width : 960px)
	.footer
		@include adaptive('padding-top', 190, 70, 'mobile')
		&__top
			@include adaptive('padding-bottom', 95, 35, 'mobile')
			flex-direction: column
		&__logo
			@include adaptive('margin-bottom', 122, 45, 'mobile')
			&-img
				@include adaptive('width', 432, 158, 'mobile')
		&__menu
			@include adaptive('gap', 25, 10, 'mobile')
			@include adaptive('margin-bottom', 82, 30, 'mobile')
			&-col
				width: 50%
			&-item
				@include adaptive('margin-bottom', 25, 10, 'mobile')
				@include adaptive('font-size', 40, 16, 'mobile')
				letter-spacing: -0.02em
		&__social
			gap: 6px
			flex-wrap: wrap
			&-item
				@include adaptive('border-radius', 120, 60, 'mobile')
				@include adaptive('height', 170, 62, 'mobile')
				@include adaptive('font-size', 40, 16, 'mobile')
				width: calc(50% - 3px)
			&-icon
				@include adaptive('margin-right', 40, 15, 'mobile')
				@include adaptive('height', 40, 15, 'mobile')
				path
					fill: #fff
		&__contacts
			@include adaptive('padding-top', 68, 25, 'mobile')
			@include adaptive('padding-bottom', 68, 25, 'mobile')
			flex-direction: column
			&-item
				@include adaptive('font-size', 100, 38, 'mobile')
		&__bottom
			@include adaptive('padding-top', 54, 20, 'mobile')
			@include adaptive('padding-bottom', 54, 20, 'mobile')
			flex-direction: column
			&-flexbox
				@include adaptive('gap', 38, 14, 'mobile')
				align-items: flex-end
		&__copyrights
			@include adaptive('font-size', 38, 14, 'mobile')
			@include adaptive('margin-bottom', 40, 15, 'mobile')
		&__links
			@include adaptive('gap', 8, 3, 'mobile')
			flex-direction: column
			align-items: flex-start
			&-item
				@include adaptive('font-size', 38, 14, 'mobile')
		&__btn
			@include adaptive('width', 110, 40, 'mobile')
			@include adaptive('height', 110, 40, 'mobile')
			&-icon
				@include adaptive('width', 34, 12, 'mobile')
				@include adaptive('height', 34, 12, 'mobile')
