.main
	background-color: $accent
	color: #fff
	height: 100vh
	display: flex
	justify-content: space-between
	flex-direction: column
	position: relative
	&__container
		@include adaptive('padding-bottom', 70, 35, 'desktop')
		&-inner
			position: relative
			z-index: 2
	&__title
		@include adaptive('font-size', 123, 61.5, 'desktop')
		letter-spacing: -0.04em
		text-transform: uppercase
		line-height: 1
		&-bottom
			display: block
			text-align: right
	&__btn
		@include adaptive('width', 80, 40, 'desktop')
		@include adaptive('height', 80, 40, 'desktop')
		@include adaptive('border-width', 2, 1, 'desktop')
		border-color: #fff
		border-style: solid
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		bottom: 0
		left: 0
		&::after
			background-color: #fff
		&-icon
			@include adaptive('width', 24, 12, 'desktop')
			@include adaptive('height', 24, 12, 'desktop')
			path
				transition: .65s
		&:hover
			.main__btn-icon	path
				stroke: $black
	&__image
		@include adaptive('left', 330, 165, 'desktop')
		@include adaptive('width', 830, 415, 'desktop')
		position: absolute
		bottom: 0
		display: flex
		z-index: 1
		&::before
			@include adaptive('bottom', 80, 40, 'desktop')
			@include adaptive('width', 930, 465, 'desktop')
			@include adaptive('height', 240, 120, 'desktop')
			border-radius: 100%
			content: ''
			position: absolute
			left: 50%
			transform: translateX(-50%)
			background-color: $dark
			filter: blur(350px)
			z-index: 2
	&-about
		justify-content: flex-start
		&__container
			@include adaptive('padding-top', 80, 40, 'desktop')
			display: flex
			justify-content: space-between
		&__title
			@include adaptive('margin-bottom', 110, 55, 'desktop')
			&-center
				@include adaptive('margin-left', 150, 75, 'desktop')
				display: block
		&__text
			@include adaptive('font-size', 23, 11.5, 'desktop')
			line-height: 1.1
			&::before
				@include adaptive('width', 150, 75, 'desktop')
				content: ''
				display: inline-block
		&__info
			@include adaptive('margin-top', 90, 45, 'desktop')
			display: flex
			align-items: center
			justify-content: space-between
			&-box
				@include adaptive('padding-top', 8, 4, 'desktop')
				@include adaptive('width', 426, 213, 'desktop')
				border-top: 1px solid #3B4AD9
			&-heading
				@include adaptive('font-size', 24, 12, 'desktop')
				font-weight: 600
				letter-spacing: -0.03em
				text-transform: uppercase
			&-text
				@include adaptive('font-size', 18, 8, 'desktop')
				font-weight: 500
				letter-spacing: -0.02em
		&__btn
			position: relative
		&__image
			@include adaptive('width', 900, 450, 'desktop')
			@include adaptive('right', 60, 30, 'desktop')
			position: absolute
			bottom: 0
			right: 0
			display: flex
			&::before
				@include adaptive('bottom', 100, 50, 'desktop')
				@include adaptive('width', 930, 465, 'desktop')
				@include adaptive('height', 240, 120, 'desktop')
				border-radius: 100%
				content: ''
				position: absolute
				left: 50%
				transform: translateX(-50%)
				background-color: $dark
				filter: blur(350px)
				z-index: 2
	&-services
		background: none
		&__bg
			background-image: url('/img/services__bg.png')
			background-size: 100% 110vh
			background-repeat: no-repeat
			background-position: top center
			background-color: #000
		&__btn
			border-color: rgba(129, 129, 136, 0.70)
			&-icon path
				stroke: rgba(129, 129, 136, 0.70)
			&:hover
				border-color: #fff
		&__text
			@include adaptive('width', 260, 130, 'desktop')
			@include adaptive('margin-left', 184, 92, 'desktop')
			@include adaptive('margin-bottom', 30, 15, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			line-height: 1
			font-weight: 500
		&__quality
			@include adaptive('width', 792, 396, 'desktop')
			@include adaptive('bottom', 190, 95, 'desktop')
			position: absolute
			right: 0
			max-width: none
			max-height: none
			display: flex
			&-mobile
				display: none

@media only screen and (max-width : 960px)
	.main
		justify-content: flex-start
		min-height: auto
		&__container
			display: flex
			flex-direction: column
			&-inner
				@include adaptive('margin-bottom', 110, 40, 'mobile')
		&__title
			@include adaptive('font-size', 96, 35, 'mobile')
			letter-spacing: -0.02em
			&-center
				display: block
				text-align: right
			&-bottom
				text-align: left
		&__btn
			display: none
		&__image
			width: 100%
			position: relative
			&::before
				@include adaptive('bottom', 13, 5, 'mobile')
				@include adaptive('width', 1300, 520, 'mobile')
				@include adaptive('height', 438, 175, 'mobile')
				filter: blur(150px)
				opacity: 0.8
		&-about
			justify-content: flex-start
			&__container
				@include adaptive('padding-top', 13, 5, 'mobile')
				flex-direction: column
			&__title
				@include adaptive('margin-bottom', 137, 50, 'mobile')
				&-center
					text-align: center
				&-bottom
					display: block
					text-align: right
			&__text, &__info
				display: none
			&__image
				@include adaptive('width', 830, 305, 'mobile')
				position: relative
				align-self: center
				&::before
					@include adaptive('bottom', 13, 5, 'mobile')
					@include adaptive('width', 1300, 520, 'mobile')
					@include adaptive('height', 438, 175, 'mobile')
					filter: blur(150px)
					opacity: 0.8
		&-services
			.header__btn
				display: none
			.main__title
				&-center
					@include adaptive('margin-left', 255, 95, 'mobile')
					text-align: left
				&-bottom
					text-align: right
			&__bg
				background-image: url('/img/services__bg-mobile.png')
				background-size: contain
			&__text
				@include adaptive('width', 575, 210, 'mobile')
				@include adaptive('margin-bottom', 27, 10, 'mobile')
				@include adaptive('font-size', 38, 14, 'mobile')
				line-height: 1.05
			&__quality
				display: none
				&-mobile
					display: flex
