.questions
	@include adaptive('padding-top', 180, 90, 'desktop')
	@include adaptive('padding-bottom', 240, 120, 'desktop')
	&__title
		@include adaptive('font-size', 124, 62, 'desktop')
		@include adaptive('margin-bottom', 124, 62, 'desktop')
		letter-spacing: -0.07em
		line-height: 0.9
		text-transform: uppercase
	&__container
		display: flex
		justify-content: space-between
		align-items: flex-start
		&-inner
			@include adaptive('width', 800, 400, 'desktop')
	&__heading
		@include adaptive('font-size', 24, 12, 'desktop')
		@include adaptive('margin-bottom', 20, 10, 'desktop')
		text-transform: uppercase
		line-height: 1
		font-weight: 500
	&__search
		@include adaptive('padding-top', 18, 9, 'desktop')
		@include adaptive('padding-bottom', 18, 9, 'desktop')
		@include adaptive('padding-right', 25, 13, 'desktop')
		@include adaptive('padding-left', 25, 13, 'desktop')
		@include adaptive('border-radius', 5, 3, 'desktop')
		@include adaptive('margin-bottom', 45, 23, 'desktop')
		display: flex
		justify-content: space-between
		align-items: center
		background-color: #F9FAFC
		border: 1px solid #F2F2F6
		&-container
			width: 100%
			display: flex
			align-items: center
		&-icon
			@include adaptive('margin-right', 10, 5, 'desktop')
			@include adaptive('width', 20, 10, 'desktop')
			flex: 0 0 auto
		&-input
			width: 100%
		&-submit
			@include adaptive('margin-left', 25, 13, 'desktop')
			color: $accent
			font-weight: 700
			letter-spacing: -0.02em
			flex: 0 0 auto
			&::before
				background-color: $accent
			&:hover
				color: $accent
	&__filter
		&-top
			@include adaptive('padding-top', 25, 13, 'desktop')
			@include adaptive('padding-bottom', 25, 13, 'desktop')
			border-top: 1px solid $gray-7
			border-bottom: 1px solid $gray-7
		&-container
			display: flex
			justify-content: space-between
			align-items: center
		&-captions
			@include adaptive('gap', 10, 5, 'desktop')
			display: flex
		&-caption
			@include adaptive('padding-top', 18, 9, 'desktop')
			@include adaptive('padding-bottom', 18, 9, 'desktop')
			@include adaptive('padding-right', 40, 20, 'desktop')
			@include adaptive('padding-left', 40, 20, 'desktop')
			background-color: transparent
			border: 1px solid $gray-7
			color: $input
			&::after
				background-color: $accent
			&:hover
				border-color: $accent
			&.active
				background-color: $bd
				color: #fff
				&::after
					background-color: $bd
				&:hover
					background-color: $bd
					border-color: $bd
		&-reset
			letter-spacing: -0.01em
			font-weight: 500
			color: $input
			&::before
				background-color: $accent
			&:hover
				color: $accent
		&-list
			@include adaptive('margin-top', 60, 30, 'desktop')
			@include adaptive('row-gap', 10, 5, 'desktop')
			@include adaptive('column-gap', 5, 3, 'desktop')
			@include adaptive('width', 700, 350, 'desktop')
			display: flex
			flex-wrap: wrap
		&-item
			@include adaptive('padding-top', 14, 7, 'desktop')
			@include adaptive('padding-bottom', 14, 7, 'desktop')
			@include adaptive('padding-right', 30, 15, 'desktop')
			@include adaptive('padding-left', 30, 15, 'desktop')
			@include adaptive('font-size', 16, 8, 'desktop')
			background-color: #F7F9FA
			color: $input
			&::after
				background-color: $accent
			&.active
				background-color: $bd
				color: #fff
				&::after
					background-color: $bd
				&:hover
					background-color: $bd
					border-color: $bd
		&-input
			appearance: none
			width: 0
			height: 0
	&__btn
		@include adaptive('margin-top', 170, 85, 'desktop')
		background-color: $accent
	&__item
		@include adaptive('margin-bottom', 20, 10, 'desktop')
		&:last-child
			margin-bottom: 0
		&-box
			@include adaptive('margin-top', 5, 3, 'desktop')
			@include adaptive('padding-top', 40, 20, 'desktop')
			@include adaptive('padding-bottom', 40, 20, 'desktop')
			@include adaptive('padding-left', 50, 25, 'desktop')
			@include adaptive('padding-right', 50, 25, 'desktop')
			background-color: #FBFCFC
			border: 1px solid #F2F2F6
			&:first-child
				margin-top: 0
		&-title
			@include adaptive('font-size', 22, 11, 'desktop')
			@include adaptive('margin-bottom', 20, 10, 'desktop')
			color: $accent
			line-height: 1
			font-weight: 600
			letter-spacing: -0.04em
		&-heading
			@include adaptive('font-size', 22, 11, 'desktop')
			@include adaptive('margin-bottom', 25, 13, 'desktop')
			line-height: 1
			font-weight: 600
			letter-spacing: -0.04em
		&-caption
			@include adaptive('margin-bottom', 15, 8, 'desktop')
			font-weight: 600
		&-text
			color: $gray
			line-height: 1.1
			letter-spacing: -0.01em
		&-date
			@include adaptive('margin-top', 15, 8, 'desktop')
			color: $input
			font-weight: 600

@media only screen and (max-width : 960px)
	.questions
		@include adaptive('padding-top', 100, 40, 'mobile')
		@include adaptive('padding-bottom', 50, 20, 'mobile')
		&__title
			@include adaptive('font-size', 92, 36, 'mobile')
			@include adaptive('margin-bottom', 100, 40, 'mobile')
			line-height: 1
		&__container
			flex-direction: column
			align-items: stretch
			&-inner
				@include adaptive('margin-bottom', 150, 60, 'mobile')
		&__heading
			@include adaptive('font-size', 60, 24, 'mobile')
			@include adaptive('margin-bottom', 38, 15, 'mobile')
		&__search
			@include adaptive('margin-bottom', 50, 20, 'mobile')
			flex-direction: column
			align-items: stretch
			background-color: transparent
			border: none
			&-container
				@include adaptive('padding-top', 46, 18, 'mobile')
				@include adaptive('padding-bottom', 46, 18, 'mobile')
				@include adaptive('padding-right', 25, 10, 'mobile')
				@include adaptive('padding-left', 25, 10, 'mobile')
				@include adaptive('border-radius', 12, 5, 'mobile')
				@include adaptive('margin-bottom', 25, 10, 'mobile')
				background-color: #F9FAFC
				border: 1px solid #F2F2F6
			&-icon
				@include adaptive('margin-right', 13, 5, 'mobile')
				@include adaptive('width', 38, 15, 'mobile')
			&-input
				@include adaptive('font-size', 35, 14, 'mobile')
				&::placeholder
					@include adaptive('font-size', 35, 14, 'mobile')
			&-submit
				@include adaptive('border-radius', 250, 100, 'mobile')
				@include adaptive('padding-top', 40, 16, 'mobile')
				@include adaptive('padding-bottom', 40, 16, 'mobile')
				@include adaptive('padding-right', 90, 35, 'mobile')
				@include adaptive('padding-left', 90, 35, 'mobile')
				display: flex
				justify-content: center
				align-items: center
				width: 100%
				background-color: $accent
				color: #fff
				font-weight: 500
				letter-spacing: normal
				&::before
					background-color: $accent
				&:hover
					color: #fff
		&__filter
			&-top
				@include adaptive('padding-top', 50, 20, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
			&-container
				flex-direction: column
				align-items: flex-start
			&-captions
				@include adaptive('gap', 25, 10, 'mobile')
				flex-wrap: wrap
			&-caption
				@include adaptive('padding-top', 40, 16, 'mobile')
				@include adaptive('padding-bottom', 40, 16, 'mobile')
				@include adaptive('padding-right', 76, 30, 'mobile')
				@include adaptive('padding-left', 76, 30, 'mobile')
				@include adaptive('font-size', 36, 14, 'mobile')
				display: inline-flex
				width: auto
				&::after
					display: none
				&:hover
					background-color: transparent
					border-color: $gray-7
					color: $input
				&.active
					background-color: $bd
					color: #fff
					&:hover
						background-color: $bd
						border-color: $bd
			&-reset
				@include adaptive('font-size', 36, 14, 'mobile')
				@include adaptive('margin-top', 64, 25, 'mobile')
				align-self: flex-end
				&:hover
					color: $input
			&-list
				@include adaptive('margin-top', 64, 25, 'mobile')
				@include adaptive('gap', 13, 5, 'mobile')
			&-item
				@include adaptive('padding-top', 26, 10, 'mobile')
				@include adaptive('padding-bottom', 26, 10, 'mobile')
				@include adaptive('padding-right', 36, 14, 'mobile')
				@include adaptive('padding-left', 36, 14, 'mobile')
				@include adaptive('font-size', 36, 14, 'mobile')
				width: auto
				&::after
					display: none
				&:hover
					background-color: #F7F9FA
					color: $input
				&.active
					background-color: $bd
					color: #fff
					&:hover
						background-color: $bd
						border-color: $bd
		&__btn._circle-shape
			@include adaptive('margin-top', 64, 25, 'mobile')
			@include adaptive('padding-top', 40, 16, 'mobile')
			@include adaptive('padding-bottom', 40, 16, 'mobile')
			@include adaptive('padding-right', 40, 16, 'mobile')
			@include adaptive('padding-left', 40, 16, 'mobile')
			@include adaptive('border-radius', 270, 100, 'mobile')
			@include adaptive('font-size', 40, 16, 'mobile')
			width: 100%
			height: auto
			text-transform: none
			font-weight: 500
			br
				display: none
		&__item
			@include adaptive('margin-bottom', 25, 10, 'mobile')
			&-box
				@include adaptive('margin-top', 13, 5, 'mobile')
				@include adaptive('padding-top', 50, 20, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
				@include adaptive('padding-left', 50, 20, 'mobile')
				@include adaptive('padding-right', 50, 20, 'mobile')
			&-title
				@include adaptive('font-size', 46, 18, 'mobile')
				@include adaptive('margin-bottom', 25, 10, 'mobile')
			&-heading
				@include adaptive('font-size', 46, 18, 'mobile')
				@include adaptive('margin-bottom', 64, 25, 'mobile')
			&-caption
				@include adaptive('margin-bottom', 38, 15, 'mobile')
			&-text
				@include adaptive('font-size', 35, 14, 'mobile')
			&-date
				@include adaptive('margin-top', 38, 15, 'mobile')
