.reviews
	&__title
		@include adaptive('margin-bottom', 30, 15, 'desktop')
	&__item
		@include adaptive('padding-top', 30, 15, 'desktop')
		@include adaptive('padding-bottom', 30, 15, 'desktop')
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-start
		border-bottom: 1px solid $gray-7
		cursor: pointer
		&:first-child
			border-top: 1px solid $gray-7
		&.active
			.reviews__item
				&-text
					display: block
				&-icon::after
					width: 0
		&-date
			color: $gray-3
			font-weight: 600
			letter-spacing: -0.02em
		&-title
			@include adaptive('font-size', 18, 9, 'desktop')
			color: $accent
			font-weight: 600
		&-text
			@include adaptive('max-width', 836, 418, 'desktop')
			@include adaptive('margin-top', 20, 10, 'desktop')
			color: $gray
			display: none
		&-toggle
			@include adaptive('font-size', 20, 10, 'desktop')
			letter-spacing: -0.04em
			color: $gray
			display: flex
			align-items: center
			justify-content: flex-end
		&-icon
			@include adaptive('width', 15, 8, 'desktop')
			@include adaptive('height', 15, 8, 'desktop')
			@include adaptive('margin-right', 7, 4, 'desktop')
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&::before, &::after
				@include adaptive('height', 2, 1, 'desktop')
				content: ''
				background-color: $gray-3
				width: 100%
				display: inline-block
			&::after
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%) rotate(90deg)
				transition: .5s
	&__btns
		@include adaptive('gap', 10, 5, 'desktop')
		@include adaptive('margin-top', 40, 20, 'desktop')
		display: flex
		justify-content: center
	&__btn
		&-inner
			display: flex
			align-items: center
		&-icon
			@include adaptive('width', 24, 12, 'desktop')
			@include adaptive('height', 24, 12, 'desktop')
			@include adaptive('margin-left', 10, 5, 'desktop')
			flex: 0 0 auto
			background-image: url('/img/icons/add.svg')
			background-repeat: no-repeat
			background-size: contain
			background-position: center

@media only screen and (max-width : 960px)
	.reviews
		&__title
			@include adaptive('margin-bottom', 110, 40, 'mobile')
		&__item
			@include adaptive('padding-top', 68, 25, 'mobile')
			@include adaptive('padding-bottom', 68, 25, 'mobile')
			flex-direction: column
			&-date
				@include adaptive('margin-bottom', 95, 35, 'mobile')
			&-data
				@include adaptive('margin-bottom', 68, 25, 'mobile')
			&-title
				@include adaptive('font-size', 49, 18, 'mobile')
			&-text
				@include adaptive('margin-top', 13, 5, 'mobile')
				@include adaptive('margin-bottom', 42, 15, 'mobile')
			&-toggle
				@include adaptive('font-size', 54, 20, 'mobile')
				justify-content: flex-start
			&-icon
				@include adaptive('width', 40, 15, 'mobile')
				@include adaptive('height', 40, 15, 'mobile')
				@include adaptive('margin-right', 20, 7, 'mobile')
				&::before, &::after
					@include adaptive('height', 5, 2, 'mobile')
		&__btns
			@include adaptive('gap', 13, 5, 'mobile')
			@include adaptive('margin-top', 70, 25, 'mobile')
			flex-direction: column
			align-items: stretch
		&__btn
			&-icon
				@include adaptive('width', 65, 24, 'mobile')
				@include adaptive('height', 65, 24, 'mobile')
				@include adaptive('margin-left', 27, 10, 'mobile')
