$default-font: 'Montserrat', sans-serif

$black: #121212
$black-2: #212121
$accent: #ED1C24
$gray-1: #6F6F6F
$gray-2: #C1C1C1
$gray-3: #868686
$gray-4: #333333
$gray-5: #C3C3C3
$gray-6: #8A8A8A
$gray-7: #A9A9A9
$gray-8: #E3E3E3
$gray-9: #F2F2F2
$gray-10: #DADADA
$gray-11: #787878
$gray-12: #8B8B8B
$gray-13: #4B4B4B
$gray-14: #E7E7E7
$gray-15: #C6C6C6
