
RewriteEngine on

DirectoryIndex textolite.php

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^.*$ textolite.php?q=$0 [L,NC,QSA]

<Files ~ "\.(ini|log)$">

deny from all

</Files>

Options -Indexes

index textolite.php;
if (!-e $request_filename) {rewrite ^/textolite/(.*)$ /textolite/textolite.php?q=$1}
location ~ \.(ini|log)$ {deny all;}