@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	body
		font-size: 12px


	// Заголовки
	.h2
		span
			font-size: 60px
	// eof

	// Шапка
	.header
		&__logo
			font-size: 10px
			max-width: 300px
			&-icon
				width: 40px
		&__social
			margin-right: 35px
		&__possibilities
			margin-right: 45px
		&__menu
			&-item
				padding: 0 10px
				font-size: 10px
	// eof

	
	// Главный экран
	.main
		&__image
			height: 400px
		&__article
			&-inner
				height: 400px
			&-heading
				font-size: 16px
			&-button::after
				font-size: 8px
	// eof


	// Главные новости
	.news
		&__main
			&-image
				height: 450px
	// eof


	// Медиа
	.media
		.tabs
			&__caption
				&-text
					font-size: 12px
				&-item
					width: calc(25% - 15px)
			&__content
				&-col
					max-width: calc(50% - 10px)
				.article
					max-width: calc(50% - 10px)
	// eof


	// Постоновление правительства
	.rulings
		.h2
			font-size: 17px
	// eof


	// Канцелярия
	.chancery	
		&__table
			&-elem
				font-size: 12px
	// eof


	// Постановления
	.rulings
		&__container
			&-inner
				width: 200px
		&__heading
			width: calc(100% - 200px)
			font-size: 16px
	// eof


	// Архив новостей
	.archive
		&__container
			&-inner
				width: 60%
		&__heading
			width: 40%
			font-size: 16px
	// eof



/*  Small Devices, Tablets */
@media only screen and (max-width : 992px)

	section
		padding: 25px 0


	// Заголовки
	.h2
		font-size: 16px
		margin-bottom: 20px
		&::before
			width: 50px
		span
			font-size: 33px
			bottom: 8px
		br
			display: inline
	// eof


	// Общие стили для внутренних страниц
	.isnohome
		.timeline
			margin: 50px 0 35px
			&._offset
				margin-top: 20px
		.footer
			margin-top: 10px
	// eof


	// Шапка
	.header
		background-color: #393939
		color: #fff
		&__container
			&-top
				padding: 
					top: 12px
					bottom: 12px
			&-bottom
				display: none
		&__logo
			font-size: 10px
			max-width: 180px
			line-height: 1.3
			&-icon
				width: 36px
			&-mob
				display: block
			&-desktop
				display: none
		&__wrapper
			display: none
		&__hamburger
			display: flex
	// eof


	// Подвал
	.footer
		&::before
			width: 300px
			height: 300px
			top: 50%
			transform: translate(50%, -50%)
		&__container
			&-top
				padding: 30px 0 0
			&-bottom
				padding: 0
				border: none
				flex-direction: column
		&__logo
			margin-bottom: 40px
		&__wrapper
			flex-direction: column
			text-align: center
			margin-bottom: 20px
		&__social
			order: -1
			margin:
				left: 0
				bottom: 10px
		&__terms-use
			border-top: 1px solid #7D7D7D
			width: 100%
			order: 1
			text-align: center
			padding: 18px 0
	// eof


	// Герб на фоне
	section._decor
		&::before
			display: none
	// eof

	
	// Главный экран
	.main
		padding: 20px 0 60px
		&__image
			height: 180px
		&__article
			&-inner
				height: auto
				text-align: center
				align-items: center
				padding: 35px 20px
				min-height: 260px
	// eof


	// Главные новости
	.news
		padding: 45px 0 30px
		&::before
			width: 450px
			height: 450px
			bottom: 0
			top: auto
			transform: translate(50%, 0)
		.article
			&__image
				height: 190px
		&__wrapper
			position: relative
			padding-bottom: 30px
			&-top
				position: static
			&-bottom
				padding-bottom: 20px
				border-bottom: 1px solid #B7B7B7
		&__article
			&-heading
				font-size: 12px
		&__link-more
			right: auto
			left: 0
			bottom: 0
		&__main
			margin-top: 30px
			&-image
				height: 320px
	// eof


	// Превью статьи
	.article
		&._mob-hidden
			display: none
		&__image
			height: 180px
		&__heading
			font-size: 16px
		&__text
			font-size: 12px
	// eof


	// Медиа
	.media
		padding: 60px 0 25px
		&::before
			height: 200px
		&__container
			padding-top: 50px
			&::before
				width: 100%
		.tabs
			&__caption
				overflow-y: scroll
				padding-bottom: 10px
				margin-bottom: 10px
				&-icon
					width: 15px
					height: auto
				&-item
					width: 150px
					height: 40px
					margin-right: 10px
					flex: 0 0 auto
					&:last-child
						margin-right: 0
			&__content
				&-col
					display: none
				.article
					max-width: 100%
		.timeline
			margin-top: 50px
	// eof


	// Лента новостей
	.timeline
		&__article
			&._desktop-hidden
				display: flex
			&._mob-hidden
				display: none
			&-text
				display: none
	// eof


	// Кадровая политика
	.politics
		&::before
			display: none
		&__top-line
			position: static
		&__slider
			padding-bottom: 50px
			&-arrows
				right: auto
				left: 50%
				bottom: 25px
				transform: translate(-50%, 0)
	// eof


	// Постоновление правительства
	.rulings
		&._hidden
			display: block
		.h2
			font-size: 16px
			padding-right: 20%
			span
				display: block
				bottom: 45px
		&__article
			border-left: 3px solid $accent
			padding-left: 15px
			min-height: auto
			&._mob-hidden
				display: none
	// eof


	// Заседания Правительства
	.meetings
		padding: 30px 0
		&__container
			flex-direction: column
		&__item
			padding: 5px 20px
			border-left: 4px solid $accent
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
	// eof

	// Стандартный блог
	.blog
		&__container
			& > *
				max-width: 100%	
	// eof


	// Пагинация страниц
	.pagination
		margin-top: 10px
		&._desktop-hidden
			display: flex
		&__item
			font-size: 16px
	// eof


	// Канцелярия
	.chancery
		.tabs
			&__caption
				overflow-y: scroll
				flex-wrap: nowrap
				padding-bottom: 10px
				margin-bottom: 20px
				&-item
					height: 40px
					margin-right: 10px
					flex: 0 0 auto
					&:last-child
						margin-right: 0
		&__list
			margin: 20px 0
			&-item
				margin-bottom: 5px
		&__text
			margin-bottom: 10px
		
		&__tables
			display: none
			&-pdf
				display: flex
		&__dropdown
			&:last-child
				margin-bottom: 10px
			&-heading
				flex-direction: column
				align-items: stretch
				text-align: center
				padding: 10px 0
			&-body
				padding-left: 0
			&-box
				padding: 0 10px 10px
			&-image
				align-self: center
				margin: 
					bottom: 10px
					right: 0
		&__authorized
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			padding: 24px 20px
			margin-bottom: 30px
			position: relative
			&-image
				margin:
					right: 0
					bottom: 10px
					top: 40px
			&-inner:last-child
				margin-top: 25px
			._mob-relocate
				width: 100%
				position: absolute
				top: 24px
				left: 50%
				transform: translate(-50%, 0)
	// eof


	// Состав
	.staff
		&__container
			margin-top: 0
		&__item
			width: 100%
			&._mob-hidden
				display: none
			&._main
				padding-right: 20px
				display: block
				&::before
					height: 60px
				.staff__photo
					max-width: 100%
					width: 100%
					height: 300px
					margin-bottom: 20px
		&__title
			margin-bottom: 2px
			font-size: 14px
		&__photo
			height: 300px
	// eof


	// О деятельности
	.isnohome .about
		&-section
			padding: 25px 0
		&__list
			padding-left: 20px
	// eof


	// Страница постановления
	.ruling
		&__wrapper-bottom
			flex-direction: column
		&__title
			font-size: 16px
			margin-bottom: 7px
		&__signature
			margin-bottom: 30px
	// eof


	// Постановления
	.rulings
		&__container
			flex-wrap: wrap
			&-inner
				width: 100%
				padding: 10px 15px 15px
				align-items: flex-end
		&__heading
			width: 100%
			font-size: 14px
			text-align: center
			display: block
			border:
				right: none
				bottom: 2px solid #fff
			padding: 15px
		&__select
			&-title
				font-size: 12px
		&__form-submit
			display: flex
		&__result-item:last-child
			margin-bottom: 10px
	// eof

	// Архив новостей
	.archive
		&__container
			flex-wrap: wrap
			&-inner
				width: 100%
				padding: 10px 15px 15px
				border-bottom: 2px solid #fff
		&__heading
			width: 100%
			font-size: 14px
			text-align: center
			display: block
			border:
				right: none
				bottom: 2px solid #fff
			padding: 15px
		&__select
			margin-right: 10px
			&-title
				font-size: 12px
		&__form-submit
			display: flex
		&__result
			&-container
				& > *
					margin-bottom: 20px
					width: 100%
					&:last-child
						margin-bottom: 0
	// eof


	// Депутатские запросы
	.inquiries
		.tabs
			&__caption
				justify-content: space-between
				&-item
					width: calc(50% - 5px)
					padding: 10px 5px
					font-size: 12px
					margin-right: 0
		&__container
			& > *
				max-width: 100%	
	// eof


	// Поиск по сайту
	.search
		&__form
			&-input
				padding: 
					left: 15px
					right: 65px
				height: 46px
			&-button
				width: 46px
				height: 46px
		&__result
			span
				display: block
	// eof


	// Страница статьи
	.articles
		&__container
			&-bottom
				margin-top: 20px
		&__title
			margin: 0 auto 20px
			font-size: 14px
		&__image
			height: 160px
			margin: 30px 0
			&-main
				height: 120px
		&__heading
			padding-top: 15px
			margin-bottom: 20px
		&__blockquote
			font-size: 12px
			margin-bottom: 20px
			padding-left: 25px
			&::before
				left: 0
				top: -15px
				font-size: 50px
				line-height: 0.5
			&-author
				margin-top: 10px
				position: relative
				font-weight: 700
				&::before
					width: 20px
					margin-right: 5px
		&__text
			margin-bottom: 20px
		&__telegram
			flex-wrap: wrap
			&-title
				width: 100%
				padding: 15px
			&-link
				width: 100%
				height: 56px
	// eof

















