// Fonts
$default-font: 'Montserrat', sans-serif

// Colors
$accent: #3C8AB9
$black: #333333
$gray: #888888
$light: #E2E4E8
$bg: #F6F6F6





// Bootstrap gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width


// Bootstrap custom grid 

$grid-breakpoints: (xs: 0, lg: 992px, xl: 1200px)

$container-max-widths: (xs: 480px, lg: 960px, xl: 1200px)
