@font-face {
  font-family: "Cannonade";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Cannonade-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Manrope-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff") format("woff");
}

body {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #0E0B1A;
}

body.scroll_disabled {
  overflow-y: hidden;
}

.body-wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-family: "Cannonade";
  font-size: 40px;
  line-height: 1.3;
}

.title span {
  font-size: 20px;
  text-transform: uppercase;
  color: #BAAAFF;
  display: block;
}

section._vertical-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

section._grad {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-border-radius: 56px 56px 0 0;
          border-radius: 56px 56px 0 0;
}

._chevron {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._chevron::after {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/chevron-down.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

._chevron.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

input, textarea {
  background: none;
  border: none;
  color: inherit;
}

::-webkit-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

:-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

::-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

::placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
  line-height: 1;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  height: 64px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: none;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button:focus, .button:hover {
  text-decoration: none;
}

.button._gray {
  background-color: #292B3E;
}

.button._gray:hover {
  background-color: #593CD8;
}

.button._accent {
  background-color: #593CD8;
  -webkit-box-shadow: 0px 4px 19px rgba(89, 60, 216, 0.42);
          box-shadow: 0px 4px 19px rgba(89, 60, 216, 0.42);
}

.button._accent:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes main-bg {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes main-bg {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.header {
  background-color: #13111F;
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__container-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-plug {
  display: none;
}

.header__logo {
  margin-right: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-mobile {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  position: relative;
  margin-right: 25px;
  color: #A2A3B5;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__menu-item:last-child {
  margin: 0;
}

.header__menu-item:hover {
  color: #BAAAFF;
}

.header__dropdown {
  position: relative;
}

.header__dropdown-heading.active {
  color: #BAAAFF;
}

.header__dropdown-body {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #13111F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 20px;
}

.header__dropdown-item {
  white-space: nowrap;
  color: #A2A3B5;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__dropdown-item:last-child {
  margin-bottom: 0;
}

.header__currency {
  height: 44px;
  margin-right: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__currency-inner {
  border: 1px solid #29253F;
  padding: 0 15px;
  height: 100%;
  min-width: 110px;
  font-family: Inter;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__currency-inner._left {
  -webkit-border-radius: 50px 0 0 50px;
          border-radius: 50px 0 0 50px;
  padding-left: 20px;
}

.header__currency-inner._right {
  -webkit-border-radius: 0 50px 50px 0;
          border-radius: 0 50px 50px 0;
  padding-right: 20px;
  position: relative;
  left: -1px;
}

.header__currency-icon {
  margin-right: 6px;
}

.header__currency-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__currency-dropdown {
  display: none;
  margin-top: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #13111F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  padding: 20px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
}

.header__currency-item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.header__currency-item:last-child {
  margin-bottom: 0;
}

.header__currency-item img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__button {
  width: 200px;
  height: 44px;
  font-size: 14px;
}

.header__hamburger {
  display: none;
}

.footer {
  background-color: #15121F;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  position: relative;
}

.footer__container-bottom {
  padding: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container-bottom::before {
  content: '';
  width: 100vw;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #70717D;
}

.footer__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu-item {
  position: relative;
  margin-left: 35px;
  color: #A2A3B5;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer__menu-item:hover, .footer__menu-item.active {
  color: #BAAAFF;
}

.footer__dropdown {
  position: relative;
}

.footer__dropdown-heading.active {
  color: #BAAAFF;
}

.footer__dropdown-body {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #13111F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 20px;
}

.footer__dropdown-item {
  white-space: nowrap;
  color: #A2A3B5;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer__dropdown-item:last-child {
  margin-bottom: 0;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  color: #A2A3B5;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__social:hover {
  color: #BAAAFF;
}

.footer__social:hover .footer__social-icon {
  background-color: #593CD8;
}

.footer__social:hover .footer__social-icon svg path {
  fill: #fff;
}

.footer__social-icon {
  margin-left: 12px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  background-color: #231F33;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__social-icon svg {
  position: relative;
  right: 1px;
}

.footer__social-icon svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__copyrights {
  font-size: 14px;
  font-weight: 600;
  color: #A2A3B5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__copyrights:hover {
  color: #BAAAFF;
}

.footer__payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__payment-logo {
  margin-right: 30px;
}

.footer__payment-logo:last-child {
  margin: 0;
}

.main {
  height: -webkit-calc(100vh - 64px);
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 600px;
}

.main__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-animation: main-bg 15s linear infinite;
          animation: main-bg 15s linear infinite;
}

.main__bg > * {
  width: 100%;
}

.main__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.main__title {
  margin-bottom: 30px;
  font-size: 56px;
  max-width: 500px;
  font-family: "Cannonade";
  line-height: 1.2;
}

.main__button {
  width: 275px;
}

.main__box {
  position: relative;
}

.main__box-inner {
  width: 520px;
  height: 430px;
  background-color: #15121F;
  background-image: url("../img/main__box-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 40px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.main__box-back {
  background: rgba(255, 255, 255, 0.03);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: .5s 1s;
  -o-transition: .5s 1s;
  transition: .5s 1s;
  z-index: -1;
}

.main__box.aos-animate .main__box-back {
  right: 70px;
  -webkit-transform: rotate(-16deg);
      -ms-transform: rotate(-16deg);
          transform: rotate(-16deg);
}

.main__box-heading {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cannonade";
  font-size: 24px;
}

.main__box-heading::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/fire.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}

.main__box-text {
  margin-bottom: 25px;
  max-width: 230px;
  font-weight: 500;
  color: #D0D0D2;
  font-size: 24px;
}

.main__box-button {
  background-color: #292B3E;
  width: 265px;
}

.services__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__box {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  min-height: 440px;
  background-color: #15121F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
}

.services__box:last-child {
  margin: 0;
}

.services__box-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.services__box-heading {
  font-size: 28px;
  font-family: "Cannonade";
  margin-bottom: 10px;
}

.services__box-text {
  margin-bottom: 25px;
  max-width: 280px;
  font-weight: 500;
  color: #D0D0D2;
}

.services__box-button {
  width: 230px;
  height: 56px;
  font-size: 16px;
}

.benefits__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__container.three-cols .benefits__box {
  width: -webkit-calc(33.3% - 20px);
  width: calc(33.3% - 20px);
}

.benefits__box {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  background-color: #15121F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 30px 30px 40px;
  position: relative;
}

.benefits__box:last-child {
  margin: 0;
}

.benefits__box-icon {
  background: rgba(178, 177, 255, 0.1);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.benefits__box-heading {
  font-size: 22px;
  font-family: "Cannonade";
  line-height: 1.3;
  margin-bottom: 5px;
}

.benefits__box-text {
  color: #D0D0D2;
  max-width: 420px;
}

.heading__container {
  padding: 40px 45px;
  min-height: 250px;
  background: -webkit-linear-gradient(352.26deg, #593CD8 1.45%, #371CAE 79.33%);
  background: -o-linear-gradient(352.26deg, #593CD8 1.45%, #371CAE 79.33%);
  background: linear-gradient(97.74deg, #593CD8 1.45%, #371CAE 79.33%);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin: 45px 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading__title {
  font-size: 46px;
  font-family: "Cannonade";
  line-height: 1.3;
  margin-bottom: 15px;
}

.heading__subtitle {
  margin-bottom: 20px;
  color: #D0D0D2;
}

.heading__text {
  color: #D0D0D2;
  max-width: 400px;
}

.heading__captions {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  padding: 4px;
}

.heading__captions-item {
  height: 56px;
  padding: 15px 30px;
  min-width: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #A696EA;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.heading__captions-item.active {
  background-color: #0E0B19;
  color: #fff;
}

.tarifs__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.tarifs__list {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  background-color: #15121F;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 30px 25px;
}

.tarifs__list._accent-orange .tarifs__item-heading {
  color: #FF8A48;
}

.tarifs__list._accent-orange .tarifs__item-button._main {
  color: #fff;
  background-color: #FF8A48;
}

.tarifs__list._accent-orange .tarifs__item-button._main:hover {
  background-color: #f3f3f3;
  color: #FF8A48;
}

.tarifs__list._accent-orange .tarifs__item-button._secondary {
  background: rgba(255, 138, 72, 0.1);
  color: #FF8A48;
}

.tarifs__list._accent-orange .tarifs__item-button._secondary:hover {
  background-color: #FF8A48;
  color: #fff;
}

.tarifs__list._full-width {
  width: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.tarifs__list._full-width .tarifs__list-container {
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
}

.tarifs__list._full-width .tarifs__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 0;
}

.tarifs__list._full-width .tarifs__item-top, .tarifs__list._full-width .tarifs__item-bottom {
  padding: 0;
}

.tarifs__list._full-width .tarifs__item-top {
  margin-right: 40px;
}

.tarifs__list._full-width .tarifs__item-wrapper {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tarifs__list._full-width .tarifs__item-data {
  margin-right: 60px;
}

.tarifs__list._full-width .tarifs__item-data:last-child {
  margin-right: 0;
}

.tarifs__list._full-width .tarifs__item-button {
  min-width: 200px;
}

.tarifs__list-title {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cannonade";
  font-size: 28px;
}

.tarifs__list-icon {
  margin-right: 10px;
}

.tarifs__list-text {
  max-width: 400px;
  color: #D0D0D2;
  margin-bottom: 25px;
}

.tarifs__item {
  margin-bottom: 10px;
  background-color: #1C1926;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.tarifs__item:last-child {
  margin: 0;
}

.tarifs__item-top {
  padding: 12px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.tarifs__item-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
}

.tarifs__item-heading {
  color: #BAAAFF;
  font-family: "Cannonade";
  font-size: 18px;
}

.tarifs__item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.tarifs__item-button {
  width: auto;
  height: 40px;
  margin-right: 6px;
  font-size: 14px;
  padding: 0 20px;
}

.tarifs__item-button:last-child {
  margin: 0;
}

.tarifs__item-button._main {
  color: #fff;
  background-color: #593CD8;
}

.tarifs__item-button._main:hover {
  background-color: #f3f3f3;
  color: #593CD8;
}

.tarifs__item-button._secondary {
  background-color: rgba(186, 170, 255, 0.1);
  color: #BAAAFF;
}

.tarifs__item-button._secondary:hover {
  background-color: #593CD8;
  color: #fff;
}

.tarifs__item-button span {
  margin-left: 8px;
  font-weight: 600;
}

.tarifs__item-data {
  margin-right: 32px;
}

.tarifs__item-data:last-child {
  margin: 0;
}

.tarifs__item-caption {
  font-size: 14px;
  color: #D0D0D2;
}

.tarifs__item-text {
  font-family: "Cannonade";
}

.os {
  z-index: 2;
}

.os__text {
  margin-top: 10px;
  color: #D0D0D2;
}

.os__container {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.os__item-inner {
  width: 195px;
  padding: 20px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.os__item-inner:hover {
  background-color: #1f1c2a;
}

.os__item-logo {
  -webkit-border-radius: 16px;
          border-radius: 16px;
  margin-bottom: 20px;
}

.os__item-logo._brad-none {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.os__item-title {
  font-size: 20px;
  font-family: "Cannonade";
  margin-bottom: 5px;
}

.os__item-subtitle {
  font-size: 15px;
  color: #D0D0D2;
}

.faq__wrapper {
  max-width: 700px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.faq__image {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-height: none;
}

.faq__title {
  margin-bottom: 30px;
}

.faq__item {
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #14111D;
}

.faq__item-heading {
  font-family: "Cannonade";
  padding: 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.faq__item-heading::after {
  content: '';
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 30px;
}

.faq__item-heading.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.faq__item-dropdown {
  padding: 0 70px 30px 30px;
  display: none;
  font-size: 15px;
  color: #D0D0D2;
}

.scheme__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.scheme__box {
  width: -webkit-calc(33.3% - 20px);
  width: calc(33.3% - 20px);
  background-color: #15121F;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0px 4px 79px #07080C;
          box-shadow: 0px 4px 79px #07080C;
  padding: 150px 45px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.scheme__box::after {
  content: '';
  width: 52px;
  height: 52px;
  background-image: url("../img/icons/arrow-right.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 100%;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.scheme__box:first-child::after {
  display: none;
}

.scheme__box-image {
  position: absolute;
  top: -36px;
}

.scheme__box-heading {
  margin-bottom: 5px;
  font-family: "Cannonade";
  font-size: 22px;
}

.scheme__box-text {
  color: #D0D0D2;
}

.policy-heading .heading__container {
  min-height: auto;
  margin-bottom: 0;
}

.policy-heading .heading__title {
  margin-bottom: 0;
}

.policy__container {
  max-width: 900px;
}

.policy__wrapper {
  margin-bottom: 30px;
}

.policy__wrapper:last-child {
  margin-bottom: 0;
}

.policy__heading {
  font-size: 32px;
  font-family: "Cannonade";
  margin-bottom: 10px;
}

.policy__heading._uppercase {
  text-transform: uppercase;
}

.policy__caption {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Cannonade";
}

.policy__text {
  margin-bottom: 5px;
}

.policy__text:last-child {
  margin-bottom: 0;
}

.policy__text span {
  font-weight: 700;
}

.policy__list {
  margin-top: 10px;
}

.policy__list-item {
  padding-left: 30px;
  position: relative;
  margin-bottom: 5px;
}

.policy__list-item:last-child {
  margin-bottom: 0;
}

.policy__list-item::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
  position: absolute;
  left: 12px;
  top: 11px;
}

.policy__list-item span {
  font-weight: 700;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  .container {
    max-width: 960px;
  }
  .header__logo {
    width: 100px;
    margin-right: 20px;
  }
  .header__menu-item {
    font-size: 13px;
  }
  .header__button {
    font-size: 13px;
    width: 160px;
  }
  .main__box-inner {
    width: 420px;
    height: 360px;
    -webkit-background-size: 50% auto;
            background-size: 50% auto;
  }
  .main__title {
    font-size: 46px;
    max-width: 400px;
  }
  .services__box {
    min-height: 400px;
  }
  .services__box-image {
    max-width: 50%;
  }
  .tarifs__item-text {
    font-size: 16px;
  }
  .tarifs__list._full-width .tarifs__item-button {
    min-width: auto;
  }
  .tarifs__list._full-width .tarifs__item-data {
    margin-right: 40px;
  }
  .os__item-inner {
    width: 160px;
    padding: 15px;
  }
  .os__item-logo {
    margin-bottom: 15px;
  }
  .faq__image {
    right: -150px;
  }
  .faq__wrapper {
    max-width: 600px;
  }
}

/*  Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 480px;
  }
  .title {
    font-size: 24px;
  }
  .title span {
    font-size: 14px;
    margin-bottom: 10px;
  }
  section._vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  section._before-footer {
    padding-bottom: 40px;
  }
  section._grad {
    -webkit-border-radius: 16px 16px 0 0;
            border-radius: 16px 16px 0 0;
  }
  ._chevron {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .button {
    font-size: 15px;
    height: 52px;
  }
  .button._gray:hover {
    background-color: #292B3E;
  }
  .button._accent:hover {
    -webkit-box-shadow: 0px 4px 19px rgba(89, 60, 216, 0.42);
            box-shadow: 0px 4px 19px rgba(89, 60, 216, 0.42);
  }
  .header {
    height: 64px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 9;
  }
  .header::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #BAAAFF;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
  .header.bottom-line::after {
    opacity: 1;
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__container {
    position: fixed;
    top: 64px;
    right: -280px;
    height: -webkit-calc(100vh - 64px);
    height: calc(100vh - 64px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
    background-color: #13111F;
    padding: 20px;
    overflow-y: auto;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    z-index: 10;
  }
  .header__container.visible {
    right: 0;
  }
  .header__container-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header__container-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__container-plug {
    position: fixed;
    background-color: rgba(19, 17, 31, 0.6);
    left: 0;
    top: 64px;
    width: 100%;
    height: -webkit-calc(100vh - 64px);
    height: calc(100vh - 64px);
    z-index: 4;
  }
  .header__hamburger {
    display: block;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  .header__menu-item {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__menu-item:hover {
    color: #A2A3B5;
  }
  .header__dropdown-body {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin-top: 20px;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .header__dropdown-item {
    margin-bottom: 20px;
  }
  .header__currency {
    z-index: 2;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__currency-inner {
    width: 50%;
  }
  .header__currency-dropdown {
    width: 100%;
    margin-top: 10px;
  }
  .header__button {
    width: 100%;
    font-size: 16px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__container-bottom {
    padding: 20px 0;
  }
  .footer__container-bottom::before {
    height: 100%;
    background-color: #272532;
  }
  .footer__container-bottom > * {
    position: relative;
    z-index: 2;
  }
  .footer__logo {
    margin-bottom: 25px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
  }
  .footer__menu-item {
    margin-left: 0;
    padding: 15px 0;
    border-bottom: 1px solid #70717D;
  }
  .footer__menu-item:hover {
    color: #A2A3B5;
  }
  .footer__dropdown {
    padding: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__dropdown-heading {
    width: 100%;
    border-bottom: 1px solid #70717D;
    padding: 15px 0;
  }
  .footer__dropdown-body {
    position: relative;
    background: none;
    left: 0;
    bottom: 0;
    padding: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .footer__dropdown-item {
    padding: 15px 0;
    border-bottom: 1px solid #70717D;
  }
  .footer__dropdown-item:hover {
    color: #A2A3B5;
  }
  .footer__dropdown-item:last-child {
    border-bottom: none;
  }
  .footer__social {
    position: absolute;
    right: 0;
    top: 26px;
  }
  .footer__copyrights {
    font-size: 12px;
  }
  .footer__payment-logo {
    height: 22px;
    margin-right: 20px;
  }
  .footer__payment-logo:first-child {
    height: 13px;
  }
  .main {
    padding: 40px 0 20px;
    height: auto;
    min-height: auto;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main__title {
    font-size: 30px;
    margin-bottom: 15px;
    max-width: 300px;
  }
  .main__button {
    width: 220px;
  }
  .main__box {
    margin-top: 30px;
    width: 100%;
  }
  .main__box.aos-animate .main__box-back {
    top: 30px;
    right: -75px;
    -webkit-transform: scale(1.15) rotate(-16deg);
        -ms-transform: scale(1.15) rotate(-16deg);
            transform: scale(1.15) rotate(-16deg);
  }
  .main__box-inner {
    width: 100%;
    height: 280px;
    padding: 35px 25px;
    -webkit-background-size: 55% auto;
            background-size: 55% auto;
  }
  .main__box-heading {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .main__box-text {
    font-size: 14px;
    max-width: 135px;
    margin-bottom: 15px;
  }
  .main__box-button {
    width: 190px;
    height: 46px;
  }
  .services .title {
    max-width: 300px;
  }
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .services__box {
    margin-bottom: 15px;
    padding-bottom: 165px;
    width: 100%;
    min-height: auto;
  }
  .services__box-image {
    width: 200px;
    max-width: none;
  }
  .services__box-heading {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .services__box-text {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .services__box-text br {
    display: none;
  }
  .services__box-button {
    width: 190px;
    height: 46px;
  }
  .benefits {
    background: none;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .benefits__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .benefits__container.three-cols .benefits__box {
    width: 100%;
  }
  .benefits__box {
    margin-bottom: 15px;
    width: 100%;
    padding: 20px 20px 25px;
    position: relative;
  }
  .benefits__box-icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    position: absolute;
  }
  .benefits__box-icon img {
    width: 30px;
  }
  .benefits__box-heading {
    font-size: 16px;
    margin-left: 55px;
    max-width: 230px;
  }
  .heading__container {
    padding: 20px;
    margin: 30px 0;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    min-height: auto;
  }
  .heading__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .heading__subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .heading__captions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .heading__captions-item {
    font-size: 15px;
  }
  .tarifs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tarifs__list {
    width: 100%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .tarifs__list:last-child {
    margin-bottom: 0;
  }
  .tarifs__list._accent-orange .tarifs__item-button._main:hover {
    color: #fff;
    background-color: #FF8A48;
  }
  .tarifs__list._accent-orange .tarifs__item-button._secondary:hover {
    background: rgba(255, 138, 72, 0.1);
    color: #FF8A48;
  }
  .tarifs__list._full-width .tarifs__list-container {
    overflow-x: scroll;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
  }
  .tarifs__list._full-width .tarifs__item {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    padding: 0 0 125px;
  }
  .tarifs__list._full-width .tarifs__item-top, .tarifs__list._full-width .tarifs__item-bottom {
    width: 100%;
  }
  .tarifs__list._full-width .tarifs__item-top, .tarifs__list._full-width .tarifs__item-bottom {
    padding: 15px 20px;
  }
  .tarifs__list._full-width .tarifs__item-top {
    margin: 0;
  }
  .tarifs__list._full-width .tarifs__item-data {
    margin-right: 0;
  }
  .tarifs__list._full-width .tarifs__item-wrapper {
    top: auto;
    bottom: 20px;
    left: 20px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .tarifs__list-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-x: scroll;
    padding: 0 20px 15px;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .tarifs__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    width: 230px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
    padding-bottom: 125px;
  }
  .tarifs__item-top {
    padding: 15px 20px;
  }
  .tarifs__item-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .tarifs__item-data {
    margin-bottom: 15px;
  }
  .tarifs__item-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }
  .tarifs__item-button {
    height: 40px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .tarifs__item-button._main:hover {
    color: #fff;
    background-color: #593CD8;
  }
  .tarifs__item-button._secondary:hover {
    background-color: rgba(186, 170, 255, 0.1);
    color: #BAAAFF;
  }
  .os__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 10px;
  }
  .os__item {
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    margin-top: 10px;
  }
  .os__item-inner {
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    background-color: #1f1c2a;
  }
  .os__item-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 32px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .os__item-wrapper {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .os__item-title {
    font-size: 18px;
  }
  .faq__image {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .faq__image img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq__wrapper {
    margin-bottom: 20px;
  }
  .faq__item-heading {
    padding: 15px 30px;
    font-size: 16px;
  }
  .faq__item-heading::after {
    margin-left: 40px;
  }
  .faq__item-dropdown {
    padding: 0 30px 30px;
  }
  .policy-heading .heading__title {
    font-size: 22px;
  }
  .policy__heading {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.3;
  }
  .policy__caption {
    font-size: 16px;
  }
  .policy__list-item {
    padding-left: 20px;
  }
  .policy__list-item::before {
    width: 4px;
    height: 4px;
    left: 8px;
    top: 8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
  .footer__copyrights {
    font-size: 10px;
  }
  .benefits__box-heading {
    font-size: 15px;
  }
  .os__item-logo {
    width: 28px;
  }
  .os__item-title {
    font-size: 16px;
  }
  .os__item-subtitle {
    font-size: 13px;
  }
}
