@import ./modules/reset
@import ./modules/fonts
@import ./modules/vars

// General
body
	font-size: 22px
	min-width: 375px
	position: relative
	line-height: 1.3
	letter-spacing: -0.02em
	font-family: $default-font
	background-color: #F9F9FA
	color: $black
	scrollbar-width: 8px
	scrollbar-color: $accent rgba(255, 255, 255, 0)
	&.scroll-disabled
		overflow-y: hidden
	&::-webkit-scrollbar-track
		background: rgba(255, 255, 255, 0)
	&::-webkit-scrollbar-thumb
		background-color: $accent
	&::-webkit-scrollbar
		width: 8px

*
	scrollbar-width: 8px
	scrollbar-color: $accent rgba(255, 255, 255, 0)
	&::-webkit-scrollbar-track
		background: rgba(255, 255, 255, 0)
	&::-webkit-scrollbar-thumb
		background-color: $accent
	&::-webkit-scrollbar
		width: 8px

section
	padding: 110px 0

.overflow-hidden
	overflow: hidden

@media only screen and (max-width : 1400px)
	body
		font-size: 16px

@media only screen and (max-width : 1024px)
	section
		padding: 45px 0
//

@import preloader
@import button
@import grid
@import rest
@import form

@import ./templates/header
@import ./templates/footer
@import ./templates/main-screen
@import ./templates/calculation
@import ./templates/catalog
@import ./templates/advantages
@import ./templates/stats
@import ./templates/program
@import ./templates/manual
@import ./templates/payments
@import ./templates/faq
@import ./templates/terms
@import ./templates/contact
