@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1340px)

	// General
	.isnohome
		padding-top: 101px

	.container
		max-width: 960px
	// ----------

	// Header
	.header
		&._squeeze
			.header__logo-img
				height: 40px
		&__logo
			width: 84px
			&-img
				height: 40px
		&__menu
			&-category
				margin-right: 10px
				font-size: 10px
			&-container
				margin-left: 125px
		&__btn
			margin-left: 10px
		&__langs
			&-dropdown
				right: 90px
		&__search
			&.active
				.header__search-input
					width: 700px
			&-btn
				margin-left: 0
			&-result
				right: 110px
				width: 720px
	// ----------

	// Footer
	.footer
		&__menu-col
			margin-right: 175px
	// ----------

	// Catalog
	.catalog
		.product__preview
			height: 290px
	// ----------

	// Product page
	.p-product

		// Page navigation
		.page-nav
			padding-top: 14px
		// ----------

		// Overview
		.overview
			&__btns
				flex-wrap: wrap
			&__btn
				width: calc(50% - 12px)
			&__share
				margin-top: 24px
				margin-left: auto
				width: auto
		// ----------

		// Video
		.video
			&__frame
				height: calc(100vh - 101px)
		// ----------
	// page end

	// Cart / Favorites page
	.cart
		&__container
			&-inner
				width: calc(50% - 20px)
		&__item
			&-container
				width: 230px
	// page end

/*	Small Devices, Tablets */
@media only screen and (max-width : 992px)

	// General
	body
		font-size: 14px

	.body-inner
		&::before
			content: ''
			background-color: #000
			position: fixed
			width: 0
			height: 0
			left: 0
			top: 0
			opacity: 0
			z-index: 11
		&.active::before
			opacity: 0.5
			width: 100vw
			height: 100vh

	section
		padding: 20px 0
		&._more-pt
			padding-top: 30px

	.container
		max-width: 480px
		padding-right: 12px
		padding-left: 12px
	// ----------

	// Text styles
	.isnohome
		padding-top: 60px
		.h1
			font-size: 24px
			font-weight: 450

	h2
		font-size: 24px

	.s-title
		margin-bottom: 30px
	// ----------

	// Form elements
	input, textarea
		border-radius: 0
	// ----------

	// Cookie
	.cookie-modal
		&__container
			flex-direction: column
			text-align: center
		&__text
			margin-bottom: 20px
			font-size: 16px
		&__btn
			margin-left: 0
	// ----------

	// Nav elements
	.breadcrumbs
		font-size: 12px
		overflow-x: auto
		margin-top: 25px
		&::-webkit-scrollbar
			height: 3px

	.page-nav
		font-weight: 450
		overflow-x: auto
		crollbar-hegiht: 1px
		scrollbar-color: $gray transparent
		&::-webkit-scrollbar-track
			background: none
		&::-webkit-scrollbar-thumb
			border-radius: 0
		&::-webkit-scrollbar
			height: 1px
		&__container
			display: flex
			justify-content: space-between
			width: 100%
		&__back
			position: static
			transform: none
			margin-right: 24px
		&__items
			padding-right: 0
			margin: 0 auto
		&__item
			margin-right: 17px
			flex: 0 0 auto
			white-space: nowrap
			&:hover
				color: #555
				&::before
					width: 0
			&.active::before
				width: 100%
	// ----------

	// Slider styles
	.scrollbar-slider
		padding: 0 20px 15px
		&::before, &::after
			width: 10px
		.swiper-slide
			width: 135px
		.swiper-scrollbar
			width: calc(100% - 40px)
	// ----------

	// Dropdown
	.dropdown
		&__text
			font-size: 12px
	// ----------

	// Form elements
	.radio
		margin-bottom: 7px
		display: flex
	// ----------

	// Header
	.header
		._mob-hidden
			display: none
		&__container
			padding: 10px 0
			position: static
		&__logo
			transform: translateX(16px)
		&__btn
			margin-left: 0
		&__favorites-wrap
			margin-right: 12px
		&__hamburger
			display: flex
			&-menu
				position: fixed
				left: 0
				top: 0
				right: 0
				bottom: 0
				background-color: #fff
				color: #000
				padding: 64px 12px 30px
				z-index: 20
				display: none
				&.active
					display: flex
					flex-direction: column
					justify-content: space-between
			&-btns
				margin-top: auto
				display: flex
				flex-direction: column
				align-items: flex-start
			&-btn
				margin-bottom: 14px
				display: flex
				align-items: center
				font-size: 12px
				&:last-child
					margin-bottom: 0
			&-icon
				margin-right: 7px
				flex: 0 0 auto
				text-transform: uppercase
				text-align: center
				font-size: 16px
				font-family: $default-font
			&-close
				display: flex
			&-title
				display: inline-block
		&__menu
			flex-direction: column
			align-items: flex-start
			overflow-y: auto
			max-height: calc(100vh - 250px)
			&-category
				margin-bottom: 10px
				margin-right: 0
				font-size: 14px
				&::before
					display: none
				&:last-child
					margin-bottom: 0
			&-dropdown
				position: fixed
				left: 0
				right: 0
				top: 64px
				display: none
				z-index: 21
				transform: none
				padding: 0 12px
				width: 100vw
				box-shadow: none
				&::before
					display: none
			&-container
				margin-left: 0
				flex-wrap: nowrap
				overflow-y: auto
				max-height: calc(100vh - 250px)
			&-item
				margin-bottom: 7px
				margin-right: 0
			&-btn::after
				display: none
			&-links
				padding: 0
				width: 100vw
				margin-top: 0
				max-height: calc(100vh - 250px)
				height: 100vh
				overflow-y: auto
				position: relative
				.header__menu-link
					margin-bottom: 7px
				&-dropdown
					padding: 0 12px
					position: fixed
					top: 64px
					left: 0
					right: 0
					z-index: 29
			&-link
				font-size: 14px
				font-weight: 400
				&:hover
					padding-left: 0
				&::before
					display: none
		&__langs
			position: fixed
			left: 0
			right: 0
			bottom: 0
			top: 64px
			background-color: #fff
			z-index: 21
			display: none
			&-dropdown
				display: block
				position: static
				box-shadow: none
				padding: 20px 12px
		&__search
			position: fixed
			left: 0
			right: 0
			bottom: 0
			top: 64px
			background-color: #fff
			z-index: 21
			display: none
			padding: 0 24px
			&.active
				.header__search-input
					width: 100%
			&-input
				display: block
				width: 100%
				position: static
				opacity: 1
				border-radius: 0
				z-index: 1
				padding-right: 30px
			&-btn
				margin-left: auto
				position: absolute
				right: 0
				top: 0
				z-index: 2
				&::before
					width: 20px
					height: 20px
					top: 0
					background: none
				svg path
					fill: #000!important
			&-result
				top: 30px
				width: 100%
				color: #000
				position: static
				transform: none
				max-height: 430px
			&-img
				display: none
		&-dropdown
			width: 100vw
			height: 100vh
			padding: 34px 6px 139px 12px
			top: 0
			&__close
				display: flex
			&__heading
				padding-left: 0
				padding-right: 32px
			&__products
				padding: 0 6px 0 0
				max-height: calc(100% - 35px)
			&__bottom
				padding: 15px 12px 24px
				background-color: #fff
				position: absolute
				bottom: 0
				left: 0
				right: 0
	// ----------

	// Footer
	.footer
		padding: 40px 0 25px
		&__container
			flex-wrap: wrap
			margin: 40px 0
		&__menu
			justify-content: space-between
			width: 100%
			margin-bottom: 40px
			&-col
				margin-right: 0
		&__social
			justify-content: center
			width: 100%
		&__copyrights
			font-size: 12px
			text-align: center
	// ----------

	// Main screen
	.main
		&__container
			align-items: flex-end
			padding-bottom: 70px
		&__title
			font-size: 42px
			margin-bottom: 15px
			line-height: 1.1
		&__text
			margin-bottom: 20px
			font-weight: 450
		&__btn
			margin: 0 auto
		&__slider
			&-item
				text-align: center
				justify-content: flex-end
	// ----------

	// Categories
	.categories
		&__item
			padding: 10px
			height: 135px
	// ----------

	// Product
	.product
		&__slider
			margin-bottom: 10px
			padding-bottom: 6px
			&-scrollbar
				opacity: 1
				transform: none
				width: 100%
			.swiper-scrollbar
				opacity: 1
				transform: none
				width: 100%
		&__preview
			height: 135px
		&__top-links
			min-height: 22px
		&__category
			padding: 4px 5px
			min-width: 64px
			margin-right: 0
		&__title
			margin-bottom: 4px
		&__price
			font-size: 12px
		&__btn
			display: none
	// ----------

	// Brands
	.brands
		.swiper-slide
			width: 135px
			&-active
				.brands__item-img
					transform: scale(1.1)
		&__item
			height: 105px
			&-img
				max-width: calc(100% - 40px)
				max-height: calc(100% - 40px)
	// ----------

	// Blog
	.blog
		.swiper-slide
			width: 280px

	.article
		&__image
			height: 280px
		&__title
			font-size: 18px
		&__text
			font-size: 12px
	// ----------

	// Catalog page
	.isnohome
		// Categories
		.categories
			.swiper-slide
				width: 135px
			&__item
				height: 165px
				&-caption
					padding: 10px 8px
		// ----------

	// Catalog
	.catalog
		padding: 40px 0 100px
		&__title
			margin-bottom: 5px
			font-size: 24px
			font-weight: 450
		&__text
			margin-bottom: 10px
		&__link
			font-size: 12px
		&__container
			margin-top: 28px
			gap: 0
			justify-content: space-between
		&__sort-filter
			top: 7px
		&__filter
			&.active
				z-index: 30
			&-dropdown
				position: fixed
				left: 50%
				top: 0
				transform: translateX(-50%)
				z-index: 10
				width: 100%
				height: 100%
				max-width: 480px
				margin-top: 0
				border-radius: 0
			&-close
				display: flex
			&-list
				max-height: calc(100% - 177px)
				display: flex
				flex-wrap: wrap
				justify-content: space-between
			&-container
				margin-bottom: 20px
				width: calc(50% - 14px)
			&-caption
				margin-bottom: 10px
			&-btns
				flex-direction: row
				justify-content: space-between
				margin-top: auto
				box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
				position: absolute
				left: 0
				right: 0
				bottom: 0
				padding: 24px
				background-color: #fff
			&-btn
				width: calc(50% - 6px)
				margin: 0
		.product
			margin-top: 24px
			width: calc(50% - 6px)
			&__preview
				height: 190px
	// ----------
	// page end

	// Product page
	.p-product

		.fancybox-thumbs-x
			scrollbar-height: 2px
			&::-webkit-scrollbar-track
				background: #F2F2F2
			&::-webkit-scrollbar-thumb
				background-color: #555
				border-radius: 0
			&::-webkit-scrollbar
				height: 8px

		// General
		.body-inner
			padding-bottom: 142px
		// ----------

		// Navigation elements
		.page-nav
			&__items
				padding-right: 12px
		// ----------

		// Overview
		.overview
			padding: 12px 0 40px
			&__container
				flex-direction: column
				&-inner
					width: 100%
					margin-bottom: 24px
					&:last-child
						margin-bottom: 0
			&__slider
				&-btn
					right: 0
				&-full
					top: 0
				&-view
					position: absolute
					left: 6px
					top: 12px
				.swiper-pagination
					z-index: 2
			&__category
				margin-bottom: 5px
			&__title
				font-size: 18px
				margin-bottom: 5px
			&__text
				margin-bottom: 10px
			&__price
				font-size: 20px
				margin-bottom: 5px
			&__status
				margin-bottom: 10px
			&__btns
				position: fixed
				bottom: 0
				left: 0
				right: 0
				padding: 20px 12px
				margin-top: 0
				background-color: #fff
				box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
				z-index: 3
			&__btn
				z-index: 2
				font-size: 16px
				&-cart
					width: 100%
					margin-bottom: 24px
				&-favorites
					width: calc(100% - 110px)
			&__share
				margin: 0 18px
				&-dropdown
					margin-top: 0
					margin-bottom: 13px
					top: auto
					bottom: 100%
					padding: 21px 20px
					right: -18px
					width: 355px
					max-width: calc(100vw - 24px)
					border-radius: 4px
				&-close
					display: inline-flex
				&-btn
					margin-left: 0
					&::after
						display: none
		// ----------

		// About product
		.about
			padding-top: 30px
			margin-top: 3px
			&__title
				margin-bottom: 12px
			&__flexbox
				flex-direction: column
				margin-bottom: 30px
			&__image
				margin-right: 0
				margin-bottom: 10px
			&__list-item
				font-size: 12px
		// ----------

		// Video
		.video
			padding-bottom: 3px
			&__frame
				height: 56vw

		.video-js
			.vjs-big-play-button
				width: 36px
				height: 36px
			.vjs-tech
				object-fit: contain
		// ----------
	// page end

	// Blog page
	.p-blog
		// Blog
		.blog
			padding: 40px 0 120px
			&__text
				display: none
			.article
				width: 100%
				margin-bottom: 24px
				margin-right: 0
		// ----------
	// page end

	// Article page
	.p-article
		.article
			padding: 24px 0 100px
			&__top
				flex-direction: column
				&-inner
					width: 100%
					margin-left: 0
					margin-bottom: 24px
					order: -1
					flex-direction: row
					justify-content: space-between
					align-items: center
				&__category
					margin-bottom: 0
			&__heading
				margin-bottom: 15px
				line-height: 1.3
			&__container
				flex-direction: column
				margin-bottom: 48px
				&._mb-less
					margin-bottom: 36px
			&__caption
				margin-bottom: 12px
				font-size: 18px
				line-height: 1.4
			&__img
				order: -1
				width: 100%
				height: 250px
				margin-left: 0
				margin-bottom: 12px
				&:first-child
					margin-right: 0
				&:last-child
					margin-left: 0
				&-main
					margin-bottom: 12px
					height: 160px
				&.has-caption
					margin-bottom: 40px
			&__blockquote
				margin-bottom: 12px
	// page end

	// FAQ page
	.p-faq
		.faq
			&__title
				margin-bottom: 30px
			&__heading
				margin-bottom: 20px
				font-weight: 450
				font-size: 18px
		.tabs
			&__captions
				padding-bottom: 12px
				margin-bottom: 50px
				&-item
					width: 137px
					min-height: 137px
					padding: 15px 10px
				&-heading
					margin-bottom: 20px
					font-weight: 450
	// page end

	// Info page
	.p-info
		.info
			padding-bottom: 100px
			&__title
				margin-bottom: 20px
			&__heading
				font-weight: 450
				margin-bottom: 5px
				font-size: 18px
			&__caption
				margin-bottom: 8px
				font-size: 16px
				font-weight: 450
			&__headline
				margin-bottom: 7px
				&._mb-less
					margin-bottom: 3px
			&__wrapper
				margin-bottom: 15px
				&._mb-less
					margin-bottom: 8px
			&__text
				font-size: 12px
			&__select
				max-width: 100%
				margin-top: 0
			&__flexbox
				flex-direction: column
				&-inner
					width: 100%
					margin-bottom: 15px
					&:last-child
						margin-bottom: 0
			&__delivery
				margin-top: 15px
				&-item
					margin-bottom: 10px
					line-height: 1.3
				&-img
					margin-right: 7px

		.contacts
			margin-bottom: 20px
			&__heading
				font-size: 18px
				margin-bottom: 6px
				&._mb-more
					margin-bottom: 20px
			&__container
				flex-direction: column
				margin-bottom: 40px
				&-inner
					width: 100%
					margin-bottom: 24px
					padding: 24px 12px
					&:last-child
						margin-bottom: 0
			&__btns
				margin-top: 12px
			&__btn
				max-width: calc(50% - 6px)
				padding: 8px 0
				margin-right: 12px
	// page end

	// Sign Up / Log in
	.data
		padding: 60px 0
		&._pt-less
			padding-top: 40px
		&__form
			max-width: 100%
			&-activator
				right: 12px
				top: 24px
			&._shadow
				padding: 24px 12px
		&__headline
			margin-bottom: 30px
		&__title
			font-size: 18px
			margin-bottom: 30px
		&__input, &__flex-row, &__flexbox
			margin-bottom: 30px
		&__input._m-less
			margin-bottom: 30px
		&__flex-row
			.btn
				padding: 10px 12px
				font-size: 14px
		&__checkbox
			margin-bottom: 20px
		&__btn
			width: 100%
			&-wrapper
				flex-direction: column
				& > *
					width: 100%
					margin-top: 24px
				.data__btn-secondary
					order: 1
		&__container
			flex-direction: column
			&-inner
				max-width: 100%
				margin-top: 40px
				.data
					&__title
						text-align: center
						margin-bottom: 22px
					&__heading
						font-size: 14px
						margin-bottom: 10px
					&__btn
						margin-top: 30px
		&__heading
			margin: 0 0 25px
		&__list
			margin: 0
	// ----------

	// Orders
	.order
		padding: 30px 12px
		&__top
			margin-bottom: 24px
			align-items: flex-start
			&-inner
				flex-direction: column
				align-items: flex-start
		&__title
			font-size: 16px
		&__status
			margin-left: 0
			margin-top: 10px
		&__data
			line-height: 1.3
			&-caption
				font-size: 14px
				margin-bottom: 10px
			&-inner
				margin-bottom: 10px
		&__btn
			width: calc(50% - 7px)
			min-width: auto
			padding: 7px 0
			font-size: 16px
		&__btns
			width: 100%
			.order__btn
				margin-right: 14px
				&:last-child
					margin-right: 0
		&__dropdown
			padding-top: 15px
			&-heading
				font-size: 14px
		&__item
			padding: 10px
			&-image
				width: 54px
			&-inner
				margin-bottom: 10px
			&-text._large
				font-size: 16px
	// ----------

	// Cart / Favorites page
	.p-cart
		.body-inner
			padding-bottom: 142px

	.cart
		padding-bottom: 0
		&._pt-more
			padding-top: 40px
		&__container
			flex-direction: column
			&-inner
				width: 100%
				margin-bottom: 30px
				min-height: auto
				&:last-child
					margin-bottom: 0
		&__title
			margin-bottom: 20px
			font-size: 18px
		&__item
			&-inner
				padding: 35px 30px 35px 20px
			&-image
				position: absolute
				left: 12px
				top: 30px
				width: 50px
				height: 50px
			&-container
				width: 100%
			&-row
				margin-bottom: 40px
			&-title
				margin-left: 60px
				font-size: 14px
			&-remove, &-btn
				right: 10px
			&-remove
				top: 10px
			&-btn
				bottom: 10px
			&-warn
				padding: 5px 12px
		&__promocode
			margin-bottom: 14px
		&__total
			margin-bottom: 0
			&-heading
				padding-bottom: 14px
			&-caption
				font-size: 14px
			&-wrapper
				padding: 14px 0
			&-container._bd-bottom
				border-bottom: none
			&-item
				margin-bottom: 14px
				.cart__item
					&-image
						position: static
					&-title
						margin-left: 0
						font-size: 18px
					&-price
						font-size: 16px
					&-row
						margin-bottom: 7px
						line-height: 1.3
		&__btns
			position: fixed
			bottom: 0
			left: 0
			right: 0
			padding: 20px 12px
			margin-top: 0
			background-color: #fff
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
			z-index: 3
		&__btn
			margin-bottom: 14px
			&:last-child
				margin-bottom: 0
		&__delivery-container:last-child
			border-bottom: none
	// ----------

	// Checkout
	.checkout
		&__form
			padding: 24px 12px
			max-width: 100%
		&__btns
			position: fixed
			bottom: 0
			left: 0
			right: 0
			padding: 20px 12px
			flex-direction: column
			max-width: 100%
			background-color: #fff
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
			z-index: 3
		&__btn
			margin-top: 14px
			width: 100%
			&:last-child
				margin-top: 0
		&__submit
			order: -1
		&__slider
			.swiper-slide
				width: 140px
		&__delivery
			padding: 10px
			min-height: 175px
			&-icon
				height: 24px
			&-check
				margin-bottom: 8px
			&-icon, &-title, &-terms
				margin-bottom: 4px
			&-price
				margin-bottom: 0

	.billing-address__form
		margin-top: 34px
		.checkout__heading
			margin-bottom: 34px
	// ----------

	// Payment
	.payment
		&__item
			&-heading
				position: relative
			&-icons
				margin-left: 0
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
		&__checkbox
			padding: 0 12px
			margin-top: 24px
			.input-error
				left: 12px
		&__flexbox
			flex-wrap: wrap
			&-item
				width: calc(50% - 16px)
				&:last-child
					margin-top: 24px
	// ----------

	// Advantages
	.advantages
		padding: 0 0 10px
		&__container
			flex-direction: column
		&__item
			display: flex
			flex-direction: column
			align-items: center
			width: 100%
			text-align: center
			padding: 20px 0
			&-title
				margin-bottom: 5px
	// ----------
