.select
	&__heading
		&.select2-selection--single
			background-color: #fff
			border: none
			border-bottom: 1px solid $gray
			border-radius: 0
			height: auto
			transition: .2s
			&:hover
				border-color: $gray
			&:active
				border-color: $gray
			.select2-selection__placeholder
				color: #000
			.select2-selection__rendered
				color: #000
				padding: 4px 0
				font-size: 14px
				line-height: 1.5
				display: flex
				align-items: center
				min-height: 32px
				span
					display: flex
					align-items: center
					img
						margin-right: 10px
			.select2-selection__arrow
				height: 20px
				top: 50%
				right: 0
				transform: translate(0, -50%)
				b
					font-size: 0
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					transition: .2s
					display: block
					width: 20px
					height: 20px
					margin-top: 0px
					background-image: url('../img/icons/select-arrow.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					border: none
					margin-left: 0
		&[aria-expanded="true"]
			.select2-selection__arrow b
				transform: translate(-50%, -50%) rotate(180deg)
	&__dropdown
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
		border: 1px solid $gray
		border-radius: 0 0 4px 4px
		overflow-y: auto
		.select2-results
			&__option
				font-size: 14px
				font-weight: 400
				padding: 5px
				span
					display: inline-flex
					align-items: center
					position: relative
					&::before
						content: ''
						width: 0
						height: 1px
						background-color: #000
						position: absolute
						bottom: 0
						left: 0
						transition: .3s
					img
						margin-right: 14px
						position: relative
						bottom: 2px
				&--highlighted
					background-color: #fff
					color: #000
					&.select2-results__option--selectable
						background-color: #fff
						color: #000
					&:hover span::before
						width: 100%
				&--selected
					background-color: #fff !important
					color: #000 !important
					// span::before
					// 	width: 100%
					&:hover::before
						background-color: #000
						color: #fff

.select
	&__heading-country
		&.select2-selection--single
			border-bottom: 1px solid #999999
			.select2-selection__rendered
				font-size: 14px
				line-height: 1.2
				.select2-selection__placeholder
					&::before
						content: ''
						width: 20px
						height: 20px
						margin-right: 6px
						flex: 0 0 auto
						background-image: url('../img/icons/country.svg')
	&__dropdown-country
		.select2-results
			&__option
				font-size: 14px

.select2-container--default.select2-container--disabled .select2-selection--single
	background: none

.select__heading-search.select2-selection--single
	.select2-selection__arrow b
		background-image: url('../img/icons/search.svg')
	&[aria-expanded=true] .select2-selection__arrow b
		transform: translate(-50%, -50%) rotate(0deg)
