.about
	@include adaptive('padding-top', 180, 90, 'desktop')
	@include adaptive('border-radius', 60, 30, 'desktop')
	padding-bottom: 0
	background-color: $accent
	&__decor
		@include adaptive('width', 1000, 500, 'desktop')
		@include adaptive('height', 1000, 500, 'desktop')
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		background-image: url('/img/about__decor.png')
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: 1
	&__inner
		position: relative
		z-index: 2
	&__title
		@include adaptive('margin-bottom', 110, 55, 'desktop')
		&-row
			@include adaptive('margin-left', 472, 236, 'desktop')
			display: block
	&__arrows
		display: none
	&__container
		@include adaptive('gap', 20, 10, 'desktop')
		@include adaptive('padding-right', 120, 60, 'desktop')
		display: inline-flex
	&__item
		@include adaptive('height', 390, 195, 'desktop')
		@include adaptive('padding-top', 60, 30, 'desktop')
		@include adaptive('padding-bottom', 60, 30, 'desktop')
		@include adaptive('padding-left', 30, 15, 'desktop')
		@include adaptive('padding-right', 30, 15, 'desktop')
		@include adaptive('border-radius', 15, 8, 'desktop')
		background: rgba(255, 255, 255, 0.20)
		border: 1px solid #92C9AB
		backdrop-filter: blur(10px)
		color: #fff
		flex: 0 0 auto
		display: flex
		flex-direction: column
		justify-content: space-between
		&:first-child
			@include adaptive('margin-left', 600, 300, 'desktop')
		&-img
			@include adaptive('right', 30, 15, 'desktop')
			top: 0
			position: absolute
			transform: translateY(-50%)
		&-number
			@include adaptive('font-size', 60, 30, 'desktop')
			letter-spacing: -0.06em
			line-height: 1
			font-family: $machina
		&-bottom
			display: flex
			justify-content: space-between
			align-items: flex-end
		&-text
			@include adaptive('width', 290, 145, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			font-weight: 600
			line-height: 1.05
			letter-spacing: -0.01em
			color: $black
		&-btn
			@include adaptive('padding-top', 20, 10, 'desktop')
			@include adaptive('padding-bottom', 20, 10, 'desktop')
			@include adaptive('padding-left', 35, 18, 'desktop')
			@include adaptive('padding-right', 35, 18, 'desktop')
			@include adaptive('font-size', 22, 11, 'desktop')
	&__pagination
		@include adaptive('margin-top', 80, 40, 'desktop')
		width: 100%
		height: 1px
		&-inner
			background-color: #fff
			width: 20%
			height: 3px
			position: relative
			top: 50%
			transform: translateY(-50%)
	&__bottom-text
		@include adaptive('padding-top', 24, 12, 'desktop')
		@include adaptive('padding-bottom', 44, 22, 'desktop')
		@include adaptive('font-size', 24, 12, 'desktop')
		font-weight: 500
		font-family: $machina
		color: rgba(255, 255, 255, 0.44)
		border-top: 1px solid rgba(255, 255, 255, 0.4)
		display: flex
		justify-content: space-between
		align-items: center
		text-transform: uppercase
		.word
			@include adaptive('gap', 75, 37, 'desktop')
			display: flex!important

@media only screen and (max-width : 960px)
	.about
		@include adaptive('padding-top', 200, 80, 'mobile')
		@include adaptive('padding-bottom', 325, 130, 'mobile')
		@include adaptive('border-radius', 38, 15, 'mobile')
		background-size: cover
		background-position: center
		background-image: url('/img/about__decor-mobile.png')
		&__inner
			display: flex
			flex-direction: column
		&__top
			@include adaptive('margin-bottom', 75, 30, 'mobile')
			display: flex
			justify-content: space-between
			align-items: flex-end
		&__title-row
			@include adaptive('margin-left', 235, 94, 'mobile')
		&__arrows
			@include adaptive('gap', 12, 5, 'mobile')
			display: flex
			justify-content: center
			align-items: center
		&__arrow
			@include adaptive('width', 112, 45, 'mobile')
			@include adaptive('height', 112, 45, 'mobile')
			border-radius: 50%
			background-color: #fff
			border: 1px solid #fff
			display: flex
			justify-content: center
			align-items: center
			transition: .3s
			svg
				@include adaptive('width', 30, 12, 'mobile')
				@include adaptive('height', 20, 8, 'mobile')
				path
					transition: .3s
			&.slick-disabled
				background-color: transparent
				svg
					path
						fill: #fff
		&__container
			@include adaptive('left', -50, -20, 'mobile')
			width: 100vw
			position: relative
		&__item
			@include adaptive('height', 750, 300, 'mobile')
			@include adaptive('padding', 75, 30, 'mobile')
			@include adaptive('border-radius', 38, 15, 'mobile')
			@include adaptive('margin-top', 125, 50, 'mobile')
			@include adaptive('margin-right', 50, 20, 'mobile')
			@include adaptive('margin-left', 50, 20, 'mobile')
			flex-direction: column
			justify-content: space-between
			&.slick-slide
				display: flex
			&-img
				@include adaptive('width', 250, 100, 'mobile')
				@include adaptive('right', 75, 30, 'mobile')
			&-number
				@include adaptive('font-size', 90, 36, 'mobile')
				display: inline-block
			&-bottom
				align-items: flex-start
				flex-direction: column
			&-text
				@include adaptive('font-size', 50, 16, 'mobile')
				@include adaptive('margin-bottom', 50, 20, 'mobile')
			&-btn
				@include adaptive('padding-top', 50, 20, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
				@include adaptive('padding-left', 88, 35, 'mobile')
				@include adaptive('padding-right', 88, 35, 'mobile')
				@include adaptive('font-size', 45, 18, 'mobile')
		&__pagination, &__bottom-text
			display: none
