.contact
	&__social
		display: flex
		@include adaptive('gap', 6, 3, 'desktop')
		&-item
			@include adaptive('padding-top', 26, 13, 'desktop')
			@include adaptive('padding-bottom', 26, 13, 'desktop')
			@include adaptive('padding-right', 46, 23, 'desktop')
			@include adaptive('padding-left', 46, 23, 'desktop')
			@include adaptive('font-size', 24, 12, 'desktop')
			height: auto
			background-color: $black
			color: #fff
			border: 1px solid $black
			font-weight: 400
			&::after
				background-color: #fff
			&:hover
				color: $black
	&__container
		@include adaptive('margin-top', 100, 50, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__flexbox
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__heading
		color: $gray-5
		line-height: 1
		@include adaptive('font-size', 36, 18, 'desktop')
		font-weight: 400
	&__data
		&-item
			display: flex
			flex-direction: column
			align-items: flex-start
			line-height: 1.2
			@include adaptive('margin-bottom', 30, 15, 'desktop')
			&:last-child
				margin-bottom: 0
		&-heading
			@include adaptive('font-size', 22, 11, 'desktop')
			@include adaptive('margin-bottom', 14, 7, 'desktop')
			color: $gray-3
		&-text
			@include adaptive('font-size', 24, 12, 'desktop')
	&__form
		border-top: 1px solid $line-3
		display: flex
		flex-direction: column
		&-item
			border-bottom: 1px solid $line-3
			@include adaptive('padding-top', 24, 12, 'desktop')
			@include adaptive('padding-bottom', 24, 12, 'desktop')
			display: flex
			flex-direction: column
		&-caption
			@include adaptive('margin-bottom', 10, 5, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
		&-textarea
			resize: none
			@include adaptive('height', 50, 25, 'desktop')
		&-submit
			@include adaptive('margin-top', 20, 10, 'desktop')

.contact-page
	.footer
		padding-top: 0
		&__top
			display: none
		&__bottom
			border: none

@media only screen and (max-width : 1024px)
	.contact
		@include adaptive('padding-top', 190, 70, 'mobile')
		@include adaptive('padding-bottom', 240, 90, 'mobile')
		&__social, &__heading
			display: none
		&__container
			@include adaptive('margin-top', 80, 30, 'mobile')
		&__flexbox
			flex-direction: column
			align-items: stretch
		&__data
			@include adaptive('margin-bottom', 245, 90, 'mobile')
			&-item
				@include adaptive('margin-bottom', 54, 20, 'mobile')
			&-heading
				@include adaptive('font-size', 43, 16, 'mobile')
				@include adaptive('margin-bottom', 14, 5, 'mobile')
			&-text
				@include adaptive('font-size', 60, 22, 'mobile')
		&__form
			&-item
				@include adaptive('padding-top', 62, 23, 'mobile')
				@include adaptive('padding-bottom', 62, 23, 'mobile')
			&-caption
				@include adaptive('margin-bottom', 35, 12, 'mobile')
				@include adaptive('font-size', 43, 16, 'mobile')
			&-textarea
				@include adaptive('height', 140, 54, 'mobile')
			&-submit
				@include adaptive('margin-top', 54, 20, 'mobile')

	.contact-page
		.footer
			@include adaptive('padding-top', 67, 25, 'mobile')
