.docs
	&__title
		@include adaptive('margin-bottom', 100, 50, 'desktop')
		&-row
			@include adaptive('margin-left', 200, 80, 'desktop')
	&__top
		display: none
	&__slider
		&-item
			@include adaptive('width', 430, 215, 'desktop')
			@include adaptive('margin-right', 25, 12, 'desktop')
			&:last-child
				margin-right: 0
	&__item
		@include adaptive('padding-top', 60, 30, 'desktop')
		width: 100%
		position: relative
		&-number
			@include adaptive('right', 36, 18, 'desktop')
			@include adaptive('font-size', 76, 38, 'desktop')
			position: absolute
			font-weight: 500
			line-height: 1.2
			font-family: $machina
			color: transparent
			-webkit-text-stroke: 3px rgba(1, 13, 0, 0.25)
			top: 0
		&-wrapper
			position: relative
		&-img
			@include adaptive('border-radius', 20, 10, 'desktop')
			width: 100%
		&-btn
			@include adaptive('padding-top', 25, 12, 'desktop')
			@include adaptive('padding-bottom', 25, 12, 'desktop')
			@include adaptive('padding-left', 32, 16, 'desktop')
			@include adaptive('padding-right', 32, 16, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			@include adaptive('border-radius', 20, 10, 'desktop')
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background-color: $accent
			color: #fff
			white-space: nowrap
			&:hover
				color: #fff
			.btn__inner
				display: flex
				align-items: center
			&-icon
				@include adaptive('margin-left', 12, 6, 'desktop')
				flex: 0 0 auto
		&-caption
			@include adaptive('margin-top', 20, 10, 'desktop')
			@include adaptive('font-szie', 18, 9, 'desktop')
			color: #8F939C
			font-weight: 500
		&-title
			@include adaptive('margin-top', 6, 3, 'desktop')
			@include adaptive('font-size', 32, 16, 'desktop')
			font-weight: 700
			font-family: $machina
			line-height: 1

@media only screen and (max-width : 960px)
	.docs
		&__title
			@include adaptive('margin-bottom', 100, 40, 'mobile')
			&-row
				text-align: right
		&__top
			@include adaptive('margin-bottom', 50, 20, 'mobile')
			display: flex
			justify-content: space-between
			align-items: center
		&__counter
			@include adaptive('font-size', 90, 36, 'mobile')
			font-weight: 400
			line-height: 1.2
			font-family: $machina
			color: transparent
			letter-spacing: -0.05em
			-webkit-text-stroke: 2px rgba(1, 13, 0, 0.25)
		&__slider
			@include adaptive('left', -50, -20, 'mobile')
			width: 100vw
			&-item
				@include adaptive('margin-left', 50, 20, 'mobile')
				@include adaptive('margin-right', 50, 20, 'mobile')
			&-nav
				@include adaptive('gap', 12, 5, 'mobile')
				display: flex
				justify-content: center
				align-items: center
			&-arrow
				@include adaptive('width', 112, 45, 'mobile')
				@include adaptive('height', 112, 45, 'mobile')
				border-radius: 50%
				background-color: $accent
				border: 1px solid $accent
				display: flex
				justify-content: center
				align-items: center
				transition: .3s
				svg
					@include adaptive('width', 30, 12, 'mobile')
					@include adaptive('height', 20, 8, 'mobile')
					path
						transition: .3s
						fill: #fff
				&.slick-disabled
					background-color: transparent
					border-color: $gray
					svg
						path
							fill: $gray
		&__item
			&-number
				display: none
			&-img
				@include adaptive('border-radius', 38, 15, 'mobile')
			&-btn
				@include adaptive('padding-top', 50, 20, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
				@include adaptive('padding-left', 62, 25, 'mobile')
				@include adaptive('padding-right', 62, 25, 'mobile')
				@include adaptive('border-radius', 38, 15, 'mobile')
				@include adaptive('font-size', 35, 14, 'mobile')
				width: auto
				&-icon
					@include adaptive('margin-left', 25, 10, 'mobile')
					@include adaptive('width', 50, 20, 'mobile')
			&-caption
				@include adaptive('margin-top', 38, 15, 'mobile')
			&-title
				@include adaptive('margin-top', 12, 5, 'mobile')
				@include adaptive('font-size', 60, 24, 'mobile')
