.header
	@include adaptive('padding-top', 26, 13, 'desktop')
	@include adaptive('padding-bottom', 26, 13, 'desktop')
	&__container
		display: flex
		align-items: flex-start
		justify-content: space-between
	&__logo
		display: flex
		&-img
			@include adaptive('width', 210, 105, 'desktop')
	&__menu
		@include adaptive('gap', 10, 5, 'desktop')
		display: flex
		&-item
			@include adaptive('font-size', 16, 8, 'desktop')
			@include adaptive('border-radius', 60, 30, 'desktop')
			@include adaptive('padding-top', 18, 9, 'desktop')
			@include adaptive('padding-bottom', 18, 9, 'desktop')
			@include adaptive('padding-left', 80, 40, 'desktop')
			@include adaptive('padding-right', 80, 40, 'desktop')
			height: auto
			background: none
			color: #fff
			border: 1px solid #fff
			&::after
				background-color: #fff
			&:hover
				color: $black
		&-btn
			display: none
	&__social
		display: none

.isnohome .header
	&__menu
		&-item
			color: $black
			border: 1px solid $black
			&::after
				background-color: $black
			&:hover
				color: #fff
		&-btn
			color: $black
			border: 1px solid $black
			&:hover
				color: $black
			&.active
				color: #fff
				border: 1px solid #fff

@media only screen and (max-width : 1024px)
	.header
		@include adaptive('padding-top', 60, 20, 'mobile')
		@include adaptive('padding-bottom', 60, 20, 'mobile')
		&__logo
			position: relative
			z-index: 11
			&-img
				@include adaptive('width', 204, 76, 'mobile')
		&__menu
			flex-direction: column
			@include adaptive('gap', 25, 10, 'mobile')
			&-wrap
				@include adaptive('padding-right', 54, 20, 'mobile')
				@include adaptive('padding-left', 54, 20, 'mobile')
				@include adaptive('padding-top', 290, 140, 'mobile')
				@include adaptive('padding-bottom', 70, 25, 'mobile')
				overflow: auto
				display: none
				flex-direction: column
				justify-content: space-between
				position: fixed
				top: 0
				bottom: 0
				left: 0
				right: 0
				background-color: #000
				z-index: 10
				&.active
					transform: translateY(0)
					background-color: rgba(0, 0, 0, 0.95)
			&-item
				background-color: #fff
				color: $black
				@include adaptive('font-size', 44, 16, 'mobile')
				@include adaptive('border-radius', 163, 60, 'mobile')
				@include adaptive('padding-top', 50, 18, 'mobile')
				@include adaptive('padding-bottom', 50, 18, 'mobile')
			&-btn
				@include adaptive('font-size', 44, 16, 'mobile')
				@include adaptive('border-radius', 60, 30, 'mobile')
				@include adaptive('padding-top', 44, 16, 'mobile')
				@include adaptive('padding-bottom', 44, 16, 'mobile')
				@include adaptive('padding-left', 110, 40, 'mobile')
				@include adaptive('padding-right', 110, 40, 'mobile')
				@include adaptive('border-width', 3, 1, 'mobile')
				@include adaptive('border-radius', 164, 60, 'mobile')
				display: flex
				height: auto
				background: none
				color: #fff
				border-style: solid
				border-color: #fff
				position: relative
				z-index: 11
				&:hover
					color: #fff
		&__social
			display: flex
			justify-content: center
			align-items: center
			@include adaptive('gap', 14, 7, 'mobile')
			&-item
				@include adaptive('width', 136, 50, 'mobile')
