.packs
	&__top
		@include adaptive('margin-bottom', 140, 70, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-end
	&__title-row
		display: block
	&__text
		@include adaptive('font-size', 28, 14, 'desktop')
		font-weight: 500
		line-height: 1
		font-family: $machina
	&__container
		@include adaptive('gap', 20, 10, 'desktop')
		display: flex
		flex-wrap: wrap

	.pack
		@include adaptive('width', 580, 290, 'desktop')
		@include adaptive('border-radius', 30, 15, 'desktop')
		border: 1px solid #FFF
		background-color: #F0F0F0
		&.seeds
			.pack
				&__top-title, &__btn
					background-color: #87C7AB
		&.vega
			.pack
				&__top-title, &__btn
					background-color: #67B793
		&.canna-hold
			.pack
				&__top-title, &__btn
					background-color: #6F7DD7
		&.bloom
			.pack
				&__top-title, &__btn
					background-color: #489B6D
		&.harvest
			.pack
				&__top-title, &__btn
					background-color: #367755
		&.shareholder
			.pack
				&__top-title, &__btn
					background-color: #26543D
		&__top
			@include adaptive('padding-top', 25, 12, 'desktop')
			@include adaptive('padding-bottom', 25, 12, 'desktop')
			@include adaptive('padding-right', 30, 15, 'desktop')
			@include adaptive('padding-left', 30, 15, 'desktop')
			@include adaptive('margin-bottom', 60, 30, 'desktop')
			@include adaptive('font-size', 24, 12, 'desktop')
			border-bottom: 1px solid #E0E0E0
			display: flex
			justify-content: space-between
			align-items: center
			font-family: $machina
			font-weight: 700
			line-height: 1
			&-title
				@include adaptive('padding-top', 18, 9, 'desktop')
				@include adaptive('padding-bottom', 18, 9, 'desktop')
				@include adaptive('padding-right', 38, 19, 'desktop')
				@include adaptive('padding-left', 38, 19, 'desktop')
				@include adaptive('border-radius', 112, 56, 'desktop')
				color: #fff
				text-transform: uppercase
			&-data
				color: $accent
		&__data
			@include adaptive('gap', 70, 35, 'desktop')
			@include adaptive('margin-bottom', 60, 30, 'desktop')
			@include adaptive('padding-right', 30, 15, 'desktop')
			@include adaptive('padding-left', 30, 15, 'desktop')
			display: flex
			align-items: flex-start
			&-caption
				@include adaptive('margin-bottom', 5, 3, 'desktop')
				color: #8F939C
				line-height: 1
				font-weight: 500
			&-info
				@include adaptive('font-size', 32, 16, 'desktop')
				letter-spacing: -0.05em
				font-weight: 500
				line-height: 1
		&__btn
			@include adaptive('border-bottom-right-radius', 30, 15, 'desktop')
			@include adaptive('border-bottom-left-radius', 30, 15, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			@include adaptive('padding-top', 20, 10, 'desktop')
			@include adaptive('padding-bottom', 20, 10, 'desktop')
			@include adaptive('padding-right', 30, 15, 'desktop')
			@include adaptive('padding-left', 30, 15, 'desktop')
			font-family: $machina
			text-transform: uppercase
			color: #fff
			border-top-left-radius: 0
			border-top-right-radius: 0
			&-inner
				display: flex
				justify-content: space-between
				align-items: center
				width: 100%
				&::after
					@include adaptive('width', 35, 18, 'desktop')
					@include adaptive('height', 35, 18, 'desktop')
					content: ''
					background-image: url('/img/icons/pack-arrow.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					flex: 0 0 auto

@media only screen and (max-width : 960px)
	.packs
		&__top
			@include adaptive('margin-bottom', 115, 46, 'mobile')
		&__title-row
			@include adaptive('margin-left', 150, 60, 'mobile')
			text-align: left
		&__text
			display: none
		&__container
			@include adaptive('gap', 25, 10, 'mobile')
			flex-direction: column

		.pack
			@include adaptive('border-radius', 38, 15, 'mobile')
			width: 100%
			&__top
				@include adaptive('padding-top', 62, 25, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
				@include adaptive('padding-right', 75, 30, 'mobile')
				@include adaptive('padding-left', 75, 30, 'mobile')
				@include adaptive('margin-bottom', 75, 30, 'mobile')
				@include adaptive('font-size', 60, 24, 'mobile')
				flex-direction: column
				&-title
					@include adaptive('padding', 40, 16, 'mobile')
					@include adaptive('border-radius', 280, 112, 'mobile')
					@include adaptive('margin-bottom', 50, 20, 'mobile')
					width: 100%
					display: flex
					justify-content: center
					text-align: center
					align-items: center
			&__data
				@include adaptive('gap', 38, 15, 'mobile')
				@include adaptive('margin-bottom', 75, 30, 'mobile')
				@include adaptive('padding-right', 30, 15, 'mobile')
				@include adaptive('padding-left', 30, 15, 'mobile')
				flex-direction: column
				&-item
					display: flex
					align-items: flex-end
				&-caption
					@include adaptive('margin-right', 38, 15, 'mobile')
				&-info
					@include adaptive('font-size', 60, 24, 'mobile')
			&__btn
				@include adaptive('border-bottom-right-radius', 38, 15, 'mobile')
				@include adaptive('border-bottom-left-radius', 38, 15, 'mobile')
				@include adaptive('font-size', 45, 18, 'mobile')
				@include adaptive('padding-top', 50, 20, 'mobile')
				@include adaptive('padding-bottom', 50, 20, 'mobile')
				@include adaptive('padding-right', 75, 30, 'mobile')
				@include adaptive('padding-left', 75, 30, 'mobile')
				&-inner::after
					@include adaptive('width', 88, 35, 'mobile')
					@include adaptive('height', 88, 35, 'mobile')
