.strategy
	&__title
		@include adaptive('margin-bottom', 74, 37, 'desktop')
		&-row
			@include adaptive('margin-left', 370, 185, 'desktop')
			display: block
	&__top
		@include adaptive('margin-bottom', 100, 50, 'desktop')
		@include adaptive('padding-bottom', 60, 30, 'desktop')
		display: flex
		justify-content: space-between
		align-items: flex-end
		border-bottom: 1px solid rgba(0, 0, 0, 0.06)
		&-heading
			@include adaptive('font-size', 86, 43, 'desktop')
			font-weight: 500
			line-height: 1
			font-family: $machina
		&-text
			@include adaptive('font-size', 24, 12, 'desktop')
			font-weight: 700
			line-height: 1.2
			letter-spacing: -0.02em
	&__container
		display: flex
		justify-content: space-between
		align-items: center
	&__item
		display: flex
		align-items: center
		position: relative
		&-heading
			@include adaptive('font-size', 18, 9, 'desktop')
			@include adaptive('margin-right', 40, 20, 'desktop')
			line-height: 1.2
			font-weight: 500
			font-family: $machina
		&-box
			@include adaptive('border-radius', 15, 8, 'desktop')
			@include adaptive('padding-top', 52, 26, 'desktop')
			@include adaptive('padding-bottom', 52, 26, 'desktop')
			@include adaptive('padding-left', 85, 42, 'desktop')
			@include adaptive('padding-right', 85, 42, 'desktop')
			display: flex
			align-items: center
			border: 1px solid rgba(255, 255, 255, 0.3)
			background: rgba(255, 255, 255, 0.2)
			backdrop-filter: blur(10px)
			position: relative
			z-index: 2
		&-caption
			@include adaptive('width', 150, 75, 'desktop')
			@include adaptive('font-size', 18, 9, 'desktop')
			@include adaptive('margin-right', 25, 12, 'desktop')
			color: #7C7C7C
			font-weight: 500
			line-height: 1.2
		&-data
			@include adaptive('font-size', 50, 25, 'desktop')
			font-weight: 700
			font-family: $machina
			line-height: 1
			color: $accent
		&-decor
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			z-index: 1
			&-1
				@include adaptive('width', 112, 56, 'desktop')
				@include adaptive('height', 112, 56, 'desktop')
				@include adaptive('right', 446, 223, 'desktop')
				@include adaptive('top', -58, -29, 'desktop')
				background-image: url('/img/strategy__decor-1.png')
			&-2
				@include adaptive('width', 130, 65, 'desktop')
				@include adaptive('height', 130, 65, 'desktop')
				@include adaptive('right', 30, 15, 'desktop')
				@include adaptive('bottom', -68, -34, 'desktop')
				background-image: url('/img/strategy__decor-2.png')

@media only screen and (max-width : 960px)
	.strategy
		&__title
			@include adaptive('margin-bottom', 88, 35, 'mobile')
			&-row
				@include adaptive('margin-left', 325, 130, 'mobile')
		&__top
			@include adaptive('margin-bottom', 75, 30, 'mobile')
			@include adaptive('padding-bottom', 75, 30, 'mobile')
			flex-direction: column
			align-items: flex-start
			&-heading
				@include adaptive('font-size', 60, 24, 'mobile')
				@include adaptive('margin-bottom', 25, 10, 'mobile')
			&-text
				@include adaptive('font-size', 45, 18, 'mobile')
		&__container
			flex-direction: column
			align-items: stretch
		&__item
			@include adaptive('margin-bottom', 75, 30, 'mobile')
			align-items: stretch
			flex-direction: column
			&:last-child
				margin-bottom: 0
			&-heading
				@include adaptive('font-size', 40, 16, 'mobile')
				@include adaptive('margin-bottom', 62, 25, 'mobile')
				line-height: 1.1
				font-weight: 600
				font-family: $default-font
				color: #8F939C
				&-1 br
					display: none
			&-box
				@include adaptive('border-radius', 38, 15, 'mobile')
				@include adaptive('padding', 75, 30, 'mobile')
				justify-content: center
				text-align: center
			&-caption
				display: none
			&-data
				@include adaptive('font-size', 65, 26, 'mobile')
				br
					display: none
			&-decor
				display: none
