.team
	&__decor
		position: absolute
		&-right
			@include adaptive('top', -200, -100, 'desktop')
			@include adaptive('width', 328, 164, 'desktop')
			right: 0
		&-left
			@include adaptive('bottom', -180, -90, 'desktop')
			@include adaptive('width', 547, 273.5, 'desktop')
			left: 0
	&__title
		@include adaptive('margin-bottom', 100, 50, 'desktop')
		&-row
			@include adaptive('margin-left', 300, 150, 'desktop')
			display: block
	&__container
		margin-left: auto
		display: flex
		justify-content: space-between
	&__item
		&-img
			@include adaptive('margin-bottom', 20, 10, 'desktop')
			width: 100%
			display: flex
		&-caption
			@include adaptive('margin-bottom', 4, 2, 'desktop')
			line-height: 1.3
			color: #8F939C
			font-weight: 500
		&-title
			@include adaptive('font-size', 38, 19, 'desktop')
			font-family: $machina
			font-weight: 700
			line-height: 1

@media only screen and (max-width : 960px)
	.team
		&__decor
			display: none
		&__title
			@include adaptive('margin-bottom', 100, 40, 'mobile')
			&-row
				@include adaptive('margin-left', 175, 70, 'mobile')
		&__container
			flex-direction: column
		&__item
			&-img
				@include adaptive('margin-bottom', 38, 15, 'mobile')
			&-caption
				@include adaptive('margin-bottom', 12, 5, 'mobile')
			&-title
				@include adaptive('font-size', 60, 24, 'mobile')
