.values
	&__title
		@include adaptive('font-size', 154, 77, 'desktop')
		line-height: 1.2
		letter-spacing: -0.05em
		overflow: hidden
		&-container
			display: inline-block
			transform: translateY(100%)
		&-items
			@include adaptive('margin-left', 10, 5, 'desktop')
			position: relative
			.change
				position: absolute
				left: 0

@media only screen and (max-width : 1024px)
	.values
		&__title
			@include adaptive('font-size', 147, 54, 'mobile')
			line-height: 1
			&-items
				@include adaptive('font-size', 180, 65, 'mobile')
				@include adaptive('margin-top', 15, 5, 'mobile')
				@include adaptive('height', 200, 70, 'mobile')
				display: block
