.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 9
	transition: background-color .3s
	&.active
		background-color: $accent
		.header
			&__container
				@include adaptive('padding-top', 10, 'desktop')
				@include adaptive('padding-bottom', 10, 'desktop')
			&__hamburger-open
				border-color: #fff
	&__container
		@include adaptive('padding-top', 20, 'desktop')
		@include adaptive('padding-bottom', 20, 'desktop')
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		border-top: 1px solid $bd-white
		border-bottom: 1px solid $bd-white
		transition: padding .3s
	&__logo
		display: flex
		position: relative
		&-img
			@include adaptive('width', 178, 'desktop')
	&__menu
		@include adaptive('gap', 40, 'desktop')
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		&-item
			color: #fff
	&__lang
		@include adaptive('font-size', 18, 'desktop')
		letter-spacing: -0.03em
		position: relative
		display: flex
		&-heading
			@include adaptive('padding', 18, 'desktop')
			font-weight: 600
			border-radius: 5px
			background-color: #fff
			color: $accent
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			transition: .3s
			&::after
				@include adaptive('width', 15, 'desktop')
				@include adaptive('height', 15, 'desktop')
				content: ''
				margin-left: 3px
				background-image: url('../img/icons/lang-arrow.svg')
				background-size: cover
				background-position: center
				transition: .3s
				flex: 0 0 auto
			&.active
				border-radius: 5px 5px 0 0
				&::after
					transform: rotate(-180deg)
		&-dropdown
			@include adaptive('padding', 18, 'desktop')
			display: none
			position: absolute
			left: 0
			right: 0
			top: 100%
			border-radius: 0 0 5px 5px
			background-color: #fff
			border-top: 1px solid $bd-black
			color: $accent
		&-items
			@include adaptive('gap', 10, 'desktop')
			display: flex
			flex-direction: column
			align-items: flex-start
			font-weight: 500
		&-item::before
			background-color: $accent
	&__hamburger
		display: none
		&-open
			display: none
			transition: border-color .3s

@media only screen and (max-width : 960px)
	.header
		&__container
			@include adaptive('padding-top', 20, 'mobile')
			@include adaptive('padding-bottom', 20, 'mobile')
		&__logo-img
			@include adaptive('width', 116, 'mobile')
		&__menu
			@include adaptive('gap', 20, 'mobile')
			flex-direction: column
			align-items: flex-start
			position: static
			transform: none
			&-item
				@include adaptive('font-size', 24, 'mobile')
				color: $accent
		&__lang
			@include adaptive('font-size', 14, 'mobile')
			&-heading
				@include adaptive('width', 65, 'mobile')
				@include adaptive('height', 47, 'mobile')
				@include adaptive('padding', 12, 'mobile')
				&::after
					@include adaptive('width', 15, 'mobile')
					@include adaptive('height', 15, 'mobile')
			&-dropdown
				@include adaptive('padding', 12, 'mobile')
			&-items
				@include adaptive('gap', 5, 'mobile')
		&__box
			@include adaptive('gap', 5, 'mobile')
			display: flex
		&__hamburger
			position: fixed
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: #fff
			z-index: 10
			&-logo
				@include adaptive('width', 116, 'mobile')
			&-open, &-close
				img
					@include adaptive('width', 45, 'mobile')
					@include adaptive('height', 45, 'mobile')
			&-open
				display: flex
				border: 1px solid transparent
				border-radius: 5px
			&-close
				@include adaptive('width', 47, 'mobile')
				@include adaptive('height', 47, 'mobile')
				border: 1px solid transparent
			&-container
				@include adaptive('padding', 30, 'mobile')
				padding-top: 0
				display: flex
				flex-direction: column
				justify-content: space-between
				height: 100vh
				&::after
					@include adaptive('height', 58, 'mobile')
					content: ''
					width: 100%
			&-top
				@include adaptive('padding-top', 20, 'mobile')
				@include adaptive('padding-bottom', 20, 'mobile')
				display: flex
				justify-content: space-between
				align-items: center
				border-bottom: 1px solid $bd-black
