.info
	&__title
		@include adaptive('margin-bottom', 40, 'desktop')
	&__subtitle
		@include adaptive('margin-bottom', 100, 'desktop')
		@include adaptive('max-width', 380, 'desktop')
		font-weight: 500
		text-align: center
		margin-left: auto
		margin-right: auto
	&__container
		@include adaptive('gap', 10, 'desktop')
		display: flex
		flex-wrap: wrap
	&__item
		@include adaptive('border-radius', 10, 'desktop')
		@include adaptive('border-width', 2, 'desktop')
		@include adaptive('width', 586, 'desktop')
		@include adaptive('padding', 30, 'desktop')
		border-color: $accent
		border-style: solid
		background-color: $second
		color: $accent
		display: flex
		flex-direction: column
		justify-content: space-between
		&._half-width
			@include adaptive('width', 885, 'desktop')
		&._bg-accent
			background-color: $accent
			color: #fff
			.info__item
				&-number
					color: #fff
				&-list-item::before
					background-color: #fff
				&-line
					background-color: $bd-white
		&-top
			@include adaptive('margin-bottom', 20, 'desktop')
			display: flex
			justify-content: space-between
			align-items: flex-start
		&-heading
			@include adaptive('font-size', 36, 'desktop')
			line-height: 0.9
		&-number
			@include adaptive('font-size', 24, 'desktop')
			@include adaptive('margin-left', 20, 'desktop')
			color: $gray
			flex: 0 0 auto
		&-text, &-list
			@include adaptive('padding-top', 30, 'desktop')
			@include adaptive('padding-bottom', 30, 'desktop')
			line-height: 1.1
		&-list
			@include adaptive('gap', 5, 'desktop')
			display: flex
			flex-direction: column
			align-items: flex-start
			&-item
				@include adaptive('gap', 10, 'desktop')
				display: flex
				align-items: center
				&::before
					@include adaptive('width', 5, 'desktop')
					@include adaptive('height', 5, 'desktop')
					content: ''
					border-radius: 50%
					background-color: $accent
					flex: 0 0 auto
		&-line
			@include adaptive('margin-top', 20, 'desktop')
			height: 1px
			background-color: $bd-black
	&__image
		@include adaptive('margin-top', 40, 'desktop')
		width: 100%
		display: flex
		img
			@include adaptive('border-radius', 10, 'desktop')
			width: 100%

@media only screen and (max-width : 960px)
	.info
		&__title
			@include adaptive('margin-bottom', 15, 'mobile')
		&__subtitle
			@include adaptive('margin-bottom', 40, 'mobile')
		&__container
			@include adaptive('gap', 10, 'mobile')
			flex-direction: column
		&__x-scroll
			@include adaptive('padding-left', 30, 'mobile')
			@include adaptive('padding-right', 30, 'mobile')
			@include adaptive('padding-bottom', 15, 'mobile')
			@include adaptive('left', -30, 'mobile')
			flex-direction: row
			overflow-x: auto
			flex-wrap: nowrap
			position: relative
			width: 100vw
			.info__item
				@include adaptive('width', 315, 'mobile')
				flex: 0 0 auto
		&__item
			@include adaptive('border-radius', 5, 'mobile')
			@include adaptive('border-width', 1, 'mobile')
			@include adaptive('padding', 30, 'mobile')
			width: 100%
			&-top
				@include adaptive('margin-bottom', 20, 'mobile')
			&-heading
				@include adaptive('font-size', 20, 'mobile')
			&-number
				@include adaptive('font-size', 18, 'mobile')
				@include adaptive('margin-left', 20, 'mobile')
			&-list
				@include adaptive('gap', 5, 'mobile')
				&-item
					@include adaptive('gap', 10, 'mobile')
					&::before
						@include adaptive('width', 5, 'mobile')
						@include adaptive('height', 5, 'mobile')
			&-line
				@include adaptive('margin-top', 20, 'mobile')
		&__image
			@include adaptive('margin-top', 10, 'mobile')
			img
				@include adaptive('border-radius', 5, 'mobile')
