.prevent
	&__container
		@include adaptive('width', 1180, 'desktop')
		@include adaptive('border-radius', 10, 'desktop')
		@include adaptive('padding', 120, 'desktop')
		background-color: $second
		border: 1px solid $accent
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		margin: 0 auto
	&__title
		@include adaptive('margin-bottom', 60, 'desktop')
	&__text
		@include adaptive('max-width', 660, 'desktop')
		line-height: 1.1
		font-weight: 500

@media only screen and (max-width : 960px)
	.prevent
		&__container
			@include adaptive('border-radius', 5, 'mobile')
			@include adaptive('padding', 30, 'mobile')
		&__title
			@include adaptive('margin-bottom', 20, 'mobile')
