.services
	&__container
		@include adaptive('gap', 10, 'desktop')
		display: flex
		&-inner
			@include adaptive('gap', 10, 'desktop')
			width: 50%
			display: flex
			flex-direction: column
	&__image
		@include adaptive('height', 1150, 'desktop')
		@include adaptive('border-radius', 10, 'desktop')
		background-size: cover
		background-position: center
	&__item
		@include adaptive('height', 135, 'desktop')
		@include adaptive('padding-top', 36, 'desktop')
		@include adaptive('padding-bottom', 36, 'desktop')
		@include adaptive('padding-right', 30, 'desktop')
		@include adaptive('padding-left', 30, 'desktop')
		@include adaptive('border-radius', 10, 'desktop')
		border: 2px solid $accent
		background-color: #fff
		display: flex
		justify-content: space-between
		align-items: center
		&-box
			@include adaptive('gap', 30, 'desktop')
			display: flex
			align-items: flex-start
		&-number
			@include adaptive('font-size', 18, 'desktop')
			font-weight: 500
			color: $gray
		&-heading
			@include adaptive('font-size', 36, 'desktop')
			font-weight: 500
			color: $accent
			letter-spacing: -0.04em
		&-btn
			@include adaptive('font-size', 16, 'desktop')
	&__btn
		@include adaptive('font-size', 36, 'desktop')
		@include adaptive('height', 135, 'desktop')
		font-weight: 500
		letter-spacing: -0.04em

@media only screen and (max-width : 960px)
	.services
		&__container
			@include adaptive('gap', 10, 'mobile')
			flex-direction: column
			&-inner
				@include adaptive('gap', 5, 'mobile')
				width: 100%
		&__image
			@include adaptive('height', 410, 'mobile')
			@include adaptive('border-radius', 5, 'mobile')
		&__item
			@include adaptive('padding', 30, 'mobile')
			@include adaptive('border-radius', 5, 'mobile')
			border: 1px solid $accent
			flex-direction: column
			align-items: stretch
			&-box
				@include adaptive('margin-bottom', 25, 'mobile')
				display: flex
				align-items: center
				justify-content: space-between
			&-number
				@include adaptive('font-size', 16, 'mobile')
			&-heading
				@include adaptive('font-size', 22, 'mobile')
				text-align: right
			&-btn
				@include adaptive('font-size', 16, 'mobile')
