.main-wrapper{
	padding: 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	height:100%;
	opacity: 1;
	transition: filter .3s ease-out .3s, opacity .3s ease-out .2s;
}
.wrapper{
	min-width: $min-width;
	max-width: $maxWidth;
	padding: 0 122px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 1
}
/* titles */
p{	
	padding: 8px 0;
	font-weight: 400;	
}
h1, .h1{
	color: $title-color;
	font-weight: bold;
	font-size: 4.44vw;
	line-height: 1.2;
	text-transform: uppercase;
	text-indent: -0.05em
}
.h2{
	color: $title-color;
	font-weight: 700;
	font-size: 3.33vw;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	text-indent: -0.04em;
	letter-spacing: -0.02em;
}
.h3{
	font-weight: 700;
	font-size: 24px;
	padding: 0;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */




/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
    padding-bottom: 60px;
	order: 2;
	flex-grow: 1;
}

.content-main {
	flex-grow: 12;
	position: relative;
	z-index: 0
}

.btn {
	background: #FF2549;
	border-radius: 100px;
	display: inline-block;
	position: relative;
	font-weight: 400;
	font-family: $custom-font-family;
	font-size: 16px;
	line-height: 46px;
	min-height: 46px;
	display: inline-block;
	text-align: center;
	color: #fff;
	padding: 0 33px;
	&:hover {
		background: darken(#FF2549,10%);
	}
}

.heading-right {
	text-align: right;
	margin-right: -0.02em
}
.heading-left {
	text-align: left;
	margin-left: -0.02em
}
.wrapper-grid {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: calc(1920px - 144px);
    top: 0;
    bottom: 0;
    z-index: 0;
}
.line-grid {
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    position: absolute;
    height: 100%;
    width: 1px;
    z-index: 0;
    transition: height .6s ease;
    &-1 {
		left: 0;
	}
	&-2 {
		left: 20%;
		transition-delay: .5s 
	}
	&-3 {
		left: 40%;
		transition-delay: 1s 
	}
	&-4 {
		left: 60%;
		transition-delay: 1.5s 
	}
	&-5 {
		left: 80%;
		transition-delay: 1s 
	}
	&-6 {
		left: 100%;
		transition-delay: 1.5s 
	}
}

.anim-w {
	display: inline-block;
	overflow: hidden;
	position: relative;
	color: transparent;
	animation: none;
	vertical-align: top;

	&:before {
		content: attr(data-word);
		cursor: text;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		color: $text-color;
	}
}

.anim-w.fadeInUpShort {
	animation: none;
	&:before {
		animation: fadeInUpShort 1s cubic-bezier(.165,.84,.44,1) 
	}
}
.anim-w.fadeInDownShort {
	animation: none;
	&:before {
		animation: fadeInDownShort 1s cubic-bezier(.165,.84,.44,1)
	}
}
.anim-decor {
	opacity: 0;
	transform: scale(0.85);
	transition: opacity 1.2s cubic-bezier(.165,.84,.44,1), transform 1.2s cubic-bezier(.165,.84,.44,1)
}
.loaded {
	font-family: arial, sans-serif;
	.anim-decor {
		opacity: 0;
		transform: scale(0.85);
		transition: none
	}
	.main-wrapper {
		filter: blur(3px);
		transition: filter .3s ease-out
	}
}
.section.active {
	.anim-decor {
		opacity: 1;
		transform: scale(1);
	}
}
.ios .anim-decor {
	opacity: 1;
	transform: scale(1);
	transition: none
}
@media screen and (max-width: 1920px) {

	.wrapper-grid {
		max-width: calc(100% - 244px);
	}
}

@media screen and (max-width: 1366px) {

	.wrapper{
		padding-left: 80px;
		padding-right: 80px;
	}
	.wrapper-grid {
		max-width: calc(100% - 160px);
	}
}
@media screen and (max-width: 1200px) {
	.line-grid {
		&-2 {
			left: 25%;
			transition-delay: .5s 
		}
		&-3 {
			left: 50%;
			transition-delay: 1s 
		}
		&-4 {
			left: 75%;
			transition-delay: 1.5s 
		}
		&-5 {
			left: 100%;
			transition-delay: 1s 
		}
		&-6 {
			display: none;
		}
	}
}
@media screen and (max-width: 1366px), (max-height: 768px) {
	.wrapper {
		padding-left: 80px;
		padding-right: 80px;
	}
	.wrapper-grid {
		max-width: calc(100% - 160px);
	}
}
@media screen and (max-width: 1280px) {
	.wrapper{
		padding-left: 40px;
		padding-right: 40px;
	}
	.wrapper-grid {
		max-width: calc(100% - 80px);
	}
}
@media screen and (max-width: 991px) {
	.wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.wrapper-grid {
		max-width: calc(100% - 30px);
	}
}
@media screen and (max-width: 767px) {
	.wrapper-grid {
		display: none
	}
	h1, .h1 {
		font-size: 27px
	}
	.h2 {
		font-size: 25px;
		text-align: center;
	}
}
@media screen and (min-width: 1440px) {
	h1, .h1 {
		font-size: 64px
	}
	.h2 {
		font-size: 49px;
	}
}