
@media screen and (min-width: 768px) and (min-height: 670px) {
	.fullpage-wrapper {
		width: 100%!important;
		transform: translate(0,0) !important;
			transition: all .3s ease-out .3s !important
	}
	.fp-section {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all 0.1s ease-out .1s;
	}

	.fp-section.active {
		visibility: visible;
		opacity: 1;
		z-index: 1;
		transition: all 0s ease-out .2s;
	}
	.fp-scrollable {
		height: 100%
	}
	.fp-scroller {
		display: flex;
		min-height: 100%;
		align-items: center;
		justify-content: center;
	}

	.open-header {
		.fullpage-wrapper {
			transform: translate(0,100%) !important;
			filter: blur(4px);
			transition: all .3s ease-out 0s !important
		}
	}
	.fp-tableCell, .fp-section.fp-table, .fp-slide.fp-table, .fp-scroller, .fullpage-wrapper {
		width: 100%
	}


	.loaded {
		.fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell {
			display: block;
		}
	}
}

@media screen and (max-width: 767px) , (max-height: 669px) {
 	.fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell {
 		display: block;
 		height: auto !important
 	}
}
/*@media screen and (max-height: 669px) {
 	.section:last-child {
 		padding-bottom: 80px
 	}
}*/