.section-contacts {
    position: relative;
    .fp-tableCell {
        vertical-align: top
    }
    .fp-scroller {
        flex-direction: column;
    }
}
.wrapper-contacts {
    padding-top: 171px;
    height: 100%;
    flex: 1 1 100%;
    flex-direction: column;
    display: flex;
}
.contact-links {
    height: 150px;
    margin-bottom: 4.7vh;
    margin-right: -6px;
    flex-shrink: 0
}
.contacts-link {
    font-size: 18px;    
    margin-bottom: 20px;
    a {
        border-bottom: 1px solid;
        color: $text-color;
        &:hover {
            color: $color-active;
        }
    }
    &:last-child {
        margin-bottom: 10px
    }
}
.form-page {
    .order-nav {
        padding-top: 41px;
        padding-bottom: 49px; 
    }
}
.contacts {
    margin-top: 7vh;
    width: 40%;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-decor {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 0 5vh 4.6vw;
    margin-right: -0.5vw;
    width: 60%;
    img {
        max-height: 100%;
    }
}
.decor-top {
    position: absolute;
    right: 52.1%;
    top: 5.2vh;
    svg {
        max-width: 100%
    }
}
.arrow-clock {
    transform-origin: center center
}
@media screen and (max-width: 1366px)  {
    .wrapper-contacts {
        padding-top: 100px
    }
    .decor-top {
        width: 85px;
        height: 87px;
        top: 0.5vh;
    }
}
@media screen and (max-width: 1100px) {
    .contacts {
        width: 55%;
    }
    .contacts-decor {
        width: 45%
    }
    .decor-top {
        top: 17.5vh;
    }
}

@media screen and (max-height: 940px) {
    .contact-links {
        max-height: 110px;
    }
    .form-page .order-nav {
        padding-top: 30px;
        padding-bottom: 22px; 
    }
}
@media screen and (max-height: 768px) {

    .wrapper-contacts {
        padding-top: 100px
    }
    .decor-top {
        width: 85px;
        height: 87px;
        right: 52.7%;
        top: 0.5vh;
    }
    
}
@media screen and (max-height: 768px) and (max-width: 1100px) {

    .decor-top {
        top: 17.5vh;
    }
}
@media screen and (max-height: 669px) {
    .decor-top {
        margin-top: -37px
    }
    .wrapper-contacts {
        padding-top: 80px;
    }
}
@media screen and (max-width: 767px) {
    .contacts-decor {
        position: relative;
        width: 100%;
        align-items: center;
        padding-top: 30px;
    }
    .contacts {
        margin-top: 30px;
        width: 100%
    }
    .contact-links {
        max-height: none;
        height: auto;
    }

    .decor-top {
        width: 13vw;
        height: 13vw;
        top: 15px;
    }
    .wrapper-contacts {
        padding-top: 60px
    }
}

@media screen and (max-width: 767px) , (max-height: 669px) {
    .decor-top {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (min-height: 670px) {
    .section-contacts .fp-scroller {
        align-items: flex-start;
    }    
}
