.modal-section {
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999999;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}
.fancybox-wrap {
    transform: scale(0) translate(0, 100%);
    filter: blur(4px);
    opacity: 0;
    transition: all .5s ease

}
.fancybox-opened {
        transform: scale(1) translate(0, 0);
        opacity: 1;
        filter: blur(0);
}
.ios {
    .fancybox-wrap {
        transition: none
    }
}
.close-modal {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 999999;
    transform: rotate(45deg);
    transition: all .5s;
    cursor: pointer;
    &:hover {
        transform: rotate(225deg);
        transition: all .5s;
        .close-icon:before, .close-icon:after {
            background: #F90;
        }
    }
    .close-icon:before, .close-icon:after {
        background: #1e1e1e;
    }
}

.modal-box {
    padding-top: 100px;
    &__text {
        max-width: 730px;
    }
    .text-scroll {
        max-height: 120px;

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;

        color: #000000;
    }
    .contacts {
        width: 100%;
        margin-top: 0;
        margin-left: 83px;
    }
    .order-block {
        max-width: 410px;
        width: 100%;
    }
    .contacts-link {
        margin-bottom: 15px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
        color: #000000;
    }
}
.box-top {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.box-bottom {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.bottom-right {
    margin-left: 72px;
    display: flex;
    flex-wrap: wrap;
}

.value-list {
    background: #F9F9F9;
    list-style-type: none;
    padding: 20px;
    max-width: 576px;
    width: 100% ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    &__item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: #000000;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.modal-link-list {
    margin-top: 60px;
    &__item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
        color: #000000;
        border-bottom: 1px solid;
        &:hover {
            color: #F90;
        }
    }
}


.fancybox-wrap,
.fancybox-inner{
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    background: #ffffff !important;
    z-index: 9999;
    //top: 0 !important;
}

@media screen and (max-width: 1200px){
    .modal-box__text {
        width: 70%;
    }
    .modal-box__links {
        width: 30%;
    }
    .modal-box .contacts {
        margin-left: 40px;
    }
    .box-bottom {
        margin-top: 35px;
    }
    .bottom-right {
        margin-left: 35px;
    }
    .modal-link-list__link {
        font-size: 14px;
    }
    .modal-box .contacts-link {
        font-size: 14px;
    }
    .modal-box .text-scroll {
        font-size: 14px;
        line-height: 20px;
    }
    .modal-box .order-block {
        width: 50%;
    }
    .bottom-right {
        width: 60%;
    }
    .modal-wrapper {
        padding: 0 50px;
    }
}

@media screen and (max-width: 991px){
    .modal-box {
        padding-top: 50px;
    }
    .modal-box .order-block {
        width: 100%;
        margin: 30px auto 0;
        order: 2;
    }
    .box-bottom {
        flex-wrap: wrap;
    }
    .bottom-right {
        margin-left: 0;
        width: 100%;
    }
    .value-list {
        max-width: 100%;
    }
    .modal-section {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px){
    .modal-box__text {
        width: 100%;
    }
    .modal-box__links {
        padding-top: 20px;
        width: 100%;
    }
    .modal-box .contacts {
        margin-left: 0;
    }
    .box-bottom {
        margin-top: 10px;
    }
    .modal-box .contacts .contact-links {
        margin-bottom: 0;
    }
    .modal-link-list {
        margin-top: 20px;
    }
    .modal-box .order-block {
        max-width: 100%;
    }
    .modal-box {
        .form-title {
            width: 100%;
            text-align: center;
        }
        .box-field__button {
            text-align: center;
        }
        .btn-order {
            margin: 0 auto;
        }
    }
    .modal-wrapper {
        padding: 0 20px 50px;
    }
    .close-modal {
        right: 20px;
        top: 20px;
    }
}

@media screen and (min-width: 767px) and (min-height: 670px){
    .modal-box {
        padding-top: 50px;
    }
    .box-bottom {
        margin-top: 10px;
    }
    .close-modal {
        right: 10px;
        top: 10px;
    }
    .modal-link-list {
        margin-top: 20px;
    }
    .bottom-right {
        width: 50%;
        order: 2;
        padding-left: 20px;
    }
    .modal-box .order-block {
        width: 50%;
        order: 1;
    }
}