// font-weight helper:

// 100 Thin;
// 200 Extra Light or Ultra Light; 
// 300 Light;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
//font-family: 'Roboto', sans-serif;

@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff');
	}
}



@include font('Single', normal, 400, '../fonts/Singulier-Regular.woff');
//font-family: 'Singulier', sans-serif;





