@font-face {
  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/EuclidSquare-Light.woff") format("woff");
}

@font-face {
  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/EuclidSquare-Regular.woff") format("woff");
}

@font-face {
  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/EuclidSquare-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "EuclidSquare";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/EuclidSquare-Bold.woff") format("woff");
}

::-webkit-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "EuclidSquare", sans-serif;
}

:-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "EuclidSquare", sans-serif;
}

::-ms-input-placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "EuclidSquare", sans-serif;
}

::placeholder {
  color: #CAC8C8;
  font-size: 16px;
  font-family: "EuclidSquare", sans-serif;
}

body {
  font-size: 18px;
  min-width: 375px;
  position: relative;
  line-height: 1.6;
  font-family: "EuclidSquare", sans-serif;
  color: #030D0E;
  background-color: #F4F6F5;
}

.body-overflow-hidden {
  overflow: hidden;
}

h2 {
  font-size: 99px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.033em;
  line-height: 1.1;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  text-decoration: none;
  line-height: 1;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 230px;
          border-radius: 230px;
  border: none;
  background-color: #fff;
  color: #14837D;
  padding: 50px 85px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button:focus, .button:hover {
  text-decoration: none;
}

.button:hover {
  background-color: #14837D;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 180px;
}

.header__tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 190px;
  width: 320px;
}

.header__tel-icon {
  margin-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__hamburger {
  width: 86px;
  height: 86px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14837D;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__hamburger-line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 7px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__hamburger-line:last-child {
  margin-bottom: 0;
}

.header__hamburger:hover {
  background-color: #fff;
}

.header__hamburger:hover .header__hamburger-line {
  background-color: #14837D;
}

.footer {
  background-color: #fff;
  padding-top: 125px;
}

.footer__container {
  margin-bottom: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container:last-child {
  margin-bottom: 0;
}

.footer__container-top {
  padding-bottom: 140px;
  padding-left: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer__container-bottom {
  padding: 140px 0;
  border-top: 1px solid rgba(188, 198, 192, 0.65);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BCC6C0;
}

.footer__container-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__container-inner:first-child {
  max-width: 600px;
  width: 100%;
  margin-right: 150px;
}

.footer__container-inner._vetical-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
}

.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-item {
  margin-right: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #14837D;
  white-space: nowrap;
}

.footer__contacts-item:last-child {
  margin-right: 0;
}

.footer__contacts-icon {
  margin-right: 15px;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  width: 66px;
  height: 66px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #14837D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__social-item svg path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-item:hover {
  background-color: #14837D;
}

.footer__social-item:hover svg path {
  fill: #fff;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__menu-title {
  color: #14837D;
  margin-bottom: 40px;
}

.footer__menu-item {
  margin-bottom: 10px;
  display: block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer__menu-item._light {
  color: #AAB5AE;
}

.footer__menu-item:hover {
  color: #14837D;
}

.footer__menu-heading {
  margin-top: 25px;
}

.footer__menu-heading:hover {
  color: #030D0E;
}

.footer__copyrights-year {
  margin-right: 150px;
}

.footer__text {
  text-align: right;
}

.main {
  height: 100vh;
  max-height: 1030px;
  min-height: 600px;
  background-image: url("../img/main/main__bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-color: #030D0E;
  color: #fff;
}

.main__container {
  height: -webkit-calc(100% - 166px);
  height: calc(100% - 166px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10vh;
}

.main__text {
  width: 320px;
  margin-bottom: 45px;
  margin-right: -webkit-calc(190px + 86px);
  margin-right: calc(190px + 86px);
  margin-left: auto;
}

.main__title {
  font-size: 130px;
  font-weight: 300;
  letter-spacing: -0.033em;
  text-transform: uppercase;
  line-height: 1.1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.main__title-wrapper {
  margin-left: auto;
}

.main__title ._accent {
  color: #14837D;
}

.main__title-mobile {
  margin-left: 40px;
}

.main__scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 38px;
  height: 38px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 15px;
}

.main__ellipse {
  position: absolute;
  left: 0;
  top: 35vh;
}

.about {
  padding: 0;
  z-index: 2;
}

.about__container {
  padding: 280px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.about__container-inner {
  position: absolute;
  bottom: 0;
  left: 110px;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.about__title {
  position: relative;
  width: 690px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  margin-right: 140px;
}

.about__title-wrapper {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.about__text-around {
  width: 100px;
  position: absolute;
  right: 100%;
  -webkit-transform: translate(-40px, -50%);
      -ms-transform: translate(-40px, -50%);
          transform: translate(-40px, -50%);
}

.about__text {
  width: 300px;
  margin-right: 295px;
}

.about__wrapper {
  width: 490px;
  height: 490px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #14837D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.about__wrapper-text {
  width: 185px;
  color: #fff;
}

.about__number {
  font-size: 330px;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-25%, -60%);
      -ms-transform: translate(-25%, -60%);
          transform: translate(-25%, -60%);
  font-weight: 300;
  color: #050708;
}

.about__button {
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: 320px;
}

.insurance {
  padding: 440px 0 200px;
  background-image: url("../img/main/insurance__bg.jpg");
  background-color: #030D0E;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  color: #fff;
}

.insurance__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.insurance__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 135px;
}

.insurance__title-middle {
  margin-left: 245px;
}

.insurance__title-right {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-right: 65px;
}

.insurance__wrapper-heading {
  color: #14837D;
  margin-bottom: 80px;
}

.insurance__wrapper-text {
  width: 235px;
  margin-bottom: 50px;
}

.insurance__wrapper-text:last-child {
  margin-bottom: 0;
}

.advantages {
  z-index: 2;
}

.advantages__container {
  padding: 200px 20px 330px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.advantages__text {
  font-weight: 600;
  width: 150px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-right: 460px;
}

.advantages__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}

.advantages__title-right {
  margin-left: 260px;
}

.advantages__title-middle {
  margin-left: 140px;
}

.advantages__items {
  margin-left: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  margin-right: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item:last-child {
  margin: 0;
}

.advantages__item-number {
  margin-right: 60px;
  font-weight: 400;
  color: #BCC6C0;
}

.advantages__item-text {
  width: 195px;
}

.advantages__about {
  width: 900px;
  height: 900px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__about-number {
  font-size: 200px;
  font-weight: 300;
  color: #14837D;
  margin-right: 10px;
}

.advantages__about-text {
  width: 150px;
}

.advantages__about-text span {
  display: block;
  color: #14837D;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}

.services {
  padding: 300px 0;
  color: #fff;
}

.services::before {
  content: '';
  display: inline-block;
  height: 975px;
  width: 100%;
  background-image: url("../img/main/services__bg.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center bottom;
  position: absolute;
  top: 0;
  left: 0;
}

.services__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 175px;
}

.services__container-slider {
  position: relative;
}

.services__title-wrapper {
  display: block;
  margin-left: 210px;
}

.services__slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.services__slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.services__slider .swiper-pagination-progressbar {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  left: 20px;
  top: auto;
  bottom: -130px;
  height: 2px;
  background-color: #BCC6C0;
  cursor: default;
}

.services__slider .swiper-pagination-progressbar-fill {
  background-color: #030D0E;
}

.services__slide {
  width: 540px;
  min-height: 320px;
  background-color: #fff;
  padding: 40px 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__slide-heading {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #14837D;
  text-transform: uppercase;
  max-width: 360px;
}

.services__slide-text {
  max-width: 200px;
  color: #030D0E;
}

.services__slide-button {
  position: absolute;
  bottom: 0;
  right: 100px;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services__slide-button svg path, .services__slide-button svg circle {
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.services__slide-button:hover svg path {
  fill: #14837D;
}

.services__slide-button:hover svg circle {
  stroke: #14837D;
}

.services .tabs__caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  margin-left: 420px;
}

.services .tabs__caption-item {
  margin-right: 30px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.services .tabs__caption-item:last-child {
  margin-right: 0;
}

.services .tabs__caption-item::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: #14837D;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.services .tabs__caption-item.active {
  color: #14837D;
}

.services .tabs__caption-item.active::before {
  width: 16px;
}

.services .tabs__content {
  display: none;
}

.services .tabs__content.active {
  display: block;
}

.license {
  z-index: 2;
}

.license__container {
  padding: 170px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.license__title {
  margin-left: 430px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.license__title-top {
  margin-left: 475px;
}

.license__title-bottom {
  margin-left: 675px;
}

.license__subtitle {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-right: 110px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #BCC6C0;
}

.license__text {
  max-width: 250px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-right: 360px;
}

.license__button {
  position: absolute;
  right: 385px;
  top: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.target {
  width: 1300px;
  height: 1300px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: -240px;
  top: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff;
  padding-left: 240px;
  padding-right: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.target__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: -10px;
}

.target__title-wrapper {
  margin-left: 290px;
}

.target__overtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 170px;
  margin-left: 290px;
}

.target__overtitle-wrapper {
  margin-bottom: 100px;
  text-transform: uppercase;
  color: #BCC6C0;
}

.target__text {
  font-weight: 600;
  color: #14837D;
  max-width: 245px;
  margin-left: auto;
}

.strategy {
  background-image: url("../img/main/strategy__bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  color: #fff;
}

.strategy__container {
  padding: 550px 20px 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.strategy__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.strategy__title-accent {
  color: #14837D;
}

.strategy__title-middle {
  margin-left: 520px;
}

.strategy__title-right {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-right: 135px;
}

.strategy__text {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  max-width: 295px;
  margin-right: 310px;
  margin-bottom: 30px;
}

.strategy__text-item {
  margin-bottom: 25px;
}

.strategy__text-item:last-child {
  margin-bottom: 0;
}

.strategy__text-around {
  width: 100px;
  position: absolute;
  right: 50%;
  bottom: 220px;
}

.strategy__button {
  position: absolute;
  right: 285px;
  top: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.blog {
  padding: 250px 0 350px;
}

.blog__title {
  margin-bottom: 115px;
}

.blog__slider {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
}

.blog__slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.blog__slider .swiper-pagination-progressbar {
  width: 100%;
  top: auto;
  bottom: -50px;
  height: 2px;
  background-color: #BCC6C0;
  cursor: default;
}

.blog__slider .swiper-pagination-progressbar-fill {
  background-color: #030D0E;
}

.blog .article {
  width: 1000px;
}

.blog .article__preview {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 530px;
  position: relative;
}

.blog .article__button {
  position: absolute;
  right: 80px;
  top: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.blog .article__button svg path {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.blog .article__button:hover {
  background-color: #14837D;
}

.blog .article__button:hover svg path {
  fill: #fff;
}

.blog .article__wrapper {
  padding: 60px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .article__date {
  font-weight: 300;
  font-size: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1;
  margin-right: 60px;
}

.blog .article__date span {
  margin-left: 25px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  top: 12px;
}

.blog .article__text {
  max-width: 335px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1760px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 80px;
  }
  .container {
    max-width: 1400px;
  }
  .header__logo {
    margin-right: 160px;
  }
  .header__tel {
    margin-right: 60px;
  }
  .footer {
    font-size: 14px;
  }
  .footer__container-inner:first-child {
    margin-right: 60px;
  }
  .footer__container-bottom {
    font-size: 13px;
  }
  .footer__logo {
    height: 50px;
    width: 50px;
  }
  .footer__contacts-item {
    margin-right: 30px;
  }
  .footer__contacts-icon {
    margin-right: 10px;
  }
  .footer__social-item {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .footer__copyrights-year {
    margin-right: 160px;
  }
  .main__title {
    font-size: 100px;
  }
  .main__title-mobile {
    margin-left: 25px;
  }
  .main__text {
    margin-right: -webkit-calc(60px + 86px);
    margin-right: calc(60px + 86px);
  }
  .about__container-inner {
    left: 140px;
  }
  .about__title {
    width: 557px;
    margin-right: 95px;
  }
  .about__text {
    margin-right: 165px;
  }
  .about__wrapper {
    width: 400px;
    height: 400px;
  }
  .about__number {
    font-size: 250px;
  }
  .about__button {
    right: 205px;
  }
  .insurance__title {
    margin-right: 105px;
  }
  .insurance__title-middle {
    margin-left: 220px;
  }
  .insurance__title-right {
    margin-right: 50px;
  }
  .advantages__text {
    margin-bottom: 20px;
    margin-right: 340px;
  }
  .advantages__title-right {
    margin-left: 160px;
  }
  .advantages__title-middle {
    margin-left: 60px;
  }
  .advantages__items {
    margin-left: 60px;
  }
  .advantages__about {
    width: 650px;
    height: 650px;
  }
  .services__title-wrapper {
    margin-left: 220px;
  }
  .services .tabs__caption {
    margin-left: 270px;
  }
  .license__title {
    margin-left: 320px;
  }
  .license__title-top {
    margin-left: 385px;
  }
  .license__title-bottom {
    margin-left: 545px;
  }
  .license__subtitle {
    margin-right: 85px;
  }
  .license__text {
    margin-right: 240px;
  }
  .license__button {
    right: 275px;
  }
  .target {
    width: 1000px;
    height: 1000px;
    padding-right: 150px;
  }
  .target__title {
    margin-bottom: 40px;
  }
  .target__overtitle {
    margin-bottom: 100px;
  }
  .target__overtitle-wrapper {
    margin-bottom: 60px;
  }
  .strategy__title-middle {
    margin-left: 280px;
  }
  .strategy__title-right {
    margin-right: 110px;
  }
  .strategy__text {
    margin-right: 195px;
  }
  .strategy__button {
    right: 190px;
  }
}

@media only screen and (max-width: 1400px) {
  h2 {
    font-size: 60px;
  }
  .button {
    padding: 35px 60px;
  }
  .container {
    max-width: 960px;
  }
  .header__logo {
    margin-right: 60px;
  }
  .header__about {
    font-size: 14px;
  }
  .header__tel {
    margin-right: 20px;
    width: 220px;
  }
  .header__hamburger {
    width: 60px;
    height: 60px;
  }
  .header__hamburger-line {
    width: 20px;
  }
  .footer__container-top {
    padding-left: 80px;
  }
  .footer__container-bottom {
    font-size: 14px;
  }
  .footer__logo {
    height: 44px;
  }
  .footer__contacts-item {
    margin-right: 20px;
    font-size: 13px;
  }
  .footer__contacts-icon {
    width: 18px;
    height: auto;
    margin-right: 5px;
  }
  .footer__social-item {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .footer__social-item svg {
    max-width: 40%;
    max-height: 40%;
  }
  .footer__copyrights-year {
    margin-right: 0;
  }
  .main__title {
    font-size: 70px;
  }
  .main__title-mobile {
    margin-left: 18px;
  }
  .main__text {
    margin-right: -webkit-calc(20px + 60px);
    margin-right: calc(20px + 60px);
    width: 220px;
  }
  .about__container {
    padding: 200px 20px;
  }
  .about__container-inner {
    left: 70px;
  }
  .about__text-around {
    width: 70px;
  }
  .about__title {
    width: 417px;
    margin-right: 20px;
  }
  .about__text {
    margin-right: 0;
  }
  .about__wrapper {
    width: 340px;
    height: 340px;
  }
  .about__number {
    font-size: 180px;
  }
  .about__button {
    right: 90px;
  }
  .insurance__title {
    margin-right: 130px;
    font-size: 50px;
  }
  .insurance__title-middle {
    margin-left: 80px;
  }
  .insurance__title-right {
    margin-right: 30px;
  }
  .insurance__wrapper {
    width: 235px;
  }
  .advantages__text {
    margin-right: 165px;
  }
  .advantages__items {
    margin-left: 60px;
  }
  .advantages__about {
    width: 400px;
    height: 400px;
  }
  .advantages__about-number {
    font-size: 120px;
  }
  .advantages__about-text span {
    font-size: 26px;
  }
  .services__title-wrapper {
    margin-left: 130px;
  }
  .services .tabs__caption {
    margin-left: 180px;
    margin-bottom: 35px;
  }
  .services .tabs__caption-item::before {
    bottom: -30px;
  }
  .license__title {
    margin-left: 185px;
  }
  .license__title-top {
    margin-left: 288px;
  }
  .license__title-bottom {
    margin-left: 410px;
  }
  .license__subtitle {
    margin-right: 20px;
  }
  .license__text {
    margin-right: 90px;
    max-width: 230px;
  }
  .license__button {
    right: 155px;
  }
  .target {
    width: 900px;
    height: 900px;
  }
  .target__title {
    left: -5px;
  }
  .target__title-wrapper {
    margin-left: 200px;
  }
  .target__overtitle {
    margin-left: 200px;
  }
  .strategy__title-middle {
    margin-left: 220px;
  }
  .strategy__title-right {
    margin-right: 30px;
  }
  .strategy__text {
    margin-right: 20px;
  }
  .strategy__button {
    right: 70px;
  }
  .blog__title {
    margin-bottom: 80px;
  }
  .blog .article {
    width: 960px;
  }
  .blog .article__preview {
    height: 480px;
  }
}

/*  Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 50px;
  }
  .button {
    padding: 40px 70px;
  }
  .container {
    max-width: 480px;
  }
  .header {
    padding: 20px 0;
  }
  .header__logo {
    margin-right: 0;
    width: 56px;
  }
  .header__about {
    display: none;
  }
  .header__tel {
    margin-right: 20px;
    width: auto;
  }
  .header__tel-icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .header__tel-icon svg path {
    fill: #030D0E;
  }
  .header__tel-text {
    display: none;
  }
  .footer {
    font-size: 16px;
  }
  .footer .container {
    position: relative;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .footer__container-top {
    padding-left: 0;
    padding-bottom: 20px;
    position: static;
  }
  .footer__container-bottom {
    font-size: 16px;
    padding: 80px 0 240px;
    display: block;
  }
  .footer__container-inner {
    display: block;
  }
  .footer__container-inner:first-child {
    margin-right: 0;
    max-width: none;
  }
  .footer__logo {
    width: 55px;
    height: auto;
    position: static;
    margin-bottom: 30px;
  }
  .footer__about.footer__container-inner {
    max-width: 245px;
    margin-bottom: 50px;
  }
  .footer__contacts {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .footer__contacts-item {
    margin-right: 20px;
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__contacts-icon {
    width: 25px;
    height: auto;
    margin-right: 0;
    margin-bottom: 12px;
    position: relative;
    left: -3px;
  }
  .footer__social {
    position: absolute;
    bottom: 100px;
    left: 20px;
  }
  .footer__social-item {
    width: 55px;
    height: 55px;
    margin-right: 20px;
  }
  .footer__social-item svg {
    max-width: auto;
    max-height: auto;
    width: 15px;
    height: 15px;
  }
  .footer__menu {
    margin-bottom: 60px;
  }
  .footer__menu-title {
    margin-bottom: 30px;
  }
  .footer__menu-heading {
    margin-top: 10px;
  }
  .footer__copyrights {
    margin-bottom: 35px;
  }
  .footer__text {
    text-align: left;
    max-width: 265px;
  }
  .main {
    height: 860px;
    max-height: none;
    min-height: auto;
  }
  .main__container {
    padding-bottom: 0;
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__title {
    font-size: 50px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
  }
  .main__title-mobile {
    display: block;
    margin-left: auto;
  }
  .main__title-wrapper {
    margin-left: 0;
  }
  .main__title ._accent {
    display: block;
  }
  .main__text {
    width: 260px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main__scroll-down {
    width: 260px;
    margin-left: auto;
  }
  .main__ellipse {
    width: 600px;
    top: 120px;
  }
  .about__container {
    padding: 130px 20px 380px;
  }
  .about__container-inner {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  .about__text-around {
    width: 100px;
    display: none;
  }
  .about__title {
    width: 100%;
    margin-right: 0;
  }
  .about__text {
    margin: 0 auto 40px;
    width: 160px;
  }
  .about__wrapper {
    width: 500px;
    height: 500px;
  }
  .about__wrapper-text {
    width: 185px;
  }
  .about__number {
    font-size: 230px;
    top: 60px;
    left: auto;
    right: -13px;
  }
  .about__button {
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .insurance {
    padding: 350px 0 150px;
  }
  .insurance__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .insurance__title {
    margin-right: 0;
    margin-bottom: 75px;
  }
  .insurance__title-middle {
    margin-left: 80px;
  }
  .insurance__title-right {
    margin-right: 24px;
  }
  .insurance__wrapper-heading {
    margin-bottom: 50px;
  }
  .insurance__wrapper-text {
    margin-left: 80px;
    margin-bottom: 30px;
  }
  .advantages__container {
    padding: 130px 20px 460px;
  }
  .advantages__title {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 25px;
    font-size: 46px;
  }
  .advantages__title-middle {
    margin-left: 0;
  }
  .advantages__title-right {
    margin-left: 60px;
  }
  .advantages__text {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-right: 0;
    margin-left: 60px;
    margin-bottom: 80px;
  }
  .advantages__items {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .advantages__item-number {
    width: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
  }
  .advantages__about {
    width: 530px;
    height: 530px;
    bottom: -200px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .advantages__about-number {
    font-size: 120px;
  }
  .advantages__about-text span {
    font-size: 18px;
  }
  .services::before {
    height: 900px;
    background-position: 10% bottom;
  }
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 90px;
  }
  .services__title {
    margin-bottom: 65px;
  }
  .services__title-wrapper {
    margin-left: 60px;
  }
  .services__slider .swiper-pagination-progressbar {
    bottom: -70px;
  }
  .services__slide {
    padding: 30px 35px;
    width: 300px;
    min-height: 230px;
  }
  .services__slide-heading {
    font-size: 22px;
  }
  .services__slide-text {
    max-width: 150px;
    font-size: 14px;
  }
  .services__slide-button {
    right: 40px;
    width: 70px;
  }
  .services__slide-button svg {
    height: auto;
  }
  .services .tabs__caption {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .services .tabs__caption-item::before {
    bottom: -40px;
  }
  .license__container {
    padding: 100px 20px 650px;
  }
  .license__title {
    margin-left: 0;
  }
  .license__title-top {
    margin-left: 30px;
  }
  .license__title-bottom {
    margin-left: 65px;
  }
  .license__subtitle {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-right: 0;
    margin-left: 65px;
    margin-bottom: 45px;
  }
  .license__text {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-left: 65px;
    margin-bottom: 80px;
  }
  .license__button {
    position: relative;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 270px;
  }
  .target {
    width: 1000px;
    height: 1000px;
    padding: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .target__container {
    width: 100vw;
    max-width: 480px;
    min-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .target__title {
    margin-bottom: 45px;
    left: 0;
  }
  .target__title-wrapper {
    margin-left: 80px;
  }
  .target__overtitle {
    margin-bottom: 100px;
    margin-left: 80px;
  }
  .target__overtitle-wrapper {
    margin-bottom: 50px;
  }
  .target__text {
    margin-left: 80px;
  }
  .strategy__container {
    padding: 650px 20px 155px;
  }
  .strategy__title {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 40px;
  }
  .strategy__title br {
    display: none;
  }
  .strategy__title-middle {
    margin-left: 80px;
  }
  .strategy__title-right {
    margin-right: 0;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .strategy__text {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 80px;
    max-width: 260px;
  }
  .strategy__text-around {
    left: 0;
    bottom: 100px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .strategy__button {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, -50px);
        -ms-transform: translate(-50%, -50px);
            transform: translate(-50%, -50px);
    white-space: nowrap;
  }
  .blog {
    padding: 150px 0;
  }
  .blog__title {
    margin-bottom: 80px;
  }
  .blog__slider .swiper-pagination-progressbar {
    bottom: -30px;
  }
  .blog .article {
    width: 960px;
  }
  .blog .article__preview {
    height: 175px;
  }
  .blog .article__button {
    right: 40px;
    width: 70px;
    height: 70px;
  }
  .blog .article__button svg {
    width: 55px;
    height: auto;
  }
  .blog .article__wrapper {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog .article__date {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .blog .article__date span {
    margin-left: 15px;
    font-size: 12px;
    top: 10px;
  }
  .blog .article__text {
    max-width: 100%;
  }
}
