// font-weight helper:

// 100 Thin;
// 200 Extra Light or Ultra Light; 
// 300 Light;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black



@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff')


@include font('Roboto', normal, 400, '../fonts/Roboto-Regular.woff')

@include font('Roboto', normal, 300, '../fonts/Roboto-Light.woff')
@include font('Roboto', italic, 300, '../fonts/Roboto-LightItalic.woff')

@include font('Roboto', normal, 500, '../fonts/Roboto-Medium.woff')
@include font('Roboto', italic, 500, '../fonts/Roboto-MediumItalic.woff')

@include font('Roboto', normal, 700, '../fonts/Roboto-Bold.woff')
@include font('Roboto', italic, 700, '../fonts/Roboto-BoldItalic.woff')

@include font('Roboto', normal, 800, '../fonts/Roboto-Black.woff')
@include font('Roboto', italic, 800, '../fonts/Roboto-BlackItalic.woff')