@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)

	// Главный экран
	.main
		&__image
			width: 820px
			left: -50px
		&__decor
			max-width: 50vw
	// eof


	// Инфо
	.info
		&__video
			height: 400px
	// eof



@media only screen and (max-width : 1200px)

	// Общие стили для сайта
	.container
		max-width: 960px
	// eof
	


	// Шапка
	.header
		&__container
			padding-left: 15px
	// eof


	// Главный экран
	.main
		&__image
			width: 600px
			left: 0
		&__container-inner
			max-width: 400px
		&__title
			font-size: 46px
		&__text
			line-height: 1.5
	// eof


	// Коллекция
	.collection
		&__slider
			left: 55%
	// eof


	// Инфо
	.info
		&__title
			width: 400px
	// eof


	// Команда
	.team
		&__item
			margin-right: 10px
			&:last-child
				margin: 0
			&-wrapper
				padding-left: 25px
	// eof


	// Покупка
	.buy
		&__title
			line-height: 1.3
			margin-bottom: 15px
			span
				display: block
				line-height: 1
		&__info
			max-width: 480px
		&__img
			width: 360px
	// eof


/*  Small Devices, Tablets */
@media only screen and (max-width : 990px)

	.body-wrapper
		overflow: hidden


	// Общие стили для сайта
	body
		font-size: 16px

	.fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section 
		height: auto!important

	.container
		max-width: 540px

	.title
		font-size: 28px

	.flex-center
		padding: 50px 0
		display: block
	// eof


	// Микро-анимация элеменотов
	.underline-anime
		&::before
			display: none
	// eof
	

	
	// Шапка
	.header
		&__menu
			width: 225px
			height: calc(100vh - 64px)
			position: fixed
			top: 64px
			right: -225px
			flex-direction: column
			align-items: flex-start
			background-color: $blue
			overflow-y: auto
			transition: .6s
			z-index: 10
			&.visible
				right: 0
			&-item
				margin-right: 0
				padding: 15px 25px
				border-bottom: 1px solid rgba(255, 255, 255, 0.2)
				width: 100%
				color: #fff
		&__social
			margin-right: 0
			&-item
				margin-right: 12px
		&__wrapper
			width: 100%
			justify-content: space-between
		&__button
			height: 44px
			font-size: 16px
		&__hamburger
			display: flex
			&-plug
				position: fixed
				left: 0
				top: 64px
				width: 100vw
				height: calc(100vh - 64px)
				background-color: #256b9d
				opacity: 0.6
				z-index: 9
	// eof


	// Главный экран
	.main
		&__container
			flex-direction: column
			padding-top: 94px
			&-inner
				max-width: 100%
		&__image
			position: relative
			left: 30px
			max-width: calc(100vw + 90px)
			min-width: 450px
		&__decor
			max-width: 80vw
	// eof


	// Приюты
	.shelters
		&__slider
			padding-bottom: 50px
			margin-bottom: 30px
		&__slide
			width: 260px
			&-wrapper
				padding-right: 0
			&-info
				top: 200px
				padding: 10px 15px
				border-radius: 10px
				&::after
					width: 26px
					height: 26px
			&-heading
				font-size: 18px
				line-height: 1.3
				margin-bottom: 0
			&-link
				font-size: 12px
		&__pagination
			position: absolute
			bottom: 50px
	// eof


	// Надежность
	.security
		&__hashtag-item
			width: 230px
	// eof


	// Коллекция
	.collection
		&__slider
			left: 0
			bottom: 0
			transform: none
			display: none
			&-mobile
				margin: 30px 0
				display: block
				&._reverse
					margin: 0
		&__slide
			height: auto
			&.swiper-slide-active .collection__slide-img
				width: auto
				height: auto
		&__bottom-line
			flex-direction: column
			justify-content: center
			margin-top: 45px
		&__button
			width: 100%
			margin:
				right: 0
				top: 40px
		&__decor
			order: -1
	// eof



	// Инфо
	.info
		&__title
			width: 100%
		&__video
			height: 300px
			&:hover::before
				transform: translate(-50%, -50%) scale(1)
		&__flex-box
			flex-direction: column
		&__title
			margin-bottom: 25px
		&__text 
			margin-bottom: 20px
			line-height: 1.5
			span 
				margin-top: 25px
				max-width: 260px
		.security__hashtag
			display: flex
			&-item
				width: 100%
				color: #fff
	// eof


	// Команда
	.team
		background-image: url('../img/team__decor-mobile.svg')
		&__container
			margin-top: 50px
			flex-direction: column
		&__item
			display: flex
			align-items: center
			margin:
				right: 0
				bottom: 20px
			&-wrapper
				padding-left: 25px
			&-img
				width: 115px
				margin-bottom: 0
	// eof


	// Покупка
	.buy
		background-image: url('../img/buy/decor-mobile.svg')
		background-size: cover
		padding: 50px 0
		&__container
			flex-direction: column
			align-items: flex-start
			&-inner
				margin-bottom: 30px
				display: flex
				justify-content: space-between
				align-items: center
				width: 100%
		&__title
			font-size: 20px
			line-height: 1.3
			span
				font-size: 60px
		&__subtitle
			margin-bottom: 0
			font-size: 18px
		&__amount
			width: 140px
			height: 40px
			font-size: 16px
			border-radius: 8px
		&__info
			max-width: 100%
		&__img
			max-width: 340px
			width: 100%
		&__calc
			&-price, &-total
				font-size: 28px
			&-total
				width: 64px
			&-val
				width: 46px
				height: 46px
				font-size: 20px
	// eof


	// FAQ
	.faq
		&__title
			margin-bottom: 60px
		&__captions
			display: none
		&__container
			flex-direction: column
			align-items: center
		&__slider
			min-height: auto
			padding-bottom: 40px
			margin-bottom: 40px
			.slick-dots
				li
					transition: .2s
					&::before
						transition: .2s
		&__slide
			&-heading
				font-size: 24px
			&-text 
				line-height: 1.5
	// eof


	// Footer
	.footer
		&__contacts
			padding-left: 0
	// eof



/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px)
	
	// Главный экран
	.main
		&__title
			font-size: 36px
		&__note
			font-size: 16px
			max-width: 170px
		&__decor
			background-image: url('../img/main__decor-mobile.svg')
			background-position: center top
			background-size: cover
			max-width: 100vw
			height: 360px
	// eof


	// Надежность
	.security
		background-image: url('../img/security__bg-mobile.svg')
		background-position: center bottom
		&__title
			margin-bottom: 20px
			font-size: 20px
			span
				font-size: 70px
		&__subtitle
			margin-bottom: 25px
			max-width: 320px
		&__hashtag
			margin-bottom: 100px
			flex-direction: column
			&-item
				width: 210px
				height: 45px
				font-size: 16px
				margin: 
					right: 0
					bottom: 10px
	// eof


	// Инфо
	.info
		&__video
			height: 230px
	// eof


	// Коллекция
	.collection
		&__subtitle
			font-size: 14px
			margin-top: 5px
		.slide-img
			width: 180px
			height: auto
	// eof


	// Footer
	.footer
		background-image: url('../img/footer__decor-mobile.svg')
		&__title
			font-size: 70px
		&__subtitle
			font-size: 20px
		&__caption
			font-size: 18px
			padding: 15px 0
		&__contacts
			flex-direction: column
			align-items: flex-start
			&-item
				margin: 
					right: 0
					bottom: 30px
		.security__hashtag
			width: 100%
			&-item
				width: 100%
	// eof
