@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)

	// General
	.container
		max-width: 1040px
	//

	// Header
	.header
		&__link
			margin-right: 30px
	//

	// Main screen
	.main
		background-image: url('../img/main-image_mid.png')
		background-position: center
		&__title
			max-width: 580px
			font-size: 40px
		&__text
			max-width: 480px
			font-size: 16px
	//

/*	Small Devices, Tablets */
@media only screen and (max-width : 1040px)

	// General
	.container
		max-width: 640px
	//

	// Header
	.header
		&__logo
			width: 130px
		&__btn
			width: 200px
			font-size: 13px
	//

	// Main screen
	.main
		min-height: 600px
		&__container
			padding: 50px 0
			height: calc(100% - 110px)
			min-height: 500px
		&__title
			margin-bottom: 20px
		&__text
			margin-bottom: 40px
		&__wrapper
			flex-direction: column
			align-items: flex-start
		&__btn
			width: 210px
		&__social
			margin-left: 0
			margin-top: 30px
			&-item
				margin-right: 20px
	//

@media only screen and (max-width : 768px)

	// General
	.container
		max-width: 390px
	//

	// Header
	.header
		&__logo
			width: 80px
		&__btn
			width: 150px
			font-size: 12px
		&__link
			margin-right: 10px
			font-size: 12px
	//

	// Main screen
	.main
		&__container
			padding: 50px 0
			height: calc(100% - 110px)
			min-height: 500px
		&__title
			font-size: 25px
			max-width: 310px
		&__text
			margin-bottom: 30px
			max-width: 280px
			font-size: 14px
		&__wrapper
			flex-direction: column
			align-items: flex-start
		&__btn
			width: 210px
		&__social
			margin-left: 0
			margin-top: 30px
			&-item
				margin-right: 20px
	//
