
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1350px)
	//

@media only screen and (max-width : 1240px)
	.delivery-return
		&__box 
			flex: 0 0 36%
			max-width: 36%
		&__content 
			flex: 0 0 62%
			max-width: 62%


/*  Small Devices, Tablets */
@media only screen and (max-width : 992px)

	.header
		padding: 0
		position: relative
		&.fixed
			.header-card
				padding-bottom: 3px
			.header-card__buy-wrapper
				.card__buy-btn
					width: 100px

			.header__catalog_mobile
				
				display: flex
				align-items: center
				justify-content: center
				line-height: 1.2
				border-top: 1px solid #EFF4FA
				padding: 10px 0
				&::before
					content: ''
					background-image: url('../img/icons/catalog.svg')
					width: 15px
					height: 15px
					background-size: contain
					background-repeat: no-repeat
					background-position: center
					margin-right: 10px
					display: flex
					position: relative
					bottom: 1px
		&__flex-box
			align-items: center
			padding: 10px 0
		&__inner 
			align-items: center	
		&__logo
			width: 140px
		&__wrapper
			flex: 1 0 auto
			max-width: 170px
		&__box
			max-width: 170px
			margin-left: 15px
		&__menu, &__catalog, &__selection
			display: none
		&__hamburger
			display: flex
		.search
			display: none
			position: static
			&__form
				width: 
				left: 20px
				right: auto
				top: 100%
				width: calc(100% - 30px)
				margin-top: 20px
				transform: none
		.search-mob
			display: block
		.burger-icon
			display: block
		

	.main 
		.swiper-btns-container
			justify-content: flex-start
			top: -20px
		.swiper-slide__title
			padding-top: 100px
	
	.about
		&-box 
			flex: 0 0 100%
		&-image 
			flex: 0 0 100%
			padding-bottom: 42%
			margin-top: 18px
	
	.products	
		padding-top: 24px
		&-item 
			flex: 0 0 100%
			overflow: hidden
			min-height: 75px
			align-items: flex-start
			justify-content: center
			padding: 23px
			margin-left: 0
			margin-bottom: 8px
			border-radius: 16px
			background: linear-gradient(137.82deg, #99D6FA -12.93%, #73A5D5 96.86%)
			&:nth-child(2):hover
				background: linear-gradient(0deg, #649CD1, #649CD1)
			&:nth-child(3):hover
				background: linear-gradient(0deg, #649CD1, #649CD1)
			&:nth-child(4):hover
				background: linear-gradient(0deg, #649CD1, #649CD1)
			&:nth-child(5):hover
				background: linear-gradient(0deg, #649CD1, #649CD1)
			&:nth-child(6):hover
				background: linear-gradient(0deg, #649CD1, #649CD1)
			&:hover
				background: linear-gradient(0deg, #649CD1, #649CD1)	
				.products-item__img
					display: block
				.products-item__list 
					display: none
				.products__more-hover
					display: none
			&__title 
				font-size: 24px
			&__img 
				max-width: 50%	
				bottom: auto
				right: 0
				top: 70%	
				transform: translate(0, -50%)
				left: auto
				opacity: 0.5
			
		&__more 
			display: none		
	
	.blog
		&-wrapper
			&__aside
				flex: 0 0 100%
				max-width: 100%
			&__content
				flex: 0 0 100%
				max-width: 100%
				flex-wrap: wrap
		&-box
			justify-content: space-between
			align-items: flex-end
			margin-bottom: 6px
			padding: 8px 18px
			min-height: 102px
			&__title 
				font-size: 22px
			&__more 
				display: block
				color: #fff  
				padding: 0    		
				&::after
					display: none
		&__more
			display: none
	.catalog-btn
		display: flex
		margin-top: 5px	



	.tonometers-tabs
		&__item
			flex: 0 0 148px
		&__img 
			min-height: 92px
	.tonometers
		padding-bottom: 0px
		&-item__box 
			padding: 12px 8px
		&-item
			
			margin-bottom: 7px
			&__img 
				height: 122px	
				padding-bottom: 16px
			&__name 
				font-size: 11px
				font-weight: 600	
				line-height: 14px
				padding-top: 8px
				padding-bottom: 7px
			&__text
				font-size: 9px
				line-height: 11px
			&__el
				font-size: 9px
				line-height: 11px
				&::before
					top: 5px
			&__price
				&_prev
					font-size: 8px
				&_new
					font-size: 11px
				&_basic
					font-size: 11px
			&__buy 
				font-size: 12px
				height: 30px
				width: 100px
			&__present 
				min-height: 35px
				&_name
					font-size: 10px
					&::before
						transform: scale(0.5) translate(0, -50%)
						top: 12%
						left: -40px
			&__modification
				font-size: 8px
			&__sticker 
				width: 59px
				height: 15px
			&__notavailable
				font-size: 9px
				height: 20px

	.tonometers-slider
		padding-bottom: 0
		&__title
			padding-bottom: 14px
		&__wrapper 
			.slick-list
				margin: 0 -2.5px
			.slick-slide
				margin: 0 2.5px

	.service-btn
   	flex: 0 0 50%
   	max-width: 50%



	.delivery-info
		padding-bottom: 45px
		&__box 
			flex: 0 0 30%
			max-width: 30%
		&__content 
			flex: 0 0 68%
			max-width: 68%
	.delivery-pay
		padding-bottom: 53px
		&__col 
			flex: 0 0 30%
			max-width: 30%
		&__content 
			flex: 0 0 68%
			max-width: 68%



	.about-main
		&__box
			padding: 15px
			margin-right: 15px
		&__img
			&._long-img
				margin-right: 15px
	.about-mission
		padding-top: 100px
		&__text:first-child
			margin-bottom: 17px
	.about-philosophy
		padding-top: 100px
		&__box
			padding: 15px
			

	.contacts-writeus
		&__form 
			flex: 0 0 66%
			max-width: 66%
	
	.sales-article
		&__title
			font-size: 16px
			line-height: 21px


	.selection
		padding-bottom: 45px
		&__title
			margin-bottom: 12px
			text-align: left
		&__subtitle
			margin-bottom: 30px
			font-size: 16px
		&-main
			padding: 20px 23px 27px
			&__wrapper
				label
					flex: 0 0 100%
				span 
					margin-bottom: 10px	
					height: 44px
					font-size: 18px
			&__name
				font-size: 20px
				margin-bottom: 18px
			&__link 
				padding: 0
				margin-bottom: 18px
				&::after 
					display: none
			&__btn 
				height: 52px
				margin-top: 25px
				border-radius: 37px
					
	.compare__title
		padding-bottom: 9px
	.compare-items
		padding-bottom: 35px
		&__title 
			margin-bottom: 15px
		&__link
			height: 44px
			font-size: 17px
			margin-top: 13px
		&__close
			width: 16px
			height: 16px
			margin-left: 5px


	.comparing
		.container
			z-index: 1
			position: relative
			overflow: auto
		&__wrapper
			overflow-x: auto
		&__row 
			justify-content: flex-start
		&__items
			flex: 0 0 100%
			justify-content: space-between
			margin: 0
		&__item 
			margin: 0
			flex: 0 0 170px
			position: relative
			&::before
				content: ''
				height: 207px
				width: 1px
				background-color: #95A3B0
				position: absolute
				right: -5px
				top: -5px
			&::after
				content: ''
				height: 1px
				width: 155px
				background-color: #95A3B0
				position: absolute
				top: 63%
				left: 10px
			&-text 
				font-size: 11px
			&-price 
				font-size: 12px
			&-img 
				max-height: 120px
			.cart
				margin-right: 30px
				width: 22px
				height: 22px
			&-close 
				bottom: 12px
				right: 12px
				top: auto
				left: auto
		&__features 
			min-width: 510px
			padding: 0
			background: transparent
			&-row
				min-width: 100%	
				flex-wrap: wrap
				padding: 0		
		&__name 
			
			text-align: center
			min-width: 100%
			background: #EFF4FA
			
			// display: flex
			// align-items: center
			// justify-content: center
			font-size: 16px
			padding: 12px 0
			position: relative
			
			&-inner
				
				text-align: center
				position: sticky
				max-width: 200px	
				top: 0
				left: 50%
				
				transform: translate(-50%, 0)
				white-space: nowrap
				
		&__values
			flex: 0 0 100%
			text-align: center
			justify-content: space-between
			padding: 10px 0
		&__value 
			
			padding: 0
			flex: 0 0 170px
			font-size: 14px
		&__back 
			margin-bottom: 0

			
		





	.order-form
		&__info
			flex: 0 0 100%
			max-width: 100%
		&__content
			flex: 0 0 100%
			max-width: 100%
			&_heading 
				padding: 0
				display: block
			&_main 
				border: none
				padding: 0
			&_bottom
				order: -1
				margin: 0 0 28px
				padding: 0
			&-title
				text-align: center
				margin-bottom: 13px
		&__goods
			border: 1px solid #95A3B0
			border-radius: 16px
			padding: 16px 13px
			margin-bottom: 15px
		&__item 
			&:last-child
				border: none
				margin-bottom: 0
		&__edit
			display: block
			margin-left: 30px
			margin-bottom: 9px
			span
				display: inline-block

	.basket-popup
		padding: 35px 15px 20px
		&__item
			padding: 16px 13px

	.features
		&__content
			padding: 0 25px

	.description
		&__img 
			margin: 0
		&__content 
			flex: 0 0 55%
	
	.card
		&__sliders 
			max-width: 300px
		&__content 
			max-width: 350px
		&__buy-btn
			margin: 0
			width: 150px
		&__delivery
			margin-top: 5px
		&__size
			margin-top: 5px
		&__gift
			margin: 10px 0 15px


	.footer
		padding-top: 60px
		&-wrapper
			display: block
			width: 100%
			&::before
				display: block
		&-copyrights
			display: none
			&-clon
				display: block
				font-weight: normal
				font-size: 11px
				line-height: 13px
				text-align: center
				padding: 13px 0
		&-aside
			max-width: 160px
			margin: 0 auto
		&-catalog
			display: none
		&-clients
			display: none
		&-content
			padding: 0
			display: block
			max-width: 100%
			&::before
				display: none
		&-contacts
			text-align: center
			&__heading
				display: none
			&__link
				margin: 0 auto 20px
			&__tel
				font-size: 20px
			&__caption
				max-width: 180px
				margin: 0 auto
				padding: 6px 0 9px
			&__time
				font-size: 16px
			&__text
				font-size: 16px
		&-social
			padding: 20px 0
			max-width: 375px
			margin: 0 auto
			flex-direction: row
			justify-content: space-evenly
			align-items: center
			&__heading
				display: none
			&__caption
				display: none
			&__text
				display: none
			&__link
				display: block
				margin: 0
				&:last-child
					svg 
						width: 75px
	

@media only screen and (max-width : 768px)
	.h2 
		font-size: 20px
	.pagination
		padding: 15px 5px
		&__item
			font-size: 10px

	.header
		&.fixed
			.header-card__nav
				padding-top: 5px
				padding-bottom: 10px
				overflow-x: auto
			.header-card__buy-wrapper
				display: none
	.sale
		padding: 19px 0 32px
		&-wrapper 
			flex-wrap: wrap
			&__aside 
				flex: 0 0 100%
			&__content
				flex: 0 0 100%
				max-width: 100%
		&__more 
			display: none
		&-box 
			min-height: 102px
			padding: 11px 18px
			justify-content: space-between
			margin-bottom: 6px
			&__more 
				display: block
				color: #fff
				padding: 0
				&::after
					display: none
		&-title 
			font-size: 22px
		.swiper-pagination
			right: 50%
			transform: translate(50%, 0)	
	.about
		&-wrapper
			flex-wrap: wrap
			&__aside 
				flex: 0 0 100%
				max-width: 100%
			&__content 
				flex: 0 0 100%
				max-width: 100%
		&-box 
			min-height: 102px
			justify-content: space-between

			padding: 18px
			&__more
				display: block
				color: #fff
				padding: 0
				&::after 
					display: none
		&-logo
			max-width: 130px
		&-image 
			display: none
			&._longer
				display: block
		&__title 
			padding: 14px 0 19px
		&__text 
			font-size: 16px
			margin-bottom: 20px
		&__more 
			display: none

	.error
		min-height: 400px
		&__title
			font-size: 18px
			letter-spacing: 0.1em
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%
		&__link 
			bottom: 0
			left: 50%
			transform: translate(-50%, 50%)
	.order-success
		padding-top: 50px
		&__title 
			margin-bottom: 30px
		&__text 
			margin-bottom: 80px
		&__btns
			display: block
			margin: 0
			width: 100%
		&__home 
			margin: 0
			width: 100%
			margin-bottom: 10px
		&__select 
			width: 100%
			margin: 0

	.tonometers-tags
		display: none
	.tonometers
		&__aside 
			display: none
		&__content
			padding-top: 20px
			flex: 0 0 100%
			max-width: 100%
		&-sort 
			justify-content: space-between
			margin-bottom: 17px
			&__amount
				display: none
			&__selection 
				width: 48%
				&-text 
					display: none
				// span 
				// 	display: none 
			&__select 
				//padding-left: 35px
				width: 100%
			&__btn
				display: block
				flex: 0 0 48%
				background: #649CD1
				border-radius: 21px
				height: 27px
				color: #fff
				font-weight: 600
				font-size: 12px
				display: flex
				align-items: center
				justify-content: center	
		&-item
			&__bottom
				height: auto
			&__btns 
				.cart, .compare, .tonometers-item__buy
					height: 16px
				.tonometers-item__buy
					font-size: 8px
					width: 70px
					margin-right: 5px
				.compare
					svg
						width: 100%
						height: 100%
			&._gift
				&:hover
					.tonometers-item__present
						display: none
		&-item__box:hover
         position: relative
         
         .tonometers-item__features
            display: none
         .tonometers-item__buy
            display: none
         .cart.header__button
            display: block

					
				
		
	.tonometers-slider
		&__row 
			padding-bottom: 14px
		&__arrows
			display: none
	.tonometers-dropdown
		.tonometers-sort__amount
			display: block


	.sale-page
		&__main 
			padding-top: 0
		&__wrapper
			flex-wrap: wrap
		&__img
			flex: 0 0 100%
			padding-bottom: 48%
			margin-bottom: 14px
		&__content
			flex: 0 0 100%
		&__title-products
			padding-bottom: 0
			font-size: 18px
	.countdown
		max-width: 100%


	.selection
		&-product__title
			display: block



	.blog-item
		flex: 0 0 100%
		max-width: 100%
		flex-direction: row
		justify-content: space-between
		align-items: center
		margin-bottom: 6px
		&__img 
			flex: 0 0 36%
			max-width: 36%
			padding-bottom: 26%!important
			height: 100%
		&__title
			flex: 0 0 60%
			font-size: 15px
			line-height: 20px
			padding: 0
		&__more 
			display: none
	.blog
		padding: 0



	.service-garancy
		padding: 30px 0
		&__row
			align-items: flex-end
			padding: 10px 15px
			margin: 0 -15px			
		&__term
			flex: 0 0 26%
			max-width: 26%
			text-align: right
			font-size: 18px
			line-height: 24px
			span
				font-size: 14px
				line-height: 19px
			&._long
				flex: 0 0 100%
				max-width: 100%
				padding-top: 17px
		&__text 
			flex: 0 0 70%
			max-width: 70%
			font-size: 16px
			line-height: 20px
	.service-btn
		height: 112px
		margin: 0 3.5px
		border-radius: 16px
		flex-direction: column
		justify-content: center
		font-size: 16px
		&__icon 
			position: static
			margin-bottom: 15px
		&__name 
			position: static
	.service-map
		&__img 
			min-height: 223px	
		&__dot
			width: 14px
			height: 21px
		&__popup
			width: 170px
			padding: 33px 19px 10px 16px
			&_text
				font-size: 12px
				span
					margin-bottom: 3px
	.service-questions
   	&__item
      	margin-bottom: 4px
	.service-links
		padding-bottom: 28px


	.delivery-main
		min-height: 223px
	.delivery-info
		padding-top: 15px
		&__box 
			flex: 0 0 100%
			max-width: 100%
			min-height: 90px
			padding: 20px
			justify-content: flex-start
		&__title 
			font-size: 22px
			line-height: 28px
		&__content
			flex: 0 0 100%
			max-width: 100%
		&__text
			font-size: 16px
			line-height: 22px
			padding-top: 10px
			margin-bottom: 25px
			&:last-child
				margin: 0
				padding: 0
	.delivery-pay
		
		&__content
			flex: 0 0 100%
			max-width: 100%
		&__col
			flex: 0 0 100%
			max-width: 100%
		&__box 
			padding: 20px
			justify-content: flex-start
		&__title 
			font-size: 22px
			line-height: 28px
		&__text
			font-size: 16px
			line-height: 22px
			&:first-child
				padding-top: 10px
				margin-bottom: 25px
			&:last-child
				display: none
		&__img 
			height: 130px
			order: 2
			margin-bottom: 10px
		&__box
			height: 90px
			margin-bottom: 22px
	.delivery-return
		padding-bottom: 40px
		&__box 
			flex: 0 0 100%
			max-width: 100%
			min-height: 90px
			padding: 20px
			justify-content: flex-start
		&__title 
			font-size: 22px
			line-height: 28px
		&__content 
			flex: 0 0 100%
			max-width: 100%
		&__text
			font-size: 16px
			line-height: 22px
			padding-top: 10px
			margin-bottom: 25px



	.about-main
		&__wrapper
			justify-content: space-between
		&__box
			flex: 0 0 49%
			max-width: 49%
			order: -2
			margin-right: 0
			padding: 18px 13px
			min-height: 192px
		&__content
			flex: 0 0 100%
			max-width: 100%
			padding: 20px 0
		&__img
			flex: 0 0 49%
			max-width: 49%
			order: -1
			min-height: 192px
			margin-top: 0
			&._long-img
				flex: 0 0 100%
				max-width: 100%
				margin-right: 0
				min-height: 179px	
				order: 2
		&__logo
			width: 95%
		&__text
			font-size: 16px
			line-height: 21px
	.about-title
		padding: 5px 0 20px
	.about-mission
		padding-top: 32px
		&__wrapper
			justify-content: space-between
		&__box
			flex: 0 0 100%
			max-width: 100%
			order: -2
			margin-right: 0
			margin-bottom: 8px
			padding: 18px 13px
			min-height: 90px
			justify-content: flex-start
		&__title 
			font-size: 22px
			line-height: 28px
		&__content
			flex: 0 0 100%
			max-width: 100%
			padding: 28px 0
		&__img
			flex: 0 0 100%
			max-width: 100%
			order: -1
			min-height: 133px
			margin-top: 0
			&._long-img
				flex: 0 0 100%
				max-width: 100%
				margin-left: 0
				min-height: 167px	
				order: 2
		&__text
			font-size: 16px
			line-height: 21px
		&__caption
			font-size: 16px
			line-height: 21px
			margin-top: 18px
	.about-philosophy
		padding-top: 32px
		&__box
			flex: 0 0 100%
			max-width: 100%
			order: -2
			margin-right: 0
			padding: 18px 13px
			min-height: 100px
			justify-content: flex-start
		&__title 
			font-size: 22px
			line-height: 28px
		&__content
			flex: 0 0 100%
			max-width: 100%
			display: flex
			flex-direction: column
			padding: 10px 0 0
		&__img
			flex: 0 0 100%
			max-width: 100%
			order: 2
			min-height: 216px
			margin-top: 20px
			
		&__text
			font-size: 16px
			line-height: 21px
	.about-standarts
		padding-top: 0
		padding-bottom: 23px
		&__images 
			padding: 30px 0	
			justify-content: space-between
		&__img 
			max-width: 15%
			max-height: 26px
		&__caption
			position: static
			display: block
			padding: 10px 0 17px 0
			max-width: none
			border-bottom: 1px solid #95A3B0
			font-size: 13px
			line-height: 17px
		



	.contacts-main
		min-height: 223px
		background: url(../img/contacts/bg.png) 35% 50%/cover no-repeat
	.contacts-support
		padding: 14px 0 33px
		&__box 
			flex: 0 0 100%
			max-width: 100%
			justify-content: flex-start
			min-height: 110px
			padding: 15px 25px
		&__title 
			text-align: left
			max-width: 170px
			font-size: 22px
			line-height: 28px
		&__content 
			flex: 0 0 100%
			max-width: 100%
			text-align: center
		&__subtext
			font-size: 13px
			line-height: 18px
			max-width: none
		&__link 
			margin: 0 auto
			max-width: 215px
		&__text 
			margin: 22px 0 17px
			font-size: 16px
			line-height: 24px
	.contacts-shop
		padding: 0 0 40px
		&__box 
			flex: 0 0 100%
			max-width: 100%
			justify-content: flex-start
			min-height: 110px
			padding: 15px 25px
			order: -1
		&__title 
			font-size: 22px
			line-height: 28px
		&__content 
			flex: 0 0 100%
			max-width: 100%
			text-align: center
		&__subtext
			font-size: 13px
			line-height: 18px
			max-width: none
		&__link 
			margin: 0 auto
			max-width: 215px
		&__text 
			font-size: 16px
			line-height: 24px
			margin: 22px 0 17px
	.contacts-departments
		padding-bottom: 30px
		&__title 
			font-size: 22px
			line-height: 28px
		&__box
			min-height: 110px
			padding: 19px 27px
		&__row
			padding: 14px 32px
		&__city
			flex: 0 0 100%
			max-width: 100%
			font-size: 16px
			line-height: 21px
			margin-bottom: 7px
		&__address
			flex: 0 0 100%
			max-width: 100%
			font-size: 16px
			line-height: 21px
			font-weight: 500
	.contacts-writeus
		padding-bottom: 39px
		&__form 
			flex: 0 0 100%
			max-width: 100%
			height: 322px
			input
				width: 100%
				height: 30px
			textarea
				width: 100%
				border-radius: 10px
		&__select
			width: 100%
		&__box 
			flex: 0 0 100%
			max-width: 100%
			justify-content: flex-start
			min-height: 78px
			padding: 15px 25px
			margin-bottom: 19px
		&__title 
			font-size: 22px
			line-height: 28px
	.contacts-partners
		padding-bottom: 0
		&__wrapper
			padding: 35px 0
		&__img
		&__caption
			right: 15px
			font-size: 16px
			line-height: 21px
			



	.blog-title
		padding-bottom: 12px
		.tonometers-sort__btn
			max-width: 50%
			margin-top: 5px
	.blog-main
		.blog-aside
			display: none
		.blog-content
   	   flex: 0 0 100%
   	   max-width: 100%
	.blog-article
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 32px
		&__img 
			padding-bottom: 49%
		&__title
			min-height: auto
			padding: 10px 0 8px
			font-size: 16px
			line-height: 21px
		&__text
			font-size: 16px
			line-height: 22px
			padding-bottom: 16px
		&__date
			font-size: 12px
			line-height: 16px


	.features
		padding-top: 20px
		&__wrapper 
			margin: 0 -15px
			padding-bottom: 10px
			padding-top: 20px
			border-radius: 0
		&__title 
			margin-bottom: 25px
		&__col 
			flex: 0 0 100%
		&__name 
			flex: 0 0 60%
			padding-bottom: 10px
			border-bottom: 1px solid $grey
			font-size: 14px
		&__value 
			padding-left: 10px
			font-size: 14px
			flex: 0 0 40%
			padding-bottom: 10px
			border-bottom: 1px solid $grey
	.video-review
		padding-bottom: 30px
		&__title
			margin-bottom: 10px
	.instructions
		position: relative
		left: -15px
		width: calc( 100% + 30px )
		margin-bottom: 50px
		&__wrapper 
			border-radius: 0	
			padding: 27px 0 33px
		&__title
			margin-bottom: 34px
		&__item
			&-link 
				svg 
					width: 55px
					height: 70px
			&-name
				font-size: 12px
			&-size 
				font-size: 12px
	.description
		padding: 32px 0 10px
		&__title
			margin-bottom: 5px
		&__wrapper
			flex-wrap: wrap
			justify-content: center
			
		&__content
			flex: 0 0 100%
			padding-top: 25px
		&__icons
			
			margin-left: 10px
			&-item 
				padding: 0
			&-img
				width: 32px
				height: 29px
			
			
		&__img 
			flex: 0 0 43%	
			height: auto
			padding-bottom: 60%
	.card
		&__wrapper 
			flex-wrap: wrap
			align-items: center
			position: relative
		&__sliders
			max-width: 100%
		&__slider
			&-item
				display: flex!important
				justify-content: center
			&-img
				justify-content: center
				width: 216px
				height: 244px
			
		&__subslider 
			display: none
		&__content
			flex: 0 0 100%
			max-width: 100%
		&__delivery 
			margin-top: 10px
		&__more 
			margin-top: 5px
			padding: 0
			font-size: 11px
			&::after
				display: none
		&__size 
			&-items
				justify-content: space-between
				width: 100%
			label
				margin: 0
				width: 100%
			span 
				margin: 0 auto
				width: 98%
				text-align: center
				//max-width: 110px
				border-radius: 26px
		&__gift
			margin: 18px 0 27px
		&__code 
			position: absolute
			top: 30px
			right: 0
			font-size: 11px
		&__buy
			&-wrapper 
				flex-wrap: wrap
			&-btn 
				width: 85%
			&-new
				display: block
				margin-bottom: 16px
			&-prev
				display: none
				&._clone 
					display: inline
					margin-left: 5px
			&-compare 
				flex: 0 0 38px
		&-tonometers-slider
			margin-top: 30px
	.fixed-footer
		display: block



	.article-main
		padding-bottom: 27px
		&__img
			min-height: 170px
	.article-title
		font-size: 20px
		line-height: 26px
		text-align: left
		padding-bottom: 13px
	.article-content
		&__text
			font-size: 16px
			line-height: 22px
		&__wrapper 
			padding: 27px 0
			flex-wrap: wrap
		&__img 
			flex: 0 0 100%
			padding-bottom: 50%
			min-height: 151px
			&:first-child
				margin-bottom: 15px			
	.article-video
		iframe 
			min-height: 190px
	.article-new
		padding-bottom: 0px
		&__title
			padding: 34px 0 17px
		.blog-item__img
			padding-bottom: 26%
		&_hidden
			margin-bottom: 0


	.compare-items
		&__link 
			max-width: 100%
		.tonometers-item
			flex: 0 0 48%
			max-width: 48%
			&__box:hover
				position: relative
			

	.basket-popup
		&__item 
			flex-wrap: wrap
			justify-content: flex-start
			&_price 
				font-size: 16px
			&_box 
				flex: 0 0 100%
			&_img 
				flex: 0 0 20%
			&_name
				flex: 0 0 77%
				font-size: 12px
			&_row 
				flex: 0 0 100%
			&_giftbox
				margin-top: 17px
				margin-left: 23%
				order: 2	
			&_gift-img
				width: 31px
				height: 31px
			&_gift
				padding-left: 15px
				&::before 
					font-size: 20px
		&__title 
			margin-bottom: 35px	
		&__total
			font-size: 20px
			&_num
				font-size: 20px
				margin: 0	
		&__amount
			margin-left: 23%
			height: 23px
		&__btns
			margin: 0
			flex-direction: column
			align-items: center
			justify-content: center
		&__continue
			max-width: 100%
			text-align: center
			margin-bottom: 10px
		&__order
			max-width: 100%
			text-align: center
	.cookies
		padding: 10px 40px 10px 15px
		min-height: auto
		&__text 
			font-size: 9px
		&__submit 
			padding: 5px
			max-width: 100px
			font-size: 12px
		&__close
			top: 50%	
			transform: translate(0, -50%)
			right: -30px
	.subscribe
		max-height: 579px
		max-width: 300px
		flex-wrap: wrap
		justify-content: center
		&__img 
			flex: 0 0 100%
			padding-bottom: 85%
		&__logo
			max-width: 175px
		&__text 
			font-size: 14px
			margin-bottom: 20px
		input 
			margin-bottom: 7px
		
			
				

	.order-form
		padding: 15px 0 0
		&__total_price 
			font-size: 20px
		&__item 
			&_name
				font-size: 12px
			&_price
				font-size: 13px
			&_amount 
				margin: 0 0 6px
		&__subtitle
			font-size: 18px
			padding: 15px 0
		&__title 
			text-align: center
			margin-bottom: 17px
		&__info 
			input[type="text"], input[type="tel"], input[type="email"]
				margin-bottom: 6px
				height: 30px
			select 
				margin-bottom: 6px
			input[type="email"]
				margin-top: 6px



	.sales-article
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 31px
		&__title
			font-size: 16px
			line-height: 21px
		&__date 
			font-size: 12px
		&__countdown
			min-height: 80px

@media only screen and (max-width : 576px)
	.h1
		font-size: 20px
		line-height: 26px

	.main 
		.swiper-btns-container
			justify-content: flex-start
			top: -20px
		.swiper-slide
			background: url(../img/main/bg-mobile.jpg) center bottom/cover no-repeat
			min-height: 720px
			&__title
				max-width: 280px
				font-size: 30px
				padding-top: 60px
	.service-title
		padding: 5px 0 10px
	.service-map
		margin-bottom: 25px
		&__img
			margin-bottom: 20px
		&__text
			font-size: 18px
			line-height: 25px
	.service-questions
		padding: 33px 0
		&__item
			padding: 15px 20px 15px 15px
		&__text 
			font-size: 18px
			line-height: 23px
		&__content 
			font-size: 16px
			line-height: 22px
		&__icon 
			&::before
				width: 17px
				height: 5px
			&::after
				width: 5px
				height: 17px
				
		.active .service-questions__content
			padding-top: 10px
	.service-garancy
		&__row
			&:nth-child(even)
				border-radius: 0
	.service-links__item
		margin: 0 2px


	.tonometers-tabs
		&__wrapper
			position: relative
			
			width: calc( 100% + 30px )
			max-width: none
		&__name
			font-size: 11px
			max-width: 100px
			text-align: center
			margin-left: auto
			margin-right: auto
	.tonometers-slider
		&__wrapper 
			.slick-slide
				width: 150px
				margin: 0
				margin-left: 5px
			.slick-list
				margin: 0
				margin-left: -5px
				position: relative
				left: 0px
				width: calc( 100% + 30px )
			
         	
	.photogallery
		padding: 23px 0 46px
		&__slider 
			.slick-slide
				transform: scale(1)
				opacity: 1
				bottom: 0
				max-height: 250px
			.slick-list
				padding: 0!important	
		&__img 
			height: 250px



	.contacts-departments
		&__row
			margin: 0 -15px
			padding: 15px
			&:nth-child(odd)
				border-radius: 0


	.footer
		&-contacts
			&__tel
				font-size: 20px
			&__link
				margin: 0 auto 20px
			&__caption
				max-width: 180px
				margin: 0 auto
				padding: 6px 0 9px
			&__time
				font-size: 16px
			&__text
				font-size: 16px	
		&-social
			background: #EFF4FA
			position: relative
			left: -15px
			width: calc( 100% + 30px )
			max-width: none
		&._contacts 
			.footer-wrapper
				&::before
					display: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.main
		.swiper-slide
			min-height: 530px
	.sale
		.swiper-slide
			padding-bottom: 77%

@media only screen and (min-width : 1200px)
	.container
		max-width: 1170px