@import vars

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)


	// Регистрация
	.p-sign
		.sign
			&__image
				width: 550px
			&__container
				width: calc(100% - 550px)
				&-inner
					width: 650px
	// eof






@media only screen and (max-width : 1300px)
	
	// Регистрация
	.p-sign
		.sign
			&__image
				width: 300px
			&__container
				width: calc(100% - 300px)
				&-inner
					width: 650px
	// eof


/*  Small Devices, Tablets, Mobile */
@media only screen and (max-width : 992px)
	

	// Регистрация
	.p-sign
		.sign
			&__image
				display: none
			&__container
				width: 100%
				margin: 0 auto
				padding: 30px 20px 20px
				align-items: flex-start
				&-inner
					width: 100%
					max-width: 480px
			&__header
				margin-bottom: 40px
				&-link
					display: none
				&-button:hover
					transform: scale(1)
					opacity: 0.2
					.sign__header-button-icon
						& > *
							fill: $black
			&__top
				flex-direction: column
				justify-content: flex-start
				padding-bottom: 40px
				&._flex-column
					.sign__top-text
						font-size: 12px
				&-title
					font-size: 24px
					margin-bottom: 30px
					&._smaller-font
						font-size: 24px
						line-height: 1.4
				&-text
					line-height: 1.7
					max-width: 280px
					letter-spacing: normal
					&-inner
						margin-bottom: 15px
						display: block
						&:last-child
							margin-bottom: 0
			&__form
				&-container
					padding: 40px 0
					gap: 25px
				&-label
					width: 100%
				&-checkbox
					margin-top: 40px
					&-input
						width: 30px
						height: 30px
						&::after
							width: 13px
							height: 13px
					&-text
						font-size: 12px
						line-height: 1.5
						max-width: 170px
				&-bottom
					flex-direction: column
					margin-top: 40px
				&-captcha
					width: 100%
					margin-bottom: 20px
				&-success
					width: 100%
				&-resend
					position: static
			&__register
				margin-top: 80px
	// eof