// Fonts
$default-font: 'Stolzl', sans-serif
$second-font: 'MonumentExtended'

// Colors
$black: #010D00
$light: #F2EEE8

$gray: #4B4B4B
$gray_light: #B6B6B6

$accent: #68B663
$yellow: #EDC644
$red: #EC6A5F






// Bootstrap gutter
$grid-gutter-width: 40px
$gutter: $grid-gutter-width


// Bootstrap custom grid 

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1160px)
