@mixin adaptive($property, $startSize, $minSize, $device)

	@if $device == "desktop"

		$maxWidth: 1920
		$minWidth: 1025
		$maxWidthConainer: 1800

		@media only screen and (min-width : 1025px)

			$addSize: $startSize - $minSize

			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}))

	@if $device == "mobile"

		$maxWidth: 1024
		$minWidth: 375
		$maxWidthConainer: 920

		@media only screen and (max-width : 1025px)

			$addSize: $startSize - $minSize

			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}))
