$default-font: 'Montreal', sans-serif

$accent: #F37B20
$black: #101010

$gray: #707070
$gray-2: #898989
$gray-3: #9F9F9F
$gray-4: #B9B9B9
$gray-5: #838383
$gray-6: #AEAEAE

$line: #969696
$line-2: #4D4D4D
$line-3: #E0E0E0
