@media only screen and (max-width : 1600px)

	// Main
	.main
		&__container
			transform: translateY(-60px)
	//

@media only screen and (max-width : 1280px)

	// General
	.container
		max-width: 1160px

	.title
		font-size: 85px
	//

	// Header
	.header
		&__menu-item
			font-size: 14px
		&__btn
			font-size: 14px
		&__logo
			width: 25px
	//

	// Main
	.main
		&__title
			font-size: 95px
		&__slider
			&-container
				max-width: 850px
	//

	// Blog
	.blog
		&__slider
			&-container
				overflow-x: auto
				padding-bottom: 15px
		.article
			width: 360px
			min-width: 360px
			padding: 30px
			border-radius: 20px
			margin-right: 40px
			&:last-child
				margin-right: 0
			&__image
				height: 200px
			&__date
				font-size: 14px
			&__text
				font-size: 22px
	//

	// Footer
	.footer
		padding-bottom: 70px
	//

@media only screen and (max-width : 1000px)

	// General
	.container
		max-width: 870px

	.title
		font-size: 76px
	//

	// Buttons
	.btn
		font-size: 14px
	//

	// Main
	.main
		&__title
			font-size: 88px
		&__slider
			&-pagination
				width: calc(100% - 100px)
			&-arrows
				left: auto
				right: 0
				transform: translate(0, -50%)
	//

	// About
	.about
		&__text
			font-size: 16px
	//

	// Blog
	.blog
		.article
			&__text
				font-size: 20px
	//

	// Footer
	.footer
	//

@media only screen and (max-width : 850px)

	// General
	.container
		max-width: 720px

	.title
		font-size: 70px
	//

	// Buttons
	.btn
		&__icon
			display: none
		&:hover
			color: #fff
			background-color: rgba(255, 255, 255, 0.1)
	//

	// Header
	.header
		&__menu
			display: none
		&__btn-link
			margin-right: 30px
	//

	// Main
	.main
		&__slider
			height: 140px
			border-radius: 18px
			&-pagination
				width: 100%
			&-arrows
				top: 60px
				transform: none
				z-index: 2
			&-arrow
				height: 40px
				width: 40px
			&-prev
				display: none
			&-next
				background-image: none
				background-color: #fff
				display: flex
				align-items: center
				justify-content: center
				border-radius: 0px 18px
				&::before
					content: ''
					width: 21px
					height: 21px
					background-image: url('../img/icons/slider-next_black.svg')
					background-size: contain
					background-repeat: no-repeat
					background-position: center
			&-caption
				border-radius: 18px 0px
				width: 75px
				height: 40px
				bottom: auto
				top: 60px
				._mobile-hidden
					display: none
			&-date
				margin-right: 0
				margin-bottom: 10px
			&-item
				padding-top: 40px
				padding-left: 0
			&-inner
				padding: 24px 30px
				flex-direction: column
				align-items: flex-start
	//

	// Blog
	.blog
		&__top
			margin-bottom: 60px
		.article
			width: 340px
			min-width: 340px
			&__image
				height: 165px
			&__text
				font-size: 16px
	//

	// Footer
	.footer
		&__email
			&-data
				font-size: 47px
			&-icon
				width: 44px
				height: 44px
				svg
					width: 16px
		&__video-inner
			transform: none
			height: 100%
			width: 100%
	//

@media only screen and (max-width : 650px)

	// General
	.title
		font-size: 60px
	//

	// Header
	.header
		padding: 30px 0
	//

	// Main
	.main
		height: calc(100vh - 104px)
		&__title
			font-size: 60px
		&__slider-text
			max-width: 100%
	//

	// Footer
	.footer
		&__top
			flex-direction: column
			align-items: flex-start
		&__title
			margin-bottom: 30px
		&__email
			&-link
				align-items: flex-end
			&-data
				font-size: 40px
			&-icon
				width: 30px
				height: 30px
				svg
					width: 12px
	//

@media only screen and (max-width : 420px)

	// General
	.title
		font-size: 40px
	//

	// Main
	.main
		&__title
			font-size: 50px
	//

	// Blog
	.blog
		&__top
			align-items: flex-start
			flex-direction: column
			margin-bottom: 35px
		&__title
			margin-bottom: 30px
		.article
			width: 290px
			min-width: 290px
			margin-right: 20px
			&__image
				height: 140px
	//

	// Footer
	.footer
		padding-bottom: 25px
		&__email
			padding-bottom: 25px
			&-caption
				font-size: 10px
				margin-bottom: 15px
			&-data
				font-size: 20px
			&-icon
				width: 24px
				height: 24px
				svg
					width: 10px
					height: 10px
		&__bottom
			flex-direction: column
			align-items: flex-start
		&__copyrights
			margin-bottom: 25px
		&__nav-item::before
			display: none
	//
